workflows/[GET]__select_files.json
[{"updatedAt":"2026-03-29T10:43:18.178Z","createdAt":"2026-03-09T09:33:52.914Z","id":"MmfiOXrCt2lkZ4TxZMyWS","name":"[GET] /select_files","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2288,-48],"id":"ffdcde45-6088-4d21-8045-b18b72e7ce0b","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n  FROM\n    telegram_messages\n  WHERE id = {{ $('When Executed by Another Workflow').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1952,-48],"id":"81cce02e-5940-40d9-b481-ade942968899","name":"Получение данных о сообщении","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let icon_translate_file = '❌';\nlet icon_glossary = '❌';\nlet icon_glossary_make = '❌';\nlet icon_prompt = '❎';\n\nlet text_translate_file = 'Текст';\nlet text_glossary = 'Глоссарий';\nlet text_glossary_make = 'Создать Глоссарий';\nlet text_prompt = 'Промт';\n\nconst buttons = [[{text: 'Отмена', callback_data: 'cancel'}]];\nconst files = [];\n\nif ($(\"Get row(s)\").all().length) {\n  if ($input.first().json.translate_file) {\n    icon_translate_file = '✅';\n    text_translate_file = $input.first().json.translate_file.split('_')[0].replaceAll('\"','');\n  }\n  \n  if ($input.first().json.glossary) {\n  icon_glossary = '✅';\n  text_glossary = $input.first().json.glossary.split('_')[0].replaceAll('\"','');\n  } \n\n  if ($input.first().json.glossary_make) {\n    icon_glossary_make = '✅';\n    text_glossary_make = 'Создаем Глоссарий';\n  } \n  \n  if ($input.first().json.promt) {\n  icon_prompt = '✅';\n  text_prompt = $input.first().json.promt.split('_')[0].replaceAll('\"','');;\n  }\n  \n  if ($input.first().json.translate_file && ($input.first().json.glossary || $input.first().json.glossary_make)) {\n    buttons.push([{text: 'Начать перевод', callback_data: 'start'}])\n  }\n}\n\nfiles.push([{text: `${icon_translate_file} ${text_translate_file}`, callback_data: 'ko'}]);\nif (icon_glossary === '❌' && icon_glossary_make === '❌') {\n    files.push([\n    {text: `${icon_glossary} ${text_glossary}`, callback_data: 'glossary'},\n    {text: `${icon_glossary_make} ${text_glossary_make}`, callback_data: 'glossary_make'}\n  ]);\n} else if (icon_glossary !== '❌') {\n    files.push([{text: `${icon_glossary} ${text_glossary}`, callback_data: 'glossary'}]);\n} else {\n    files.push([{text: `${icon_glossary_make} ${text_glossary_make}`, callback_data: 'glossary'}]);\n}\n\n\nif ($('Получение данных о количестве промтов').first().json.prompt > 0) {\n  files.push([{text: `${icon_prompt} ${text_prompt}`, callback_data: 'prompt'}]);\n}\n\nconst message = {\n  text: `Выбор файлов для перевода`,\n  chat_id: $('Получение данных о сообщении').first().json.message.from.id,\n  type: 'sendMessage',\n  parse_mode: \"HTML\",\n  reply_markup: {\n    inline_keyboard: [\n      ...files,\n\n   ...buttons      ],\n  }\n}\nif ($input.first().json.message_id) {\n  message.message_id = $input.first().json.message_id\n  message.type = 'editMessageText';\n}\nreturn { ...message }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-80],"id":"536eb4f2-3930-4533-b32a-96619829c772","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot8591497428:AAEbVnPaXYe2E-WI2ni2cCuSGnmgS5sckR0/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"6db80dc1-d035-4d5b-a641-72e96c5a5216","name":"TG | send","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-80],"executeOnce":true},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-704,-80],"id":"4a403226-e538-4e4b-a793-40b75d1b3112","name":"Get row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-48,-80],"id":"e05ddfc6-0bf5-4f4b-9c8c-c7056355e6ce","name":"Wait","webhookId":"bb345bef-7250-46c5-9afd-15990644003b"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n  FROM\n    telegram_messages\n  WHERE date_time > '{{ $('Create a data table').first().json.createdAt.toDateTime() }}':: TIMESTAMPTZ \n    AND \n  callback_data != ''    \n    AND\n  chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,-80],"id":"aa991731-8bee-4a80-be59-50b6caf7ab98","name":"Получение данных о сообщении1","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.callback_data }}","rightValue":"ko","operator":{"type":"string","operation":"equals"},"id":"902d1b4d-2380-4eba-85d0-889679000990"}],"combinator":"and"},"renameOutput":true,"outputKey":"ko"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6c93abe6-718c-49a5-bd8c-1150ff85dcf8","leftValue":"={{ $json.callback_data }}","rightValue":"glossary","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"glossary"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b8d57708-de9e-4369-b102-e37e04ccbf13","leftValue":"={{ $json.callback_data }}","rightValue":"prompt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a7f84b4b-25eb-448d-8396-0731bf0f6e08","leftValue":"={{ $json.callback_data }}","rightValue":"glossary_make","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"glossary_make"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8990ea91-a9c0-4e60-95e5-16dd22afb8dc","leftValue":"={{ $json.callback_data }}","rightValue":"cancel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7a9be5c2-8877-45f8-b557-cf9b73aab63c","leftValue":"={{ $json.callback_data }}","rightValue":"start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c74817-3a1c-432b-8604-ae0cc4fe3529","leftValue":"={{ $json.callback_data }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"not exists"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[336,-144],"id":"3357c62f-0d6a-4864-9cb2-803e66731bc8","name":"Switch"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};\n-- получение списка файлов для перевода\nSELECT \n    message->'document'->'file_name' text,\n    (message->'document'->'file_name' || '_' || telegram_messages.id) as callback_data\n  FROM telegram_messages \n  WHERE \n      ((type = 'docx' OR type = 'txt') AND lang = 'ko')\n    AND\n      is_translate = FALSE    \n    AND\n      chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,-448],"id":"1d559ba9-a231-4a42-9643-11b3a6210f9a","name":"Execute a SQL query","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.result.message_id }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-240,-80],"id":"1c4298c2-6860-4ff5-998b-c211d8787efc","name":"Update row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"CJ7lDvgGlmoP8Ymbgqd0A","mode":"list","cachedResultUrl":"/workflow/CJ7lDvgGlmoP8Ymbgqd0A","cachedResultName":"Select From List"},"workflowInputs":{"mappingMode":"defineBelow","value":{"list":"={{$input.all().map(item => item.json) }}","text":"Выберите файл для перевода","chat":"={{ $('Получение данных о сообщении').first().json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"list","displayName":"list","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,-448],"id":"65946631-3e9b-4f36-adc0-b9aed6f655b2","name":"Select From List"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-448],"id":"27ad1643-7a66-4de7-a569-4e98879dfd09","name":"Delete a chat message","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"translate_file":"={{ $json.selected_item }}","message_id":0},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1344,-464],"id":"3be4aa14-1c7b-48bf-bb70-d0b8804dbe1b","name":"Update row(s)1","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fef2b4d-4b2f-4938-a86b-0870d82d440e","leftValue":"={{ $json.selected_item }}","rightValue":"list_cancel","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,-448],"id":"6f266345-0e89-4d23-83e8-8ca1d5485650","name":"Не отмена выбора?"},{"parameters":{"numberInputs":7},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1616,-336],"id":"d475844f-b039-4018-8523-3cb0c855ee58","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1840,464],"id":"a90c57a1-e731-4907-a658-d36489878d95"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,288],"id":"6977238b-61c7-4478-8897-3f4bc0b04078","name":"Delete a chat message1","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};\n-- получение списка файлов для перевода\nSELECT \n    message->'document'->'file_name' text,\n    (message->'document'->'file_name' || '_' || telegram_messages.id) as callback_data\n  FROM \n    telegram_messages \n  WHERE \n    type = 'xlsx'    \n      AND\n    chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,-272],"id":"5603dcd8-1008-4d63-8d2c-c4c3c5936fb9","name":"Execute a SQL query1","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"CJ7lDvgGlmoP8Ymbgqd0A","mode":"list","cachedResultUrl":"/workflow/CJ7lDvgGlmoP8Ymbgqd0A","cachedResultName":"Select From List"},"workflowInputs":{"mappingMode":"defineBelow","value":{"list":"={{$input.all().map(item => item.json) }}","text":"Выберите глоссарий","chat":"={{ $('Получение данных о сообщении').first().json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"list","displayName":"list","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,-272],"id":"11b3f095-2f66-4dcf-a037-6c7555e28c10","name":"Select From List1"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-272],"id":"e46be9ca-4e3d-4fd4-bbda-ecf8d9d19bab","name":"Delete a chat message2","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_id":0,"glossary":"={{ $json.selected_item }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1344,-288],"id":"5317bfed-5a7c-49d2-b254-0660c018f089","name":"Update row(s)2","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fef2b4d-4b2f-4938-a86b-0870d82d440e","leftValue":"={{ $json.selected_item }}","rightValue":"list_cancel","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,-272],"id":"aec9cae4-4bbe-4012-8bc2-606b6db800ae","name":"Не отмена выбора?1"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};\n-- получение списка файлов для перевода\nSELECT \n    message->'document'->'file_name' text,\n    (message->'document'->'file_name' || '_' || telegram_messages.id) as callback_data\n  FROM \n    telegram_messages \n  WHERE \n    (type = 'docx' OR type = 'txt') \n      AND \n    lang = 'ru'    \n      AND\n    chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,-96],"id":"5939fab9-c129-4ecc-9144-5e344836140c","name":"Execute a SQL query2","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"CJ7lDvgGlmoP8Ymbgqd0A","mode":"list","cachedResultUrl":"/workflow/CJ7lDvgGlmoP8Ymbgqd0A","cachedResultName":"Select From List"},"workflowInputs":{"mappingMode":"defineBelow","value":{"list":"={{$input.all().map(item => item.json) || []}}","text":"Выберите дополнительный промт","chat":"={{ $('Получение данных о сообщении').first().json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"list","displayName":"list","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,-96],"id":"aacc40b4-5679-496d-a46d-08bfe4dd892a","name":"Select From List2"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-96],"id":"14051d77-a4e9-446a-b8d6-6facd1ef130a","name":"Delete a chat message3","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_id":0,"promt":"={{ $json.selected_item }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1344,-112],"id":"6849392d-99db-46e3-a6c7-abfea9b5f383","name":"Update row(s)3","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fef2b4d-4b2f-4938-a86b-0870d82d440e","leftValue":"={{ $json.selected_item }}","rightValue":"list_cancel","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,-96],"id":"3afff386-3900-4b78-834c-a965c393db85","name":"Не отмена выбора?2"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,448],"id":"734b704f-24af-47aa-841d-08f3b871bc4c","name":"Delete a chat message4","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,288],"id":"0ac8b157-abf5-447e-9d40-e0bad717f010","name":"Execute a SQL query3","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,448],"id":"06f1bd16-622e-4c27-820f-9410dfea2120","name":"Execute a SQL query4","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"54cfbac1-f3d6-45c0-878c-66fbe2a99955","leftValue":"={{ $('Получение данных о количестве файлов').first().json.translate_file }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"60b82e8d-3cc8-408e-9d5b-0a1f929e879f","leftValue":"={{ $('Получение данных о количестве глоссариев').first().json.glossary }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-960,-64],"id":"3ac4a549-d70a-4d2f-9d0c-8cb06459f2c5","name":"If"},{"parameters":{"operation":"executeQuery","query":"-- получение списка файлов для перевода\nSELECT count(*):: integer translate_file FROM telegram_messages \nWHERE \n  ((type = 'docx' OR type = 'txt') AND lang = 'ko') \n    AND \n  is_translate = FALSE\n    AND\n  chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1712,-272],"id":"136dfcf7-3846-4d7d-9a12-3bd2e70a68a1","name":"Получение данных о количестве файлов","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1488,-64],"id":"ef0dc0b2-284f-4b47-987b-e24d29b3c4c4","name":"Merge1"},{"parameters":{"operation":"executeQuery","query":"-- получение списка промтов\nSELECT count(*):: integer prompt FROM telegram_messages \nWHERE \n  (type = 'docx' OR type = 'txt') \n    AND \n  lang = 'ru'\n    AND\n  chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1712,-48],"id":"5a701312-a632-4ddd-b625-7ac88e6095a9","name":"Получение данных о количестве промтов","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- получение списка глоссариев\nSELECT count(*):: integer glossary FROM telegram_messages \nWHERE \n  type = 'xlsx'    \n    AND\n  chat = {{ $('Получение данных о сообщении').first().json.message.from.id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1712,176],"id":"33bc7bf3-3d57-4167-8ae3-a0608951de14","name":"Получение данных о количестве глоссариев","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"9cjeUNeTZX3YnO1W57YTP","mode":"list","cachedResultUrl":"/workflow/9cjeUNeTZX3YnO1W57YTP","cachedResultName":"Start"},"workflowInputs":{"mappingMode":"defineBelow","value":{"translate_file":"={{ $json.translate_file }}","glossary_file":"={{ $json.glossary }}","book_prompt":"={{ $json.promt }}","chat_id":"={{ $json.chat_id }}","glossary_make":"={{ $json.glossary_make }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_file","displayName":"glossary_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"book_prompt","displayName":"book_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1536,1008],"id":"3b01c40c-6192-40f4-a414-edbe2cb9cf3e","name":"Старт перевода","executeOnce":true},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"15d81747-462c-40c0-b0da-203971e48a7b","name":"Get base64 string","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[576,672]},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    translate_file = decode($1, 'base64'),\n    translate_file_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get translate file').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,672],"id":"df4975c1-cb82-4590-972b-5fa955217edf","name":"Запись файла для перевода в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- получение списка файлов для перевода\nSELECT \n    *\n  FROM \n    telegram_messages \n  WHERE \n    id = $1","options":{"queryReplacement":"={{ $('Чтение выборанных файлов для перевода').first().json.translate_file.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,672],"id":"599a2f4a-4ff6-4608-b6cb-092ed72700a5","name":"Execute a SQL query5","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-592,880],"id":"399cc0c3-4e2e-4c1b-ad7d-0031678d9bd2","name":"Чтение выборанных файлов для перевода"},{"parameters":{"operation":"executeQuery","query":"-- Таблица summary арок\nDROP TABLE IF EXISTS document_files CASCADE;\nCREATE TABLE IF NOT EXISTS document_files (\n  id SERIAL PRIMARY KEY,\n  translate_file bytea,\n  translate_file_data json,\n  glossary bytea,\n  glossary_data json,\n  prompt bytea,\n  prompt_data json,\n  source text\n);\nINSERT INTO document_files (source) VALUES ('telegram');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2128,-48],"id":"97f7eeee-74c9-4ebd-abb4-cda5515401c9","name":"Init document_files","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,672],"id":"bd7166d9-1dec-4312-8872-88b784e8e23a","name":"Get translate file","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"baf6c6d4-fafd-4a54-8f47-1a5f6b995a50","name":"Get base64 string1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[576,880]},{"parameters":{"operation":"executeQuery","query":"-- получение списка файлов для перевода\nSELECT \n    *\n  FROM \n    telegram_messages \n  WHERE \n    id = $1","options":{"queryReplacement":"={{ $('Чтение выборанных файлов для перевода').first().json.glossary.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,880],"id":"98f8399c-47ad-4901-bee6-a475f90f00ae","name":"Execute a SQL query6","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"a0037009-5a49-49c7-a1bc-57378ebc27d3","name":"Get base64 string2","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[576,1088]},{"parameters":{"operation":"executeQuery","query":"-- получение списка файлов для перевода\nSELECT \n    *\n  FROM \n    telegram_messages \n  WHERE \n    id = $1","options":{"queryReplacement":"={{ $('Чтение выборанных файлов для перевода').first().json.promt.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,1088],"id":"d6288f68-d646-43cb-834d-4dfc133fc31e","name":"Execute a SQL query7","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,880],"id":"4b2f22d0-8b7d-47a9-9311-ee94f3b271e1","name":"Get glossary","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,1088],"id":"40c3e44b-6f22-4501-a2c5-17574659cc82","name":"Get prompt","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    prompt = decode($1, 'base64'),\n    prompt_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get prompt').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,1088],"id":"975320ef-8f63-402c-9678-2186c4f0e6e6","name":"Запись промта в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    glossary = decode($1, 'base64'),\n    glossary_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get glossary').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,880],"id":"3e12234e-ac5e-4312-9a2b-1dc7cf2c5b58","name":"Запись глоссария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d0bcd338-b859-42dc-8f11-e94c1069a968","leftValue":"={{ $json.promt }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-64,992],"id":"d1375549-9c2e-4891-80f1-ee00036805ac","name":"Промт задан?"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1152,960],"id":"cca36300-d72e-4920-af32-a5767a55128d","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"ae6456bd-68b7-45b4-8889-63ace36d3f6c","name":"translate_file","value":"={{ $('Чтение выборанных файлов для перевода').first().json.translate_file.split('_')[0].replaceAll('\"','') }}","type":"string"},{"id":"634cee0a-495a-4167-b6ab-9d9ccd2c6fd6","name":"glossary","value":"={{ $('Чтение выборанных файлов для перевода').first().json.glossary.split('_')[0].replaceAll('\"','') ? $('Чтение выборанных файлов для перевода').first().json.glossary.split('_')[0].replaceAll('\"','') : '' }}","type":"string"},{"id":"8650c549-c166-4bbd-8c6c-e92ca25ac431","name":"promt","value":"={{ $('Чтение выборанных файлов для перевода').first().json.promt.split('_')[0].replaceAll('\"','') ? $('Чтение выборанных файлов для перевода').first().json.promt.split('_')[0].replaceAll('\"','').split('_')[0].replaceAll('\"','') : ''}}","type":"string"},{"id":"d7c01ee2-7762-4a8f-813e-710445dc5e0e","name":"chat_id","value":"={{ $('Получение данных о сообщении').first().json.message.from.id }}","type":"string"},{"id":"73ad6915-f685-482d-98a2-715e98de47e1","name":"glossary_make","value":"={{ $('Чтение выборанных файлов для перевода').first().json.glossary_make }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,1008],"id":"1c71ce84-ee96-4bdd-8923-2acd27dcfc29","name":"Edit Fields","executeOnce":true},{"parameters":{"chatId":"={{ $('Получение данных о сообщении').first().json.message.chat.id }}","text":"=🚨 Нет файлов для перевода\n\n🦄 Количество доступных файлов:\nДля перевода - {{ $('Получение данных о количестве файлов').first().json.translate_file }}\nГлоссарий - {{ $('Получение данных о количестве глоссариев').first().json.glossary }}","additionalFields":{"appendAttribution":false,"disable_notification":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-656,192],"id":"5936b4f5-589a-4459-bb60-c41f21014a07","name":"Send a text message","webhookId":"8dc61f1b-97d3-41dd-842e-9fcddd6772a3","executeOnce":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,96],"id":"cf462292-17ef-4b59-a2a8-825fc4641748","name":"Delete a chat message5","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,96],"id":"493d8862-7451-483c-8d5b-13096e6b65ae","name":"Execute a SQL query8","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_id":0,"glossary_make":true},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1344,96],"id":"3778e835-0670-49a9-bae4-e54b63e60a14","name":"Update row(s)4","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d0bcd338-b859-42dc-8f11-e94c1069a968","leftValue":"={{ $json.glossary }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-192,896],"id":"c790e91b-1d4c-42d7-874e-b1d343e8d05e","name":"Глоссарий задан?"},{"parameters":{"operation":"executeQuery","query":"-- пошлем сообщение что задача создана\nINSERT INTO telegram_send_message (template) VALUES ('create_job');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-800,880],"id":"70e6b13f-5e51-413f-b44c-3b660afc57ef","name":"Сообщение о создании задачи","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (63 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-Mmfi","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]},{"parameters":{"resource":"table","operation":"create","tableName":"select_files","columns":{"column":[{"name":"translate_file"},{"name":"glossary"},{"name":"promt"},{"name":"message_id","type":"number"},{"name":"chat_id"},{"name":"glossary_make","type":"boolean"},{"name":"message_start","type":"number"},{"name":"message_process","type":"number"}]},"options":{"createIfNotExists":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1312,-48],"id":"c5321c56-2cc1-402d-aee5-bfa7c43634db","name":"Create a data table","onError":"continueErrorOutput"},{"parameters":{"resource":"table","operation":"delete","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1120,96],"id":"602f24ca-1a82-42bf-9eca-552db264949a","name":"Delete a data table"},{"parameters":{"dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"message_id":0,"chat_id":"={{ $('Start Workflow').first().json.chat_id }}","glossary_make":false,"message_start":0,"message_process":0},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_process","displayName":"message_process","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1120,-64],"id":"d1a0914c-6016-46c8-ac75-1ec59cc63aef","name":"Insert row","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Init document_files","type":"main","index":0}]]},"Получение данных о сообщении":{"main":[[{"node":"Получение данных о количестве файлов","type":"main","index":0},{"node":"Получение данных о количестве промтов","type":"main","index":0},{"node":"Получение данных о количестве глоссариев","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"TG | send","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"TG | send":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Получение данных о сообщении1","type":"main","index":0}]]},"Получение данных о сообщении1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Delete a chat message","type":"main","index":0}],[{"node":"Delete a chat message2","type":"main","index":0}],[{"node":"Delete a chat message3","type":"main","index":0}],[{"node":"Delete a chat message5","type":"main","index":0}],[{"node":"Delete a chat message1","type":"main","index":0}],[{"node":"Delete a chat message4","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Select From List","type":"main","index":0}]]},"Select From List":{"main":[[{"node":"Не отмена выбора?","type":"main","index":0}]]},"Delete a chat message":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Не отмена выбора?":{"main":[[{"node":"Update row(s)1","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Update row(s)1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Select From List1","type":"main","index":0}]]},"Select From List1":{"main":[[{"node":"Не отмена выбора?1","type":"main","index":0}]]},"Delete a chat message2":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Не отмена выбора?1":{"main":[[{"node":"Update row(s)2","type":"main","index":0}],[{"node":"Merge","type":"main","index":3}]]},"Update row(s)2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Execute a SQL query2":{"main":[[{"node":"Select From List2","type":"main","index":0}]]},"Select From List2":{"main":[[{"node":"Не отмена выбора?2","type":"main","index":0}]]},"Delete a chat message3":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Не отмена выбора?2":{"main":[[{"node":"Update row(s)3","type":"main","index":0}],[{"node":"Merge","type":"main","index":5}]]},"Update row(s)3":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Delete a chat message1":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Delete a chat message4":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"Получение данных о количестве файлов":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create a data table","type":"main","index":0}]]},"Получение данных о количестве промтов":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Получение данных о количестве глоссариев":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"If":{"main":[[{"node":"Get row(s)","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"Сообщение о создании задачи","type":"main","index":0}]]},"Старт перевода":{"main":[[]]},"Get base64 string":{"main":[[{"node":"Запись файла для перевода в БД","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"Get translate file","type":"main","index":0}]]},"Чтение выборанных файлов для перевода":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0},{"node":"Промт задан?","type":"main","index":0},{"node":"Глоссарий задан?","type":"main","index":0}]]},"Init document_files":{"main":[[{"node":"Получение данных о сообщении","type":"main","index":0}]]},"Get translate file":{"main":[[{"node":"Get base64 string","type":"main","index":0}]]},"Get base64 string1":{"main":[[{"node":"Запись глоссария в БД","type":"main","index":0}]]},"Execute a SQL query6":{"main":[[{"node":"Get glossary","type":"main","index":0}]]},"Get base64 string2":{"main":[[{"node":"Запись промта в БД","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"Get prompt","type":"main","index":0}]]},"Get glossary":{"main":[[{"node":"Get base64 string1","type":"main","index":0}]]},"Get prompt":{"main":[[{"node":"Get base64 string2","type":"main","index":0}]]},"Промт задан?":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}],[{"node":"Merge2","type":"main","index":2}]]},"Запись файла для перевода в БД":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Запись глоссария в БД":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Запись промта в БД":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Merge2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Старт перевода","type":"main","index":0}]]},"Delete a chat message5":{"main":[[{"node":"Execute a SQL query8","type":"main","index":0}]]},"Execute a SQL query8":{"main":[[{"node":"Update row(s)4","type":"main","index":0}]]},"Update row(s)4":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Глоссарий задан?":{"main":[[{"node":"Execute a SQL query6","type":"main","index":0}],[{"node":"Merge2","type":"main","index":4}]]},"Сообщение о создании задачи":{"main":[[{"node":"Чтение выборанных файлов для перевода","type":"main","index":0}]]},"Create a data table":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Delete a data table","type":"main","index":0}]]},"Delete a data table":{"main":[[{"node":"Create a data table","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveDataSuccessExecution":"all"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id":817}}]},"versionId":"4305ddb1-a432-44ed-8724-ef5b0a1e49bf","activeVersionId":"b6d7a10c-7372-4a91-9ab1-28e726f99e27","versionCounter":188,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"MmfiOXrCt2lkZ4TxZMyWS","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
