workflows/[Send]_create_job.json
[{"updatedAt":"2026-03-29T10:20:38.501Z","createdAt":"2026-03-28T05:41:53.574Z","id":"ScNLD3LbRTVAJOK4","name":"[Send] create_job","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,0],"id":"4140601a-3a0b-44b7-a0db-7643f2a5d394","name":"Start Workflow"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"columns":{"mappingMode":"defineBelow","value":{"message_start":"={{ $('Отправка сообщения').first().json.result.message_id }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[752,-96],"id":"1b66edde-613e-40ce-a919-00113651bcfd","name":"Сохраним id"},{"parameters":{"chatId":"={{ $('Данные по задаче').first().json.chat_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,-96],"id":"4aa6f7e9-5c8b-4bbd-8062-fa8137bfb68b","name":"Отправка сообщения","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"jsCode":"return {\n  message: `🆕 <b>Задача создана</b>\n  \n📄  Документ: <b>${ $('Данные по задаче').first().json.translate_file.split('_')[0] }</b>\n\n🚀 <i>Обработка начнётся через несколько секунд...</i>`\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-96],"id":"887b3ced-4f8b-4761-b983-7a540a05557c","name":"Формируем сообщение"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[0,0],"id":"3798c898-87ef-4b47-85fe-bb48311c9a8a","name":"Данные по задаче"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"385d4d38-16ab-44b4-989c-7b30e9790afe","leftValue":"={{ $('Start Workflow').first().json.type }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[160,0],"id":"65845fce-2f41-4902-8bd1-2c6fde57743b","name":"Это послать сообщение?"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Данные по задаче').first().json.chat_id }}","messageId":"={{ $('Данные по задаче').first().json.message_start }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,96],"id":"46a15581-f051-4ef5-a9c6-aa1c86882f93","name":"Удаление сообщения","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"columns":{"mappingMode":"defineBelow","value":{"message_start":"=0"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[592,96],"id":"0ec8bd0f-a511-4d91-b709-3da14b261985","name":"Удалим id"}],"connections":{"Start Workflow":{"main":[[{"node":"Данные по задаче","type":"main","index":0}]]},"Отправка сообщения":{"main":[[{"node":"Сохраним id","type":"main","index":0}]]},"Формируем сообщение":{"main":[[{"node":"Отправка сообщения","type":"main","index":0}]]},"Данные по задаче":{"main":[[{"node":"Это послать сообщение?","type":"main","index":0}]]},"Это послать сообщение?":{"main":[[{"node":"Формируем сообщение","type":"main","index":0}],[{"node":"Удаление сообщения","type":"main","index":0}]]},"Удаление сообщения":{"main":[[{"node":"Удалим id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"9ce437e1-b6e7-4bde-b611-cad050a271ff","activeVersionId":"88205e20-f47f-42fb-8844-c612037bbe1e","versionCounter":100,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T05:41:53.574Z","createdAt":"2026-03-28T05:41:53.574Z","role":"workflow:owner","workflowId":"ScNLD3LbRTVAJOK4","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
