workflows/[Send]_error.json
[{"updatedAt":"2026-03-29T10:20:40.752Z","createdAt":"2026-03-29T08:09:39.536Z","id":"2uhp8PCTjxiKj91n","name":"[Send] error","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return {\n  message: `\n⚠️ <b>Ошибка обработки</b>\n\n📄 Документ: ${$('Данные document_jobs').first().json.file_name}\n\n❌ <b>Ошибка:</b> \n${$('Данные document_jobs').first().json.error_text}\n\n🔁 Повторная попытка через 30 секунд...\n\n<i>Сообщение сгенерировано автоматически.</i>\n  `,\n  type: 'create',\n  button: {}\n} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-16],"id":"c8529d6f-7e25-47be-94e7-ba83be7feaec","name":"Сообщение Ошибка в процессе"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-80,-16],"id":"29149381-9198-449a-96d2-7f9eb5803572","name":"Get row(s)"},{"parameters":{"chatId":"={{ $('Get row(s)').item.json.chat_id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[272,-16],"id":"c0de2265-52a1-4a83-9be0-8fe378412ffc","name":"Send message","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_jobs a, job_current b WHERE a.id =b.job_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-240,-16],"id":"46080d39-9bc2-493b-85c3-bbf7e9bd83f6","name":"Данные document_jobs","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"qwerty"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-432,-16],"id":"f1a9e5cd-c52b-42ed-a116-de0554ceb867","name":"Start Workflow"}],"connections":{"Get row(s)":{"main":[[{"node":"Сообщение Ошибка в процессе","type":"main","index":0}]]},"Сообщение Ошибка в процессе":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Данные document_jobs":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Данные document_jobs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"73a819bd-604c-4798-8364-8231aac3ba31","activeVersionId":"73a819bd-604c-4798-8364-8231aac3ba31","versionCounter":29,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-29T08:09:39.536Z","createdAt":"2026-03-29T08:09:39.536Z","role":"workflow:owner","workflowId":"2uhp8PCTjxiKj91n","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 73a819bd","description":""}}]
