workflows/[Send]_finish.json
[{"updatedAt":"2026-04-05T08:46:10.076Z","createdAt":"2026-03-29T07:51:39.181Z","id":"hoUl3ewz23AwAHlq","name":"[Send] finish","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const RUBLE_EXCHANGE_RATE = 79;\n\nconst billing_polza = Number($('Данные document_jobs').first().json.billing_polza) - Number($('Billing Polza.ai').first().json.amount);\n\nconst billing_neuro = -(Number($('Данные document_jobs').first().json.billing_neuro) - Number($('Billing Neuro').first().json.total_usage)) / 100;\n\nconst diff = DateTime.fromISO($('Данные document_jobs').first().json.created_at).diff(DateTime.fromISO($('Данные document_jobs').first().json.finished_at)).negate().toFormat(\"hh':'mm':'ss\");\n\nconst avv_time = DateTime.fromISO($('Данные document_jobs').first().json.created_at).diff(DateTime.fromISO($('Данные document_jobs').first().json.finished_at)).negate().toMillis() / (Number($('Общее количество чанков').first().json.chunks_total) || 1) / 1000;\n\nconst avv_cost = (billing_polza + billing_neuro * RUBLE_EXCHANGE_RATE) /  (Number($('Общее количество чанков').first().json.chunks_total) || 1);\n\nconst source = $('Бинарные данные файлов').first().json.source;\n\nconst message = {\n  message: `\n✅ <b>Перевод завершен!</b>\n\n📄 Документ (исходный): \n     ${$('Данные document_jobs').first().json.file_name}\n📄 Документ (с переводом): \n     ${$('Данные document_jobs').first().json.translated_file}\n\n💰 Итоговая стоимость Polza.ai: \n      ₽ ${ billing_polza.toFixed(2) }\n💰 Итоговая стоимость NeuroAPI: \n      $ ${ billing_neuro.toFixed(2) } (₽ ${(billing_neuro * RUBLE_EXCHANGE_RATE).toFixed(2).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \" \")})\n     \n🗓 Старт: <code>${ DateTime.fromISO($('Данные document_jobs').first().json.created_at).toFormat(\"dd.MM.yyyy HH:mm:ss\") }</code> \n⏱ Переведено за: <code>${ diff } (чч:мм:сс)</code>\n\n🔢 <b>Чанков переведено: ${$('Общее количество чанков').first().json.chunks_total}</b>\n⌛ Среднее время перевода 1 чанка: \n       ${ (avv_time).toLocaleString()} сек.\n💰 Средняя стоимость 1 чанка ≈\n       ₽ ${ avv_cost.toFixed(2) }\n\n📄 <b>Документ был поделен на:</b>\n       Главы - ${$('Количество глав').first().json.count}\n       Арки - ${$('Количество арок').first().json.count}\n\n${source !== 'telegram' ? `<a href=\"${$('Данные document_jobs').first().json.web_chapters_link}\">Summary</a>\\n` : ''}\n${source != 'telegram' ? '📁 <i>Файл сохранён на Google Drive</i>' : ''}\n`,\n  type: 'create'\n}\n\nif (source != 'telegram')\n  message.button = {\n    name: '📂 Открыть файл',\n    text: $('Данные document_jobs').first().json.web_view_link || 'http://link.com'\n  }\n\nreturn { ...message }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,688],"id":"7a9c666d-5f37-47b6-b534-52d13719cf92","name":"Сообщение Перевод завершен"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-416,384],"id":"0570cb3b-9c43-43f3-a384-c66c231c4cf3","name":"Get row(s)"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_jobs a, job_current b WHERE a.id =b.job_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-672,160],"id":"2a2f9ff9-c8e8-4502-a1c9-d4a35e2c3dda","name":"Данные document_jobs","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as chunks_total FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,160],"id":"65674073-63e5-47d5-bbd8-0cf2b7964066","name":"Общее количество чанков","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as chunks_done FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current) AND status='done';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,160],"id":"47944aaf-4890-47df-b66d-d251f84bb735","name":"Количество законченных чанков","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"url":"https://polza.ai/api/v1/balance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT"}]},"options":{"timeout":1000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1072,160],"id":"3d88ddf0-5caf-41f3-82f5-39c6871bbed6","name":"Billing Polza.ai","onError":"continueRegularOutput"},{"parameters":{"url":"https://neuroapi.host/v1/dashboard/billing/usage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-JPPv8NvhqimYVBabJvm6fB5mlv80WnLV673tfVzFm6IYq67V"}]},"options":{"timeout":1000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,160],"id":"7cc2216f-c5ec-4c62-b59e-83739c89d2a4","name":"Billing Neuro","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) FROM document_arcs WHERE job_id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1088,384],"id":"491ad4fd-2636-4b8a-97af-112492ef5c09","name":"Количество арок","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) FROM document_chapters WHERE job_id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1264,384],"id":"c4375c9e-ff31-406a-8def-96612454fbf4","name":"Количество глав","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    source \n  FROM \n    document_files","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,384],"id":"d362d266-0953-4137-b6d2-5cb4ba05591e","name":"Бинарные данные файлов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"qwerty"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1264,160],"id":"1c6da8f1-4c8d-41af-8622-2e28b48984b6","name":"Start Workflow"},{"parameters":{"chatId":"={{ $('Get row(s)').item.json.chat_id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-464,768],"id":"3b0b88d8-125a-4043-9033-247d06737b35","name":"Send message","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $('данные по чату').first().json.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1072,688],"id":"1cceb94e-8599-426e-a910-5639066423de","name":"Удаляем сообщение c прогрессом","webhookId":"c91ba493-e55a-4cf0-aefc-04a97b79f94e","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * from telegram_message   ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-912,384],"id":"08c92b3f-ab7f-454c-bfae-d287925e3d9c","name":"данные по чату","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a9503377-dc67-480d-adea-fcef16813a7f","leftValue":"={{ $json.button }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-704,688],"id":"49c896e4-11a1-43c0-a230-6e5529ce5a04","name":"Был ручной запуск перевода?"},{"parameters":{"chatId":"={{ $('Get row(s)').item.json.chat_id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $('Сообщение Перевод завершен').first().json.button.name }}","additionalFields":{"url":"={{ $('Сообщение Перевод завершен').first().json.button.text }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-464,608],"id":"a7dc9d83-b20d-459f-958b-0f48c3c229fb","name":"Send message1","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"2kztTVutdATd1MDS","mode":"list","cachedResultUrl":"/workflow/2kztTVutdATd1MDS","cachedResultName":"Анотация"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Данные document_jobs').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,384],"id":"0193ae88-9180-4345-9b6e-4393bce34780","name":"Анотация"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Get row(s)').item.json.chat_id }}","file":"={{ $('Анотация').first().json.data[0].url }}","additionalFields":{"caption":"={{ $json.html_text }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1280,688],"id":"20d6d90c-df81-419b-a953-c4e6a766629e","name":"Send a photo message","webhookId":"70f33601-c3d7-40ff-ace2-8e9db1027e1d","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"jsCode":"// Входной текст из предыдущего узла (Маркетолога)\nconst rawText = $('Анотация').first().json.text; \n\n// Разбиваем текст по разделителю \"---\"\nconst parts = rawText.split('---').map(p => p.replaceAll('\\\\n', '').replace('🔍', '').trim());\n\nlet htmlCaption = \"\";\n\nif (parts.length >= 3) {\n     // 1. Заголовок (делаем жирным и убираем скобки [])\n     const title = parts[0].replace('[', '').replace(']', '');\n     htmlCaption += `<b>${title.replaceAll('\\n', '')}</b>\\n\\n`;\n\n     // 2. Аннотация (убираем маркер 📖, если он в начале)\n     const annotation = parts[1].replace('📖', '').trim();\n     htmlCaption += `${annotation}\\n\\n`;\n\n     // 3. Хештеги\n     const hashtags = parts[2];\n     htmlCaption += `<code>${hashtags}</code>`;\n\n     // htmlCaption = htmlCaption.replaceAll('\\n', '');\n } else {\n     // Если формат нарушен, просто упаковываем как есть\n     htmlCaption = rawText.replaceAll(/\\n/g, '<br>');\n }\n\n // ПРОВЕРКА ЛИМИТА TELEGRAM (1024 символа для фото)\n const TG_LIMIT = 1024;\n if (htmlCaption.length > TG_LIMIT) {\n     htmlCaption = htmlCaption.substring(0, TG_LIMIT - 3) + \"...\";\n }\n\n return {\n     html_text: htmlCaption\n };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,384],"id":"665cddcd-94a6-4ee6-ab4b-394c530fc925","name":"Подготовка текста аннотации"}],"connections":{"Get row(s)":{"main":[[{"node":"Подготовка текста аннотации","type":"main","index":0}]]},"Billing Polza.ai":{"main":[[{"node":"Billing Neuro","type":"main","index":0}]]},"Billing Neuro":{"main":[[{"node":"Данные document_jobs","type":"main","index":0}]]},"Данные document_jobs":{"main":[[{"node":"Общее количество чанков","type":"main","index":0}]]},"Общее количество чанков":{"main":[[{"node":"Количество законченных чанков","type":"main","index":0}]]},"Количество законченных чанков":{"main":[[{"node":"Количество глав","type":"main","index":0}]]},"Количество глав":{"main":[[{"node":"Количество арок","type":"main","index":0}]]},"Количество арок":{"main":[[{"node":"данные по чату","type":"main","index":0}]]},"Сообщение Перевод завершен":{"main":[[{"node":"Был ручной запуск перевода?","type":"main","index":0}]]},"Бинарные данные файлов":{"main":[[{"node":"Анотация","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Billing Polza.ai","type":"main","index":0}]]},"Удаляем сообщение c прогрессом":{"main":[[{"node":"Сообщение Перевод завершен","type":"main","index":0}]]},"данные по чату":{"main":[[{"node":"Бинарные данные файлов","type":"main","index":0}]]},"Был ручной запуск перевода?":{"main":[[{"node":"Send message1","type":"main","index":0}],[{"node":"Send message","type":"main","index":0}]]},"Анотация":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Send a photo message":{"main":[[{"node":"Удаляем сообщение c прогрессом","type":"main","index":0}]]},"Подготовка текста аннотации":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d46b045c-2c22-4d5a-9c02-6120b59ba618","activeVersionId":"d46b045c-2c22-4d5a-9c02-6120b59ba618","versionCounter":290,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-29T07:51:39.181Z","createdAt":"2026-03-29T07:51:39.181Z","role":"workflow:owner","workflowId":"hoUl3ewz23AwAHlq","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version d46b045c","description":""}}]
