workflows/[Send]_wait.json
[{"updatedAt":"2026-03-29T10:20:46.193Z","createdAt":"2026-03-29T08:22:52.237Z","id":"OWLYY2oiQ6YPBJ7M","name":"[Send] wait","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return {\n  message: `\n🚨 <b>Перевод остановлен</b>\n\n📄 Документ: ${$input.first().json.translate_file.split('_')[0]}\n\n⛔ Обработка приостановлена.\n       Для повтора нажми на кнопку \n\n`,\n  type: 'delete',\n  button: {\n    name: '🔁 Повторить',\n    callbackData: 'repeat_translate',\n  }\n} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,352],"id":"ae0cdb98-b6ad-4e6c-b4cd-ff60b1d6b773","name":"Сообщение Перевод остановлен"},{"parameters":{"workflowInputs":{"values":[{"name":"qwerty"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-816,352],"id":"63771834-2dc9-4c2d-a954-7367964c65fd","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"={{ $('Get row(s)').item.json.chat_id }}","text":"={{ $json.message }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.button.name }}","additionalFields":{"callback_data":"={{ $json.button.callbackData }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-256,352],"id":"396aaa3b-be26-4477-8045-74d2f0d35c59","name":"Send a text message with Keyboard","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-624,352],"id":"bb78dd1e-706b-4b9a-ae68-bce3fcbb6483","name":"Get row(s)"},{"parameters":{"url":"https://api.telegram.org/bot8591497428:AAEbVnPaXYe2E-WI2ni2cCuSGnmgS5sckR0/getUpdates","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-624,560],"id":"857b6a2a-007e-4679-a367-7be3fb4008b0","name":"Опрос входящих в Telegram"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c390f2c7-b96c-4902-9e65-f786c2a38bff","leftValue":"={{ $json.wait }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-272,560],"id":"4cecb184-ad04-4cae-8730-02bdb68690bd","name":"Ожидаем?"},{"parameters":{"jsCode":"let wait = true;\nconst response = $input.first().json;\nconst delete_id = $('Send a text message with Keyboard').first().json.result.message_id;\nif (!response.ok) return { wait };\nif (!response.result.length) return { wait };\n\nconst message = response.result.find(item => item.callback_query.message. \nmessage_id === delete_id);\nif (!message) return { wait };\n\nconst callbackData = message?.callback_query?.data;\n\nreturn { wait: callbackData !== 'repeat_translate', delete_id }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,560],"id":"a02c1f58-8a33-4d40-8aa6-7a8fbb5a1a3a","name":"Определяем возможность продолжения"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Get row(s)').item.json.chat_id }}","messageId":"={{ $json.delete_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,576],"id":"9f7ee5b5-cd1c-479a-848c-0bcb08d20e1b","name":"Удаляем сообщение","webhookId":"c91ba493-e55a-4cf0-aefc-04a97b79f94e","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_jobs SET status = 'resume'  WHERE id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,576],"id":"1cee9e93-3c75-4aca-891a-1db670252da7","name":"Возобновление перевода","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-800,560],"id":"2759dbd4-2ef1-4ffc-8592-c629cd3daabe","name":"Ждем 1 сек","webhookId":"0fa877c2-b246-4bdd-89a5-114a3c654b86"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Сообщение Перевод остановлен":{"main":[[{"node":"Send a text message with Keyboard","type":"main","index":0}]]},"Send a text message with Keyboard":{"main":[[{"node":"Ждем 1 сек","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Сообщение Перевод остановлен","type":"main","index":0}]]},"Опрос входящих в Telegram":{"main":[[{"node":"Определяем возможность продолжения","type":"main","index":0}]]},"Ожидаем?":{"main":[[{"node":"Ждем 1 сек","type":"main","index":0}],[{"node":"Удаляем сообщение","type":"main","index":0}]]},"Определяем возможность продолжения":{"main":[[{"node":"Ожидаем?","type":"main","index":0}]]},"Удаляем сообщение":{"main":[[{"node":"Возобновление перевода","type":"main","index":0}]]},"Ждем 1 сек":{"main":[[{"node":"Опрос входящих в Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"f6bf5b3d-9774-4faa-8280-3867bec1a6ab","activeVersionId":"f6bf5b3d-9774-4faa-8280-3867bec1a6ab","versionCounter":95,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-29T08:22:52.237Z","createdAt":"2026-03-29T08:22:52.237Z","role":"workflow:owner","workflowId":"OWLYY2oiQ6YPBJ7M","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version f6bf5b3d","description":""}}]
