workflows/[Перевод]_Глава.json
[{"updatedAt":"2026-04-01T16:51:32.165Z","createdAt":"2026-03-06T03:53:03.525Z","id":"IgLfaCSszdwsPw_b4u3au","name":"[Перевод] Глава","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"text":"={{ $('Подготовка перевода к rolling summary').first().json.summary ? `ТЕКУЩИЙ ROLLING SUMMARY:\n${JSON.stringify($('Подготовка перевода к rolling summary').first().json.roller_summary, null, 2)}` : ``}}\n\nНОВЫЙ ПЕРНЕВЕДЁННЫЙ ФРАГМЕНТ:\n{{ $('Переведенный чанк').first().json.result_text }}","schemaType":"fromJson","jsonSchemaExample":"{\n \"events\": [\"...\"],\n \"characters_state\": [\"...\"],\n \"locations\": [\"...\"],\n \"open_threads\": [\"...\"]\n}","options":{"systemPromptTemplate":"Обнови \"rolling summary\" главы на основе нового переведённого фрагмента.\nТребования: 4 блока, кратко, без выдумок.\n\nОбщие правила (важно):\n- Используй только информацию из \"Нового переведённого фрагмента\" и \"Текущего rolling summary\".\n- Ничего не выдумывай и не достраивай причинно-следственные связи.\n- Не добавляй интерпретаций, оценок, морали, догадок автора.\n- Пиши кратко, нейтрально, фактами.\n- Не включай цитаты длиннее 15 слов. Не копируй текст целиком.\n- Если в новом фрагменте нет данных для поля — оставь поле без изменений (не добавляй новых пунктов).\n- Не дублируй один и тот же факт в нескольких пунктах и не повторяй старые пункты без необходимости.\n\nПодробно по полям:\n\n1) \"events\" — список ключевых событий/действий, произошедших в новом фрагменте.\n ДОБАВЛЯЙ:\n - конкретные действия и поворотные моменты (кто что сделал/сказал/решил/получил/потерял)\n - важные изменения ситуации (началась драка, пришло письмо, договорились, сбежали, нашли предмет)\n - решения и обещания, которые меняют дальнейший ход НЕ ДОБАВЛЯЙ:\n - мелкие бытовые движения без влияния (\"он посмотрел в окно\", если это ни на что не влияет)\n - интерпретации мотивов (\"он, вероятно, испугался\") если в тексте это не сказано явно - повтор событий, уже записанных ранее, если ничего не уточнилось \nФОРМАТ ПУНКТА:\n - 1 предложение, прошедшее время, без украшений.\n - по возможности с участниками: \"X делает Y\", \"X узнаёт Z\".\n\n2) \"characters_state\" — изменения состояния персонажей и их отношений.\n ДОБАВЛЯЙ:\n - появление нового персонажа (если впервые в главе) и кто он (коротко, только если сказано)\n - изменения статуса: ранен/здоров, свободен/в плену, зол/спокоен (только если явно)\n - изменения знаний: \"узнал\", \"подозревает\" (если прямо сказано)\n - изменения отношений/иерархии: союз/конфликт/приказ/подчинение (если явно)\n НЕ ДОБАВЛЯЙ:\n - психологические диагнозы и домыслы - “он хороший/плохой”, “он наверняка лжёт”, если это не факт - биографию, если её не было в этом фрагменте \nФОРМАТ ПУНКТА:\n - \"Имя: изменение\" (например: \"Хан Су: ранен в руку.\", \"Юн А: соглашается помочь Хан Су.\")\n - 1 короткое утверждение на пункт.\n\n3) \"locations\" — локации/места и перемещения.\n ДОБАВЛЯЙ:\n - новые локации, в которые реально попали/которые важны для сцены - перемещения: \"перешли в…\", \"прибыл в…\"\n - изменения обстановки, если они значимы (пожар, обрушение, закрыли ворота)\n НЕ ДОБАВЛЯЙ:\n - абстрактные упоминания (\"вспомнил родину\") если это не локация сцены - неуточнённые места (\"где-то там\") если нельзя привязать к сцене \nФОРМАТ ПУНКТА:\n - \"Локация: что произошло/кто там\" или \"Перемещение: откуда → куда\".\n\n4) \"open_threads\" — открытые вопросы/цели/клиффхэнгеры, которые пока НЕ закрыты.\n ДОБАВЛЯЙ:\n - цели: \"нужно найти X\", \"нужно добраться до Y\"\n - нерешённые угрозы: \"преследователь рядом\", \"таймер/срок\"\n - загадки: \"неясно кто отправил письмо\"\n - обещания/планы, которые ещё не выполнены НЕ ДОБАВЛЯЙ:\n - вопросы читателя в стиле рецензии - догадки без опоры в тексте - “возможные” линии, если они не сформулированы в тексте ФОРМАТ ПУНКТА:\n - короткая формулировка1 строкой, без спойлерных предположений.\n\nОграничения размера:\n- Максимум: events 5 пунктов, characters_state 8 пунктов, locations 5 пунктов, open_threads 5 пунктов.\n- Каждый пункт не длиннее 160 символов.\n- Возврати полный обновлённый JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[112,80],"id":"ec606baa-3def-43cb-8058-3a8944315bd2","name":"Rolling Summary чанка","retryOnFail":true,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chapters \n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }}\n      AND \n    id = {{ $('Переведенный чанк').first().json.chapter }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,-32],"id":"d5f08b47-6b9f-4b3d-bc7f-c4d36b05e564","name":"Подготовка перевода к rolling summary","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE  \n    document_chapters \n  SET \n    roller_summary = $1, \n    arc_id = (SELECT current_arc FROM job_current), \n    updated_at = now() \n  WHERE \n  job_id IN (SELECT job_id FROM job_current) \n    AND \n  id = {{ $('Подготовка перевода к rolling summary').first().json.id }};","options":{"queryReplacement":"={{ JSON.stringify($('Rolling Summary чанка').first().json.output).replaceAll(`'`, `''`) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,64],"id":"09e38672-3739-4f1d-82c9-b824f52bc20e","name":"Обновление данных по чанку и главе","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE  \n    document_chapters \n  SET \n    summary = ($1), \n    roller_summary = '{}', \n    status = 'done', \n    updated_at = now() \n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }} \n      AND \n    id = {{ $('Переведенный чанк').first().json.chapter }};","options":{"queryReplacement":"='{{JSON.stringify($('Summary главы').first().json.output).replaceAll(`'`, `''`)}}'"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,576],"id":"0ca08b12-ea6a-4172-ae1e-65a7de338e6c","name":"Добавление Summary главы в БД","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chapters \n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }} \n      AND \n    id = {{ $('Переведенный чанк').first().json.chapter }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,592],"id":"4be8c27e-64b1-4053-b105-fae62f17b1a6","name":"Подготовка данных для составления Summary главы","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"text":"==== ROLLING SUMMARY:\n{{ JSON.stringify($('Подготовка данных для составления Summary главы').first().json.roller_summary) }}\n\n=== GLOSSARY:\n{{ $('Чтение глоссария').all().map(item => `${item.json.name} -> ${item.json.translate}`).join('\\n') }}","schemaType":"fromJson","jsonSchemaExample":"{\n \"chapter_summary\": \"...(5-8 предложений)...\",\n \"key_characters\": [\"...\"],\n \"key_locations\": [\"...\"],\n \"new_terms\": [\"...\"]\n}","options":{"systemPromptTemplate":"Ты делаешь финализацию summary главы (одной главы романа).\nВерни строго JSON формата:\n\nОбщие правила (обязательно):\n- Используй ТОЛЬКО факты из входа (rolling summary / данные главы). Ничего не придумывай.\n- Не добавляй причинно-следственные связи, если они не указаны явно.\n- Не добавляй оценок, морали, “подтекстов”, мотивации, если это не факт.\n- Не цитируй длинные куски текста. Не пиши комментарии.\n- Пиши максимально нейтрально и кратко.\n- Если информации недостаточно — оставляй поле пустым ([]) или коротким, но не выдумывай.\n- Всю иформацию предоставляй на РУССКОМ ЯЗЫКЕ\n\nПодробно по полям:\n\n1) \"chapter_summary\" — сжатое, но полное резюме событий главы.\nДОЛЖНО:\n - охватывать главные события и их порядок (что произошло сначала/потом)\n - включать ключевые решения/конфликты/повороты - фиксировать результат/состояние на конец главы (чем закончилась глава)\n - быть самодостаточным: читатель по нему понимает, что произошло\n- строго на русском языке\nНЕ ДОЛЖНО:\n - добавлять детали, которых нет во входных данных \n - включать аналитику “почему персонаж так сделал” без прямого текста \n - включать предположения о будущем (“вероятно дальше…”) — это относится к open threads, но тут не нужно \n- превращаться в пересказ каждой реплики/каждого действия \nРЕКОМЕНДУЕМАЯ СТРУКТУРА (не обязательно явно маркировать):\n- 1–2 предложения: завязка/ситуация в начале \n- 2–4 предложений: ключевые события/конфликт \n- 1–2 предложения: финал/итог/клиффхэнгер (если есть)\nОГРАНИЧЕНИЯ:\n - 5–8 предложений \n- без списков, просто текст \n- избегай имён местоимениями “он/она” если неоднозначно; лучше повторить имя\n\n2) \"key_characters\" — список основных действующих лиц в этой главе.\nДОЛЖНО:\n - включать персонажей, которые реально влияют на события главы \n- включать новых персонажей, если они впервые появляются/становятся значимыми \n- включать антагонистов/важных второстепенных, если они сыграли роль \nНЕ ДОЛЖНО:\n - включать “упомянутых вскользь” (пример: “кто-то сказал про короля”, если король не участвует)\n - включать массовку без имени/роли (“солдаты”, “люди”), если это не важно \nФОРМАТ:\n - только имена (как они должны быть в русском переводе, если уже закреплены)\n - без описаний, без скобок - максимум 12 имён - уникальные значения, без дублей\n\n3) \"key_locations\" — ключевые места действия этой главы.\nДОЛЖНО:\n - включать локации, где происходят важные события \n- включать места, куда перемещаются герои (если это важно для сюжета)\nНЕ ДОЛЖНО:\n - включать места из воспоминаний/упоминаний, если они не сцена \n - включать слишком общие слова (“город”, “дом”), если в тексте есть конкретика \nФОРМАТ:\n - названия локаций (как в переводе)\n - максимум8 - уникальные значения\n\n4) \"new_terms\" — новые термины/объекты/понятия, впервые появившиеся в этой главе и важные для дальнейшего текста.\n ДОЛЖНО:\n - включать термины, которые требуют консистентного перевода дальше:\n - названия техник/заклинаний/артефактов \n - титулы/ранги/организации \n - специфические понятия мира \n - включать новые имена собственные, если вы ведёте терминологию именно так (по желанию)\nНЕ ДОЛЖНО:\n - включать обычные слова общего языка (“меч”, “дверь”), если это не особый термин мира \n- включать повторяющиеся старые термины, если они уже были раньше и не получили нового значения \nФОРМАТ:\n - строки 1–6 слов (кратко)\n - максимум 15 терминов \n - уникальные значения\n\nДополнительные правила консистентности:\n- Если персонаж/локация/термин уже присутствует в ранее закреплённом глоссарии/карте — используй строго закреплённое написание.\n- Если есть два варианта написания — выбери один, а второй НЕ используй.\n- Если сомневаешься (нет данных) — лучше НЕ включай в new_terms.\n\nКонтроль длины:\n- chapter_summary строго 5–8 предложений.\n- key_characters максимум 12.\n- key_locations максимум 8.\n- new_terms максимум 15.\n\nЕсли информации недостаточно — сокращай, но не выдумывай."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[208,592],"id":"4479b282-1c56-4eac-a504-f020848c4bf9","name":"Summary главы","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a25b4c90-4c84-447e-849c-3ae8940cb76f","leftValue":"={{ $json.count }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"0d71b0b5-1605-444c-a255-b979cb01ad4a","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,224],"id":"50484e47-8558-4a1a-aae5-e624663a0dfc","name":"Переведены все чанки главы?"},{"parameters":{"workflowInputs":{"values":[{"name":"id_chunk","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,96],"id":"743c2f7e-ee8e-4914-9095-8e165e3e641e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_chunks WHERE id = {{ $json.id_chunk }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-832,96],"id":"a2e5c2a5-361c-46f3-82e7-f21c1e7eff98","name":"Переведенный чанк","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    count(*):: integer \n  FROM \n    document_chunks \n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }} \n      AND \n    chapter = {{ $('Переведенный чанк').first().json.chapter }} \n      AND \n    status not like 'done'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,64],"id":"b40ebd5a-97fa-4352-9013-ee76913309e8","name":"Выбор всех переведенных чанков главы","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_glossary \n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,208],"id":"11aa1bbd-2d19-4dba-a144-f6ca8109139b","name":"Чтение глоссария","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,80],"id":"ab99500e-9cc3-4505-bea7-4111a55d6c33","name":"Merge"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $json.job_id }}","log":"=Start","node":"[Перевод] Глава","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,96],"id":"7b3f9c3f-611b-4050-8f01-89b160120b46","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish","node":"[Перевод] Глава","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,368],"id":"fe50ec96-8d6f-403c-8f6b-c338c52d5b6f","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Start","node":"Rolling Summary","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,80],"id":"b13d0791-1bea-4bea-b288-a108953bb320","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish\n{{ JSON.stringify($('Rolling Summary чанка').item.json.output,null, 2).replaceAll(`'`, `''`) }})","node":"Rolling Summary","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,64],"id":"894ca335-c6d2-40fd-8aee-e03a240fe744","name":"to log4","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Start","node":"Summary главы","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,592],"id":"619440c4-458f-4e65-87f1-b34237728c20","name":"to log5","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish\n{{ JSON.stringify($json.output, null, 2).replaceAll(`'`, `''`) }}","node":"Summary главы","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,576],"id":"222a7b36-e072-44cc-95db-026c1fd60ad2","name":"to log6","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"={{ $json.error }}","node":"Rolling Summary чанка","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,256],"id":"647012a1-2622-4395-a3eb-ebba6a90e1d1","name":"to log3","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"={{ $json.error }}","node":"Summary главы","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,400],"id":"a89c9723-cd64-4a85-b76c-ec14c72d84af","name":"to log7","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"return { error: true }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,256],"id":"3b68d292-59c3-4c81-b094-59e7f707ff85","name":"Выход с ошибкой"},{"parameters":{"jsCode":"const is_new_chapter = Number($('Выбор всех переведенных чанков главы').first().json.count) === 0;\n\nreturn { error: false, is_new_chapter }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,368],"id":"37669d69-562f-4972-bd13-4932551f75e7","name":"Выход"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Глава закончена","node":"[Перевод] Глава","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-368,592],"id":"4492478d-6675-4037-9048-ebc8847f3fda","name":"to log8","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"google/gemini-2.5-flash-lite","mode":"list","cachedResultName":"google/gemini-2.5-flash-lite"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[112,816],"id":"f341af6f-b37d-4ae4-b1b9-d639b180f656","name":"Gemini 2.5 Flash Lite from Polza.ai","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"jsCode":"let report = \"\";\n  \n// Форматирование для ГЛАВЫ\nreport = `### САММАРИ ГЛАВЫ\\n`;\nreport += `${$('Summary главы').first().json.output.chapter_summary}\\n\\n`;\nreport += `**Персонажи:** ${$('Summary главы').first().json.output.key_characters.join(\", \")}\\n`;\nreport += `**Локации:** ${$('Summary главы').first().json.output.key_locations.join(\", \")}\\n`;\nreport += `**Термины:** ${$('Summary главы').first().json.output.new_terms.join(\", \")}`;\n\nreturn { text: report };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,576],"id":"7a6ce735-87b6-4808-a7c1-3ca76268f6fd","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"insertText","text":"={{ $json.text }}","meta_data":"=chapter_{{ $('Подготовка данных для составления Summary главы').first().json.chapter_number }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1152,576],"id":"e0ac4cbe-b98a-4414-8490-ed5b8b93d52c","name":"Insert into LightRAG"}],"connections":{"Rolling Summary чанка":{"main":[[{"node":"Обновление данных по чанку и главе","type":"main","index":0}],[{"node":"to log3","type":"main","index":0}]]},"Подготовка перевода к rolling summary":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Обновление данных по чанку и главе":{"main":[[{"node":"to log4","type":"main","index":0}]]},"Подготовка данных для составления Summary главы":{"main":[[{"node":"to log5","type":"main","index":0}]]},"Summary главы":{"main":[[{"node":"to log6","type":"main","index":0}],[{"node":"to log7","type":"main","index":0}]]},"Переведены все чанки главы?":{"main":[[{"node":"to log8","type":"main","index":0}],[{"node":"to log1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Переведенный чанк","type":"main","index":0}]]},"Переведенный чанк":{"main":[[{"node":"to log","type":"main","index":0}]]},"Выбор всех переведенных чанков главы":{"main":[[{"node":"Переведены все чанки главы?","type":"main","index":0}]]},"Чтение глоссария":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"to log2","type":"main","index":0}]]},"to log":{"main":[[{"node":"Подготовка перевода к rolling summary","type":"main","index":0},{"node":"Чтение глоссария","type":"main","index":0}]]},"Добавление Summary главы в БД":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"to log2":{"main":[[{"node":"Rolling Summary чанка","type":"main","index":0}]]},"to log4":{"main":[[{"node":"Выбор всех переведенных чанков главы","type":"main","index":0}]]},"to log5":{"main":[[{"node":"Summary главы","type":"main","index":0}]]},"to log6":{"main":[[{"node":"Добавление Summary главы в БД","type":"main","index":0}]]},"to log7":{"main":[[{"node":"Выход с ошибкой","type":"main","index":0}]]},"to log3":{"main":[[{"node":"Выход с ошибкой","type":"main","index":0}]]},"to log1":{"main":[[{"node":"Выход","type":"main","index":0}]]},"to log8":{"main":[[{"node":"Подготовка данных для составления Summary главы","type":"main","index":0}]]},"Gemini 2.5 Flash Lite from Polza.ai":{"ai_languageModel":[[{"node":"Rolling Summary чанка","type":"ai_languageModel","index":0},{"node":"Summary главы","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert into LightRAG","type":"main","index":0}]]},"Insert into LightRAG":{"main":[[{"node":"to log1","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveExecutionProgress":false,"saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id_chunk":36}}]},"versionId":"6dff0835-75fe-440f-a280-f8757adfdb0b","activeVersionId":"88061500-95ce-4688-806f-83da6c938008","versionCounter":218,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"IgLfaCSszdwsPw_b4u3au","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
