workflows/[Перевод]_Обработка_ошибки.json
[{"updatedAt":"2026-03-28T19:27:17.023Z","createdAt":"2026-03-07T03:43:01.524Z","id":"ImJpqAA5WlJZDK5jMtQSM","name":"[Перевод] Обработка ошибки","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"UPDATE \n    job_current \n  SET \n    count_error_chunks = {{ $json.count_error_chunks }}, \n    error_text = '{{ $json.error_text.replaceAll(`'`,`''`) }}'\n  WHERE \n    job_id = {{ $('Переведенный чанк').first().json.job_id }};\n\n-- пошлем сообщение что ошибка при переводе очередной части чанков\nINSERT INTO telegram_send_message (template) VALUES ('error_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,48],"id":"3defb5ac-f020-483d-8d96-a59f4c4f9a50","name":"Обновление данных текущей задачи из-за ошибки","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const HOW_OFTEN_ERROR_TRANSLATE = 3;\n\nlet is_stop_translate = false;\nlet count_error_chunks = $('Чтение данных текущей задачи').first().json.count_error_chunks;\ncount_error_chunks++;\n\nif (count_error_chunks % HOW_OFTEN_ERROR_TRANSLATE === 0) {\n  is_stop_translate = true\n}  \n\nlet error_text = `\nЧанк: ${$('Переведенный чанк').first().json.chunk_index}\nГлава: ${$('Переведенный чанк').first().json.chapter_number}\nНода: ${$('Чтение данных текущей задачи').last().json.node}\nОшибка: ${$('Чтение данных текущей задачи').last().json.log}\n`;\n\n\nreturn { count_error_chunks, error_text, is_stop_translate }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,48],"id":"1a8651f4-0296-451f-85f7-5a3dfd2226c4","name":"Вычисление данных для формирования сообщения"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-448,288],"id":"17c18a3d-a3b1-4a23-8b80-6d8b0e9abb91","name":"Ждем 5 сек","webhookId":"50004e8f-e8de-4f12-9d31-9325128f7a77"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0fe63bca-5c30-4848-a805-ef6743c4bbb1","leftValue":"={{ $json.status }}","rightValue":"resume","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-80,288],"id":"c87f9644-f7f9-4162-b41f-761e169fe2cd","name":"Подтверждение пришло?"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,32],"id":"4ecc6dbf-7f02-4ddf-bb68-6ee6ca28e297","name":"Ждем 30 сек","webhookId":"ab484a54-0231-4735-93d6-769ad3a01105"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-880,288],"id":"b529f741-a207-45ba-83fa-2199b45631f8","name":"Ждем 10 сек","webhookId":"50004e8f-e8de-4f12-9d31-9325128f7a77"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0356f307-3edd-4763-b1fa-0ab684c742d2","leftValue":"={{ $('Вычисление данных для формирования сообщения').first().json.is_stop_translate }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-96,48],"id":"a3072cc2-e9aa-4c3a-bb99-4e4e6702ec65","name":"Перевод на паузу?"},{"parameters":{"workflowInputs":{"values":[{"name":"id_chunk","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1152,48],"id":"c216cc1e-6157-41b7-9df0-b1906256b63a","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chunks c, document_chapters ch \n  WHERE\n    c.chapter = ch.id \n      AND\n    c.id = {{ $json.id_chunk }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-944,48],"id":"347744a1-0100-457a-98a1-67274e9b2db9","name":"Переведенный чанк","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  SELECT  * \n    FROM  document_log l, job_current j \n   WHERE  l.job_id = j.job_id \nORDER BY  l.id","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,48],"id":"8154bccd-a60c-48bb-8618-13b1bfef2f17","name":"Чтение данных текущей задачи","executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    status = 'wait'  \n  WHERE \n    id = {{ $('Переведенный чанк').first().json.job_id }};\n\n-- пошлем сообщение что перевод остановлен и требуется подтверждение продолжения\nINSERT INTO telegram_send_message (template) VALUES ('wait_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-688,288],"id":"3a3a9e30-a6ac-47ab-b5b6-17e99e4d2cf9","name":"Оповещение об остановке перевода","retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,192],"id":"c1b58231-a7c4-407c-9a26-e65c3ec0482f","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_jobs d, \n    job_current c \n  WHERE \n    d.id = c.job_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,288],"id":"d21164b8-811d-466f-ae46-00c18efe84af","name":"Получение данных о подтверждении","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"content":"## 📄 Суть сценария\nОбработчик текста. Взаимодействует с LLM (DeepSeek/Qwen) для перевода фрагментов новелл.\n\n🧪 **Оптимизация:** 💡 Стоит добавить проверку лимитов (Billing) перед отправкой тяжелых запросов.\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-ImJp","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Обновление данных текущей задачи из-за ошибки":{"main":[[{"node":"Перевод на паузу?","type":"main","index":0}]]},"Вычисление данных для формирования сообщения":{"main":[[{"node":"Обновление данных текущей задачи из-за ошибки","type":"main","index":0}]]},"Ждем 5 сек":{"main":[[{"node":"Получение данных о подтверждении","type":"main","index":0}]]},"Подтверждение пришло?":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Ждем 5 сек","type":"main","index":0}]]},"Ждем 30 сек":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Ждем 10 сек":{"main":[[{"node":"Оповещение об остановке перевода","type":"main","index":0}]]},"Перевод на паузу?":{"main":[[{"node":"Ждем 30 сек","type":"main","index":0}],[{"node":"Ждем 10 сек","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Переведенный чанк","type":"main","index":0}]]},"Переведенный чанк":{"main":[[{"node":"Чтение данных текущей задачи","type":"main","index":0}]]},"Чтение данных текущей задачи":{"main":[[{"node":"Вычисление данных для формирования сообщения","type":"main","index":0}]]},"Оповещение об остановке перевода":{"main":[[{"node":"Ждем 5 сек","type":"main","index":0}]]},"Получение данных о подтверждении":{"main":[[{"node":"Подтверждение пришло?","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveExecutionProgress":false,"saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id_chunk":7380}}]},"versionId":"5847167f-d0d6-42c4-a2d5-b3f7da519a80","activeVersionId":"5847167f-d0d6-42c4-a2d5-b3f7da519a80","versionCounter":162,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"ImJpqAA5WlJZDK5jMtQSM","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"[Перевод] Обработка ошибки","description":""}}]
