workflows/[Перевод]_Арка.json
[{"updatedAt":"2026-04-01T20:10:26.821Z","createdAt":"2026-03-06T23:50:39.724Z","id":"OggkJgA8IFmasME_BNimq","name":"[Перевод] Арка","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"text":"=Текущий rolling summary:\n{{ JSON.stringify($('Получение данных для арки').first().json.summary, null, 2) }}\n\nНовый переведённый фрагмент:\n{{ $('Переведенный чанк').first().json.result_text }}","schemaType":"fromJson","jsonSchemaExample":"{\n \"arc_summary_rolling\": \"...\",\n \"main_conflict\": \"...\",\n \"goals\": [\"...\"],\n \"key_changes\": [\"...\"],\n \"open_threads\": [\"...\"]\n}\n","options":{"systemPromptTemplate":"Ты обновляешь Rolling Summary текущей арки по итогам новой главы.\nВерни строго JSON формата:\n\nВходные данные:\n1) Текущее rolling summary арки (предыдущее значение).\n2) Summary новой главы (короткое, точное).\n3) (Опционально) список персонажей/терминов.\n\nОБЩИЕ ПРАВИЛА (жёстко):\nA) Используй только факты из входа. Ничего не выдумывай.\nB) Никаких интерпретаций и предположений. Запрещены слова/обороты:\n \"вероятно\", \"возможно\", \"скорее всего\", \"намекается\", \"по-видимому\",\n если в summary главы это не сказано напрямую.\nC) Не добавляй новых деталей мира, не объясняй устройство магии/политики, если этого нет в входе.\nD) Сохраняй максимальную стабильность: если новая глава не меняет пункт/поле — НЕ меняй его.\nE) Избегай синонимов и перефразирований без необходимости. Стабильные формулировки важнее \"красоты\".\nF) Никаких цитат из текста. Только нейтральные факты.\nG) Вывод — только JSON. Никакого дополнительного текста.\n\nКОНТРОЛЬ ДЛИНЫ:\n- arc_summary_rolling: 500–800 символов (строго).\n- main_conflict: 1–2 предложения, до 220 символов.\n- goals: 1–6 пунктов, каждый до 140 символов.\n- key_changes: 0–8 пунктов, каждый до 160 символов.\n- open_threads: 0–8 пунктов, каждый до 160 символов.\n\nСТИЛЬ ФОРМУЛИРОВОК:\n- Пиши в прошедшем времени, короткими фразами.\n- Каждый пункт — одно действие/изменение.\n- Не включай украшательства, эпитеты, оценочную лексику.\n\nСМЫСЛ ПОЛЕЙ (что именно туда кладём):\n\n1) arc_summary_rolling. \nЧто это:\n- Короткая \"сводка арки\" как единый текстовый абзац, который быстро вводит в курс.\n- Должен отвечать на вопросы: \"что за конфликт?\", \"кто основные действующие лица?\",\n \"какие важные события уже случились?\", \"к чему сейчас пришли?\", \"что осталось открытым?\".\n\nДОЛЖНО включать (в таком порядке, 4–6 предложений):\n(1) Описание главного конфликта арки (1 предложение).\n(2) Основные стороны/персонажи/фракции (1 предложение).\n(3) 1–2 ключевых поворотных события (1–2 предложения).\n(4) Текущее состояние/положение дел к последней главе (1 предложение).\n(5)1 предложение про главные открытые линии/риски (если есть).\n(6) Строго на русском языке\n\nНЕ ДОЛЖНО включать:\n- подробный пересказ всех событий по главам,\n- второстепенных персонажей, если они не влияют на конфликт,\n- микродетали сцен.\n\nПравило обновления:\n- Обновляй arc_summary_rolling только если новая глава:\n а) изменила состояние конфликта,\n б) заметно продвинула/изменила цели,\n в) закрыла или открыла важную нитку,\n г) привела к существенным потерям/обретениям.\n\n2) arc_state.main_conflict. \nЧто это:\n- Одна \"главная проблема\" арки, сформулированная максимально конкретно.\n- Это не тема и не мораль, а конфликт/противостояние/задача.\n\nДОЛЖНО:\n- быть одинаковым по смыслу от главы к главе, пока арка не закончилась.\n- включать участников/объект конфликта при наличии (\"герой против X\", \"нужно достичь Y, иначе Z\").\n\nНЕ ДОЛЖНО:\n- менять формулировку ради стиля,\n- становиться слишком общей (\"борьба добра и зла\"),\n- включать догадки о скрытых мотивах.\n\n3) arc_state.goals.\nЧто это:\n- Список текущих явных целей в рамках арки.\n- Цели должны быть измеримыми/проверяемыми (\"найти\", \"достичь\", \"защитить\", \"раскрыть\", \"сбежать\").\n\nДОЛЖНО включать:\n- цели главных действующих лиц (1–3 основных),\n- общие цели группы/фракции, если она важна.\n\nНЕ ДОЛЖНО включать:\n- эмоции (\"хочет быть счастливым\"),\n- общие желания без действий (\"хочет мира\"),\n- цели, которые уже выполнены (если выполнены — переносим в key_changes).\n\nПравила обновления goals:\n- Если цель выполнена → удалить из goals и добавить в key_changes (\"Цель X выполнена\").\n- Если цель изменилась → заменить формулировку, сохранив смысл.\n- Если появилась новая важная цель → добавить1 пункт.\n\n4) arc_state.key_changes.\nЧто это:\n- Ключевые изменения, которые произошли с начала арки до текущего момента.\n- Это \"факты прогресса\": что изменилось в расстановке сил, знаниях, ресурсах, отношениях.\n\nДОЛЖНО включать:\n- получение/потерю важного предмета/ресурса,\n- раскрытие важного факта/личности,\n- смену союза/конфликта,\n- серьёзные травмы/смерти/аресты (если они случились),\n- значимые решения (\"заключили сделку\", \"сбежали\", \"взорвали мост\").\n\nНЕ ДОЛЖНО включать:\n- мелкие события без последствий,\n- повторение уже известных изменений без новой информации.\n\nПравила обновления key_changes:\n- Добавляй только изменения текущей главы, если они \"ключевые\".\n- Не больше1 пункта на одно изменение.\n- Не переписывай старые пункты, если не появилось уточнение.\n\n5) arc_state.open_threads.\nЧто это:\n- Открытые линии, которые ещё не закрыты, и которые важны для арки.\n- Это конкретные \"вопросы/риски/обязательства\".\n\nДОЛЖНО включать:\n- угрозы, которые ещё актуальны,\n- незавершённые расследования,\n- обещания/долги/сроки,\n- \"кто/почему\" загадки, если они реально поставлены.\n\nНЕ ДОЛЖНО включать:\n- вопросы читателя/рецензента,\n- гипотезы без фактов,\n- \"возможные\" будущие события.\n\nПравила обновления open_threads:\n- Если нитка закрыта в новой главе → удалить её и добавить в key_changes (\"Нитка X закрыта/прояснена\").\n- Если нитка стала неактуальной → удалить без замены.\n- Если появилась новая важная нитка → добавить1 пункт.\n\nДЕТЕРМИНИЗМ / ПОВТОРЯЕМОСТЬ:\n- Если новая глава НЕ меняет main_conflict и goals — оставь их без изменений.\n- Изменяй минимум текста в arc_summary_rolling: не переставляй предложения местами без необходимости.\n- Не используй синонимы для ключевых терминов: один термин — одна форма.\n- Сортировка списков:\n goals: по важности (главная цель первой), затем по времени (ближайшая выше).\n open_threads: по срочности/риску.\n key_changes: в хронологическом порядке (самые ранние сверху, новые добавляй в конец)."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[416,160],"id":"c3ac4799-aa1a-4088-bc79-5fc219504183","name":"Rolling Summary арки","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"text":"=CURRENT_ARC_STATE:\n{{ $('Получение данных для арки').first().json.summary ? JSON.stringify($('Получение данных для арки').first().json.summary) : `Отсутствует` }}\n\nNEW_CHAPTER_SUMMARY:\n{{ JSON.stringify($('Подготовка данных по главе').first().json.summary, null, 2) }}","schemaType":"fromJson","jsonSchemaExample":"{ \"starts_new_arc\": true, \"reason\": \"...\" }","options":{"systemPromptTemplate":"Ты — классификатор границы арки в романе.\n\nВход:\n1) ARC_DEFINITION — определение, что мы считаем аркой.\n2) CURRENT_ARC_STATE — текущее состояние арки (главный конфликт/цели/нитки).\n3) NEW_CHAPTER_SUMMARY — summary новой главы.\n\nЗадача:\nВернуть ОДНОЗНАЧНЫЙ ответ: эта глава начинает НОВУЮ арку или продолжает текущую.\n\nARC_DEFINITION (жёстко):\nАрка = непрерывная последовательность глав, объединённых ОДНИМ главным конфликтом/задачей и набором ключевых открытых нитей.\nНовая арка начинается ТОЛЬКО если выполнено хотя бы ОДНО из условий (A–C) и при этом НЕ выполнено условие (D):\n\nA) Главный конфликт текущей арки закрыт или больше не является главным (явно решён/отменён/потерял смысл).\nB) Появился новый главный конфликт/задача, который становится центральным и вытесняет прежний.\nC) Произошёл “перезапуск” ситуации: сменились одновременно (1) основная цель, (2) основной антагонист/сторона конфликта ИЛИ (3) место/сеттинг, и это явно обозначено как начало нового этапа истории.\n\nD) НЕ считать новой аркой:\n- смену локации без смены главного конфликта,\n- флэшбек/вставную сцену, после которой конфликт тот же,\n- временную паузу/передышку,\n- подготовку к следующему шагу в рамках того же конфликта,\n- появление нового персонажа, если конфликт тот же.\n\nПравила вывода:\n- Если ты не видишь условий A–C явно из NEW_CHAPTER_SUMMARY и CURRENT_ARC_STATE — ответ всегда \"продолжается\".\n- Не выдумывай причины и не используй предположения.\n\nТребования к reason:\n- 1–2 коротких предложения, строго факты из CURRENT_ARC_STATE и NEW_CHAPTER_SUMMARY.\n- Никаких предположений/интерпретаций. Запрещены слова: \"возможно\", \"вероятно\", \"кажется\", \"скорее всего\".\n- reason должен ссылаться на критерии ARC_DEFINITION буквами A/B/C/D:\n - если starts_new_arc = true → reason обязан указать, какой критерий сработал (A или B или C) и что именно в данных это подтверждает.\n - если starts_new_arc = false → reason обязан указать, что критерии A–C не подтверждены, либо что сработало исключение D (что это лишь смена локации/флэшбек/передышка/подготовка при том же конфликте).\n- Не повторяй целиком summary, только суть.\n- Переведи на русский язык.\n\nВерни строго JSON без пояснений"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-432,160],"id":"21e5eb4e-fc39-4dc3-92ec-c47cc7fdca49","name":"Определение границ арки","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"37a0ba6a-bc8c-4d31-812c-f30a9a2bb209","leftValue":"={{ $('Определение границ арки').first().json.output.starts_new_arc }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,144],"id":"98f04ff2-e157-4eac-aa9c-d375c87c644f","name":"Нчало новой арки?"},{"parameters":{"text":"=NEW_CHAPTER_SUMMARY:\n{{ JSON.stringify($('Подготовка данных по главе').first().json.summary,null,2) }}","schemaType":"fromJson","jsonSchemaExample":"{\n \"arc_summary_rolling\": \"...\",\n \"main_conflict\": \"...\",\n \"goals\": [\"...\"],\n \"key_changes\": [\"...\"],\n \"open_threads\": [\"...\"]\n}","options":{"systemPromptTemplate":"Ты создаёшь стартовое (инициализирующее) Summary новой арки романа.\n\nВход:\n- NEW_CHAPTER_SUMMARY: краткое фактическое summary главы, которая начинает новую арку.\n\nЗадача:\nСоздать \"arc_summary_rolling\" и \"arc_state\" для новой арки ТОЛЬКО на основе NEW_CHAPTER_SUMMARY.\nНичего не выдумывать. Если информации недостаточно — оставляй поле пустым или общим, но без догадок.\n\nЖёсткие правила:\n- Не добавляй фактов, которых нет во входе.\n- Не объясняй мир/мотивы, если это не сказано явно.\n- Формулировки стабильные, нейтральные, без художественных украшений.\n- Сохраняй имена/термины ровно как во входе.\n- Длина arc_summary_rolling: 4–6 предложений, суммарно 700–1200 символов.\n\nСМЫСЛ ПОЛЕЙ (что именно туда кладём):\n\n1) arc_summary_rolling. \nЧто это:\n- Короткая \"сводка арки\" как единый текстовый абзац, который быстро вводит в курс.\n- Должен отвечать на вопросы: \"что за конфликт?\", \"кто основные действующие лица?\",\n \"какие важные события уже случились?\", \"к чему сейчас пришли?\", \"что осталось открытым?\".\n\nДОЛЖНО включать (в таком порядке, 4–6 предложений):\n(1) Описание главного конфликта арки (1 предложение).\n(2) Основные стороны/персонажи/фракции (1 предложение).\n(3) 1–2 ключевых поворотных события (1–2 предложения).\n(4) Текущее состояние/положение дел к последней главе (1 предложение).\n(5) 1 предложение про главные открытые линии/риски (если есть).\n(6) Строго на русском языке\n\nНЕ ДОЛЖНО включать:\n- подробный пересказ всех событий по главам,\n- второстепенных персонажей, если они не влияют на конфликт,\n- микродетали сцен.\n\n2) arc_state.main_conflict. \nЧто это:\n- Одна \"главная проблема\" арки, сформулированная максимально конкретно.\n- Это не тема и не мораль, а конфликт/противостояние/задача.\n\nДОЛЖНО:\n- быть одинаковым по смыслу от главы к главе, пока арка не закончилась.\n- включать участников/объект конфликта при наличии (\"герой против X\", \"нужно достичь Y, иначе Z\").\n\nНЕ ДОЛЖНО:\n- менять формулировку ради стиля,\n- становиться слишком общей (\"борьба добра и зла\"),\n- включать догадки о скрытых мотивах.\n\n3) arc_state.goals.\nЧто это:\n- Список текущих явных целей в рамках арки.\n- Цели должны быть измеримыми/проверяемыми (\"найти\", \"достичь\", \"защитить\", \"раскрыть\", \"сбежать\").\n\nДОЛЖНО включать:\n- цели главных действующих лиц (1–3 основных),\n- общие цели группы/фракции, если она важна.\n\nНЕ ДОЛЖНО включать:\n- эмоции (\"хочет быть счастливым\"),\n- общие желания без действий (\"хочет мира\"),\n- цели, которые уже выполнены (если выполнены — переносим в key_changes).\n\n4) arc_state.key_changes.\nЧто это:\n- Ключевые изменения, которые произошли с начала арки до текущего момента.\n- Это \"факты прогресса\": что изменилось в расстановке сил, знаниях, ресурсах, отношениях.\n\nДОЛЖНО включать:\n- получение/потерю важного предмета/ресурса,\n- раскрытие важного факта/личности,\n- смену союза/конфликта,\n- серьёзные травмы/смерти/аресты (если они случились),\n- значимые решения (\"заключили сделку\", \"сбежали\", \"взорвали мост\").\n\nНЕ ДОЛЖНО включать:\n- мелкие события без последствий,\n- повторение уже известных изменений без новой информации.\n\n5) arc_state.open_threads.\nЧто это:\n- Открытые линии, которые ещё не закрыты, и которые важны для арки.\n- Это конкретные \"вопросы/риски/обязательства\".\n\nДОЛЖНО включать:\n- угрозы, которые ещё актуальны,\n- незавершённые расследования,\n- обещания/долги/сроки,\n- \"кто/почему\" загадки, если они реально поставлены.\n\nНЕ ДОЛЖНО включать:\n- вопросы читателя/рецензента,\n- гипотезы без фактов,\n- \"возможные\" будущие события."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-256,496],"id":"fbb6cdc0-952f-45a0-bcc1-22d70dec91f0","name":"Cоздание стартового Summary новой арки","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1280,128],"id":"11d51c9a-1005-4a8b-86e7-9020cde5b22d","name":"Merge1"},{"parameters":{"operation":"executeQuery","query":"-- Обновим данные о новой арке\nUPDATE \n    document_arcs \n  SET \n    end_chapter = {{ $('Подготовка данных по главе').first().json.chapter_number }},\n    summary = '{{ JSON.stringify($('Cоздание стартового Summary новой арки').first().json.output).replaceAll(`'`, `''`) }}', \n    updated_at = now()\n  WHERE \n    id = {{ $('Получение данных для арки').first().json.current_arc }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,496],"id":"a28dffa7-6a19-421c-b2c2-c85e3673f23f","name":"Обновление данных о новой арке","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Добавим причину перехода на новую арку\nUPDATE \n    document_arcs \n  SET \n    reason = '{{ $('Определение границ арки').first().json.output.reason.replaceAll(`'`, `''`) }}', \n    updated_at = now() \n  WHERE id={{ $('Получение данных для арки').first().json.current_arc }};\n-- Добавим в таблицу с арками новую арку\n-- Обновим в job_current инфу об этой арке\nWITH arc AS (\n  INSERT INTO \n      document_arcs (job_id, arc_number, start_chapter, end_chapter)\n    VALUES \n      ({{ $('Переведенный чанк').first().json.job_id }}, \n      (SELECT MAX(arc_number)+1 FROM document_arcs WHERE job_id = {{ $('Переведенный чанк').first().json.job_id }}), \n      {{ $('Подготовка данных по главе').first().json.chapter_number }}, \n      {{ $('Подготовка данных по главе').first().json.chapter_number }}) \n    RETURNING id\n)\nUPDATE job_current SET current_arc=(SELECT * FROM arc LIMIT 1)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-16],"id":"6d65d23e-41d3-48ef-8ee2-7d57fc9a4eca","name":"Добавление новой арки","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Обновим данные о текущей арке\nUPDATE \n    document_arcs \n  SET \n    end_chapter = {{ $('Подготовка данных по главе').first().json.chapter_number }}, \n    summary = '{{ JSON.stringify($('Rolling Summary арки').first().json.output).replaceAll(`'`, `''`) }}', \n    updated_at = now() \n  WHERE \n    id = {{ $('Получение данных для арки').first().json.current_arc }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,144],"id":"d7907aff-7c45-4752-937c-78484f2758b0","name":"Обновление Suumary арки","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id_chunk","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1984,320],"id":"4e4ce390-afa8-4985-ab3a-8504c8b23b6d","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_chunks WHERE id = {{ $json.id_chunk }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1776,320],"id":"727ff58d-5478-4069-a72e-cc2d29ae23ea","name":"Переведенный чанк","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $json.job_id }}","log":"=Start","node":"[Перевод] Арка","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,320],"id":"d6f78250-2d1d-4298-bd71-f340ec52eceb","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_arcs a, job_current j \n  WHERE a.id = j.current_arc;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,224],"id":"af68ee6b-1b91-4602-a6e5-05f47572249c","name":"Получение данных для арки","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chapters\n  WHERE id = {{ $('Переведенный чанк').first().json.chapter }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,448],"id":"61438fe0-0d1f-4e95-b579-0136037ab607","name":"Подготовка данных по главе","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1056,352],"id":"3dff596d-9b10-450b-b730-1b6cd4c22d5b","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"dfb4e41c-6d96-497d-9910-1ea5d4ef50ac","leftValue":"={{ $('Получение данных для арки').first().json.summary != null && Object.keys($('Получение данных для арки').first().json.summary).length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-864,352],"id":"e85b9da1-41a6-4327-b359-5edd2b49f397","name":"Продлжение арки?"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Start","node":"Определение границ арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-624,224],"id":"e590ce8e-0f94-4165-8c32-737bf533653d","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish\n{{ JSON.stringify($json.output, null, 2) }}","node":"Определение границ арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,144],"id":"309db3a2-0956-4869-9404-de12e69c9882","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Start","node":"Cоздание стартового Summary новой арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-624,464],"id":"3af62b0d-a760-4bec-8db3-2b1b494d721f","name":"to log3","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish\n{{ JSON.stringify($json.output, null,2) }}","node":"Cоздание стартового Summary новой арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,480],"id":"a76314b7-7015-4621-8525-cd3d61e755e3","name":"to log4","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Start","node":"Rolling Summary арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[272,160],"id":"8e0a06eb-59f1-4a92-80b0-c6583b97d034","name":"to log5","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish\n{{ JSON.stringify($json.output,null,2) }}","node":"Rolling Summary арки","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,144],"id":"9dda049c-5b6e-4d05-99cc-86e3b31805e0","name":"to log6","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"={{ $json.error }}","node":"Определение границ арки","type":"error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,336],"id":"9d5785f5-cb69-4883-854a-ba21bee71bfa","name":"to log7","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"={{ $json.error }}","node":"Cоздание стартового Summary новой арки","type":"error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,640],"id":"7a9a7bd1-c960-4dea-b029-ac70b9017251","name":"to log8","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"={{ $json.error }}","node":"Rolling Summary арки","type":"error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,336],"id":"cd624f56-1afe-4618-ba41-cd5f05b62a02","name":"to log9","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"return { error: true }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,704],"id":"799e1353-0f54-4229-979f-c5191f88372c","name":"Выход с ошибкой"},{"parameters":{"jsCode":"return { error: false }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,144],"id":"0379e162-faca-4b5b-a949-8f7c837a75f8","name":"Выход без ошибки"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Переведенный чанк').first().json.job_id }}","log":"=Finish","node":"[Перевод] Арка","type":"info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,144],"id":"a8142eb2-89ba-429a-90f5-7e0eaa01c594","name":"to log10","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"google/gemini-2.5-flash-lite","mode":"list","cachedResultName":"google/gemini-2.5-flash-lite"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[320,656],"id":"c1185cbb-1a50-4819-ad71-1750edb80ca2","name":"Gemini 2.5 Flash Lite from Polza.ai","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"insertText","text":"={{ $('подготовка текста для LightRAG').first().json.text }}","meta_data":"=arc_{{ $('Получение данных для арки').first().json.arc_number }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1024,-96],"id":"973c82a1-9903-4f50-993f-4748c4d95aad","name":"Insert into LightRAG","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let input = $('Получение данных для арки').first().json.summary\nlet report = \"\";\nif (input == null) return { text: null };\n\n// Форматирование для ГЛАВЫ\n// Форматирование для АРКИ\nreport = `### ТЕКУЩЕЕ СОСТОЯНИЕ АРКИ\\n`;\nreport += `${input.arc_summary_rolling}\\n\\n`;\nreport += `**Основной конфликт:** ${input.main_conflict}\\n`;\nreport += `**Цели героев:** ${input.goals.join(\"; \")}\\n`;\nreport += `**Ключевые изменения:** ${input.key_changes.join(\"; \")}\\n`;\nreport += `**Открытые вопросы:** ${input.open_threads.join(\"; \")}`;\n\nreturn { text: report };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-16],"id":"eddc07ba-33d6-4b00-8d2c-481358a10209","name":"подготовка текста для LightRAG"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f0402e14-f09f-4b8b-a4c6-8397390519a6","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,-16],"id":"79d0a40a-d311-4eca-bb4c-51a3c3a15208","name":"текст есть?"},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"deleteChunks"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[272,-16],"id":"dc8c4896-cb68-4a22-a246-8e988b70677c","name":"Delete chunks into LightRAG","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Rolling Summary арки":{"main":[[{"node":"to log6","type":"main","index":0}],[{"node":"to log9","type":"main","index":0}]]},"Определение границ арки":{"main":[[{"node":"to log2","type":"main","index":0}],[{"node":"to log7","type":"main","index":0}]]},"Нчало новой арки?":{"main":[[{"node":"Delete chunks into LightRAG","type":"main","index":0}],[{"node":"to log5","type":"main","index":0}]]},"Cоздание стартового Summary новой арки":{"main":[[{"node":"to log4","type":"main","index":0}],[{"node":"to log8","type":"main","index":0}]]},"Обновление данных о новой арке":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Добавление новой арки":{"main":[[{"node":"подготовка текста для LightRAG","type":"main","index":0}]]},"Обновление Suumary арки":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"Переведенный чанк","type":"main","index":0}]]},"Переведенный чанк":{"main":[[{"node":"to log","type":"main","index":0}]]},"to log":{"main":[[{"node":"Получение данных для арки","type":"main","index":0},{"node":"Подготовка данных по главе","type":"main","index":0}]]},"Получение данных для арки":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Подготовка данных по главе":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Продлжение арки?","type":"main","index":0}]]},"Продлжение арки?":{"main":[[{"node":"to log1","type":"main","index":0}],[{"node":"to log3","type":"main","index":0}]]},"to log1":{"main":[[{"node":"Определение границ арки","type":"main","index":0}]]},"to log2":{"main":[[{"node":"Нчало новой арки?","type":"main","index":0}]]},"to log3":{"main":[[{"node":"Cоздание стартового Summary новой арки","type":"main","index":0}]]},"to log4":{"main":[[{"node":"Обновление данных о новой арке","type":"main","index":0}]]},"to log5":{"main":[[{"node":"Rolling Summary арки","type":"main","index":0}]]},"to log6":{"main":[[{"node":"Обновление Suumary арки","type":"main","index":0}]]},"to log9":{"main":[[{"node":"Выход с ошибкой","type":"main","index":0}]]},"to log7":{"main":[[{"node":"Выход с ошибкой","type":"main","index":0}]]},"to log8":{"main":[[{"node":"Выход с ошибкой","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"to log10","type":"main","index":0}]]},"to log10":{"main":[[{"node":"Выход без ошибки","type":"main","index":0}]]},"Gemini 2.5 Flash Lite from Polza.ai":{"ai_languageModel":[[{"node":"Определение границ арки","type":"ai_languageModel","index":0},{"node":"Cоздание стартового Summary новой арки","type":"ai_languageModel","index":0},{"node":"Rolling Summary арки","type":"ai_languageModel","index":0}]]},"Insert into LightRAG":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"подготовка текста для LightRAG":{"main":[[{"node":"текст есть?","type":"main","index":0}]]},"текст есть?":{"main":[[{"node":"Insert into LightRAG","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Delete chunks into LightRAG":{"main":[[{"node":"Добавление новой арки","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveExecutionProgress":false,"saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id_chunk":1117}}]},"versionId":"139e17cc-d3d1-4038-8567-ed2499df18c9","activeVersionId":"139e17cc-d3d1-4038-8567-ed2499df18c9","versionCounter":279,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"OggkJgA8IFmasME_BNimq","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 139e17cc","description":""}}]
