workflows/___________________.json
[{"updatedAt":"2026-04-05T04:45:56.642Z","createdAt":"2026-03-29T04:08:13.702Z","id":"AnPEATb8u6yyFa54","name":"Ручной выбор файлов","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Новый перевод","formDescription":"Первоначальные настройки","formFields":{"values":[{"fieldLabel":"Тип сценария перевода","fieldType":"radio","fieldOptions":{"values":[{"option":"Начать новый перевод"},{"option":"Выйти (я здесь случайно)"}]}}]},"options":{"appendAttribution":false,"buttonLabel":"Продолжить","useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-1840,320],"id":"de71c7f0-9910-4cc5-a3ea-fc1f94f74824","name":"Start","webhookId":"f49cf7e5-8fc6-4a28-a58f-449ca5c52619"},{"parameters":{"defineForm":"json","jsonOutput":"=[\n    {\n      \"fieldLabel\": \"Книга для перевода\",\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\": {\n        \"values\": {{ $input.all().map(item => ({\n          \"option\": item.json.name\n        })) }}\n      },\n      \"requiredField\": true\n    },\n {\n      \"fieldLabel\": \"Глоссарий\",\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\": {\n        \"values\": {{ $input.all().map(item => ({\n          \"option\": item.json.name\n        })) }}\n      },\n      \"requiredField\": true\n    },\n{\n      \"fieldLabel\": \"Кастомный промт\",\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\": {\n        \"values\": {{ $input.all().map(item => ({\n          \"option\": item.json.name\n        })) }}\n      },\n      \"requiredField\": false\n    },\n{\n      \"fieldLabel\": \"Постредактура\",\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\": {\n        \"values\": {{ $input.all().map(item => ({\n          \"option\": item.json.name\n        })) }}\n      },\n      \"requiredField\": false\n    }\n]","options":{"formTitle":"Выбор файла для перевода"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-720,288],"id":"49d8d409-7de9-464d-88a6-1d94bf943542","name":"Выбор файла для перевода","webhookId":"a8e51e2f-f64f-4a1c-a19e-ee868ba1ed7b"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'root' in parents AND trashed = false","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-896,288],"id":"867cf142-45ac-45ed-8b2a-1876f2f9b974","name":"Список файлов для перевода","retryOnFail":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b097b71-a026-4cef-909d-c5faa7b806ce","leftValue":"={{ $('Start').first().json['Тип сценария перевода'] }}","rightValue":"Начать новый перевод","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Новый"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d6a6449-04e7-45ab-b500-426450f2cea6","leftValue":"={{ $('Start').first().json['Тип сценария перевода'] }}","rightValue":"Выйти (я здесь случайно)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Выход"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1136,304],"id":"2f23b7ce-6b7a-489f-9ef3-695b0f0cf572","name":"Switch2"},{"parameters":{"workflowId":{"__rl":true,"value":"9cjeUNeTZX3YnO1W57YTP","mode":"list","cachedResultUrl":"/workflow/9cjeUNeTZX3YnO1W57YTP","cachedResultName":"Start"},"workflowInputs":{"mappingMode":"defineBelow","value":{"glossary_file":"={{ $('Выбор файла для перевода').first().json['Глоссарий'] }}","translate_file":"={{ $('Выбор файла для перевода').first().json['Книга для перевода'] }}","book_prompt":"={{ $('Выбор файла для перевода').first().json[\"Кастомный промт\"] || '' }}","chat_id":"923741104","post_production":"={{ $('Выбор файла для перевода').item.json['Постредактура']  || ''}}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_file","displayName":"glossary_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"book_prompt","displayName":"book_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"post_production","displayName":"post_production","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1264,464],"id":"43668ed5-2cb3-487d-804e-511187673d4e","name":"Инициализация перевода","executeOnce":true},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name = '{{ $('Выбор файла для перевода').first().json['Книга для перевода'] }}' and trashed = false","returnAll":true,"filter":{"whatToSearch":"files","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,0],"id":"271a83ad-e541-4e74-a191-ff8872f8b5a6","name":"Search translate file","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,288],"id":"f151518b-51a3-4b5a-925b-1638c4bbbf75","name":"Скачивание глоссария","executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Search translate file').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,0],"id":"e9b9ccfc-bcde-4f88-8e4d-f6ad8a435391","name":"Скачивание файла для перевода","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $('Выбор файла для перевода').first().json['Глоссарий'] }}' and trashed = false","filter":{"whatToSearch":"files","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,288],"id":"a95dd6d6-b7ab-4184-b4eb-3ec70747dd3f","name":"Получение параметров глоссария","executeOnce":false,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"73c303a1-696c-42ba-a59e-e545b38da012","leftValue":"={{ $('Выбор файла для перевода').first().json['Кастомный промт'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-16,464],"id":"378b8feb-08e9-49a5-950d-4c22aade8010","name":"Есть кастомный промт?"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $('Выбор файла для перевода').item.json['Кастомный промт'] }}' and trashed = false","filter":{"whatToSearch":"files","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,560],"id":"3445f9a0-7ad5-4db6-a219-3a87b6be5aa9","name":"Получение промта","executeOnce":false,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,560],"id":"4475ce92-3b78-4800-8dc0-1a488ca1af46","name":"Скачивание промта","executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"46813569-1a06-4a61-97e1-f491aa3d999d","name":"Get base64 string","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[560,0]},{"parameters":{"setAllData":false,"options":{"keepSource":true,"keepAsBase64":true}},"id":"46ea3004-aea9-4754-b117-a8c8b01cdb0d","name":"Get base64 string1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[560,288]},{"parameters":{"setAllData":false,"options":{"keepSource":true,"keepAsBase64":true}},"id":"5155a205-9f3d-43c7-ab56-f338350f91cc","name":"Get base64 string2","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[560,560]},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1088,416],"id":"f89d56ea-2cf6-4c87-8412-89d5f99ee105","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_files \n  SET \n    prompt = decode($1, 'base64'),\n    prompt_data = $2","options":{"queryReplacement":"={{ $json.data }}, , {{ JSON.stringify($('Скачивание промта').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,560],"id":"dc23095d-b018-4187-916f-227e209884b6","name":"Запись промта в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_files \n  SET \n    glossary = decode($1, 'base64'),\n    glossary_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Скачивание глоссария').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,288],"id":"2d5465c9-17fb-44c7-9e23-55b46c151a1f","name":"Запись глоссария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    translate_file = decode($1, 'base64'),\n    translate_file_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Скачивание файла для перевода').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,0],"id":"7b874e9e-edfc-4520-9fb2-bd35bc2f2dfa","name":"Запись файла для перевода в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Таблица summary арок\nDROP TABLE IF EXISTS document_files CASCADE;\nCREATE TABLE IF NOT EXISTS document_files (\n  id SERIAL PRIMARY KEY,\n  translate_file bytea,\n  translate_file_data json,\n  glossary bytea,\n  glossary_data json,\n  prompt bytea,\n  prompt_data json,\n  post_prod bytea,\n  post_prod_data json,\n  source text\n);\nINSERT INTO document_files (source) VALUES ('custom');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1664,320],"id":"141d06e9-5e6f-4771-b805-db1da44c9ed2","name":"Init document_files","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- пошлем сообщение что задача создана\nINSERT INTO telegram_send_message (template) VALUES ('create_job');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,288],"id":"1e0e2442-4e67-4267-90a5-754dc9b426d1","name":"Сообщение о создании задачи","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"resource":"table","operation":"create","tableName":"select_files","columns":{"column":[{"name":"translate_file"},{"name":"glossary"},{"name":"promt"},{"name":"message_id","type":"number"},{"name":"chat_id"},{"name":"glossary_make","type":"boolean"},{"name":"message_start","type":"number"},{"name":"message_process","type":"number"},{"name":"PostProdaction"}]},"options":{"createIfNotExists":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1472,320],"id":"127b8c00-7a93-4eab-9be1-6ee143e963e3","name":"Create a data table","onError":"continueErrorOutput"},{"parameters":{"resource":"table","operation":"delete","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1280,464],"id":"9e4816a8-ecee-4a37-bbcf-d8ad1222df1f","name":"Delete a data table"},{"parameters":{"dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"message_id":0,"chat_id":"923741104","glossary_make":false,"message_start":0,"message_process":0},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_process","displayName":"message_process","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1280,304],"id":"cc1c0022-2183-42b7-8a3d-ecc96a35ef07","name":"Insert row","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"translate_file":"={{ $json['Книга для перевода'] }}_0","message_id":0,"glossary":"={{ $json['Глоссарий'] }}_0","promt":"={{ $json['Кастомный промт'] }}_0","PostProdaction":"={{ $json['Постредактура'] }}_0"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"message_process","displayName":"message_process","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"PostProdaction","displayName":"PostProdaction","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"dryRun":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-544,288],"id":"a710df84-e67c-445b-9a3d-ac734085d929","name":"Update row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"setAllData":false,"options":{"keepSource":true,"keepAsBase64":true}},"id":"0686c7d8-95fa-4e95-861c-418aa445da86","name":"Get base64 string3","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[560,832]},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_files \n  SET \n    post_prod = decode($1, 'base64'),\n    post_prod_data = $2","options":{"queryReplacement":"={{ $json.data }}, , {{ JSON.stringify($('Скачивание промта для редактуры').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,832],"id":"044761ab-f7ea-4d82-9060-f5ec458c90e9","name":"Запись промта в БД1","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"73c303a1-696c-42ba-a59e-e545b38da012","leftValue":"={{ $('Выбор файла для перевода').first().json['Постредактура'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-16,736],"id":"d620d42d-3a60-449a-9f3c-90e1a3e09033","name":"Есть промт для постредактуры?"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $('Выбор файла для перевода').item.json['Постредактура'] }}' and trashed = false","filter":{"whatToSearch":"files","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,832],"id":"7f2303f1-0bb2-4a52-a4cc-8db94ff54c85","name":"Получение промта для редактуры","executeOnce":false,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,832],"id":"ebf92afb-0f8a-4f5f-96f6-47a0ad46b0d7","name":"Скачивание промта для редактуры","executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}}],"connections":{"Выбор файла для перевода":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Список файлов для перевода":{"main":[[{"node":"Выбор файла для перевода","type":"main","index":0}]]},"Start":{"main":[[{"node":"Init document_files","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Список файлов для перевода","type":"main","index":0}]]},"Search translate file":{"main":[[{"node":"Скачивание файла для перевода","type":"main","index":0}]]},"Скачивание глоссария":{"main":[[{"node":"Get base64 string1","type":"main","index":0}]]},"Скачивание файла для перевода":{"main":[[{"node":"Get base64 string","type":"main","index":0}]]},"Получение параметров глоссария":{"main":[[{"node":"Скачивание глоссария","type":"main","index":0}]]},"Есть кастомный промт?":{"main":[[{"node":"Получение промта","type":"main","index":0}],[{"node":"Merge","type":"main","index":2}]]},"Получение промта":{"main":[[{"node":"Скачивание промта","type":"main","index":0}]]},"Скачивание промта":{"main":[[{"node":"Get base64 string2","type":"main","index":0}]]},"Get base64 string":{"main":[[{"node":"Запись файла для перевода в БД","type":"main","index":0}]]},"Get base64 string1":{"main":[[{"node":"Запись глоссария в БД","type":"main","index":0}]]},"Get base64 string2":{"main":[[{"node":"Запись промта в БД","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Инициализация перевода","type":"main","index":0}]]},"Запись промта в БД":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Запись глоссария в БД":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Запись файла для перевода в БД":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Init document_files":{"main":[[{"node":"Create a data table","type":"main","index":0}]]},"Сообщение о создании задачи":{"main":[[{"node":"Search translate file","type":"main","index":0},{"node":"Получение параметров глоссария","type":"main","index":0},{"node":"Есть кастомный промт?","type":"main","index":0},{"node":"Есть промт для постредактуры?","type":"main","index":0}]]},"Create a data table":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Delete a data table","type":"main","index":0}]]},"Delete a data table":{"main":[[{"node":"Create a data table","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Сообщение о создании задачи","type":"main","index":0}]]},"Get base64 string3":{"main":[[{"node":"Запись промта в БД1","type":"main","index":0}]]},"Запись промта в БД1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Есть промт для постредактуры?":{"main":[[{"node":"Получение промта для редактуры","type":"main","index":0}],[{"node":"Merge","type":"main","index":4}]]},"Получение промта для редактуры":{"main":[[{"node":"Скачивание промта для редактуры","type":"main","index":0}]]},"Скачивание промта для редактуры":{"main":[[{"node":"Get base64 string3","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"066c1213-94f3-4bfc-b194-89fc20a6270a","activeVersionId":"066c1213-94f3-4bfc-b194-89fc20a6270a","versionCounter":189,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T04:08:13.702Z","createdAt":"2026-03-29T04:08:13.702Z","role":"workflow:owner","workflowId":"AnPEATb8u6yyFa54","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 066c1213","description":""}}]
