workflows/__________________.json
[{"updatedAt":"2026-04-03T18:33:31.891Z","createdAt":"2026-03-18T13:01:22.606Z","id":"t8Dmavjx9KS5Ms3SB3Qdj","name":"Создание Глоссария","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"},{"name":"chat_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,-48],"id":"e419f133-7e2c-4531-af1c-268da1b7ac33","name":"Start Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT glossary FROM temp_table","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,-144],"id":"d40a95d2-f4c9-470c-ac5b-248cd05a73f5","name":"Glossary","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_jobs WHERE id = {{ $json.job_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,80],"id":"3da862ab-09f5-41a0-9090-d96a819d97de","name":"Document","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-320,-16],"id":"b1b2ef10-645a-43a2-abc0-22b7a998066c","name":"Merge"},{"parameters":{"name":"={{ `Glossary_${$('Document').first().json.file_name.replace(/\\.[^/.]+$/, \"\")}_${DateTime.now().format('yyyy-MM-dd')}.xlsx` }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,-16],"id":"59e77a0b-ae90-40e1-a6db-db474a045cdb","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[384,-16],"id":"010a624f-1ad6-4b13-8191-eef57f0843e8","name":"Share folder translate_","credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"jsCode":"// объеденим в единый массив\nlet listGlossary = $('Glossary').all().reduce((acc, item) => {\n  acc.push(item.json.glossary)\n  return acc.flat();\n}, []);\n\nlet list = [];\nfor (const element of listGlossary) {\n  let is_find = false;\n  for (const item of list) {\n    if (element.KO === item.KO) is_find = true;\n  }\n  if (!is_find) list.push(element)\n}\nlist = list.sort((a,b) => {\n  if (a.Пол === 'мужской' && b.Пол !== 'мужской') return -1;\n  if (a.Пол === 'женский' && b.Пол === 'мужской') return 1;\n  if (a.Пол === 'женский' && b.Пол !== 'женский') return -1;\n  return 0\n})\n\nreturn list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-16],"id":"a660e0fe-67b9-4eaa-b6c2-8acecc9c6914","name":"Глоссарий -> JSON","alwaysOutputData":true},{"parameters":{"operation":"xlsx","binaryPropertyName":"=data","options":{"headerRow":true,"sheetName":"Sheet"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[32,-16],"id":"75c92020-280d-4db2-ab15-452b506ee658","name":"JSON -> File"},{"parameters":{"chatId":"={{ $('Start Workflow').first().json.chat_id }}","text":"=Новые термины требуют проверки \nОткрой Google Sheets и проверь. \n<a href=\"{{ $('Upload file').item.json.webViewLink }}\">Открыть</a>\n\nКогда закончишь — нажми кнопку ниже. ","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Проверено","additionalFields":{"callback_data":"glossary_done"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-16],"id":"e0c36fe9-efc8-4b58-8042-3f381ee52fa9","name":"Send a text message","webhookId":"6ef7f37f-aabe-4e67-9843-b001194dc912","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\n  FROM\n    telegram_messages\n  WHERE date_time > '{{ $('Send a text message').first().json.result.date.toDateTime('s') }}':: TIMESTAMPTZ\n    AND \n  callback_data != ''    \n    AND\n  chat = {{ $('Start Workflow').first().json.chat_id }}:: TEXT","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,240],"id":"cd8731c1-9178-40c2-81b0-ba2790c12c25","name":"Получение данных о сообщении1","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6c93abe6-718c-49a5-bd8c-1150ff85dcf8","leftValue":"={{ $json.callback_data }}","rightValue":"glossary_done","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"glossary_done"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c74817-3a1c-432b-8604-ae0cc4fe3529","leftValue":"={{ $json.callback_data }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"not exists"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[48,240],"id":"28b188d1-ee01-4aa9-9895-aa601ff2c05d","name":"Switch"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-144,240],"id":"727869f4-3685-47d6-9410-b1a19e9af3a4","name":"Wait","webhookId":"a0312a03-e1e1-4697-a2cf-cd081c4db9c5"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о сообщении1').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,224],"id":"e76b7b03-7dd5-4c4c-8f1f-de06b2df4b48","name":"Execute a SQL query","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Start Workflow').first().json.chat_id }}","messageId":"={{ $('Send a text message').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,224],"id":"a8f594ef-88c3-4c76-a28c-39226f9a2aa7","name":"Delete a chat message","webhookId":"66acaf56-5f53-49e8-8e42-4676ce86f0d8","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"4b806c1b-9ddf-42e8-a822-0b8b59807fcb","name":"Get base64 string1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[848,224]},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    glossary = decode($1, 'base64'),\n    glossary_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Download file').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,224],"id":"193a4039-1f98-4068-9846-f8b0cffa2787","name":"Запись глоссария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Upload file').first().json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,224],"id":"74b2c45b-a773-4110-b0d3-77357c3415b6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}}],"connections":{"Start Workflow":{"main":[[{"node":"Glossary","type":"main","index":0},{"node":"Document","type":"main","index":0}]]},"Glossary":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Document":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Глоссарий -> JSON","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share folder translate_","type":"main","index":0}]]},"Глоссарий -> JSON":{"main":[[{"node":"JSON -> File","type":"main","index":0}]]},"JSON -> File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Share folder translate_":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Получение данных о сообщении1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Получение данных о сообщении1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Delete a chat message","type":"main","index":0}],[{"node":"Получение данных о сообщении1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete a chat message":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Get base64 string1":{"main":[[{"node":"Запись глоссария в БД","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get base64 string1","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":289,"chat_id":"923741104"}}]},"versionId":"a8d67b88-4faf-40f9-9479-6cf9f851964d","activeVersionId":"a8d67b88-4faf-40f9-9479-6cf9f851964d","versionCounter":228,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"t8Dmavjx9KS5Ms3SB3Qdj","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version a8d67b88","description":""}}]
