workflows/________________________.json
[{"updatedAt":"2026-04-09T03:13:45.080Z","createdAt":"2026-04-08T08:43:24.177Z","id":"rlk5lgq3uE4N0yl0","name":"Добавление ресурсов в бд","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"9cjeUNeTZX3YnO1W57YTP","mode":"list","cachedResultUrl":"/workflow/9cjeUNeTZX3YnO1W57YTP","cachedResultName":"Start"},"workflowInputs":{"mappingMode":"defineBelow","value":{"translate_file":"={{ $json.translate_file }}","glossary_file":"={{ $json.glossary }}","book_prompt":"={{ $json.promt }}","chat_id":"={{ $json.chat_id }}","glossary_make":"={{ $json.glossary_make }}","post_production":"={{ $json.PostProdaction }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_file","displayName":"glossary_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"book_prompt","displayName":"book_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"post_production","displayName":"post_production","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1152,352],"id":"0bc12f0e-3897-47dc-9cb4-a98df7d1e831","name":"Старт перевода","executeOnce":true},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"8ce0358b-9d0d-4e01-b700-d018c0aeab1b","name":"Get base64 string","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[208,0]},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    translate_file = decode($1, 'base64'),\n    translate_file_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get translate file').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,0],"id":"7221ae83-f77e-4eb4-94fb-2e1645da18ba","name":"Запись файла для перевода в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Start Workflow').item.json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,0],"id":"b4796824-acc5-43f9-aefd-9f5728d21d73","name":"Get translate file","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"289390e3-8ab2-40ce-ab87-da9d3ffb76a9","name":"Get base64 string1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[208,208]},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"8262e731-e284-4ca1-ad5c-7532728badbb","name":"Get base64 string2","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[208,416]},{"parameters":{"resource":"file","fileId":"={{ $('Start Workflow').item.json.glossary_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,208],"id":"0872fb05-db83-47e0-af5b-8b352e8aed97","name":"Get glossary","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Start Workflow').item.json.bp_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,416],"id":"77045f5a-cf37-45ea-bf69-cc1929873b86","name":"Get prompt","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    prompt = decode($1, 'base64'),\n    prompt_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get prompt').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,416],"id":"c99cdeea-001e-4b93-ae5e-21507a6ff815","name":"Запись промта в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    glossary = decode($1, 'base64'),\n    glossary_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get glossary').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,208],"id":"2ba0e4aa-92d4-46ee-8151-71857c755369","name":"Запись глоссария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d0bcd338-b859-42dc-8f11-e94c1069a968","leftValue":"={{ $('Start Workflow').item.json.bp_file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,320],"id":"0a1cbda4-cd3a-490b-88c7-1f7b4aafff7d","name":"Промт задан?"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[784,288],"id":"8cbffeab-7490-413e-9115-7f06ad21f0d0","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"ae6456bd-68b7-45b4-8889-63ace36d3f6c","name":"translate_file","value":"={{ $('Start Workflow').item.json.file_id ? $('Start Workflow').item.json.file_name : '' }}","type":"string"},{"id":"634cee0a-495a-4167-b6ab-9d9ccd2c6fd6","name":"glossary","value":"={{ $('Start Workflow').item.json.glossary_id ? $('Start Workflow').item.json.glossary_file_name : ''}}","type":"string"},{"id":"8650c549-c166-4bbd-8c6c-e92ca25ac431","name":"promt","value":"={{ $('Start Workflow').item.json.bp_file_id ? $('Start Workflow').item.json.bp_file_name : '' }}","type":"string"},{"id":"d7c01ee2-7762-4a8f-813e-710445dc5e0e","name":"chat_id","value":"={{ $('Start Workflow').item.json.chat_id }}","type":"string"},{"id":"73ad6915-f685-482d-98a2-715e98de47e1","name":"glossary_make","value":"={{ $('Start Workflow').item.json.create_glossary }}","type":"boolean"},{"id":"56614424-5a4d-4fa5-be71-f0ef83cd8bfa","name":"PostProdaction","value":"={{ $('Start Workflow').item.json.pp_file_id ? $('Start Workflow').item.json.pp_file_name : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,352],"id":"ef5d3a95-0868-4ebf-9bc5-1690721e1d51","name":"Edit Fields","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d0bcd338-b859-42dc-8f11-e94c1069a968","leftValue":"={{ $('Start Workflow').item.json.create_glossary }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-416,224],"id":"62c55b3b-a2a4-48f5-b101-d6e29b41a958","name":"Глоссарий задан?"},{"parameters":{"operation":"executeQuery","query":"-- пошлем сообщение что задача создана\nINSERT INTO telegram_send_message (template) VALUES ('create_job');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,224],"id":"a175b8b4-e0e3-40bd-966c-fe043f4b811a","name":"Сообщение о создании задачи","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"setAllData":false,"options":{"keepAsBase64":true}},"id":"37bda3d9-b4a9-408d-b563-c89a296b8d21","name":"Get base64 string3","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[208,592]},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files \n  SET \n    post_prod = decode($1, 'base64'),\n    post_prod_data = $2","options":{"queryReplacement":"={{ $json.data }}, {{ JSON.stringify($('Get prompt postProd').first().binary.data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,592],"id":"2828d192-7efe-41c0-84fd-10734009e614","name":"Запись промта в БД1","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d0bcd338-b859-42dc-8f11-e94c1069a968","leftValue":"={{ $('Start Workflow').item.json.pp_file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,496],"id":"f22889e0-b387-4908-9cdd-39e2807e1923","name":"Промт для постредакта задан?"},{"parameters":{"resource":"file","fileId":"={{ $('Start Workflow').item.json.pp_file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,592],"id":"27349909-2af1-4282-85f6-d2733c60db67","name":"Get prompt postProd","webhookId":"b14355e6-86fb-48c1-93e9-1b5c203a0d57","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"file_name"},{"name":"file_id"},{"name":"glossary_file_name"},{"name":"glossary_id"},{"name":"create_glossary","type":"boolean"},{"name":"bp_file_name"},{"name":"bp_file_id"},{"name":"pp_file_name"},{"name":"pp_file_id"},{"name":"chat_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1344,224],"id":"8e0a7de1-223f-4399-a55d-689a8fd47374","name":"Start Workflow"},{"parameters":{"resource":"table","operation":"create","tableName":"select_files","columns":{"column":[{"name":"translate_file"},{"name":"glossary"},{"name":"promt"},{"name":"message_id","type":"number"},{"name":"chat_id"},{"name":"glossary_make","type":"boolean"},{"name":"message_start","type":"number"},{"name":"message_process","type":"number"},{"name":"PostProdaction"}]},"options":{"createIfNotExists":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1008,224],"id":"874124e3-e93d-47fb-8ad8-85c7d090978c","name":"Create a data table","alwaysOutputData":true,"executeOnce":true},{"parameters":{"dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Start Workflow').item.json.chat_id }}","glossary_make":"={{ $('Start Workflow').item.json.create_glossary }}","translate_file":"={{ $('Start Workflow').item.json.file_name }}","glossary":"={{ $('Start Workflow').item.json.glossary_file_name }}","promt":"={{ $('Start Workflow').item.json.bp_file_name }}","PostProdaction":"={{ $('Start Workflow').item.json.pp_file_name }}"},"matchingColumns":[],"schema":[{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promt","displayName":"promt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"message_start","displayName":"message_start","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"message_process","displayName":"message_process","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"PostProdaction","displayName":"PostProdaction","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-864,224],"id":"68b849c8-d34e-4392-8784-2d5983f2c547","name":"Insert row","alwaysOutputData":true,"executeOnce":true},{"parameters":{"resource":"table","operation":"delete","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1168,224],"id":"caf27354-6344-4a16-a805-cb5b6036d51a","name":"Delete a data table","executeOnce":true,"onError":"continueRegularOutput"}],"connections":{"Get base64 string":{"main":[[{"node":"Запись файла для перевода в БД","type":"main","index":0}]]},"Запись файла для перевода в БД":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Get translate file":{"main":[[{"node":"Get base64 string","type":"main","index":0}]]},"Get base64 string1":{"main":[[{"node":"Запись глоссария в БД","type":"main","index":0}]]},"Get base64 string2":{"main":[[{"node":"Запись промта в БД","type":"main","index":0}]]},"Get glossary":{"main":[[{"node":"Get base64 string1","type":"main","index":0}]]},"Get prompt":{"main":[[{"node":"Get base64 string2","type":"main","index":0}]]},"Запись промта в БД":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Запись глоссария в БД":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Промт задан?":{"main":[[{"node":"Get prompt","type":"main","index":0}],[{"node":"Merge2","type":"main","index":2}]]},"Merge2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Старт перевода","type":"main","index":0}]]},"Глоссарий задан?":{"main":[[{"node":"Get glossary","type":"main","index":0}],[{"node":"Merge2","type":"main","index":4}]]},"Сообщение о создании задачи":{"main":[[{"node":"Глоссарий задан?","type":"main","index":0},{"node":"Промт задан?","type":"main","index":0},{"node":"Промт для постредакта задан?","type":"main","index":0},{"node":"Get translate file","type":"main","index":0}]]},"Get base64 string3":{"main":[[{"node":"Запись промта в БД1","type":"main","index":0}]]},"Запись промта в БД1":{"main":[[{"node":"Merge2","type":"main","index":5}]]},"Промт для постредакта задан?":{"main":[[{"node":"Get prompt postProd","type":"main","index":0}],[{"node":"Merge2","type":"main","index":5}]]},"Get prompt postProd":{"main":[[{"node":"Get base64 string3","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Delete a data table","type":"main","index":0}]]},"Create a data table":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Delete a data table":{"main":[[{"node":"Create a data table","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Сообщение о создании задачи","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"file_name":"ЗлойДух.docx","file_id":"BQACAgIAAxkBAAIOSWnWUOvTY0YQ8vGs1s4go2D113bcAALEjAACnBmxSjOBJ0OfMSTXOwQ","glossary_file_name":"Glossary ЗлойДух.xlsx","glossary_id":"BQACAgIAAxkBAAIM2GnR8HW_QY7wutWPWTZ7y4wFoOGlAAJFmQACTS2QSrnIVIBvv_1-OwQ","create_glossary":false,"bp_file_name":"Промт-редукт-4.docx","bp_file_id":"BQACAgIAAxkBAAIOQGnWT2VONhHf_UfOcJpq_lVC8P3MAAK5jAACnBmxSstibLbbbuwVOwQ","pp_file_name":"Промт-редукт-4.docx","pp_file_id":"BQACAgIAAxkBAAIOQGnWT2VONhHf_UfOcJpq_lVC8P3MAAK5jAACnBmxSstibLbbbuwVOwQ","chat_id":"923741104"}}]},"versionId":"511db525-0eeb-4b08-9153-0680d7382543","activeVersionId":"511db525-0eeb-4b08-9153-0680d7382543","versionCounter":163,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T08:43:24.177Z","createdAt":"2026-04-08T08:43:24.177Z","role":"workflow:owner","workflowId":"rlk5lgq3uE4N0yl0","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 511db525","description":""}}]
