workflows/___________________.json
[{"updatedAt":"2026-04-09T03:50:59.394Z","createdAt":"2026-03-27T04:17:47.350Z","id":"CHSGtgO88LgGVbV8","name":"Получение сообщения","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"-- Если вдруг нет таблицы с сообщениями от бота, создаем ее\nCREATE TABLE IF NOT EXISTS telegram_messages (\n  id SERIAL PRIMARY KEY,\n  chat TEXT,\n  message JSON,\n  callback_data TEXT,\n  date_time TIMESTAMP WITH TIME ZONE DEFAULT now(),\n  type TEXT,\n  lang TEXT,\n  is_translate BOOLEAN DEFAULT FALSE\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,176],"id":"39223e8e-1d15-4333-9df6-7677d5793e12","name":"Обновление данных о сообщении в бд","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Loop Over Items').item.json.body.message.document.file_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3922df1f-e954-4c1a-9540-17a5552024a5"}],"combinator":"and"},"renameOutput":true,"outputKey":"FILE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4524f45-e475-4773-b93a-b72777f3192d","leftValue":"={{ $('Loop Over Items').item.json.body.file_id }}","rightValue":"/select_files","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"SELECT FILES"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-224,176],"id":"87c8c3be-8279-4040-a950-c7138ec42dfb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"sLo74sUgMdcJEmxJoRJQ-","mode":"list","cachedResultUrl":"/workflow/sLo74sUgMdcJEmxJoRJQ-","cachedResultName":"[GET] Document"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,16],"id":"4e4d2183-9147-44cc-9c47-f2f321726f47","name":"Document"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,160],"id":"7f355ab9-2d87-4d54-b270-76a855a3a8f1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[432,192],"id":"7315e91c-2a92-469b-8283-547d0aa6bb18"},{"parameters":{"operation":"executeQuery","query":"-- Вставим запись о новом сообщении\nINSERT INTO \n    telegram_messages\n    (message, chat) \n  VALUES \n    ('{{ JSON.stringify($('Loop Over Items').item.json.body.message) }}',\n      {{ $('Loop Over Items').item.json.body.message.from.id }}\n    )\n  RETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,16],"id":"491c65a4-1aec-421d-bbef-7b5ea183fc8c","name":"Add message","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"trigger-translation","options":{}},"id":"8dd5ba63-f3f7-4b69-a714-0f6344a5d792","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-848,160],"webhookId":"trigger-file-select"},{"parameters":{"workflowId":{"__rl":true,"value":"rlk5lgq3uE4N0yl0","mode":"list","cachedResultUrl":"/workflow/rlk5lgq3uE4N0yl0","cachedResultName":"Добавление ресурсов в бд"},"workflowInputs":{"mappingMode":"defineBelow","value":{"create_glossary":"={{ $('Loop Over Items').item.json.body.create_glossary }}","file_name":"={{ $('Loop Over Items').item.json.body.file_name }}","file_id":"={{ $('Loop Over Items').item.json.body.file_id }}","glossary_file_name":"={{ $('Loop Over Items').item.json.body.glossary_file_name }}","glossary_id":"={{ $('Loop Over Items').item.json.body.glossary_id }}","bp_file_name":"={{ $('Loop Over Items').item.json.body.bp_file_name }}","bp_file_id":"={{ $('Loop Over Items').item.json.body.bp_file_id }}","pp_file_name":"={{ $('Loop Over Items').item.json.body.pp_file_name }}","pp_file_id":"={{ $('Loop Over Items').item.json.body.pp_file_id }}","chat_id":"={{ $('Loop Over Items').item.json.body.chat_id }}"},"matchingColumns":["id"],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_file_name","displayName":"glossary_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_id","displayName":"glossary_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"create_glossary","displayName":"create_glossary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"bp_file_name","displayName":"bp_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bp_file_id","displayName":"bp_file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"pp_file_name","displayName":"pp_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"pp_file_id","displayName":"pp_file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,192],"id":"f3c11bd2-f95b-41cf-8248-2d80ef7a4ab2","name":"Добавление ресурсов в бд"}],"connections":{"Обновление данных о сообщении в бд":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Add message","type":"main","index":0}],[{"node":"Добавление ресурсов в бд","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Обновление данных о сообщении в бд","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Document":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Add message":{"main":[[{"node":"Document","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Добавление ресурсов в бд":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"bigalexn8n.ru","user-agent":"python-httpx/0.28.1","content-length":"409","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","via":"1.1 Caddy","x-forwarded-for":"192.168.1.124:55096","x-forwarded-host":"bigalexn8n.ru","x-forwarded-proto":"https","x-real-ip":"192.168.1.124:55096"},"params":{},"query":{},"body":{"file_id":"BQACAgIAAxkBAAIOSWnWUOvTY0YQ8vGs1s4go2D113bcAALEjAACnBmxSjOBJ0OfMSTXOwQ","file_name":"ЗлойДух.docx","chat_id":923741104,"bp_file_id":"","bp_file_name":"Выберите...","pp_file_id":"","pp_file_name":"Выберите...","glossary_id":"BQACAgIAAxkBAAIM2GnR8HW_QY7wutWPWTZ7y4wFoOGlAAJFmQACTS2QSrnIVIBvv_1-OwQ","glossary_file_name":"Glossary ЗлойДух.xlsx","create_glossary":false},"webhookUrl":"https://bigalexn8n.ru/webhook/trigger-translation","executionMode":"production"}}]},"versionId":"b4a3d305-b662-495b-b719-dbc325615d06","activeVersionId":"b4a3d305-b662-495b-b719-dbc325615d06","versionCounter":18790,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:33.716Z","createdAt":"2026-03-28T21:16:33.716Z","role":"workflow:owner","workflowId":"CHSGtgO88LgGVbV8","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version b4a3d305","description":""}}]
