workflows/_________________________________.json
[{"updatedAt":"2026-04-04T16:08:17.307Z","createdAt":"2026-04-04T15:38:04.356Z","id":"FuVQL0O5ik3aocbx","name":"Добавление промта для постредакта","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Начало обработки промта для редактуры","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-736,80],"id":"fddf2a06-fb77-4b2a-8c5d-1a13d42cb6c3","name":"to log5","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    translate_prompts\n  SET\n    prompt = '{{ $('Merge').first().json.text.replaceAll(`''`, `''`).replaceAll('\\n\\n', '\\n') }}'\n  WHERE\n    name like 'PP Default'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,96],"id":"7eaf4c40-038a-4e08-8bab-a0b372dc1f5b","name":"Запись промта в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cd51350-e438-47da-a9a0-a7e280ddc1ae","leftValue":"={{ $('Чтение промта').first().json.json.mimeType }}","rightValue":"officedocument","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"docx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Чтение промта').first().json.json.mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"},"id":"c9a71881-28aa-4b27-9225-ac6a5c903649"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-208,80],"id":"bc93da3d-3102-4c03-86c2-63fb8e0fbfe2","name":"Switch5"},{"parameters":{"inputBinaryField":"={{ $('Move Binary Data2').first().binary.data }}"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[0,0],"id":"2dd13531-a566-419a-bf41-f19e4808179f","name":"DOCX to Text1"},{"parameters":{"operation":"text","binaryPropertyName":"={{ $('Move Binary Data2').first().binary.data }}","destinationKey":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[0,176],"id":"31cc73e2-696a-43ab-81f0-4cbaf7575bf1","name":"Extract from text File1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,96],"id":"2a483084-de22-4276-b1bc-e25d63215821","name":"Merge"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Файл промта считан в память","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,96],"id":"dc155ab4-d3ac-4f2d-abb8-3c9c507b7cf9","name":"to log6","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"options":{"dataIsBase64":true,"encoding":"utf8","fileName":"={{ $json.json.fileName }}","mimeType":"={{ $json.json.mimeType }}"}},"id":"fca183e0-6419-4cf7-b6b1-b13eea7a4b13","name":"Move Binary Data2","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-384,80]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  encode(post_prod, 'base64') AS data,\n  post_prod_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"4ba3b24e-e7ec-47c7-9ba7-1ab85c346a27","name":"Чтение промта","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[-560,80],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"},{"name":"book_prompt"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-912,80],"id":"13f36a33-aabe-4e76-a542-cb0b0af4adec","name":"Start Workflow"}],"connections":{"to log5":{"main":[[{"node":"Чтение промта","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"DOCX to Text1","type":"main","index":0}],[{"node":"Extract from text File1","type":"main","index":0}]]},"DOCX to Text1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extract from text File1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"to log6","type":"main","index":0}]]},"to log6":{"main":[[{"node":"Запись промта в БД","type":"main","index":0}]]},"Move Binary Data2":{"main":[[{"node":"Switch5","type":"main","index":0}]]},"Чтение промта":{"main":[[{"node":"Move Binary Data2","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log5","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":40}}]},"versionId":"3eaa03a5-2758-4727-a18b-2d82fee3f64e","activeVersionId":"3eaa03a5-2758-4727-a18b-2d82fee3f64e","versionCounter":41,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T15:38:04.356Z","createdAt":"2026-04-04T15:38:04.356Z","role":"workflow:owner","workflowId":"FuVQL0O5ik3aocbx","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 3eaa03a5","description":""}}]
