workflows/____________________Telegram.json
[{"updatedAt":"2026-04-04T05:21:32.883Z","createdAt":"2026-04-04T04:38:41.849Z","id":"sv73wrV6anQE7cTv","name":"Переведенный файл в Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"UPDATE \n    telegram_messages\n  SET\n    is_translate = TRUE\n  WHERE \n  id = $1","options":{"queryReplacement":"={{ $json.translate_file.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-16],"id":"ff753ab9-fda3-4840-9f0c-168ea4999c6b","name":"Выставим флаг о завершении перевода","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-448,-16],"id":"6b20ca18-75b1-49d9-a07b-95b3f68722f1","name":"Get row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Чанки').all()) {\n  text += item.json.result_text + '\\n\\n';\n}\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-16],"id":"11dc1ee0-c9dc-4ae4-abe1-44be9899ba16","name":"Собираем переведенные чанки в единый текст1"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8","fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[112,-16],"id":"29179bf1-5dbf-4b96-80a9-aae30fc5426e","name":"Convert to File1","executeOnce":true},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Get row(s)').first().json.chat_id }}","binaryData":true,"additionalFields":{"fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,-16],"id":"e2664829-65da-446a-b652-b8721919dbd4","name":"Send a document","webhookId":"edd04996-850a-4287-9493-f929669bdee5","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-912,-16],"id":"624a6b66-c71b-440b-a327-14c1a27bfa64","name":"Start Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    job_current c, \n    document_jobs j \n  WHERE \n    j.id = c.job_id \n  LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,-16],"id":"1906e9c4-e0dc-4426-abc1-d2860df02341","name":"Текущий перевод","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chunks \n  WHERE \n    job_id = {{ $json.job_id }}\n  ORDER BY \n    chunk_index","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-608,-16],"id":"736a7c37-2596-4a51-9bbd-c565fb7c55a1","name":"Чанки","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f66fc6f1-641a-49f6-8983-cdec1b7d6d7f","name":"translated_file","value":"={{ $json.result.document.file_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-16],"id":"abc87214-11cf-4852-aa82-9a25ca2b6a29","name":"return"}],"connections":{"Выставим флаг о завершении перевода":{"main":[[{"node":"Собираем переведенные чанки в единый текст1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Выставим флаг о завершении перевода","type":"main","index":0}]]},"Собираем переведенные чанки в единый текст1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Текущий перевод","type":"main","index":0}]]},"Текущий перевод":{"main":[[{"node":"Чанки","type":"main","index":0}]]},"Чанки":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Send a document":{"main":[[{"node":"return","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":38}}]},"versionId":"9a949fd3-504d-4874-b314-5c18a40f57ec","activeVersionId":"9a949fd3-504d-4874-b314-5c18a40f57ec","versionCounter":48,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T04:38:41.849Z","createdAt":"2026-04-04T04:38:41.849Z","role":"workflow:owner","workflowId":"sv73wrV6anQE7cTv","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 9a949fd3","description":""}}]
