workflows/____________________Google_Drive.json
[{"updatedAt":"2026-04-05T04:44:13.313Z","createdAt":"2026-04-01T03:15:43.481Z","id":"KebWQcS1WmNtgdgA","name":"Переведенный файл в Google Drive","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-544,208],"id":"3b88de41-141f-4de7-bf29-a5a53d139a00","name":"Convert to File","executeOnce":true},{"parameters":{"name":"=translate_{{ $('Собираем переведенные чанки в единый текст').first().json.path }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-368,208],"id":"804e0b07-19a4-4d1c-8e04-d0d0641444d3","name":"Upload file","executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,208],"id":"b5f2b18d-d983-45fc-bf18-5404ce74b730","name":"Share folder translate_","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Чанки').all()) {\n  text += item.json.result_text + '\\n\\n';\n}\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,208],"id":"919c1096-08af-46bf-b895-012f825ac228","name":"Собираем переведенные чанки в единый текст"},{"parameters":{"jsCode":"const folder = `${$('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")}_(${DateTime.now().toFormat('dd_MM_yyyy__hh_mm_ss')})`;\nreturn { folder }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,0],"id":"90983137-c3ee-4a50-ac56-9f8da7f3c844","name":"Имя папки"},{"parameters":{"resource":"folder","name":"={{ $json.folder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,0],"id":"167935e8-9de7-4504-947d-969e143d44eb","name":"Create folder","executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"ecee34b9-98fe-4255-98ab-b1f1656b3cc5","name":"Share folder","executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-864,0],"id":"3ea21791-d87a-4c8a-be28-b1c4d63adc6c","name":"Start Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    job_current c, \n    document_jobs j \n  WHERE \n    j.id = c.job_id \n  LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,0],"id":"635ccbc1-de0a-4900-afbb-e445b4142a2f","name":"Текущий перевод","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chunks \n  WHERE \n    job_id = {{ $json.job_id }}\n  ORDER BY \n    chunk_index","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,0],"id":"0ede053c-ae25-4945-9f00-3393948ed7b8","name":"Чанки","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"809417ed-4b47-4258-a79b-7a216fb672df","name":"id","value":"={{ $('Upload file').item.json.id }}","type":"string"},{"id":"5c4238f5-0c75-40b1-a8b0-ee83d4aaeec9","name":"webViewLink","value":"={{ $('Upload file').item.json.webViewLink }}","type":"string"},{"id":"1d3d04a0-491a-4c86-969a-764b89bc4137","name":"name","value":"={{ $('Upload file').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,208],"id":"efc39b11-fd3d-4a2a-9ebd-5cc4585694c4","name":"Edit Fields"}],"connections":{"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share folder translate_","type":"main","index":0}]]},"Собираем переведенные чанки в единый текст":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Имя папки":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Share folder","type":"main","index":0}]]},"Share folder":{"main":[[{"node":"Собираем переведенные чанки в единый текст","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Текущий перевод","type":"main","index":0}]]},"Текущий перевод":{"main":[[{"node":"Чанки","type":"main","index":0}]]},"Чанки":{"main":[[{"node":"Имя папки","type":"main","index":0}]]},"Share folder translate_":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"job_id":38}}]},"versionId":"42750c8a-238b-459b-9c13-8ffa65247958","activeVersionId":"42750c8a-238b-459b-9c13-8ffa65247958","versionCounter":160,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-01T03:15:43.481Z","createdAt":"2026-04-01T03:15:43.481Z","role":"workflow:owner","workflowId":"KebWQcS1WmNtgdgA","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 42750c8a","description":""}}]
