workflows/_____________.json
[{"updatedAt":"2026-04-11T09:48:59.052Z","createdAt":"2026-04-04T18:08:57.765Z","id":"A8zKJVQgROH1cnkv","name":"Постредактура","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"ko_text"},{"name":"ru_text"},{"name":"glossary"},{"name":"rag"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-640,0],"id":"772d9b32-ddd1-4d7d-ac85-8800104dcce8","name":"Start Workflow"},{"parameters":{"jsCode":"let UserPrompt = '';\nlet SystemPrompt = '';\n\n// User prompt\nUserPrompt += `Ниже представлены два варианта текста для работы. Твоя цель — улучшить ЧЕРНОВОЙ ПЕРЕВОД, опираясь на ОРИГИНАЛ.\n\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\n---\n${$('Start Workflow').first().json.ko_text}\n---\n\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\n---\n${$('Start Workflow').first().json.ru_text}\n---\n\n### ДОПОЛНИТЕЛЬНЫЕ УКАЗАНИЯ ДЛЯ ЭТОГО ОТРЕЗКА:\n1. Сверься с Глоссарием и RAG-справкой из системного промпта.\n2. Особое внимание удели передаче атмосферы и точности буддийских терминов.\n3. Проверь, чтобы все местоимения (он/она) соответствовали полу персонажей.\n\nПожалуйста, выдай финальный литературный текст.\n`;\n\n//System Prompt\nSystemPrompt += $('Чтение промтов').all().find(item => item.json.name === 'PP Default')?.json?.prompt || '';\n\nlet glossary_text = $('Start Workflow').first().json.glossary || '';\nSystemPrompt = SystemPrompt.replace('{{GLOSSARY}}', glossary_text)\n\nlet light_rag = '';\nif (!$('Start Workflow').first().json.rag.includes('[no-context]')) {\n  light_rag = `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nБАЗА ЗНАНИЙ — данные из RAG\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n${$('Start Workflow').first().json.rag}\n  `;\n}\nSystemPrompt = SystemPrompt.replace('{{LIGHT_RAG}}', light_rag)\n\nreturn { UserPrompt, SystemPrompt };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,0],"id":"ffb76207-f6b1-4414-830e-b84268dc96d0","name":"Формирование промтов для перевода"},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}\n","needsFallback":true,"options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-128,0],"id":"0c57125a-e633-4ce7-a24a-49c5d5b5b664","name":"Перевод чанка","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"translate_prompts","mode":"list","cachedResultName":"translate_prompts"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,0],"id":"cf2dd9b8-641e-4fb4-995d-7e15bad681c8","name":"Чтение промтов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-5.2-chat","mode":"list","cachedResultName":"openai/gpt-5.2-chat"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-32,256],"id":"72c34264-d8ac-41f3-a001-665ce2beb717","name":"GPT 5.3 from Polza","credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-208,256],"id":"5eda1bf6-9552-4c96-b93c-e7c77f835dc0","name":"GPT-5.2 from Neuro","credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"description":"Обязательный инструмент для проверки итогового текста. Ищет корейские и английские символы, а также запрещенные тире в середине предложений. Возвращает ошибки или \"OK\".\n","jsCode":"// Скрипт для n8n Custom Code Tool (v2.12+)\n// Доступ к данным через переменную \"query\"\nconsole.log(query )\nconst text = query; \nlet issues = [];\n\n// 1. Проверка на корейские иероглифы\nconst koreanRegex = /[\\uac00-\\ud7af\\u1100-\\u11ff\\u3130-\\u318f\\ua960-\\ua97f\\ud7b0-\\ud7ff]/g;\nconst koreanMatches = text.match(koreanRegex);\nif (koreanMatches) {\n    issues.push(`Корейские символы: ${koreanMatches.length} шт.`);\n}\n\n// 2. Проверка на английские буквы\nconst englishRegex = /[a-zA-Z]/g;\nconst englishMatches = text.match(englishRegex);\nif (englishMatches) {\n    issues.push(`Английские буквы: ${englishMatches.length} шт.`);\n}\n\n// 3. Проверка на тире в середине предложений\nconst lines = text.split('\\n');\nlines.forEach((line, index) => {\n    const trimmed = line.trim();\n    if (trimmed.length > 1 && trimmed.slice(1).match(/[—–-]/)) {\n        issues.push(`Линия ${index + 1}: запрещенное тире.`);\n    }\n});\n\nif (issues.length === 0) {\n    return \"ВЕРДИКТ: OK. Техническая проверка пройдена.\";\n} else {\n    return \"ВЕРДИКТ: ОШИБКА! \" + issues.join(\" | \") + \". Исправь текст.\";\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[128,256],"id":"2658312b-c8dc-4b79-984b-143a40476855","name":"text_validator"},{"parameters":{"description":"Проверяет, что для терминов из глоссария добавлены пояснения в скобках. Формат ввода: 'Термин1, Термин2 | Текст'. Сообщает, если скобки пропущены.","jsCode":"// Скрипт для n8n Custom Code Tool (v2.12+)\n// Доступ к данным через переменную \"query\"\n\nconst inputStr = query;\nconst parts = inputStr.split('|');\nif (parts.length < 2) {\n    return \"ОШИБКА ФОРМАТА: Используй 'Термин1, Термин2 | Весь текст'\";\n}\n\nconst terms = parts[0].split(',').map(t => t.trim());\nconst text = parts[1];\nlet missing = [];\n\nterms.forEach(term => {\n    if (!term) return;\n    const escapedTerm = term.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const pattern = new RegExp(`${escapedTerm}\\\\s*\\\\([^)]+\\\\)`, 'i');\n    if (!pattern.test(text)) {\n        missing.push(term);\n    }\n});\n\nif (missing.length === 0) {\n    return \"ВЕРДИКТ: OK. Все пояснения найдены.\";\n} else {\n    return \"ВЕРДИКТ: ОШИБКА! Добавь пояснения в скобках для: \" + missing.join(', ');\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[304,256],"id":"a8fef615-2f04-4fa7-934a-027d9b278bdf","name":"parentheses_checker"},{"parameters":{"descriptionType":"manual","toolDescription":"Инструмент для поиска стилистически запрещенных слов (например: опёрся, тогдашний, мол, является). Проверяет текст по базе данных и выдает рекомендации по замене на литературные синонимы. На вход принимает весь текст.\n","operation":"executeQuery","query":"SELECT bad_word, replacement \nFROM style_replacements \nWHERE $1 ILIKE '%' || bad_word || '%';\n","options":{"queryReplacement":"={{ $fromAI(\"input\") }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[496,256],"id":"1e6e528c-9e64-4c1f-97b9-468b9d57908e","name":"check_forbidden_words","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}}],"connections":{"Start Workflow":{"main":[[{"node":"Чтение промтов","type":"main","index":0}]]},"Формирование промтов для перевода":{"main":[[{"node":"Перевод чанка","type":"main","index":0}]]},"Чтение промтов":{"main":[[{"node":"Формирование промтов для перевода","type":"main","index":0}]]},"GPT 5.3 from Polza":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":1}]]},"GPT-5.2 from Neuro":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":0}]]},"text_validator":{"ai_tool":[[{"node":"Перевод чанка","type":"ai_tool","index":0}]]},"parentheses_checker":{"ai_tool":[[{"node":"Перевод чанка","type":"ai_tool","index":0}]]},"check_forbidden_words":{"ai_tool":[[{"node":"Перевод чанка","type":"ai_tool","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataErrorExecution":"all","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"ko_text":"04.\n\n\"두루 빛을 비추시는 존재를 생각하며....\"\n\n총본산 대법 당에서는 특별 법회가 한창이었다.\n\n\"안으로는 진여법계를 비추고, 밖으로는 모든 중생에게 법성을 비추어....\"\n\n신주는 대종사의 발원문 소리를 한 귀로 듣고 흘리며, 지난 일을 회상했다.\n\n아버지에 대한 가장 오래된 기억은, 제게 절을 하던 모습이었다.\n\n법당 측면의 제일 끝에 선 그는 비스듬한 대각선 방향, 대종사가 선 단상을 응시했다.\n\n전대 중부지회주 우국헌은 바로 저 앞에서 어린 그에게 무릎을 꿇었다.\n\n바즈라닥시나이시자, 바즈라바마이시자, 광명의 화신이시여....\n\n\".......\"\n\n마음이 차분하게 가라앉았다.\n\n그러고 보면, 이런 시간을 갖는 것도 오랜만이었다.\n\n교구의 소속일 뿐, 종과는 거리를 두는 그는 공식 석상에 거의 불참석했다. 종 또한 예언의 아이를 최대한 감 추는 방식으로 굴러갔다. 그건 예전부터 그를 통해 여러 일을 도모하고자 했던 원로회와 그의 의견이 단번에 일치한 유일한 사안이었다.\n\n특히 초하루법회, 일요법회 등 일반 교구의 신도들이 참석하는 자리에서는 그의 존재를 철저히 배제했다. 그 가 참석하는 법회라곤 지금처럼 종사들과 일부 승려들이 모여 치르는 특별 법회가 전부였다.\n\n","ru_text":"04.\n\n— Помышляя о сущем, что озаряет повсюду светом....\n\nВ Великом зале Дхармы главного монастыря ордена как раз шла специальная служба.\n\n— Внутри озаряя мир истинной таковости (абсолютную реальность), вовне озаряя природу Дхармы (истинную сущность закона) всем живым существам....\n\nСинджу слушал одним ухом и пропускал мимо ушей голос Великого патриарха, читающего текст обета, вспоминая прошлое.\n\nСамое раннее воспоминание об отце — это его фигура, кланяющаяся ему.\n\nСтоя в самом конце боковой стороны зала Дхармы, он смотрел по косой диагонали на возвышение, где стоял Великий патриарх.\n\nПредыдущий глава центрального отделения Угукхон прямо там, впереди, опустился перед ним, ещё ребёнком, на колени.\n\nВаджра-дакшинайши, Ваджра-вамайши, о воплощение света....\n\n— .......\n\nСердце спокойно осело.\n\nЕсли подумать, такие мгновения выпадали ему нечасто.\n\nОн лишь числился при епархии, но держался в стороне от ордена и почти не появлялся на официальных мероприятиях. Сам орден также действовал так, чтобы по возможности скрывать ребёнка пророчества. Это был единственный вопрос, в котором его мнение и мнение совета старейшин, издавна пытавшихся через него осуществить разные замыслы, совпали сразу.\n\nОсобенно на службах первого дня месяца, на воскресных службах и прочих собраниях, где присутствовали обычные верующие епархии, его существование тщательно исключали. Единственные службы, на которых он присутствовал, были лишь такие специальные службы, как нынешняя, где собирались наставники ордена и некоторые монахи.","glossary":"━━━━━━━━━━━━━━━━━━━━━━━━━━━\nГЛОССАРИЙ — ИСТОЧНИК ИСТИНЫ\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n우신주 = У Синджу (gender: male).\n허정윤 = Хо Чонюн (gender: male).\n고봉춘 = Ко Бончун (gender: male).\n김도우 = Ким Доу.\n기녹연 = Ки Нокён.\n사천왕문 = ворота Четырёх небесных царей.\n도련님 = молодой господин.\n영안 = духовное зрение.\n귀신 = дух.\n만월당 = зал полной луны.\n무당 = шаманка.\n박수 = шаман паксу.\n만신 = великая шаманка.\n범아종 = Бомаджон (gender: male).","rag":"- Дачон: мужской, он является основным персонажем и представляет собой духовное существо, отражающее мудрость и сострадание.\n- Укок Хон: мужской, участвует в обрядах и является соперником Дачона в некоторых аспектах, проявляя стремление к знаний и самосовершенствованию.\n- Храм: место, где проходят особые церемонии, такая как специальная служба, отражающая духовную практику и взаимодействие между персонажами."}}]},"versionId":"74da4841-fa0c-435b-b947-95067d43f6d9","activeVersionId":"74da4841-fa0c-435b-b947-95067d43f6d9","versionCounter":295,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T18:08:57.765Z","createdAt":"2026-04-04T18:08:57.765Z","role":"workflow:owner","workflowId":"A8zKJVQgROH1cnkv","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 74da4841","description":""}}]
