workflows/________.json
[{"updatedAt":"2026-04-09T05:21:42.650Z","createdAt":"2026-04-04T05:32:29.369Z","id":"2kztTVutdATd1MDS","name":"Анотация","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,-16],"id":"26985294-d91c-4893-afc0-9d72aafdf505","name":"Start Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"summary"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-352,-16],"id":"a58b482a-0543-4972-b3cd-ae6f923ae42e","name":"Summary book"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,288],"id":"3e6ab845-3001-4969-8e0c-56b78ccc0312","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"promptType":"define","text":"=### ОПИСАНИЕ ИЗ БАЗЫ ЗНАНИЙ:\n{{ $json.response }}\n---------------------------------------\nСоставь на основе этих данных финальный промпт для Flux.\nСтиль обложки: manhwa\n---------------------------------------","options":{"systemMessage":"Ты — профессиональный арт-директор и эксперт по промпт-инжинирингу для современных нейросетей (Flux, Midjourney). \nТвоя задача: на основе предоставленного описания персонажей и сюжета из базы знаний составить один идеальный, детализированный промпт на АНГЛИЙСКОМ языке для генерации обложки новеллы.\n\nПРАВИЛА СОСТАВЛЕНИЯ:\n1. Выходной промпт должен быть только на английском языке.\n2. Обязательно опиши: \n  - Главного героя (внешность, одежда, поза).\n  - Его магию или ключевое оружие (из описания RAG).\n  - Задний план (ключевая локация).\n  - Атмосферу (эпичность, мрак, свет, мистика).\n3. Добавь технические теги для качества: \"professional digital illustration, manhwa style, highly detailed, cinematic lighting, masterpiece\".\n4. Формат ответа: выдай ТОЛЬКО текст промпта, без вводных фраз.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-144,-16],"id":"c211a2ea-d3d1-49e4-b74e-711c2bb0c644","name":"Генерация промта для картинки"},{"parameters":{"method":"POST","url":"https://polza.ai/api/v1/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT "},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"black-forest-labs/flux.2-pro\",\n    \"input\": {\n      \"prompt\": \"{{ $json.output.replaceAll('\"', '\\'') }}\",\n      \"aspect_ratio\": \"16:9\",\n      \"image_resolution\": \"1K\", \n\"output_format\": \"png\",\n\"images\": []\n    }\n  } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,-16],"id":"8984f002-2206-4f85-ad50-5e1048a01f9a","name":"Генерация обложки"},{"parameters":{"promptType":"define","text":"=ДАННЫЕ О КНИГЕ ИЗ БАЗЫ ЗНАНИЙ:\n{{ $('Summary book').first().json.response }}\n-------------\nНа основе этих данных составь пост по правилам из системного промпта.\n","messages":{"messageValues":[{"message":"=Ты — эксперт по вирусному маркетингу и продвижению веб-новелл. \nТвоя задача: на основе данных из базы знаний (RAG) составить захватывающий рекламный пост для Telegram для русскоязычных читателей.\n\nПРАВИЛА ОФОРМЛЕНИЯ:\n1. КЛИКБЕЙТ: Придумай вариант взрывного заголовка. Используй капс, интригу и обещание силы/тайны.\n2. АННОТАЦИЯ: Напиши краткий, интригующий текст (3-4 предложения). Фокусируйся на конфликте героя (внутреннем и внешнем) и опасности мира. Язык должен быть живым, \"литературным\", но       современным.\n3. ЭМОДЗИ: Используй их умеренно, для акцентов.\n4. ХЕШТЕГИ: Добавь 5-7 штук в конце.\n\nФОРМАТ ВЫВОДА (СТРОГО):\n🔥 [Лучший заголовок]\n---\n📖 [Интригующая аннотация]\n---\n#Хештеги"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[368,-16],"id":"ae1838fa-5ad1-4ff8-ae15-ed133c77f5f9","name":"Basic LLM Chain"},{"parameters":{"assignments":{"assignments":[{"id":"9f59e9e1-07ab-4296-99af-2ffcc1c21b06","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"d714c3c0-09ae-4f0d-98a7-7197de94055b","name":"data[0].url","value":"={{ $('Генерация обложки').item.json.data[0].url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-16],"id":"1f6787c2-463f-4e9d-aa6c-98b5acc04ac1","name":"return"}],"connections":{"Start Workflow":{"main":[[{"node":"Summary book","type":"main","index":0}]]},"Summary book":{"main":[[{"node":"Генерация промта для картинки","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Генерация промта для картинки","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Генерация промта для картинки":{"main":[[{"node":"Генерация обложки","type":"main","index":0}]]},"Генерация обложки":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"return","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b94ab61-a918-4151-ab17-23e2605b0237","activeVersionId":"3b94ab61-a918-4151-ab17-23e2605b0237","versionCounter":326,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T05:32:29.369Z","createdAt":"2026-04-04T05:32:29.369Z","role":"workflow:owner","workflowId":"2kztTVutdATd1MDS","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 3b94ab61","description":""}}]
