workflows/_AI_Agent__Annotator.json
[{"updatedAt":"2026-04-14T03:20:31.027Z","createdAt":"2026-04-12T20:58:49.542Z","id":"AI-Annotator-001","name":"[AI Agent] Annotator","description":null,"active":false,"isArchived":true,"nodes":[{"id":"at-trig","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,0],"parameters":{"workflowInputs":{"values":[{"name":"book_summary","type":"string"},{"name":"task","type":"string"},{"name":"model_mode","type":"string","defaultValue":"production"},{"name":"job_id","type":"string"}]}}},{"id":"sw-1","name":"Switch by model_mode","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,0],"parameters":{"rules":{"values":[{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"production","operator":{"type":"string","operation":"equals"}}]}}},{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"e2e-test","operator":{"type":"string","operation":"equals"}}]}}}]},"options":{}}},{"id":"at-ap","name":"Agent (production)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-280,-200],"parameters":{"promptType":"define","text":"=Данные о книге: {{ $('Start').first().json.book_summary }}\nЗадача: {{ $('Start').first().json.task }}\nСоставь результат по правилам из системного промпта.","needsFallback":false,"options":{"systemMessage":"Ты — эксперт по маркетингу веб-новелл. Составь рекламный пост для Telegram или промпт для генерации обложки."}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"at-ae","name":"Agent (e2e-test)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-280,200],"parameters":{"promptType":"define","text":"=Данные о книге: {{ $('Start').first().json.book_summary }}\nЗадача: {{ $('Start').first().json.task }}","needsFallback":false,"options":{"systemMessage":"Ты — эксперт по маркетингу. Составь рекламный пост или промпт для обложки.","maxTokens":2048,"temperature":0.5}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"mg-1","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[0,0],"parameters":{"mode":"chooseBranch","options":{}}},{"id":"out-1","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"return $input.all();"}},{"id":"llm-OpenAI(Polza)","name":"OpenAI (Polza)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-280,50],"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"id":"llm-Ollamallama3.2:3b","name":"Ollama llama3.2:3b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-260,450],"parameters":{"model":{"__rl":true,"value":"llama3.2:3b","mode":"list","cachedResultName":"llama3.2:3b"},"options":{}},"credentials":{"openAiApi":{"id":"JD2Nq8h0kULY7Ly3","name":"Ollama"}}}],"connections":{"Start":{"main":[[{"node":"Switch by model_mode","type":"main","index":0}]]},"Switch by model_mode":{"main":[[{"node":"Agent (production)","type":"main","index":0}],[{"node":"Agent (e2e-test)","type":"main","index":0}]]},"Agent (production)":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Agent (e2e-test)":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"OpenAI (Polza)":{"ai_languageModel":[[{"node":"Agent (production)","type":"ai_languageModel","index":0}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"Agent (e2e-test)","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"ccb31ac9-fc29-4413-a2c4-5b8a7420eab7","activeVersionId":null,"versionCounter":6,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T20:58:49.542Z","createdAt":"2026-04-12T20:58:49.542Z","role":"workflow:owner","workflowId":"AI-Annotator-001","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
