workflows/_AI_Agent__Posteditor.json
[{"updatedAt":"2026-04-14T03:20:23.813Z","createdAt":"2026-04-12T20:58:40.846Z","id":"AI-Posteditor-001","name":"[AI Agent] Posteditor","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"ko_text"},{"name":"ru_text"},{"name":"glossary"},{"name":"rag"},{"name":"model_mode"},{"name":"job_id"}]}},"id":"pe-trig","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,96]},{"parameters":{"rules":{"values":[{},{}]},"options":{}},"id":"sw-1","name":"Switch by model_mode","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,96]},{"parameters":{"jsCode":"const ko = $('Start').first().json.ko_text || '';\nconst ru = $('Start').first().json.ru_text || '';\nconst glossary = $('Start').first().json.glossary || '';\nconst rag = $('Start').first().json.rag || '';\nlet UserPrompt = '';\nlet SystemPrompt = '';\nUserPrompt += `Ниже представлены два варианта текста для работы. Твоя цель — улучшить ЧЕРНОВОЙ ПЕРЕВОД, опираясь на ОРИГИНАЛ.\\n\\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\\n---\\n${ko}\\n---\\n\\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\\n---\\n${ru}\\n---\\n\\n### ДОПОЛНИТЕЛЬНЫЕ УКАЗАНИЯ:\\n1. Сверься с Глоссарием и RAG-справкой из системного промпта.\\n2. Особое внимание удели передаче атмосферы и точности терминов.\\n3. Проверь, чтобы местоимения соответствовали полу персонажей.\\n\\nПожалуйста, выдай финальный литературный текст.\\n`;\nSystemPrompt = 'Ты — профессиональный литературный переводчик с корейского на русский.';\nSystemPrompt = SystemPrompt.replace('__GLOSSARY__', glossary);\nlet light_rag = '';\nif (rag && !rag.includes('[no-context]')) { light_rag = '\\nБАЗА ЗНАНИЙ — данные из RAG\\n' + rag; }\nSystemPrompt = SystemPrompt.replace('__LIGHT_RAG__', light_rag);\nreturn [{ json: { UserPrompt, SystemPrompt } }];"},"id":"pe-cp","name":"Form Prompts (prod)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-104]},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}","needsFallback":true,"options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"id":"pe-ap","name":"Agent (production)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-128,-208],"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const ko = $('Start').first().json.ko_text || '';\nconst ru = $('Start').first().json.ru_text || '';\nconst glossary = $('Start').first().json.glossary || '';\nconst rag = $('Start').first().json.rag || '';\nlet UserPrompt = '';\nlet SystemPrompt = '';\nUserPrompt += `Улучши черновой перевод, опираясь на оригинал.\\n\\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\\n---\\n${ko}\\n---\\n\\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\\n---\\n${ru}\\n---\\n\\nВыдай финальный литературный текст.\\n`;\nSystemPrompt = 'Ты — переводчик с корейского на русский. Глоссарий: ' + (glossary || 'нет') + '. Контекст RAG: ' + (rag || 'нет') + '.';\nreturn [{ json: { UserPrompt, SystemPrompt } }];"},"id":"pe-ce","name":"Form Prompts (e2e)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,296]},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}","options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"id":"pe-ae","name":"Agent (e2e-test)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-128,296],"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"mode":"chooseBranch"},"id":"mg-1","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,96]},{"parameters":{"jsCode":"return $input.all();"},"id":"out-1","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,96]},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"id":"llm-GPT-5.2(Neuro)","name":"GPT-5.2 (Neuro)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-120,16],"credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-5.3-chat","mode":"list","cachedResultName":"openai/gpt-5.3-chat"},"builtInTools":{},"options":{}},"id":"llm-GPT-5.3(Polza)","name":"GPT-5.3 (Polza)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[8,16],"credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"parameters":{"model":{"__rl":true,"value":"llama3.2:3b","mode":"list","cachedResultName":"llama3.2:3b"},"builtInTools":{},"options":{}},"id":"llm-Ollamallama3.2:3b","name":"Ollama llama3.2:3b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-56,520],"credentials":{"openAiApi":{"id":"JD2Nq8h0kULY7Ly3","name":"Ollama"}}}],"connections":{"Start":{"main":[[{"node":"Switch by model_mode","type":"main","index":0}]]},"Switch by model_mode":{"main":[[{"node":"Form Prompts (prod)","type":"main","index":0}],[{"node":"Form Prompts (e2e)","type":"main","index":0}]]},"Form Prompts (prod)":{"main":[[{"node":"Agent (production)","type":"main","index":0}]]},"Form Prompts (e2e)":{"main":[[{"node":"Agent (e2e-test)","type":"main","index":0}]]},"Agent (production)":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Agent (e2e-test)":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"GPT-5.2 (Neuro)":{"ai_languageModel":[[{"node":"Agent (production)","type":"ai_languageModel","index":0}]]},"GPT-5.3 (Polza)":{"ai_languageModel":[[{"node":"Agent (production)","type":"ai_languageModel","index":1}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"Agent (e2e-test)","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"10007e72-dfe2-4b81-99a4-4a5bdd24c5be","activeVersionId":null,"versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T20:58:40.846Z","createdAt":"2026-04-12T20:58:40.846Z","role":"workflow:owner","workflowId":"AI-Posteditor-001","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
