workflows/_AI_Gateway_______________.json
[{"updatedAt":"2026-04-14T03:20:27.814Z","createdAt":"2026-04-12T21:41:47.363Z","id":"hEpoxxKCyMX5D8Kj","name":"[AI Gateway] Постредактура","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"ko_text"},{"name":"ru_text"},{"name":"glossary"},{"name":"rag"},{"name":"model_mode"},{"name":"job_id"}]}},"id":"gw-pe-trig","name":"Start Workflow","position":[-640,0],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1},{"parameters":{"rules":{"values":[{},{}]},"options":{}},"id":"gw-pe-switch","name":"Switch: model_mode","position":[-480,0],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"translate_prompts"},"returnAll":true,"options":{}},"id":"gw-pe-read-prompts","name":"Чтение промтов","position":[-304,0],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let UserPrompt = '';\nlet SystemPrompt = '';\n\n// User prompt\nUserPrompt += `Ниже представлены два варианта текста для работы. Твоя цель — улучшить ЧЕРНОВОЙ ПЕРЕВОД, опираясь на ОРИГИНАЛ.\n\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\n---\n${$('Start Workflow').first().json.ko_text}\n---\n\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\n---\n${$('Start Workflow').first().json.ru_text}\n---\n\n### ДОПОЛНИТЕЛЬНЫЕ УКАЗАНИЯ ДЛЯ ЭТОГО ОТРЕЗКА:\n1. Сверься с Глоссарием и RAG-справкой из системного промпта.\n2. Особое внимание удели передаче атмосферы и точности буддийских терминов.\n3. Проверь, чтобы все местоимения (он/она) соответствовали полу персонажей.\n\nПожалуйста, выдай финальный литературный текст.\n`;\n\n//System Prompt\nSystemPrompt += $('Чтение промтов').all().find(item => item.json.name === 'PP Default')?.json?.prompt || '';\n\nlet glossary_text = $('Start Workflow').first().json.glossary || '';\nSystemPrompt = SystemPrompt.replace('{{GLOSSARY}}', glossary_text)\n\nlet light_rag = '';\nif (!$('Start Workflow').first().json.rag.includes('[no-context]')) {\n  light_rag = `\\nБАЗА ЗНАНИЙ — данные из RAG\\n${$('Start Workflow').first().json.rag}\\n  `;\n}\nSystemPrompt = SystemPrompt.replace('{{LIGHT_RAG}}', light_rag)\n\nreturn { UserPrompt, SystemPrompt };"},"id":"gw-pe-form-prompts","name":"Формирование промтов для перевода","position":[-128,0],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}","options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"id":"gw-pe-agent","name":"Постредактура","position":[48,0],"retryOnFail":true,"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1},{"parameters":{"description":"Обязательный инструмент для проверки итогового текста. Ищет корейские и английские символы, а также запрещенные тире в середине предложений. Возвращает ошибки или \"OK\".\n","jsCode":"console.log(query )\nconst text = query; \nlet issues = [];\n\n// 1. Проверка на корейские иероглифы\nconst koreanRegex = /[\\uac00-\\ud7af\\u1100-\\u11ff\\u3130-\\u318f\\ua960-\\ua97f\\ud7b0-\\ud7ff]/g;\nconst koreanMatches = text.match(koreanRegex);\nif (koreanMatches) {\n    issues.push(`Корейские символы: ${koreanMatches.length} шт.`);\n}\n\n// 2. Проверка на английские буквы\nconst englishRegex = /[a-zA-Z]/g;\nconst englishMatches = text.match(englishRegex);\nif (englishMatches) {\n    issues.push(`Английские буквы: ${englishMatches.length} шт.`);\n}\n\n// 3. Проверка на тире в середине предложений\nconst lines = text.split('\\n');\nlines.forEach((line, index) => {\n    const trimmed = line.trim();\n    if (trimmed.length > 1 && trimmed.slice(1).match(/[—–-]/)) {\n        issues.push(`Линия ${index + 1}: запрещенное тире.`);\n    }\n});\n\nif (issues.length === 0) {\n    return \"ВЕРДИКТ: OK. Техническая проверка пройдена.\";\n} else {\n    return \"ВЕРДИКТ: ОШИБКА! \" + issues.join(\" | \") + \". Исправь текст.\";\n}"},"id":"gw-pe-tool-validator","name":"text_validator","position":[256,256],"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3},{"parameters":{"description":"Проверяет, что для терминов из глоссария добавлены пояснения в скобках. Формат ввода: 'Термин1, Термин2 | Текст'. Сообщает, если скобки пропущены.","jsCode":"const inputStr = query;\nconst parts = inputStr.split('|');\nif (parts.length < 2) {\n    return \"ОШИБКА ФОРМАТА: Используй 'Термин1, Термин2 | Весь текст'\";\n}\n\nconst terms = parts[0].split(',').map(t => t.trim());\nconst text = parts[1];\nlet missing = [];\n\nterms.forEach(term => {\n    if (!term) return;\n    const escapedTerm = term.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const pattern = new RegExp(`${escapedTerm}\\\\s*\\\\([^)]+\\\\)`, 'i');\n    if (!pattern.test(text)) {\n        missing.push(term);\n    }\n});\n\nif (missing.length === 0) {\n    return \"ВЕРДИКТ: OK. Все пояснения найдены.\";\n} else {\n    return \"ВЕРДИКТ: ОШИБКА! Добавь пояснения в скобках для: \" + missing.join(', ');\n}"},"id":"gw-pe-tool-parens","name":"parentheses_checker","position":[448,256],"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3},{"parameters":{"descriptionType":"manual","toolDescription":"Инструмент для поиска стилистически запрещенных слов (например: опёрся, тогдашний, мол, является). Проверяет текст по базе данных и выдает рекомендации по замене на литературные синонимы. На вход принимает весь текст.\n","operation":"executeQuery","query":"SELECT bad_word, replacement \nFROM style_replacements \nWHERE $1 ILIKE '%' || bad_word || '%';\n","options":{"queryReplacement":"={{ $fromAI(\"input\") }}"}},"id":"gw-pe-tool-forbidden","name":"check_forbidden_words","position":[640,256],"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"id":"gw-pe-neuro","name":"GPT-5.2 from Neuro","position":[-128,256],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"openai/gpt-5.3-chat"},"builtInTools":{},"options":{}},"id":"gw-pe-polza","name":"GPT 5.3 from Polza","position":[48,256],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"parameters":{},"id":"gw-pe-ollama","name":"Ollama llama3.2:3b","position":[-448,768],"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1.3,"credentials":{"ollamaApi":{"id":"UFgRdu0SIGkqO3Iz","name":"Ollama account"}}},{"parameters":{"jsCode":"const ko = $('Start Workflow').first().json.ko_text || '';\nconst ru = $('Start Workflow').first().json.ru_text || '';\nconst glossary = $('Start Workflow').first().json.glossary || '';\nconst rag = $('Start Workflow').first().json.rag || '';\n\nlet UserPrompt = '';\nlet SystemPrompt = '';\n\nUserPrompt += `Улучши черновой перевод, опираясь на оригинал.\n\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\n---\n${ko}\n---\n\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\n---\n${ru}\n---\n\nВыдай финальный литературный текст.\n`;\n\nSystemPrompt = 'Ты — переводчик с корейского на русский. Глоссарий: ' + (glossary || 'нет') + '. Контекст RAG: ' + (rag || 'нет') + '.';\n\nreturn [{ json: { UserPrompt, SystemPrompt } }];"},"id":"gw-pe-form-ollama","name":"Формирование промтов (Ollama)","position":[-640,512],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}","options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"id":"gw-pe-ollama-agent","name":"Постредактура (Ollama)","position":[-480,512],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1},{"parameters":{"mode":"chooseBranch"},"id":"gw-pe-merge","name":"Merge Results","position":[384,128],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"parameters":{"options":{}},"id":"gw-pe-output","name":"Format Output","position":[576,128],"type":"n8n-nodes-base.set","typeVersion":3.4}],"connections":{"GPT 5.3 from Polza":{"ai_languageModel":[[{"node":"Постредактура","type":"ai_languageModel","index":1}]]},"GPT-5.2 from Neuro":{"ai_languageModel":[[{"node":"Постредактура","type":"ai_languageModel","index":0}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"Постредактура (Ollama)","type":"ai_languageModel","index":0}]]},"Start Workflow":{"main":[[{"node":"Switch: model_mode","type":"main","index":0}]]},"Switch: model_mode":{"main":[[{"node":"Чтение промтов","type":"main","index":0}],[{"node":"Формирование промтов (Ollama)","type":"main","index":0}]]},"Чтение промтов":{"main":[[{"node":"Формирование промтов для перевода","type":"main","index":0}]]},"Формирование промтов для перевода":{"main":[[{"node":"Постредактура","type":"main","index":0}]]},"Формирование промтов (Ollama)":{"main":[[{"node":"Постредактура (Ollama)","type":"main","index":0}]]},"Постредактура":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Постредактура (Ollama)":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"check_forbidden_words":{"ai_tool":[[{"node":"Постредактура","type":"ai_tool","index":0}]]},"parentheses_checker":{"ai_tool":[[{"node":"Постредактура","type":"ai_tool","index":0}]]},"text_validator":{"ai_tool":[[{"node":"Постредактура","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"5025b65a-4665-430e-baea-d11da2b68447","activeVersionId":null,"versionCounter":7,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T21:41:47.363Z","createdAt":"2026-04-12T21:41:47.363Z","role":"workflow:owner","workflowId":"hEpoxxKCyMX5D8Kj","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
