workflows/_AI_Agent__ArcAnalyst.json
[{"updatedAt":"2026-04-14T03:20:34.468Z","createdAt":"2026-04-12T20:58:45.134Z","id":"AI-ArcAnalyst-001","name":"[AI Agent] ArcAnalyst","description":null,"active":false,"isArchived":true,"nodes":[{"id":"a-trig","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,0],"parameters":{"workflowInputs":{"values":[{"name":"text","type":"string"},{"name":"current_arc_summary","type":"string"},{"name":"task","type":"string"},{"name":"model_mode","type":"string","defaultValue":"production"},{"name":"job_id","type":"string"}]}}},{"id":"sw-1","name":"Switch by model_mode","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,0],"parameters":{"rules":{"values":[{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"production","operator":{"type":"string","operation":"equals"}}]}}},{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"e2e-test","operator":{"type":"string","operation":"equals"}}]}}}]},"options":{}}},{"id":"ie-p","name":"Production","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-280,-200],"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\"arc_summary_rolling\": \"...\", \"main_conflict\": \"...\", \"goals\": [\"...\"], \"key_changes\": [\"...\"], \"open_threads\": [\"...\"]}","options":{"systemPromptTemplate":"Обнови Rolling Summary текущей арки. Верни JSON: arc_summary_rolling, main_conflict, goals, key_changes, open_threads."}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"ag-e","name":"E2E Test","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-280,200],"parameters":{"promptType":"define","text":"={{ $json.text }}","needsFallback":false,"options":{"systemMessage":"Проанализируй текст арки. Верни JSON: arc_summary_rolling, main_conflict, goals, key_changes, open_threads.","maxTokens":4096,"temperature":0.2}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"mg-1","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[0,0],"parameters":{"mode":"chooseBranch","options":{}}},{"id":"out-1","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"return $input.all();"}},{"id":"llm-Gemini(Polza)","name":"Gemini (Polza)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-280,50],"parameters":{"model":{"__rl":true,"value":"google/gemini-2.5-flash-lite","mode":"list","cachedResultName":"google/gemini-2.5-flash-lite"},"options":{}},"credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"id":"llm-Ollamallama3.2:3b","name":"Ollama llama3.2:3b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-260,450],"parameters":{"model":{"__rl":true,"value":"llama3.2:3b","mode":"list","cachedResultName":"llama3.2:3b"},"options":{}},"credentials":{"openAiApi":{"id":"JD2Nq8h0kULY7Ly3","name":"Ollama"}}}],"connections":{"Start":{"main":[[{"node":"Switch by model_mode","type":"main","index":0}]]},"Switch by model_mode":{"main":[[{"node":"Production","type":"main","index":0}],[{"node":"E2E Test","type":"main","index":0}]]},"Production":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"E2E Test":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"Gemini (Polza)":{"ai_languageModel":[[{"node":"Production","type":"ai_languageModel","index":0}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"E2E Test","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"e042612c-ec7f-4b8d-b5e2-33f3e8f62876","activeVersionId":null,"versionCounter":6,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T20:58:45.134Z","createdAt":"2026-04-12T20:58:45.134Z","role":"workflow:owner","workflowId":"AI-ArcAnalyst-001","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
