workflows/_AI_Agent__Translator.json
[{"updatedAt":"2026-04-14T03:20:39.253Z","createdAt":"2026-04-12T20:49:16.304Z","id":"AI-Translator-001","name":"[AI Agent] Translator","description":null,"active":false,"isArchived":true,"nodes":[{"id":"t-trig","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,0],"parameters":{"workflowInputs":{"values":[{"name":"ko_text","type":"string"},{"name":"system_prompt","type":"string"},{"name":"user_prompt","type":"string"},{"name":"model_mode","type":"string","defaultValue":"production"},{"name":"job_id","type":"string"}]}}},{"id":"sw-1","name":"Switch by model_mode","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,0],"parameters":{"rules":{"values":[{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"production","operator":{"type":"string","operation":"equals"}}]}}},{"rule":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.model_mode }}","rightValue":"e2e-test","operator":{"type":"string","operation":"equals"}}]}}}]},"options":{}}},{"id":"t-ap","name":"Agent (production)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-280,-200],"parameters":{"promptType":"define","text":"={{ $json.user_prompt || $json.ko_text }}","needsFallback":true,"options":{"systemMessage":"={{ $json.system_prompt }}"}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"t-ae","name":"Agent (e2e-test)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-280,200],"parameters":{"promptType":"define","text":"={{ $json.user_prompt || $json.ko_text }}","needsFallback":false,"options":{"systemMessage":"={{ $json.system_prompt || 'Переведи текст с корейского на русский максимально точно и литературно.' }}","maxTokens":4096,"temperature":0.3}},"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"id":"mg-1","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[0,0],"parameters":{"mode":"chooseBranch","options":{}}},{"id":"out-1","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"return $input.all();"}},{"id":"llm-GPT-5.2(Neuro)","name":"GPT-5.2 (Neuro)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-320,50],"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"options":{}},"credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"id":"llm-GPT-5.2(Polza)","name":"GPT-5.2 (Polza)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-220,50],"parameters":{"model":{"__rl":true,"value":"openai/gpt-5.2-chat","mode":"list","cachedResultName":"openai/gpt-5.2-chat"},"options":{}},"credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"id":"llm-Ollamallama3.2:3b","name":"Ollama llama3.2:3b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-260,450],"parameters":{"model":{"__rl":true,"value":"llama3.2:3b","mode":"list","cachedResultName":"llama3.2:3b"},"options":{}},"credentials":{"openAiApi":{"id":"JD2Nq8h0kULY7Ly3","name":"Ollama"}}}],"connections":{"Start":{"main":[[{"node":"Switch by model_mode","type":"main","index":0}]]},"Switch by model_mode":{"main":[[{"node":"Agent (production)","type":"main","index":0}],[{"node":"Agent (e2e-test)","type":"main","index":0}]]},"Agent (production)":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Agent (e2e-test)":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"GPT-5.2 (Neuro)":{"ai_languageModel":[[{"node":"Agent (production)","type":"ai_languageModel","index":0}]]},"GPT-5.2 (Polza)":{"ai_languageModel":[[{"node":"Agent (production)","type":"ai_languageModel","index":1}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"Agent (e2e-test)","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"3bf532b5-cae2-44f5-a99e-5923b0032bbf","activeVersionId":null,"versionCounter":9,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T20:49:16.304Z","createdAt":"2026-04-12T20:49:16.304Z","role":"workflow:owner","workflowId":"AI-Translator-001","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
