workflows/_BASELINE__Paid_Models_Translation_Test.json
[{"updatedAt":"2026-04-12T18:34:22.419Z","createdAt":"2026-04-12T17:08:36.927Z","id":"QHZbYUmOSBREneG6","name":"[BASELINE] Paid Models Translation Test","description":null,"active":false,"isArchived":true,"nodes":[{"id":"manual-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,300],"parameters":{"httpMethod":"POST","path":"baseline-translation-test","responseMode":"lastNode","options":{}},"webhookId":"14291575-af45-4371-87da-e63d6ef9f962"},{"id":"log-start","name":"Log: Baseline Start","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,300],"parameters":{"jsCode":"const now = new Date().toISOString();\nconsole.log('🧪 BASELINE TEST START — Paid Models (GPT 5.2 Neuro/Polza)');\nconsole.log('📅 Timestamp: ' + now);\nreturn [{ json: { test_id: 'baseline-paid-001', test_date: now, test_name: 'Baseline — Paid Models', model: 'GPT 5.2 Neuro → Polza (fallback Claude 4.5)', start_time: Date.now() } }];"}},{"id":"insert-data","name":"INSERT Test Data in DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO document_jobs (file_id, file_name, status, created_at) VALUES ('baseline-test-001', 'Тест2.docx', 'testing', NOW()) RETURNING id;","options":{},"postgresqlDataType":"queryText","queryReplacement":{}},"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"id":"call-translate","name":"Вызов [Перевод] Перевод чанка","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-240,300],"parameters":{"workflowId":{"__rl":true,"value":"GPARI8V4RBSPL1h39_kHW","mode":"list","cachedResultName":"[Перевод] Перевод чанка"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_chunk":"={{ String($('INSERT Test Chunk').first().json.id_chunk) }}","id_arc":"0","file_id":"baseline-test-001"},"matchingColumns":[],"schema":[{"id":"id_chunk","displayName":"id_chunk","type":"string"},{"id":"id_arc","displayName":"id_arc","type":"string"},{"id":"file_id","displayName":"file_id","type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}}},{"id":"collect-metrics","name":"Сбор метрик","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,300],"parameters":{"jsCode":"const testStart = $('Log: Baseline Start').first().json;\nconst dbResult = $('INSERT Test Data in DB').first().json;\nconst translateResult = $input.first().json;\n\nconst endTime = Date.now();\nconst totalDuration = endTime - testStart.start_time;\n\nconst report = `\n═══════════════════════════════════════\n🧪 BASELINE TEST — PAID MODELS REPORT\n═══════════════════════════════════════\n📋 Test ID: ${testStart.test_id}\n📅 Date: ${testStart.test_date}\n🤖 Models: GPT 5.2 Neuro → GPT 5.2 Polza → Claude 4.5 (fallback)\n📄 File: Тест2.docx\n📥 Input chunk_id: ${dbResult.id_chunk}\n⏱️  Total Duration: ${totalDuration} ms (${(totalDuration/1000).toFixed(1)} sec)\n\n📊 RESULT:\n${JSON.stringify(translateResult, null, 2)}\n═══════════════════════════════════════\n`.trim();\n\nconsole.log(report);\n\nreturn [{\n  json: {\n    test_id: testStart.test_id,\n    test_date: testStart.test_date,\n    models: 'GPT 5.2 Neuro/Polza + Claude 4.5 fallback',\n    input_chunk_id: dbResult.id_chunk,\n    total_duration_ms: totalDuration,\n    total_duration_sec: round(totalDuration / 1000, 1),\n    translate_result: translateResult,\n    report: report,\n    success: translateResult && !translateResult.error\n  }\n}];\n\nfunction round(n, d) { return Math.round(n * Math.pow(10, d)) / Math.pow(10, d); }"}},{"id":"log-result","name":"Log: Результат","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,300],"parameters":{"jsCode":"const result = $input.first().json;\nconsole.log('✅ BASELINE TEST COMPLETED');\nconsole.log('📊 Duration: ' + result.total_duration_sec + 's');\nconsole.log('✅ Success: ' + result.success);\nreturn [{ json: result }];"}},{"id":"insert-chunk","name":"INSERT Test Chunk","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO document_chunks (job_id, chapter, chunk_index, chunk_text, status, updated_at) VALUES ({{ $json.id }}, 1, 1, '1화\\n0. 프롤로그\\n\"감사합니다. 또 오세요!\"\\n경쾌한 직원의 목소리와 함께 마트의 자동문이 열렸다.', 'pending', NOW()) RETURNING id as id_chunk;","options":{}},"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Log: Baseline Start","type":"main","index":0}]]},"Log: Baseline Start":{"main":[[{"node":"INSERT Test Data in DB","type":"main","index":0}]]},"INSERT Test Data in DB":{"main":[[{"node":"INSERT Test Chunk","type":"main","index":0}]]},"Вызов [Перевод] Перевод чанка":{"main":[[{"node":"Сбор метрик","type":"main","index":0}]]},"Сбор метрик":{"main":[[{"node":"Log: Результат","type":"main","index":0}]]},"INSERT Test Chunk":{"main":[[{"node":"Вызов [Перевод] Перевод чанка","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"6835f2b5-6634-4d25-8f97-447352bd16fb","activeVersionId":null,"versionCounter":22,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-12T17:08:36.927Z","createdAt":"2026-04-12T17:08:36.927Z","role":"workflow:owner","workflowId":"QHZbYUmOSBREneG6","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
