workflows/_Book_Translation__Activate_Translation_Workflows__NOT_USED_.json
[{"updatedAt":"2026-04-14T03:21:45.446Z","createdAt":"2026-04-10T20:54:21.657Z","id":"activate-translation-workflows","name":"[Book Translation] Activate Translation Workflows [NOT USED]","description":"Активирует ВСЕ workflow проекта кроме 'Ручной выбор файлов'. Get All → Filter → Activate each.","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"activate-translation-workflows","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,-96],"id":"webhook-node","name":"Webhook","webhookId":"activate-trans-webhook"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-224,-96],"id":"list-workflows","name":"List Workflows","credentials":{"n8nApi":{"id":"VP4X78ps0YqOb1RP","name":"n8n account"}}},{"parameters":{"jsCode":"const EXCLUDED = [\n  'Ручной выбор файлов',\n  '[Book Translation] Activate Translation Workflows',\n  'Test Webhook Trigger'\n];\nreturn $input.all().filter(item => {\n  const n = item.json.name || '';\n  const isExcluded = EXCLUDED.some(ex => n.includes(ex));\n  const isArchived = item.json.isArchived === true;\n  return !isExcluded && !isArchived && item.json.active === false;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-96],"id":"filter-inactive","name":"Filter Inactive"},{"parameters":{"operation":"activate","workflowId":"={{ $json.id }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,-96],"id":"activate-workflow","name":"Activate Workflow","credentials":{"n8nApi":{"id":"VP4X78ps0YqOb1RP","name":"n8n account"}},"continueOnFail":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-96],"id":"manual-trigger","name":"When clicking 'Execute workflow'"}],"connections":{"Webhook":{"main":[[{"node":"List Workflows","type":"main","index":0}]]},"List Workflows":{"main":[[{"node":"Filter Inactive","type":"main","index":0}]]},"Filter Inactive":{"main":[[{"node":"Activate Workflow","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"List Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"39d5ce2d-7a5b-4dc8-8a2d-97bfaf6a6a73","activeVersionId":"04e8b781-a423-4499-b0d0-545517eefde7","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-10T20:54:21.657Z","createdAt":"2026-04-10T20:54:21.657Z","role":"workflow:owner","workflowId":"activate-translation-workflows","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
