workflows/_E2E__Translation_Test_Suite.json
[{"updatedAt":"2026-04-14T18:38:30.827Z","createdAt":"2026-04-14T18:37:59.114Z","id":"JrArIkA89l7tgKxN","name":"[E2E] Translation Test Suite","description":null,"active":true,"isArchived":false,"nodes":[{"id":"e2e-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,0],"parameters":{"path":"e2e-translation-test","httpMethod":"POST","responseMode":"lastNode","options":{}},"webhookId":"5c42668e-29f4-4560-986d-7eb4fe04946e"},{"id":"e2e-translate","name":"Перевод через Ollama","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0],"parameters":{"promptType":"define","text":"={{ $json.body.chunk_text }}","options":{"systemMessage":{"message":"Ты профессиональный переводчик. Переводи текст с корейского на русский язык. Отвечай ТОЛЬКО переводом, без дополнительных комментариев."}}}},{"id":"e2e-llm","name":"Ollama llama3.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,200],"parameters":{"model":{"__rl":true,"mode":"list","value":"llama3.2:3b"},"options":{"temperature":0.1}},"credentials":{"openAiApi":{"id":"UxOmwr19QNzUZL9q","name":"Ollama Test"}}},{"id":"e2e-validate","name":"Проверка","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"jsCode":"const output = $input.first().json.output;\nconst testName = $('Webhook Trigger').first().json.body?.test_name || 'unknown';\nconst hasOutput = output && output.length > 0 && typeof output === 'string';\nreturn { json: { test: testName, passed: hasOutput, output: output || '', length: output ? output.length : 0 } };"}},{"id":"e2e-result","name":"Test Result","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,0],"parameters":{}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Перевод через Ollama","type":"main","index":0}]]},"Перевод через Ollama":{"main":[[{"node":"Проверка","type":"main","index":0}]]},"Проверка":{"main":[[{"node":"Test Result","type":"main","index":0}]]},"Ollama llama3.2":{"ai_languageModel":[[{"node":"Перевод через Ollama","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bfcffe10-4606-4dfd-9b90-fcef90a8169e","activeVersionId":"bfcffe10-4606-4dfd-9b90-fcef90a8169e","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:37:59.114Z","createdAt":"2026-04-14T18:37:59.114Z","role":"workflow:owner","workflowId":"JrArIkA89l7tgKxN","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
