workflows/_GET__Document.json
[{"updatedAt":"2026-04-09T19:01:56.884Z","createdAt":"2026-03-09T11:08:03.050Z","id":"sLo74sUgMdcJEmxJoRJQ-","name":"[GET] Document","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Нода: Code\n// Тип входных данных: Binary\n\n// Получаем бинарные данные файла\nconst binaryKey = Object.keys($input.item.binary)[0];\n\n// Правильный способ получить Buffer в n8n v1.x\nconst buffer = await this.helpers.getBinaryDataBuffer(\n  0,          // индекс item\n  binaryKey   // имя бинарного свойства\n);\n\n// Читаем первые байты\nconst bytes = [...buffer.slice(0, 16)];\n\nconst binaryData = $input.item.binary[binaryKey];\n\nfunction detectByMagicBytes(buf) {\n  // PDF\n  if (buf[0] === 0x25 && buf[1] === 0x50 &&\n      buf[2] === 0x44 && buf[3] === 0x46) {\n    return { type: 'pdf', mime: 'application/pdf', ext: 'pdf' };\n  }\n\n  // PNG\n  if (buf[0] === 0x89 && buf[1] === 0x50 &&\n      buf[2] === 0x4E && buf[3] === 0x47) {\n    return { type: 'png', mime: 'image/png', ext: 'png' };\n  }\n\n  // JPEG\n  if (buf[0] === 0xFF && buf[1] === 0xD8 && buf[2] === 0xFF) {\n    return { type: 'jpeg', mime: 'image/jpeg', ext: 'jpg' };\n  }\n\n  // GIF\n  if (buf[0] === 0x47 && buf[1] === 0x49 && buf[2] === 0x46) {\n    return { type: 'gif', mime: 'image/gif', ext: 'gif' };\n  }\n\n  // WEBP (RIFF....WEBP)\n  if (buf[0] === 0x52 && buf[1] === 0x49 &&\n      buf[2] === 0x46 && buf[3] === 0x46 &&\n      buf[8] === 0x57 && buf[9] === 0x45 &&\n      buf[10] === 0x42 && buf[11] === 0x50) {\n    return { type: 'webp', mime: 'image/webp', ext: 'webp' };\n  }\n\n  // ZIP-based форматы: DOCX, XLSX, PPTX\n  if (buf[0] === 0x50 && buf[1] === 0x4B &&\n      buf[2] === 0x03 && buf[3] === 0x04) {\n    // Уточняем тип по MIME из метаданных если есть\n    const mime = binaryData.mimeType || '';\n    if (mime.includes('wordprocessingml') || mime.includes('docx')) {\n      return { type: 'docx', mime: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', ext: 'docx' };\n    }\n    if (mime.includes('spreadsheetml') || mime.includes('xlsx')) {\n      return { type: 'xlsx', mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', ext: 'xlsx' };\n    }\n    if (mime.includes('presentationml') || mime.includes('pptx')) {\n      return { type: 'pptx', mime: 'application/vnd.openxmlformats-officedocument.presentationml.presentation', ext: 'pptx' };\n    }return { type: 'zip', mime: 'application/zip', ext: 'zip' };\n  }\n\n  // DOC / XLS старый формат (OLE2)\n  if (buf[0] === 0xD0 && buf[1] === 0xCF &&\n      buf[2] === 0x11 && buf[3] === 0xE0) {\n    const mime = binaryData.mimeType || '';\n    if (mime.includes('excel') || mime.includes('xls')) {\n      return { type: 'xls', mime: 'application/vnd.ms-excel', ext: 'xls' };\n    }\n    return { type: 'doc', mime: 'application/msword', ext: 'doc' };\n  }\n\n  // MP3 (ID3)\n  if (buf[0] === 0x49 && buf[1] === 0x44 && buf[2] === 0x33) {\n    return { type: 'mp3', mime: 'audio/mpeg', ext: 'mp3' };\n  }\n\n  // MP4 (ftyp at offset 4)\n  if (buf[4] === 0x66 && buf[5] === 0x74 &&\n      buf[6] === 0x79 && buf[7] === 0x70) {\n    return { type: 'mp4', mime: 'video/mp4', ext: 'mp4' };\n  }\n\n  // HTML\n  const textStart = buf.toString('utf8', 0, 15).toLowerCase().trim();\n  if (textStart.startsWith('<!doctype html') ||\n      textStart.startsWith('<html')) {\n    return { type: 'html', mime: 'text/html', ext: 'html' };\n  }\n\n  // XML\n  if (textStart.startsWith('<?xml')) {\n    return { type: 'xml', mime: 'application/xml', ext: 'xml' };\n  }\n\n  // JSON\n  if (textStart.startsWith('{') || textStart.startsWith('[')) {\n    return { type: 'json', mime: 'application/json', ext: 'json' };\n  }\n\n  // Fallback — по MIME из метаданных\n  if (binaryData.mimeType) {\n    const mimeMap = {\n      'text/plain':{ type: 'txt',ext: 'txt'  },\n      'text/csv':       { type: 'csv',      ext: 'csv'},\n      'text/markdown':  { type: 'markdown', ext: 'md'   },\n    };\n    const found = mimeMap[binaryData.mimeType];\n    if (found) return { ...found, mime: binaryData.mimeType };\n  }\n\n  // Попытка определить текстовый файл\n  const isText = buf.every(b => b >= 0x09 && b <= 0x7E || b >= 0x80);\n  if (isText) {\n    return { type: 'txt', mime: 'text/plain', ext: 'txt' };\n  }\n\n  return { type: 'unknown', mime: 'application/octet-stream', ext: '' };\n}\n\nconst detected = detectByMagicBytes(bytes);\n\n// Категория для роутинга\nconst categories = {\n  pdf:'document',\n  doc:      'document',\n  docx:     'document',\n  xls:      'spreadsheet',\n  xlsx:     'spreadsheet',\n  pptx:     'presentation',\n  txt:      'text',\n  csv:      'text',\n  markdown: 'text',\n  html:     'text',\n  xml:      'text',\n  json:     'text',\n  jpeg:     'image',\n  png:      'image',\n  gif:      'image',\n  webp:     'image',\n  mp3:      'audio',\n  mp4:      'video',\n  zip:      'archive',\n  unknown:  'unknown'\n};\n\nreturn {\n  json: {\n    ...detected,\n    category: categories[detected.type] || 'unknown',\n    fileName: binaryData.fileName || 'unknown',\n    fileSize: buffer.length,\n    fileSizeKb: Math.round(buffer.length / 1024),\n    canParseToText: ['document', 'spreadsheet', 'text', 'image'].includes(\n      categories[detected.type]\n    ),\n    binaryKey: binaryKey\n  },\n  binary: $input.item.binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,112],"id":"2ebe1208-b3b5-44af-80ed-9e99c80c4e2a","name":"Определяем тип файла"},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-480,128],"id":"24bb8c1b-6fb9-4926-99b7-8974f050758f","name":"Get a file","webhookId":"d04362fd-1e97-4592-84c4-685eed5eabd4","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"docx","operator":{"type":"string","operation":"equals"},"id":"3922df1f-e954-4c1a-9540-17a5552024a5"}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8cc8e81b-c87b-4ce0-bfd3-2f2d48e8a2eb","leftValue":"={{ $json.type }}","rightValue":"txt","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"132614b8-f930-4464-878c-22e0839d732c","leftValue":"={{ $json.type }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-112,96],"id":"b1c7b1fb-e76b-45e6-bb7a-c5cbf23cc8c6","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[128,-96],"id":"88222788-155f-46df-bc35-9f8097d2063f","name":"DOCX to Text"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,96],"id":"a4fe5b9d-e945-48e9-874e-e5733ee9c2c6","name":"Merge"},{"parameters":{"jsCode":"// Нода: Code\n// Входные данные: items[0].json.text\n\nconst text = $input.item.json.text || '';\n\nfunction detectLanguage(text) {if (!text || text.trim().length === 0) {\n    return { language: 'unknown', confidence: 0, script: 'none' };\n  }\n\n  // Счётчики символов по алфавитам\n  const counts = {\n    korean:0,\n    cyrillic: 0,\n    latin:    0,\n    japanese: 0,\n    chinese:  0,arabic:   0,\n    total:    0\n  };\n\n  for (const char of text.substr(0, 200)) {\n    const code = char.charCodeAt(0);\n\n    // Корейский (хангыль)\n    if ((code >= 0xAC00 && code <= 0xD7AF) ||\n        (code >= 0x1100 && code <= 0x11FF) ||\n        (code >= 0x3130 && code <= 0x318F)) {\n      counts.korean++;\n      counts.total++;\n    }\n    // Кириллица (русский, украинский, болгарский и др.)\n    else if (code >= 0x0400 && code <= 0x04FF) {\n      counts.cyrillic++;\n      counts.total++;\n    }\n    // Латиница\n    else if ((code >= 0x0041 && code <= 0x005A) ||\n             (code >= 0x0061 && code <= 0x007A)) {\n      counts.latin++;\n      counts.total++;\n    }\n    // Японский (хирагана + катакана)\n    else if ((code >= 0x3040 && code <= 0x309F) ||\n             (code >= 0x30A0 && code <= 0x30FF)) {\n      counts.japanese++;\n      counts.total++;\n    }\n    // Китайский (CJK)\n    else if (code >= 0x4E00 && code <= 0x9FFF) {\n      counts.chinese++;\n      counts.total++;\n    }\n    // Арабский\n    else if (code >= 0x0600 && code <= 0x06FF) {\n      counts.arabic++;\n      counts.total++;\n    }}\n\n  if (counts.total === 0) {\n    return { language: 'unknown', confidence: 0, script: 'none' };\n  }\n\n  // Вычисляем процент каждого алфавита\n  const percentages = {};\n  for (const [key, val] of Object.entries(counts)) {\n    if (key !== 'total') {\n      percentages[key] = Math.round((val / counts.total) * 100);\n    }\n  }\n\n  // Определяем доминирующий язык\n  const dominant = Object.entries(percentages)\n    .sort(([,a], [,b]) => b - a)[0];\n\n  const langMap = {\n    korean:   'ko',\n    cyrillic: 'ru',\n    latin:    'en',\n    japanese: 'ja',\n    chinese:  'zh',\n    arabic:   'ar'\n  };\n\n  const nameMap = {\n    korean:   'Корейский',\n    cyrillic: 'Русский/Кириллица',\n    latin:    'Английский/Латиница',\n    japanese: 'Японский',\n    chinese:  'Китайский',\n    arabic:   'Арабский'\n  };\n\n  return {\n    language: langMap[dominant[0]] || 'unknown',\n    languageName: nameMap[dominant[0]] || 'Неизвестный',\n    confidence: dominant[1],\n    script: dominant[0],\n    breakdown: percentages,\n    isKorean:   percentages.korean   > 30,\n    isRussian:  percentages.cyrillic > 30,\n    isEnglish:  percentages.latin    > 30,\n    isMixed:    Object.values(percentages).filter(v => v > 20).length > 1\n  };\n}\n\nconst result = detectLanguage(text);\n\nreturn {\n  json: {\n    ...result,\n    originalText: text.substring(0, 100) + '...' // превью\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,112],"id":"14c9eb81-0009-4d0e-b2ba-34035e8a63f8","name":"Code in JavaScript1"},{"parameters":{"operation":"text","destinationKey":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[128,112],"id":"c69372db-4046-4222-ac31-c700f7ae30c1","name":"TXT to Text"},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    telegram_messages\n  SET\n    type = '{{ $('Определяем тип файла').first().json.type }}',\n    lang = '{{ $json.language }}'\n  WHERE id = {{ $('Обновление данных о сообщении в бд').first().json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[736,112],"id":"2b8394ce-dfdc-4675-a448-ef708f773643","name":"Обновление данных о сообщении в бд1","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-848,128],"id":"307a0a56-df42-42a1-b806-03f511e70f95","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n  FROM\n    telegram_messages\n  WHERE id = {{ $json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,128],"id":"37597c7e-a270-46da-803b-186947b004b2","name":"Обновление данных о сообщении в бд","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[128,320],"id":"5604a0c8-02f1-4575-bc1a-f0e507e731a5","name":"XLSX to Text"},{"parameters":{"chatId":"={{ $('Обновление данных о сообщении в бд').item.json.chat }}","text":"=🚀 Документ добавлен!\n     <code>{{ $('Обновление данных о сообщении в бд').item.json.message.document.file_name }}</code>","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"id":"9466c484-f92c-492d-a597-84cc6c509de7","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[928,112],"webhookId":"8c713950-63a7-42fa-88bf-be3608315c9c","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Обновление данных о сообщении в бд').item.json.chat }}","text":"=❌ <b>Документ не добавлен!</b>\n     {{ $('Обновление данных о сообщении в бд').item.json.message.document.file_name }}","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"id":"e0361ebe-2139-478e-9a0a-7e20d6564f2d","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-224,320],"webhookId":"8c713950-63a7-42fa-88bf-be3608315c9c","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"errorMessage":"={{ $('Get a file').item.json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-64,320],"id":"7060f939-533c-4d62-8f83-f2e5218a16a9","name":"Stop and Error"}],"connections":{"Определяем тип файла":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Определяем тип файла","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"DOCX to Text","type":"main","index":0}],[{"node":"TXT to Text","type":"main","index":0}],[{"node":"XLSX to Text","type":"main","index":0}]]},"DOCX to Text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Обновление данных о сообщении в бд1","type":"main","index":0}]]},"TXT to Text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"Обновление данных о сообщении в бд","type":"main","index":0}]]},"Обновление данных о сообщении в бд":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"XLSX to Text":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Обновление данных о сообщении в бд1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id":452}}]},"versionId":"f8aae0a6-f8f8-4123-aead-5481627034b8","activeVersionId":"f8aae0a6-f8f8-4123-aead-5481627034b8","versionCounter":228,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:12.448Z","createdAt":"2026-03-28T21:15:12.448Z","role":"workflow:owner","workflowId":"sLo74sUgMdcJEmxJoRJQ-","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version f8aae0a6","description":""}}]
