workflows/_Send__processing.json
[{"updatedAt":"2026-04-09T05:19:31.677Z","createdAt":"2026-03-29T09:29:51.908Z","id":"9uUyj9OamISRPudJ","name":"[Send] processing","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_jobs a, job_current b WHERE a.id =b.job_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,320],"id":"5ccb8d3f-76d1-4feb-9a98-4af48e4ce545","name":"Данные document_jobs","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as chunks_total FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,320],"id":"27e4020f-e471-4a28-b2df-bed8bcaaec19","name":"Общее количество чанков","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as chunks_done FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current) AND status='done';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,320],"id":"9e5273ce-b1ba-41f1-a450-9dd693617f32","name":"Количество законченных чанков","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const RUBLE_EXCHANGE_RATE = 79;\n\nconst billing_polza = Number($('Данные document_jobs').first().json.billing_polza) - Number($('Billing Polza.ai').first().json.amount);\nconst billing_neuro = -(Number($('Данные document_jobs').first().json.billing_neuro) - Number($('Billing Neuro').first().json.total_usage)) / 100;\n\nconst startedAtMs = DateTime.fromISO($('Данные document_jobs').first().json.created_at);\nconst diff = startedAtMs.diffNow().negate().toFormat(\"hh':'mm':'ss\")\n\nconst done = Number($('Количество законченных чанков').first().json.chunks_done);\nconst total = Number($('Общее количество чанков').first().json.chunks_total);\n// const done = Math.floor(Math.random() * total);\nconst ratio = Math.min(1, Math.max(0, done / total));\n\nconst startedAt = startedAtMs.toFormat(\"dd.MM.yyyy HH:mm:ss\");\n\nconst width =20;\nconst filled = Math.round(ratio * width);\nconst bar = '█'.repeat(filled) + '░'.repeat(width - filled);\n\nreturn {\n  message: `\n🔄 <b>Перевод в процессе</b>\n\n📄 Документ: ${$('Данные document_jobs').first().json.file_name}\n<b>🗓 Старт:</b> <code>${ startedAt }</code> \n<b>⏱ Прошло: <code>${ diff }</code></b>\n<b>📊 Прогресс:</b> <code>${ `${bar} ${Math.floor(ratio*100)}%` }</code> \n<b>🧩 Текущий чанк: <code>${ done }/${ total }</code></b>\n💰 Потрачено на Polza.ai: \n      ₽ ${ billing_polza.toFixed(2) }\n💰 Потрачено на NeuroAPI: \n      ₽ ${(billing_neuro * RUBLE_EXCHANGE_RATE).toFixed(2).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \" \")}\n\n<i>Сообщение сгенерировано автоматически.</i>\n  `,\n  type: 'edit',\n  button: {}\n} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,640],"id":"542a645e-aabd-463d-b0fa-7da72fd96312","name":"Сообщение Перевод в процессе"},{"parameters":{"url":"https://polza.ai/api/v1/balance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT"}]},"options":{"timeout":1000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-656,320],"id":"6e64f5c7-7cf9-4f7f-8d6f-e813aea20de3","name":"Billing Polza.ai","onError":"continueRegularOutput"},{"parameters":{"url":"https://neuroapi.host/v1/dashboard/billing/usage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-JPPv8NvhqimYVBabJvm6fB5mlv80WnLV673tfVzFm6IYq67V"}]},"options":{"timeout":1000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-448,320],"id":"baf8993c-1303-463b-a220-844265f8ad3d","name":"Billing Neuro","onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"qwerty"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1008,320],"id":"6c0a32c7-9cc8-44db-a822-785b3fe9206a","name":"When Executed by Another Workflow"},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Get row(s)').item.json.chat_id }}","messageId":"={{ $('данные по чату').first().json.message_id }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,752],"id":"83b54a22-b281-4fff-9ba4-38e2bb0c5ec2","name":"Редактируем текст сообщения","webhookId":"ee3317ee-e386-4133-8122-dcb431c6fcfc","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"0b4f8857-12e6-4790-9e12-f1ec168902b2","leftValue":"={{ $('данные по чату').first().json.message_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-528,640],"id":"4dd2d334-f14a-47ac-bc81-d1b4030c3973","name":"первое сообщение для редактирования?"},{"parameters":{"chatId":"={{ $('Get row(s)').item.json.chat_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,544],"id":"df765050-e7ce-4d4b-8210-d546773e5184","name":"Посылаем сообщение","webhookId":"eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE telegram_message \n  SET \n    message_id = {{ $json.result.message_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,544],"id":"972ff941-17de-4d75-9dbd-b8ae6a9c87e5","name":"Добавим id сообщения в бд","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from telegram_message   ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,320],"id":"7e7fe76c-9977-4dc6-95c1-f26f16a43514","name":"данные по чату","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-832,320],"id":"a2c1103a-da75-4a27-a92e-2e6603dac307","name":"Get row(s)"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Billing Polza.ai":{"main":[[{"node":"Billing Neuro","type":"main","index":0}]]},"Billing Neuro":{"main":[[{"node":"Данные document_jobs","type":"main","index":0}]]},"Данные document_jobs":{"main":[[{"node":"Общее количество чанков","type":"main","index":0}]]},"Общее количество чанков":{"main":[[{"node":"Количество законченных чанков","type":"main","index":0}]]},"Количество законченных чанков":{"main":[[{"node":"данные по чату","type":"main","index":0}]]},"первое сообщение для редактирования?":{"main":[[{"node":"Посылаем сообщение","type":"main","index":0}],[{"node":"Редактируем текст сообщения","type":"main","index":0}]]},"Сообщение Перевод в процессе":{"main":[[{"node":"первое сообщение для редактирования?","type":"main","index":0}]]},"Посылаем сообщение":{"main":[[{"node":"Добавим id сообщения в бд","type":"main","index":0}]]},"данные по чату":{"main":[[{"node":"Сообщение Перевод в процессе","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Billing Polza.ai","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"728a9ac3-8445-4731-9b74-679acf38bc4b","activeVersionId":"728a9ac3-8445-4731-9b74-679acf38bc4b","versionCounter":164,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-29T09:29:51.908Z","createdAt":"2026-03-29T09:29:51.908Z","role":"workflow:owner","workflowId":"9uUyj9OamISRPudJ","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 728a9ac3","description":""}}]
