workflows/_Sub__Billing_Check.json
[{"updatedAt":"2026-04-14T19:25:11.502Z","createdAt":"2026-04-14T19:24:56.761Z","id":"awNR1MZcAOVALK8F","name":"[Sub] Billing Check","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger-billing","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,0],"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}}},{"id":"billing-polza","name":"Billing Polza.ai","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-200,0],"parameters":{"url":"https://polza.ai/api/v1/balance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT"}]},"options":{"timeout":10000}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"billing-neuro","name":"Billing Neuro","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"parameters":{"url":"https://neuroapi.host/v1/dashboard/billing/usage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-JPPv8NvhqimYVBabJvm6fB5mlv80WnLV673tfVzFm6IYq67V"}]},"options":{"timeout":10000}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"save-billing","name":"Сохранить billing в БД","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,0],"parameters":{"operation":"executeQuery","query":"=UPDATE document_jobs SET billing_neuro = '{{ $json.total_usage }}', billing_polza = '{{ $json.amount }}' WHERE id = {{ $('Trigger').first().json.job_id }};","options":{}},"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}},"executeOnce":true,"alwaysOutputData":true,"retryOnFail":true},{"id":"return-result","name":"Return Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"parameters":{"jsCode":"const polzaData = $('Billing Polza.ai').first().json;\nconst neuroData = $('Billing Neuro').first().json;\nreturn { json: { job_id: $('Trigger').first().json.job_id, polza_balance: polzaData?.amount || null, neuro_usage: neuroData?.total_usage || null, status: 'success' } };"}}],"connections":{"Trigger":{"main":[[{"node":"Billing Polza.ai","type":"main","index":0}]]},"Billing Polza.ai":{"main":[[{"node":"Billing Neuro","type":"main","index":0}]]},"Billing Neuro":{"main":[[{"node":"Сохранить billing в БД","type":"main","index":0}]]},"Сохранить billing в БД":{"main":[[{"node":"Return Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","errorWorkflow":"global-error-handler-36id","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0dc4af3c-858b-4ae5-875f-806fc90f1b82","activeVersionId":"0dc4af3c-858b-4ae5-875f-806fc90f1b82","versionCounter":13,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T19:24:56.761Z","createdAt":"2026-04-14T19:24:56.761Z","role":"workflow:owner","workflowId":"awNR1MZcAOVALK8F","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
