workflows/_TEST__Translation_Core_-_Ollama.json
[{"updatedAt":"2026-04-14T03:20:48.954Z","createdAt":"2026-04-12T17:21:43.484Z","id":"klHlktsAOS4dWbHB","name":"[TEST] Translation Core - Ollama","description":null,"active":false,"isArchived":true,"nodes":[{"id":"manual-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,300],"parameters":{"httpMethod":"POST","path":"test-translation-core","responseMode":"lastNode","options":{}},"webhookId":"9869b617-91ba-4ffc-ad36-579a2192339d"},{"id":"prepare","name":"Подготовка тестовых данных","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,300],"parameters":{"jsCode":"return [{\n  json: {\n    chunk_text: '\"감사합니다. 또 오세요!\"\\n경쾌한 직원의 목소리와 함께 마트의 자동문이 열렸다. 회색 후드를 눌러쓰고 온갖 식재료가 가득 담긴 딸기무늬 장바구니를 든 한 청년이 정류장 쪽으로 향했다.',\n    system_prompt: 'Ты профессиональный переводчик с корейского на русский. Переводи литературно, сохраняя стиль.',\n    user_prompt: '',\n    glossary: '',\n    rag_context: '',\n    rolling_summary: '',\n    arc_summary: '',\n    prev_line: '',\n    model_config: { mainModel: 'ollama', mainModelName: 'gemma4:26b', baseUrl: 'http://127.0.0.1:11434' },\n    test_id: 'ollama-test-001'\n  }\n}];"}},{"id":"call-core","name":"Вызов Translation Core","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-320,300],"parameters":{"workflowId":{"__rl":true,"value":"uMaJIanCMJqosDXC","mode":"list","cachedResultName":"[Agent] Translation Core"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chunk_text":"={{ $json.chunk_text }}","system_prompt":"={{ $json.system_prompt }}","user_prompt":"={{ $json.user_prompt }}","glossary":"={{ $json.glossary }}","rag_context":"={{ $json.rag_context }}","rolling_summary":"={{ $json.rolling_summary }}","arc_summary":"={{ $json.arc_summary }}","prev_line":"={{ $json.prev_line }}","model_config":"={{ JSON.stringify($json.model_config) }}","test_id":"={{ $json.test_id }}"},"matchingColumns":[],"schema":[{"id":"chunk_text","displayName":"chunk_text","type":"string"},{"id":"system_prompt","displayName":"system_prompt","type":"string"},{"id":"user_prompt","displayName":"user_prompt","type":"string"},{"id":"glossary","displayName":"glossary","type":"string"},{"id":"rag_context","displayName":"rag_context","type":"string"},{"id":"rolling_summary","displayName":"rolling_summary","type":"string"},{"id":"arc_summary","displayName":"arc_summary","type":"string"},{"id":"prev_line","displayName":"prev_line","type":"string"},{"id":"model_config","displayName":"model_config","type":"string"},{"id":"test_id","displayName":"test_id","type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}}},{"id":"output","name":"Вывод результата","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,300],"parameters":{"jsCode":"const result = $input.first().json;\nconsole.log('🧪 TEST RESULT:');\nconsole.log('✅ Success: ' + result.success);\nconsole.log('🤖 Model: ' + result.model_used);\nconsole.log('⏱️ Duration: ' + result.duration_ms + ' ms');\nconsole.log('📥 Input: ' + result.input_length + ' chars');\nconsole.log('📤 Output: ' + result.output_length + ' chars');\nconsole.log('🔍 Quality: ' + result.quality_check);\nconsole.log('---');\nconsole.log(result.output || result.error);\nreturn $input.all();"}},{"id":"set","name":"Set","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,300],"parameters":{"assignments":{"assignments":[{"id":"1","name":"test_completed","type":"boolean","value":true}]},"options":{}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Подготовка тестовых данных","type":"main","index":0}]]},"Подготовка тестовых данных":{"main":[[{"node":"Вызов Translation Core","type":"main","index":0}]]},"Вызов Translation Core":{"main":[[{"node":"Вывод результата","type":"main","index":0}]]},"Вывод результата":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e8a16347-e237-4f15-b2f7-f91075259e39","activeVersionId":null,"versionCounter":15,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-12T17:21:43.484Z","createdAt":"2026-04-12T17:21:43.484Z","role":"workflow:owner","workflowId":"klHlktsAOS4dWbHB","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
