workflows/_TEST__________________Ollama.json
[{"updatedAt":"2026-04-14T19:47:14.002Z","createdAt":"2026-04-14T18:35:44.443Z","id":"FFU82FlpLa4jRCkz","name":"[TEST] Перевод чанка — Ollama","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"test-translate-ollama","responseMode":"lastNode","options":{}},"id":"webhook-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,0],"webhookId":"e011dfef-9a33-4c33-b9e7-3a6cc189e62f"},{"parameters":{"promptType":"define","text":"={{ $json.body.chunk_text }}","options":{"systemMessage":{"message":"Ты профессиональный переводчик. Переводи текст с корейского на русский язык. Отвечай ТОЛЬКО переводом, без дополнительных комментариев."}}},"id":"agent-001","name":"Перевод через Ollama","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama3.2:3b"},"builtInTools":{},"options":{"temperature":0.1}},"id":"lm-001","name":"Ollama llama3.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,208],"credentials":{"openAiApi":{"id":"UxOmwr19QNzUZL9q","name":"Ollama Test"}}},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst passed = output && output.length > 0 && typeof output === 'string';\nreturn { json: { passed, output, length: output ? output.length : 0 } };"},"id":"validate-001","name":"Проверка результата","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,192]},{"parameters":{},"id":"result-001","name":"Test Result","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,0]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Перевод через Ollama","type":"main","index":0}]]},"Перевод через Ollama":{"main":[[{"node":"Проверка результата","type":"main","index":0}]]},"Проверка результата":{"main":[[{"node":"Test Result","type":"main","index":0}]]},"Ollama llama3.2":{"ai_languageModel":[[{"node":"Перевод через Ollama","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"08ef47df-1672-4950-9898-55d87867eb08","activeVersionId":"08ef47df-1672-4950-9898-55d87867eb08","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:35:44.443Z","createdAt":"2026-04-14T18:35:44.443Z","role":"workflow:owner","workflowId":"FFU82FlpLa4jRCkz","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 08ef47df","description":""}}]
