workflows/_TEST__________________Ollama.json
[{"updatedAt":"2026-04-14T18:35:50.459Z","createdAt":"2026-04-14T18:35:44.443Z","id":"FFU82FlpLa4jRCkz","name":"[TEST] Перевод чанка — Ollama","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,0],"parameters":{"path":"test-translate-ollama","httpMethod":"POST","responseMode":"lastNode","options":{}},"webhookId":"e011dfef-9a33-4c33-b9e7-3a6cc189e62f"},{"id":"agent-001","name":"Перевод через Ollama","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0],"parameters":{"promptType":"define","text":"={{ $json.body.chunk_text }}","options":{"systemMessage":{"message":"Ты профессиональный переводчик. Переводи текст с корейского на русский язык. Отвечай ТОЛЬКО переводом, без дополнительных комментариев."}}}},{"id":"lm-001","name":"Ollama llama3.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,200],"parameters":{"model":{"__rl":true,"mode":"list","value":"llama3.2:3b"},"options":{"temperature":0.1}},"credentials":{"openAiApi":{"id":"UxOmwr19QNzUZL9q","name":"Ollama Test"}}},{"id":"validate-001","name":"Проверка результата","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"jsCode":"const output = $input.first().json.output;\nconst passed = output && output.length > 0 && typeof output === 'string';\nreturn { json: { passed, output, length: output ? output.length : 0 } };"}},{"id":"result-001","name":"Test Result","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,0],"parameters":{}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Перевод через Ollama","type":"main","index":0}]]},"Перевод через Ollama":{"main":[[{"node":"Проверка результата","type":"main","index":0}]]},"Проверка результата":{"main":[[{"node":"Test Result","type":"main","index":0}]]},"Ollama llama3.2":{"ai_languageModel":[[{"node":"Перевод через Ollama","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"db3d7ddf-37f2-4f73-ab20-252b66763383","activeVersionId":"db3d7ddf-37f2-4f73-ab20-252b66763383","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:35:44.443Z","createdAt":"2026-04-14T18:35:44.443Z","role":"workflow:owner","workflowId":"FFU82FlpLa4jRCkz","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
