workflows/Activate_All_Workflows__Mass_.json
[{"updatedAt":"2026-04-10T17:52:31.329Z","createdAt":"2026-04-09T19:43:09.523Z","id":"EOxIC1gGDuZXeAK4","name":"Activate All Workflows (Mass)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"activate-all","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,-96],"id":"9e00af64-7dba-4a4b-a3fc-a8baf2f04be0","name":"Webhook","webhookId":"eeabaf65-84d7-4440-9641-68a05c8fe1d9","disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-224,-96],"id":"092cd9a8-9950-4479-bb28-b6808675ab38","name":"List Workflows","credentials":{"n8nApi":{"id":"VP4X78ps0YqOb1RP","name":"n8n account"}}},{"parameters":{"jsCode":"return items.filter(item => item.json.active === false && item.json.isArchived !== true && item.json.name !== 'Activate All Workflows (Mass)');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-96],"id":"b81a3903-e1be-42df-8113-6acd154e001e","name":"Filter Inactive"},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,-96],"id":"3ff95fb1-54ef-4770-8c75-9fca6209d183","name":"Activate Workflow","credentials":{"n8nApi":{"id":"VP4X78ps0YqOb1RP","name":"n8n account"}},"continueOnFail":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-96],"id":"81d6e864-0e1d-42b4-a586-cf6d774f9867","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"List Workflows","type":"main","index":0}]]},"List Workflows":{"main":[[{"node":"Filter Inactive","type":"main","index":0}]]},"Filter Inactive":{"main":[[{"node":"Activate Workflow","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"List Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"25110b58-e39c-4630-860f-9ddd1a5bbab1","activeVersionId":null,"versionCounter":11,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-09T19:43:09.523Z","createdAt":"2026-04-09T19:43:09.523Z","role":"workflow:owner","workflowId":"EOxIC1gGDuZXeAK4","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
