workflows/Finish.json
[{"updatedAt":"2026-04-05T07:37:25.888Z","createdAt":"2026-03-01T08:30:48.706Z","id":"vuqLp6ZGenvpkJbmVPR_6","name":"Finish","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    status='done', \n    finished_at=NOW(), \n    translated_file='{{ $json.name }}', \n    web_view_link='{{ $json.webViewLink }}', \n    web_chapters_link='' \n  WHERE \n    id={{ $('Start Workflow').first().json.job_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-48],"id":"569febaf-95db-4c16-83cc-01aa9e8fa62b","name":"Сообщение о завершении перевода","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"Finish","type":"info","node":"Finish"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,80],"id":"d3400279-8a2d-44b2-89a7-c4bf60b48d25","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files\n  SET\n    translate_file = null,\n    glossary = null,\n    prompt = null;\n\nSELECT \n    source \n  FROM \n    document_files","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,64],"id":"dc413588-2b9c-415a-b76c-a914761befb1","name":"Бинарные данные файлов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    status='done', \n    finished_at=NOW(), \n    translated_file='{{ $json.translated_file }}', \n    web_view_link='', \n    web_chapters_link='' \n  WHERE \n    id = {{ $('Start Workflow').first().json.job_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,176],"id":"b3139a9f-2fe9-498d-a8f5-ad2e08a3a7ab","name":"Сообщение о завершении перевода1","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $json.job_id }}","log":"=Start","type":"info","node":"Finish"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,64],"id":"0080847c-3ce5-4d63-81fb-380bf460cd0c","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,64],"id":"dd42079f-1a10-4627-b53b-2262cbae3796","name":"Start Workflow","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"sv73wrV6anQE7cTv","mode":"list","cachedResultUrl":"/workflow/sv73wrV6anQE7cTv","cachedResultName":"Переведенный файл в Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,176],"id":"e8de2b50-5d7b-4754-8d10-e9e4ac284b5d","name":"Переведенный файл в Telegram"},{"parameters":{"workflowId":{"__rl":true,"value":"KebWQcS1WmNtgdgA","mode":"list","cachedResultUrl":"/workflow/KebWQcS1WmNtgdgA","cachedResultName":"Переведенный файл в Google Drive"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,-48],"id":"42c3dc93-acb2-4967-ac69-de360d8e671d","name":"Переведенный файл в Google Drive"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"511f821c-8849-451a-967c-6844429596a6","leftValue":"={{ $('Бинарные данные файлов').first().json.source }}","rightValue":"custom","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[368,64],"id":"5e6744eb-2650-441d-881c-54e0cabef9cf","name":"Ручной запуск перевода?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_send_message (template) VALUES ('finish_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1072,80],"id":"e9879d16-ed4f-4679-8fdc-28c606fafbbd","name":"Сообщение о финише перевода","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}}],"connections":{"to log":{"main":[[]]},"Бинарные данные файлов":{"main":[[{"node":"Ручной запуск перевода?","type":"main","index":0}]]},"Сообщение о завершении перевода":{"main":[[{"node":"Сообщение о финише перевода","type":"main","index":0}]]},"Сообщение о завершении перевода1":{"main":[[{"node":"Сообщение о финише перевода","type":"main","index":0}]]},"to log2":{"main":[[{"node":"Бинарные данные файлов","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log2","type":"main","index":0}]]},"Ручной запуск перевода?":{"main":[[{"node":"Переведенный файл в Google Drive","type":"main","index":0}],[{"node":"Переведенный файл в Telegram","type":"main","index":0}]]},"Переведенный файл в Telegram":{"main":[[{"node":"Сообщение о завершении перевода1","type":"main","index":0}]]},"Сообщение о финише перевода":{"main":[[{"node":"to log","type":"main","index":0}]]},"Переведенный файл в Google Drive":{"main":[[{"node":"Сообщение о завершении перевода","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"job_id":48}}]},"versionId":"c65a483a-10bf-42b2-8edb-6b639257ed5f","activeVersionId":"c65a483a-10bf-42b2-8edb-6b639257ed5f","versionCounter":305,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"vuqLp6ZGenvpkJbmVPR_6","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version c65a483a","description":""}}]
