workflows/Finish.json
[{"updatedAt":"2026-03-28T19:27:08.854Z","createdAt":"2026-03-01T08:30:48.706Z","id":"vuqLp6ZGenvpkJbmVPR_6","name":"Finish","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,64],"id":"dd42079f-1a10-4627-b53b-2262cbae3796","name":"When Executed by Another Workflow","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1712,-304],"id":"72beff43-5977-4869-9f7d-4f4d1005f1a2","name":"Convert to File","executeOnce":true},{"parameters":{"name":"=translate_{{ $('Собираем переведенные чанки в единый текст').first().json.path }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1888,-304],"id":"4309d4ea-0cb9-4576-871d-f08e3f51e8f0","name":"Upload file","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2064,-304],"id":"2d3b3a8f-76d2-476f-82ad-fc0c859d88b2","name":"Share folder translate_","credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,16],"id":"e661e0c0-0657-4407-b5be-707be5052b29","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    job_current c, \n    document_jobs j \n  WHERE \n    j.id = c.job_id \n  LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,64],"id":"8ec3c9bf-6c50-432b-8805-2429dca74d8d","name":"Текущий перевод","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    status='done', \n    finished_at=NOW(), \n    translated_file='{{ $('Upload file').first().json.originalFilename }}', \n    web_view_link='{{ $('Upload file').first().json.webViewLink }}', \n    web_chapters_link='{{ $('Upload file2').first().json.webViewLink }}' \n  WHERE \n    id={{ $('Текущий перевод').first().json.job_id }};\n\nINSERT INTO telegram_send_message (template) VALUES ('finish_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3008,240],"id":"569febaf-95db-4c16-83cc-01aa9e8fa62b","name":"Сообщение о завершении перевода","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chapters \n  WHERE \n    job_id = {{ $json.job_id }}\n  ORDER BY \n    chapter_number","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,272],"id":"364a3b7e-c56e-499a-ab45-4ea2e799ff3d","name":"Главы","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_chunks \n  WHERE \n    job_id = {{ $json.job_id }}\n  ORDER BY \n    chunk_index","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,-160],"id":"ea6344a1-7bac-44f1-a3ac-0707b51b8dd1","name":"Чанки","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    * \n  FROM \n    document_arcs \n  WHERE \n    job_id = {{ $json.job_id }}\n  ORDER BY \n    arc_number","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,496],"id":"52d14f15-9c5c-4401-b281-25c7bc60fa9b","name":"Арки","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2416,144],"id":"5cd09384-bf72-455f-b677-61eea148fe7f","name":"Merge1"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1712,-48],"id":"a56734f3-17b8-4136-8e70-eb528889affc","name":"Convert to File2","executeOnce":true},{"parameters":{"name":"=summary_{{ $('Готовим текст для Summary').first().json.path }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1888,-48],"id":"a4365df8-2bd1-41a4-9b8d-ca0aa00353fe","name":"Upload file2","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2080,-48],"id":"e201470a-f06f-42fb-92e8-cdd3aa4c5137","name":"Share folder translate_2","credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Главы').all()) {\n  text += 'Глава: ' + item.json.chapter_number + '\\n';\n  if (item.json.summary.chapter_summary)\n    text += item.json.summary.chapter_summary  + '\\n\\n';\n}\n\nlet arcs = '';\nfor (const item of $('Арки').all()) {\n  arcs += 'Арка: ' + item.json.arc_number + '\\n';\n  if (item.json?.summary?.arc_summary_rolling)\n    arcs += item.json.summary.arc_summary_rolling  + '\\n';\n  if (item.json?.reason)\n    arcs += 'Причина окончания: ' + item.json.reason  + '\\n\\n';\n}\n\ntext = `\nSummary по главам и Аркам\n\n${text}\n\n-----\n\n${arcs}\n\n`;\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-48],"id":"1efe3f85-3d8c-45b8-ac35-3c50f37fa5c7","name":"Готовим текст для Summary"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Текущий перевод').first().json.job_id }}","log":"={{ $('Edit Fields1')?.first()?.json.message }}","type":"info","node":"Finish"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3200,240],"id":"d3400279-8a2d-44b2-89a7-c4bf60b48d25","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Чанки').all()) {\n  text += item.json.result_text + '\\n\\n';\n}\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-304],"id":"e704301d-2420-4a09-afce-48a8971b9b99","name":"Собираем переведенные чанки в единый текст"},{"parameters":{"jsCode":"const folder = `${$('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")}_(${DateTime.now().toFormat('dd_MM_yyyy__hh_mm_ss')})`;\nreturn { folder }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-176],"id":"ea969a1e-9eb5-47cc-9983-308aa3adef01","name":"Имя папки"},{"parameters":{"resource":"folder","name":"={{ $json.folder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,-176],"id":"01648baf-9517-45f2-be38-c635e382148b","name":"Create folder","executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1264,-176],"id":"c8ba8fc9-a474-4dfe-a1ff-a064a4b6fb47","name":"Share folder","executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"OfjqR7v8bwrPeQgK","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"511f821c-8849-451a-967c-6844429596a6","leftValue":"={{ $('Бинарные данные файлов').first().json.source }}","rightValue":"custom","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,64],"id":"5e6744eb-2650-441d-881c-54e0cabef9cf","name":"If"},{"parameters":{"operation":"executeQuery","query":"UPDATE document_files\n  SET\n    translate_file = null,\n    glossary = null,\n    prompt = null;\n\nSELECT \n    source \n  FROM \n    document_files","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,-352],"id":"dc413588-2b9c-415a-b76c-a914761befb1","name":"Бинарные данные файлов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    telegram_messages\n  SET\n    is_translate = TRUE\n  WHERE \n  id = $1","options":{"queryReplacement":"={{ $json.translate_file.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,192],"id":"4911bcf7-2804-46ae-825a-a9478f6b0173","name":"Выставим флаг о завершении перевода","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[928,192],"id":"c69eea90-900a-48b6-ba04-db8cd9da3010","name":"Get row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Чанки').all()) {\n  text += item.json.result_text + '\\n\\n';\n}\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,192],"id":"15a17dd2-c72a-424a-9f6f-5280c50499d2","name":"Собираем переведенные чанки в единый текст1"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8","fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1520,192],"id":"25636bd4-e048-46bd-84f2-42e708753a9f","name":"Convert to File1","executeOnce":true},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Get row(s)').first().json.chat_id }}","binaryData":true,"additionalFields":{"fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1712,192],"id":"ee9d3748-14e7-46b0-b547-12000fc8cee1","name":"Send a document","webhookId":"edd04996-850a-4287-9493-f929669bdee5","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9773e838-3414-476c-941d-dd213b029e5f","leftValue":"={{ $json.result?.message_id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2592,160],"id":"be454577-8204-40aa-82eb-1f6fe8a17a4e","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"6f06926b-83ab-4c5b-bad3-2b56889c748a","name":"message","value":"Файл отправлен в Телегу","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2832,48],"id":"263dbcf1-a00a-4088-bf32-c10904714fd4","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"1aad7c77-395d-482a-a19b-db2277546da9","name":"message","value":"=Файлы созданы Папка ({{ $('Create folder').item.json.name }}):   │   ├➞ Перевод: {{ $('Upload file').first().json.name }}   └➞ Summary: {{ $('Upload file2').first().json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2832,240],"id":"a5fd6de9-b824-436a-95b1-acf39b8f29b7","name":"Edit Fields1"},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    status='done', \n    finished_at=NOW(), \n    translated_file='{{ $('Send a document').first().json.result.document.file_name }}', \n    web_view_link='', \n    web_chapters_link='' \n  WHERE \n    id={{ $('Текущий перевод').first().json.job_id }};\n\nINSERT INTO telegram_send_message (template) VALUES ('finish_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3008,48],"id":"b3139a9f-2fe9-498d-a8f5-ad2e08a3a7ab","name":"Сообщение о завершении перевода1","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Текущий перевод').first().json.job_id }}","log":"={{ $('Edit Fields')?.first()?.json?.message }}","type":"info","node":"Finish"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3200,48],"id":"9d24d083-784d-4e3c-8bb0-002124800f01","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}}],"connections":{"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share folder translate_","type":"main","index":0}]]},"Share folder translate_":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Чанки","type":"main","index":0},{"node":"Текущий перевод","type":"main","index":0},{"node":"Главы","type":"main","index":0},{"node":"Арки","type":"main","index":0},{"node":"Бинарные данные файлов","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Текущий перевод":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Чанки":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Главы":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Арки":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"Upload file2":{"main":[[{"node":"Share folder translate_2","type":"main","index":0}]]},"Share folder translate_2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Готовим текст для Summary":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"to log":{"main":[[]]},"Собираем переведенные чанки в единый текст":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Имя папки":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Share folder","type":"main","index":0}]]},"Share folder":{"main":[[{"node":"Собираем переведенные чанки в единый текст","type":"main","index":0},{"node":"Готовим текст для Summary","type":"main","index":0}]]},"Бинарные данные файлов":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If":{"main":[[{"node":"Имя папки","type":"main","index":0}],[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Выставим флаг о завершении перевода","type":"main","index":0}]]},"Выставим флаг о завершении перевода":{"main":[[{"node":"Собираем переведенные чанки в единый текст1","type":"main","index":0}]]},"Собираем переведенные чанки в единый текст1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"Send a document":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Сообщение о завершении перевода1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Сообщение о завершении перевода","type":"main","index":0}]]},"Сообщение о завершении перевода":{"main":[[{"node":"to log","type":"main","index":0}]]},"Сообщение о завершении перевода1":{"main":[[{"node":"to log1","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveExecutionProgress":false,"saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"12bb6739-9396-426d-8584-6b2c25b4e502","activeVersionId":"12bb6739-9396-426d-8584-6b2c25b4e502","versionCounter":150,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"vuqLp6ZGenvpkJbmVPR_6","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Finish","description":""}}]
