workflows/MOEX___Candle_Research_Feed.json
[{"updatedAt":"2026-04-17T19:04:05.410Z","createdAt":"2026-04-17T17:06:08.887Z","id":"BQM9Qy3rgMDURm1f","name":"MOEX | Candle Research Feed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,224]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,416]},{"parameters":{"operation":"executeQuery","query":"SELECT secid, engine, market, board, instrument_group, issuer_name, news_keywords, active\nFROM ref.instrument\nWHERE active = TRUE\nORDER BY secid;","options":{"queryBatching":"single","largeNumbersOutput":"text"}},"id":"get-watchlist","name":"Get Watchlist","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,320],"credentials":{"postgres":{"id":"VcFidTwTBvJldBxy","name":"Market Research Postgres RO"}}},{"parameters":{"jsCode":"const intervals = [\n  { interval_code: 1, interval_name: '1m', days_back: 1 },\n  { interval_code: 60, interval_name: '1h', days_back: 30 },\n  { interval_code: 24, interval_name: '1d', days_back: 180 },\n  { interval_code: 7, interval_name: '1w', days_back: 730 },\n];\n\nconst today = new Date();\nconst fmt = (value) => value.toISOString().slice(0, 10);\nconst out = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const secid = row.secid;\n  if (!secid || row.active === false || row.active === 'false') continue;\n\n  const engine = row.engine || 'stock';\n  const market = row.market || 'shares';\n  const board = row.board || 'TQBR';\n\n  for (const interval of intervals) {\n    const fromDate = new Date(today);\n    fromDate.setUTCDate(fromDate.getUTCDate() - interval.days_back);\n    const candleUrl = `https://iss.moex.com/iss/engines/${engine}/markets/${market}/boards/${board}/securities/${secid}/candles.json?interval=${interval.interval_code}&from=${fmt(fromDate)}&till=${fmt(today)}`;\n    out.push({\n      json: {\n        ...row,\n        ...interval,\n        engine,\n        market,\n        board,\n        from_date: fmt(fromDate),\n        till_date: fmt(today),\n        candle_url: candleUrl,\n      },\n    });\n  }\n}\n\nreturn out;"},"id":"expand-intervals","name":"Expand Interval Requests","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,320]},{"parameters":{"url":"={{ $json.candle_url }}","options":{"timeout":60000}},"id":"fetch-candles","name":"Fetch MOEX Candles","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[912,144],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"merge-meta-response","name":"Merge Meta and Response","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1136,336]},{"parameters":{"jsCode":"const computeHash = (value) => {\n  const input = String(value || '');\n  let hash = 0;\n  for (let index = 0; index < input.length; index++) {\n    hash = ((hash << 5) - hash) + input.charCodeAt(index);\n    hash |= 0;\n  }\n  return `h${(hash >>> 0).toString(16)}`;\n};\nconst results = [];\n\nfor (const item of items) {\n  const payload = item.json;\n  const candleBlock = payload.candles || {};\n  const columns = candleBlock.columns || [];\n  const rows = candleBlock.data || [];\n  const candles = rows.map((row) => {\n    const entry = {};\n    columns.forEach((column, index) => {\n      entry[column] = row[index];\n    });\n    return entry;\n  });\n\n  if (candles.length === 0) continue;\n\n  const normalizedCandles = candles\n    .map((entry) => {\n      const candleTime = entry.begin || entry.end || null;\n      return {\n        candle_time: candleTime ? new Date(candleTime).toISOString() : null,\n        begin_at: entry.begin ? new Date(entry.begin).toISOString() : null,\n        end_at: entry.end ? new Date(entry.end).toISOString() : null,\n        open: entry.open ?? null,\n        high: entry.high ?? null,\n        low: entry.low ?? null,\n        close: entry.close ?? null,\n        volume: entry.volume ?? null,\n        value: entry.value ?? null,\n        payload: entry,\n      };\n    })\n    .filter((entry) => entry.candle_time);\n\n  if (normalizedCandles.length === 0) continue;\n\n  const last = candles[candles.length - 1] || {};\n  const prev = candles[candles.length - 2] || {};\n  const latestClose = Number(last.close ?? 0);\n  const prevClose = Number(prev.close ?? last.open ?? 0);\n  const changePct = prevClose ? Number((((latestClose - prevClose) / prevClose) * 100).toFixed(4)) : 0;\n  const recentCandles = normalizedCandles.slice(-5);\n  const latestCandleTime = normalizedCandles[normalizedCandles.length - 1].candle_time;\n\n  const summaryText = [\n    `Инструмент: ${payload.secid}`,\n    `Эмитент: ${payload.issuer_name || payload.secid}`,\n    `Группа: ${payload.instrument_group || 'stocks'}`,\n    `Интервал: ${payload.interval_name}`,\n    `Период выгрузки: ${payload.from_date} - ${payload.till_date}`,\n    `Количество свечей: ${normalizedCandles.length}`,\n    `Последняя свеча: ${latestCandleTime}`,\n    `Последнее закрытие: ${latestClose || 'n/a'}`,\n    `Изменение к предыдущей свече: ${changePct}%`,\n    `Последний объем: ${last.volume ?? 'n/a'}`,\n    `OHLC последней свечи: O=${last.open ?? 'n/a'} H=${last.high ?? 'n/a'} L=${last.low ?? 'n/a'} C=${last.close ?? 'n/a'}`,\n    `Последние 5 свечей JSON: ${JSON.stringify(recentCandles)}`,\n  ].join('\\n');\n\n  const sourceKey = `moex/candles/${payload.secid}/${payload.interval_name}/${latestCandleTime}`;\n  const payloadObject = {\n    secid: payload.secid,\n    issuer_name: payload.issuer_name,\n    interval_name: payload.interval_name,\n    interval_code: payload.interval_code,\n    from_date: payload.from_date,\n    till_date: payload.till_date,\n    latest_candle_time: latestCandleTime,\n    latest_close: latestClose,\n    change_pct: changePct,\n    last_volume: Number(last.volume ?? 0),\n    recent_candles: recentCandles,\n  };\n  const payloadJson = JSON.stringify(payloadObject);\n  const documentHash = computeHash(summaryText);\n\n  results.push({\n    json: {\n      secid: payload.secid,\n      engine: payload.engine,\n      board: payload.board,\n      market: payload.market,\n      instrument_group: payload.instrument_group,\n      issuer_name: payload.issuer_name,\n      interval_code: payload.interval_code,\n      interval_name: payload.interval_name,\n      from_date: payload.from_date,\n      till_date: payload.till_date,\n      candles_count: normalizedCandles.length,\n      latest_close: latestClose,\n      change_pct: changePct,\n      last_volume: Number(last.volume ?? 0),\n      summary_text: summaryText,\n      knowledge_text: summaryText,\n      source_key: sourceKey,\n      document_hash: documentHash,\n      payload_json: payloadJson,\n      candles_json: JSON.stringify(normalizedCandles),\n    },\n  });\n}\n\nreturn results;"},"id":"normalize-candles","name":"Normalize Candle Snapshot","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,336]},{"parameters":{"method":"POST","url":"http://127.0.0.1:9623/documents/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.knowledge_text, file_source: $json.source_key }) }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"push-lightrag","name":"Push Snapshot to LightRAG","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1584,528]},{"parameters":{"operation":"executeQuery","query":"WITH incoming AS (\n    SELECT\n        $1::text AS engine,\n        $2::text AS market,\n        $3::text AS board,\n        $4::text AS secid,\n        $5::integer AS interval_code,\n        $6::text AS interval_name,\n        value AS candle\n    FROM jsonb_array_elements($7::jsonb) AS value\n), upserted AS (\n    INSERT INTO raw.candle (\n        engine,\n        market,\n        board,\n        secid,\n        interval_code,\n        interval_name,\n        candle_time,\n        open,\n        high,\n        low,\n        close,\n        volume,\n        value,\n        begin_at,\n        end_at,\n        payload,\n        collected_at\n    )\n    SELECT\n        engine,\n        market,\n        board,\n        secid,\n        interval_code,\n        interval_name,\n        NULLIF(candle->>'candle_time', '')::timestamptz,\n        NULLIF(candle->>'open', '')::numeric,\n        NULLIF(candle->>'high', '')::numeric,\n        NULLIF(candle->>'low', '')::numeric,\n        NULLIF(candle->>'close', '')::numeric,\n        NULLIF(candle->>'volume', '')::numeric,\n        NULLIF(candle->>'value', '')::numeric,\n        NULLIF(candle->>'begin_at', '')::timestamptz,\n        NULLIF(candle->>'end_at', '')::timestamptz,\n        candle,\n        NOW()\n    FROM incoming\n    WHERE NULLIF(candle->>'candle_time', '') IS NOT NULL\n    ON CONFLICT (engine, market, board, secid, interval_name, candle_time)\n    DO UPDATE SET\n        interval_code = EXCLUDED.interval_code,\n        open = EXCLUDED.open,\n        high = EXCLUDED.high,\n        low = EXCLUDED.low,\n        close = EXCLUDED.close,\n        volume = EXCLUDED.volume,\n        value = EXCLUDED.value,\n        begin_at = EXCLUDED.begin_at,\n        end_at = EXCLUDED.end_at,\n        payload = EXCLUDED.payload,\n        collected_at = NOW()\n    RETURNING 1\n)\nSELECT COUNT(*)::int AS upserted_rows FROM upserted;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.engine, $json.market, $json.board, $json.secid, Number($json.interval_code), $json.interval_name, $json.candles_json] }}","replaceEmptyStrings":true}},"id":"a951970a-fb76-4ae1-a482-4a0026423af1","name":"Upsert Raw Candle Batch","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1584,144],"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO analytics.instrument_snapshot (\n    engine,\n    market,\n    board,\n    secid,\n    interval_code,\n    interval_name,\n    snapshot_at,\n    candles_count,\n    latest_close,\n    change_pct,\n    last_volume,\n    summary_text,\n    payload\n)\nVALUES (\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    $6,\n    NOW(),\n    $7,\n    $8,\n    $9,\n    $10,\n    $11,\n    $12::jsonb\n)\nRETURNING secid, interval_name, snapshot_at;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.engine, $json.market, $json.board, $json.secid, Number($json.interval_code), $json.interval_name, Number($json.candles_count), $json.latest_close, $json.change_pct, $json.last_volume, $json.summary_text, $json.payload_json] }}","replaceEmptyStrings":true}},"id":"14e2b0bf-b90e-487d-8ae2-24addc1197cf","name":"Insert Snapshot Record","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1584,336],"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest.lightrag_document_log (\n    target_kb,\n    document_type,\n    source_key,\n    source_table,\n    source_pk,\n    document_hash,\n    status,\n    response_payload,\n    published_at\n)\nVALUES (\n    'tradekb',\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    'published',\n    $6::jsonb,\n    NOW()\n)\nON CONFLICT (target_kb, source_key)\nDO UPDATE SET\n    document_type = EXCLUDED.document_type,\n    source_table = EXCLUDED.source_table,\n    source_pk = EXCLUDED.source_pk,\n    document_hash = EXCLUDED.document_hash,\n    status = 'published',\n    response_payload = EXCLUDED.response_payload,\n    published_at = NOW()\nRETURNING source_key, status;","options":{"queryBatching":"independently","queryReplacement":"={{ ['candle_snapshot', $('Normalize Candle Snapshot').item.json.source_key, 'analytics.instrument_snapshot', $('Normalize Candle Snapshot').item.json.secid + ':' + $('Normalize Candle Snapshot').item.json.interval_name, $('Normalize Candle Snapshot').item.json.document_hash, JSON.stringify($json)] }}","replaceEmptyStrings":true}},"id":"66613544-f200-46f3-920f-fd302c17c0f4","name":"Log Snapshot Publish","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,528],"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Watchlist","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Watchlist","type":"main","index":0}]]},"Get Watchlist":{"main":[[{"node":"Expand Interval Requests","type":"main","index":0}]]},"Expand Interval Requests":{"main":[[{"node":"Fetch MOEX Candles","type":"main","index":0},{"node":"Merge Meta and Response","type":"main","index":0}]]},"Fetch MOEX Candles":{"main":[[{"node":"Merge Meta and Response","type":"main","index":1}]]},"Merge Meta and Response":{"main":[[{"node":"Normalize Candle Snapshot","type":"main","index":0}]]},"Normalize Candle Snapshot":{"main":[[{"node":"Push Snapshot to LightRAG","type":"main","index":0},{"node":"Upsert Raw Candle Batch","type":"main","index":0},{"node":"Insert Snapshot Record","type":"main","index":0}]]},"Push Snapshot to LightRAG":{"main":[[{"node":"Log Snapshot Publish","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"fa8debe0-20ed-440b-b464-046edfe3ffcf","activeVersionId":"fa8debe0-20ed-440b-b464-046edfe3ffcf","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-17T17:06:08.887Z","createdAt":"2026-04-17T17:06:08.887Z","role":"workflow:owner","workflowId":"BQM9Qy3rgMDURm1f","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version fa8debe0","description":""}}]
