workflows/MOEX___News_Research_Feed.json
[{"updatedAt":"2026-04-17T19:01:38.974Z","createdAt":"2026-04-17T17:14:32.642Z","id":"v77tZsa4wOtbPqwN","name":"MOEX | News Research Feed","description":null,"active":true,"isArchived":false,"nodes":[{"id":"rss-trigger","name":"MOEX RSS Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[260,300],"parameters":{"feedUrl":"https://www.moex.com/export/news.aspx?cat=100"}},{"id":"prepare-news","name":"Prepare Incoming News","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const source = items[0]?.json || {};\nconst title = source.title || '';\nconst link = source.link || source.guid || '';\nconst publishedAt = source.isoDate || source.pubDate || new Date().toISOString();\nconst summaryRaw = source.contentSnippet || source.content || source['content:encoded'] || source.summary || '';\nconst externalId = (link || `${publishedAt}|${title}`).replace(/[^a-zA-Z0-9_-]+/g, '_').slice(0, 180);\n\nreturn [{\n  json: {\n    source: 'moex_rss_all',\n    title,\n    link,\n    published_at: publishedAt,\n    summary_raw: summaryRaw,\n    external_id: externalId,\n    search_text: `${title}\\n${summaryRaw}\\n${link}`.toLowerCase(),\n  },\n}];"}},{"id":"get-watchlist","name":"Get Watchlist","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[540,400],"parameters":{"operation":"executeQuery","query":"SELECT secid, engine, market, board, instrument_group, issuer_name, news_keywords, active\nFROM ref.instrument\nWHERE active = TRUE\nORDER BY secid;","options":{"queryBatching":"single","largeNumbersOutput":"text"}},"credentials":{"postgres":{"id":"VcFidTwTBvJldBxy","name":"Market Research Postgres RO"}}},{"id":"merge-context","name":"Append News And Watchlist","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[840,300],"parameters":{"mode":"append"}},{"id":"match-news","name":"Match News To Watchlist","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const computeHash = (value) => {\n  const input = String(value || '');\n  let hash = 0;\n  for (let index = 0; index < input.length; index++) {\n    hash = ((hash << 5) - hash) + input.charCodeAt(index);\n    hash |= 0;\n  }\n  return `h${(hash >>> 0).toString(16)}`;\n};\nconst news = items.find((item) => item.json.external_id && item.json.search_text);\nconst watchlist = items.filter((item) => item.json.secid);\n\nif (!news || watchlist.length === 0) {\n  return [];\n}\n\nconst haystack = news.json.search_text || '';\nconst results = [];\n\nfor (const item of watchlist) {\n  const row = item.json;\n  const keywords = [\n    row.secid,\n    row.issuer_name,\n    ...(String(row.news_keywords || '')\n      .split(',')\n      .map((value) => value.trim())\n      .filter(Boolean)),\n  ]\n    .map((value) => String(value || '').toLowerCase())\n    .filter(Boolean);\n\n  const matched = keywords.filter((keyword) => haystack.includes(keyword));\n  if (matched.length === 0) continue;\n\n  const knowledgeText = [\n    `Источник: Moscow Exchange RSS`,\n    `Инструмент: ${row.secid}`,\n    `Эмитент: ${row.issuer_name || row.secid}`,\n    `Группа: ${row.instrument_group || 'stocks'}`,\n    `Дата публикации: ${news.json.published_at}`,\n    `Заголовок: ${news.json.title}`,\n    `Ссылка: ${news.json.link || 'n/a'}`,\n    `Ключевые совпадения: ${matched.join(', ')}`,\n    `Текст новости: ${news.json.summary_raw || 'n/a'}`,\n  ].join('\\n');\n\n  const sourceKey = `moex/news/${row.secid}/${news.json.external_id}`;\n  const payloadObject = {\n    source: news.json.source,\n    secid: row.secid,\n    issuer_name: row.issuer_name,\n    instrument_group: row.instrument_group,\n    external_id: news.json.external_id,\n    published_at: news.json.published_at,\n    title: news.json.title,\n    link: news.json.link,\n    matched_keywords: matched,\n    summary_raw: news.json.summary_raw,\n  };\n  const payloadJson = JSON.stringify(payloadObject);\n  const documentHash = computeHash(knowledgeText);\n\n  results.push({\n    json: {\n      source: news.json.source,\n      secid: row.secid,\n      engine: row.engine,\n      market: row.market,\n      board: row.board,\n      issuer_name: row.issuer_name,\n      instrument_group: row.instrument_group,\n      external_id: news.json.external_id,\n      published_at: news.json.published_at,\n      title: news.json.title,\n      link: news.json.link,\n      summary_raw: news.json.summary_raw,\n      matched_keywords: matched.join(', '),\n      summary_text: knowledgeText,\n      knowledge_text: knowledgeText,\n      source_key: sourceKey,\n      document_hash: documentHash,\n      payload_json: payloadJson,\n    },\n  });\n}\n\nreturn results;"}},{"id":"push-lightrag","name":"Push News To LightRAG","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1420,300],"parameters":{"method":"POST","url":"http://127.0.0.1:9623/documents/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.knowledge_text, file_source: $json.source_key }) }}","options":{"timeout":30000,"response":{"response":{"neverError":false,"responseFormat":"json"}}}}},{"id":"42521961-fee2-47ce-9bce-b5e00449ef33","name":"Upsert News And Match","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1420,140],"parameters":{"operation":"executeQuery","query":"WITH upsert_news AS (\n    INSERT INTO raw.news_item (\n        source,\n        external_id,\n        published_at,\n        title,\n        link,\n        summary,\n        content,\n        payload,\n        ingested_at\n    )\n    VALUES (\n        $1,\n        $2,\n        $3::timestamptz,\n        $4,\n        $5,\n        $6,\n        $7,\n        $8::jsonb,\n        NOW()\n    )\n    ON CONFLICT (source, external_id)\n    DO UPDATE SET\n        published_at = EXCLUDED.published_at,\n        title = EXCLUDED.title,\n        link = EXCLUDED.link,\n        summary = EXCLUDED.summary,\n        content = EXCLUDED.content,\n        payload = EXCLUDED.payload,\n        ingested_at = NOW()\n    RETURNING news_id\n), resolved_news AS (\n    SELECT news_id FROM upsert_news\n    UNION ALL\n    SELECT news_id\n    FROM raw.news_item\n    WHERE source = $1\n      AND external_id = $2\n    LIMIT 1\n), instrument AS (\n    SELECT instrument_id\n    FROM ref.instrument\n    WHERE secid = $9\n    LIMIT 1\n), upsert_match AS (\n    INSERT INTO raw.news_instrument_match (\n        news_id,\n        instrument_id,\n        matched_keywords,\n        confidence,\n        matched_at\n    )\n    SELECT\n        resolved_news.news_id,\n        instrument.instrument_id,\n        $10,\n        1.0,\n        NOW()\n    FROM resolved_news\n    CROSS JOIN instrument\n    ON CONFLICT (news_id, instrument_id)\n    DO UPDATE SET\n        matched_keywords = EXCLUDED.matched_keywords,\n        confidence = EXCLUDED.confidence,\n        matched_at = NOW()\n    RETURNING news_id, instrument_id\n)\nSELECT COUNT(*)::int AS matched_rows FROM upsert_match;","options":{"queryBatching":"independently","replaceEmptyStrings":true,"queryReplacement":"={{ [$json.source, $json.external_id, $json.published_at, $json.title, $json.link, $json.summary_raw, $json.summary_raw, $json.payload_json, $json.secid, $json.matched_keywords] }}"}},"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"id":"9e171ba1-957e-40c4-b6d7-f423ef191101","name":"Log News Publish","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1700,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest.lightrag_document_log (\n    target_kb,\n    document_type,\n    source_key,\n    source_table,\n    source_pk,\n    document_hash,\n    status,\n    response_payload,\n    published_at\n)\nVALUES (\n    'tradekb',\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    'published',\n    $6::jsonb,\n    NOW()\n)\nON CONFLICT (target_kb, source_key)\nDO UPDATE SET\n    document_type = EXCLUDED.document_type,\n    source_table = EXCLUDED.source_table,\n    source_pk = EXCLUDED.source_pk,\n    document_hash = EXCLUDED.document_hash,\n    status = 'published',\n    response_payload = EXCLUDED.response_payload,\n    published_at = NOW()\nRETURNING source_key, status;","options":{"queryBatching":"independently","replaceEmptyStrings":true,"queryReplacement":"={{ ['news_item', $('Match News To Watchlist').item.json.source_key, 'raw.news_item', $('Match News To Watchlist').item.json.secid + ':' + $('Match News To Watchlist').item.json.external_id, $('Match News To Watchlist').item.json.document_hash, JSON.stringify($json)] }}"}},"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}}],"connections":{"MOEX RSS Trigger":{"main":[[{"node":"Prepare Incoming News","type":"main","index":0},{"node":"Get Watchlist","type":"main","index":0}]]},"Prepare Incoming News":{"main":[[{"node":"Append News And Watchlist","type":"main","index":0}]]},"Get Watchlist":{"main":[[{"node":"Append News And Watchlist","type":"main","index":1}]]},"Append News And Watchlist":{"main":[[{"node":"Match News To Watchlist","type":"main","index":0}]]},"Match News To Watchlist":{"main":[[{"node":"Push News To LightRAG","type":"main","index":0},{"node":"Upsert News And Match","type":"main","index":0}]]},"Push News To LightRAG":{"main":[[{"node":"Log News Publish","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:MOEX RSS Trigger":{"lastItemDate":"2026-04-17T15:01:54.000Z"}},"meta":null,"pinData":null,"versionId":"ddb4b7ec-8097-4d71-b1ce-4b47033dcebf","activeVersionId":"ddb4b7ec-8097-4d71-b1ce-4b47033dcebf","versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-17T17:14:32.642Z","createdAt":"2026-04-17T17:14:32.642Z","role":"workflow:owner","workflowId":"v77tZsa4wOtbPqwN","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version ddb4b7ec","description":""}}]
