workflows/MOEX___Daily_Research_Digest.json
[{"updatedAt":"2026-04-18T04:39:45.132Z","createdAt":"2026-04-17T17:15:29.373Z","id":"Cefl1Xb6o3ceFoO0","name":"MOEX | Daily Research Digest","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,224]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 20 0 * * *"}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,416]},{"parameters":{"operation":"executeQuery","query":"SELECT secid, engine, market, board, instrument_group, issuer_name, news_keywords, active\nFROM ref.instrument\nWHERE active = TRUE\nORDER BY secid;","options":{"queryBatching":"single","largeNumbersOutput":"text"}},"id":"get-watchlist","name":"Get Watchlist","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,320],"credentials":{"postgres":{"id":"VcFidTwTBvJldBxy","name":"Market Research Postgres RO"}}},{"parameters":{"jsCode":"const instruments = items.map((item) => ({\n  secid: item.json.secid,\n  issuer_name: item.json.issuer_name,\n  instrument_group: item.json.instrument_group,\n})).filter((item) => item.secid);\n\nconst secids = instruments.map((item) => item.secid).join(', ');\nconst groups = [...new Set(instruments.map((item) => item.instrument_group).filter(Boolean))].join(', ');\nconst now = new Date();\nconst reportTime = now.toISOString();\nconst moscowParts = new Intl.DateTimeFormat('en', {\n  timeZone: 'Europe/Moscow',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  hour12: false,\n}).formatToParts(now);\nconst getPart = (type) => moscowParts.find((part) => part.type === type)?.value || '';\nconst moscowHour = Number(getPart('hour') || '0');\nconst digestDateValue = new Date(`${getPart('year')}-${getPart('month')}-${getPart('day')}T00:00:00+03:00`);\nif (moscowHour < 6) {\n  digestDateValue.setUTCDate(digestDateValue.getUTCDate() - 1);\n}\nconst digestForDate = digestDateValue.toISOString().slice(0, 10);\n\nconst query = [\n  'Ты ведешь исследовательский контур по Московской бирже.',\n  `Время генерации: ${reportTime}`,\n  `Дата торговой сессии: ${digestForDate}`,\n  `Фокус-лист: ${secids}`,\n  `Группы инструментов: ${groups || 'stocks'}`,\n  'Используй только данные, которые уже есть в базе знаний.',\n  'Собери исследовательскую сводку без инвестиционных рекомендаций и без обещаний доходности.',\n  '1. Сначала дай общий фон по новостям и динамике.',\n  '2. Потом по каждому тикеру отдельно: что видно по новостям и по последним свечным данным.',\n  '3. Отдельно отметь аномалии: ускорение, спад, всплеск объема, расхождение между 1m, 1h, 1d и 1w контекстом.',\n  '4. Если данных мало, явно так и напиши.',\n  'Формат ответа: разделы \"Общий фон\", затем блоки по тикерам, затем раздел \"Риски наблюдения\".',\n].join('\\n');\n\nreturn [{\n  json: {\n    report_time: reportTime,\n    digest_for_date: digestForDate,\n    secids,\n    query,\n  },\n}];"},"id":"build-prompt","name":"Build Research Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,320]},{"parameters":{"method":"POST","url":"http://127.0.0.1:9623/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.query, mode: 'mix', top_k: 40, max_total_tokens: 3000, response_type: 'Multiple Paragraphs' }) }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"query-lightrag","name":"Query LightRAG","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,144]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"merge-response","name":"Merge Prompt And Response","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1136,336]},{"parameters":{"jsCode":"const payload = items[0]?.json || {};\nconst report = payload.response || payload.result || payload.answer || payload.data?.response || payload.data?.result || payload.data?.answer || JSON.stringify(payload);\nconst reportTime = payload.report_time || new Date().toISOString();\nconst digestForDate = payload.digest_for_date || reportTime.slice(0, 10);\nconst sourceKey = `moex/digest/${digestForDate}`;\nconst payloadJson = JSON.stringify({\n  report_time: reportTime,\n  digest_for_date: digestForDate,\n  secids: payload.secids,\n  query: payload.query,\n  response: payload.response || payload.result || payload.answer || payload.data || null,\n});\n\nreturn [{\n  json: {\n    report_time: reportTime,\n    digest_for_date: digestForDate,\n    secids: payload.secids,\n    report_text: String(report).slice(0, 12000),\n    source_key: sourceKey,\n    raw_payload: payloadJson,\n  },\n}];"},"id":"extract-digest","name":"Extract Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,336]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO analytics.research_digest (\n    report_type,\n    scope,\n    generated_at,\n    summary_text,\n    payload,\n    knowledge_source\n)\nVALUES (\n    'daily_digest',\n    'moex',\n    $1::timestamptz,\n    $2,\n    $3::jsonb,\n    $4\n)\nRETURNING digest_id, generated_at;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.report_time, $json.report_text, $json.raw_payload, $json.source_key] }}","replaceEmptyStrings":true}},"id":"0e8e72ac-a532-41b0-b07e-0b2c20ff7084","name":"Store Research Digest","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1584,336],"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"id":"61b6ea7c-6720-4067-9601-6d2111b58981","name":"Internal Cron Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,96],"parameters":{"httpMethod":"POST","path":"moex-digest-int-6fa741bc","responseMode":"onReceived","options":{"ipWhitelist":"127.0.0.1,::1"}},"webhookId":"fdfae09d-7e39-4698-b6c9-ac3a24dbd229"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Watchlist","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Watchlist","type":"main","index":0}]]},"Get Watchlist":{"main":[[{"node":"Build Research Prompt","type":"main","index":0}]]},"Build Research Prompt":{"main":[[{"node":"Query LightRAG","type":"main","index":0},{"node":"Merge Prompt And Response","type":"main","index":0}]]},"Query LightRAG":{"main":[[{"node":"Merge Prompt And Response","type":"main","index":1}]]},"Merge Prompt And Response":{"main":[[{"node":"Extract Digest","type":"main","index":0}]]},"Extract Digest":{"main":[[{"node":"Store Research Digest","type":"main","index":0}]]},"Internal Cron Webhook":{"main":[[{"node":"Get Watchlist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c0af8d6a-a063-4da0-9b9c-60ac3d5218bd","activeVersionId":"c0af8d6a-a063-4da0-9b9c-60ac3d5218bd","versionCounter":24,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-17T17:15:29.373Z","createdAt":"2026-04-17T17:15:29.373Z","role":"workflow:owner","workflowId":"Cefl1Xb6o3ceFoO0","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
