workflows/MOEX___Candle_Backfill.json
[{"updatedAt":"2026-04-18T04:48:38.083Z","createdAt":"2026-04-18T04:02:43.055Z","id":"eGLrEdlnVD6ZbHUj","name":"MOEX | Candle Backfill","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,320]},{"parameters":{"jsCode":"return [{\n  json: {\n    target_secid: '',\n    target_interval: '',\n    max_requests: 0,\n    requested_by: 'manual',\n    run_started_at: new Date().toISOString(),\n  },\n}];"},"id":"backfill-config","name":"Manual Backfill Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    i.secid,\n    i.engine,\n    i.market,\n    i.board,\n    i.instrument_group,\n    i.issuer_name,\n    interval_map.interval_code,\n    interval_map.interval_name,\n    interval_map.batch_days,\n    interval_map.floor_days,\n    CONCAT('moex:candle:', i.engine, ':', i.market, ':', i.board, ':', i.secid, ':', interval_map.interval_name) AS live_cursor_key,\n    CONCAT('moex:candle_backfill:', i.engine, ':', i.market, ':', i.board, ':', i.secid, ':', interval_map.interval_name) AS backfill_cursor_key,\n    live_wc.cursor_value AS live_cursor_value,\n    backfill_wc.cursor_value AS backfill_cursor_value,\n    backfill_wc.updated_at AS backfill_updated_at,\n    earliest.first_candle_time\nFROM ref.instrument AS i\nCROSS JOIN (\n    VALUES\n        (1, '1m', 5, 90),\n        (60, '1h', 30, 730),\n        (24, '1d', 180, 3650),\n        (7, '1w', 730, 7300)\n) AS interval_map(interval_code, interval_name, batch_days, floor_days)\nLEFT JOIN meta.workflow_cursor AS live_wc\n    ON live_wc.workflow_key = CONCAT('moex:candle:', i.engine, ':', i.market, ':', i.board, ':', i.secid, ':', interval_map.interval_name)\nLEFT JOIN meta.workflow_cursor AS backfill_wc\n    ON backfill_wc.workflow_key = CONCAT('moex:candle_backfill:', i.engine, ':', i.market, ':', i.board, ':', i.secid, ':', interval_map.interval_name)\nLEFT JOIN LATERAL (\n    SELECT MIN(c.candle_time) AS first_candle_time\n    FROM raw.candle AS c\n    WHERE c.engine = i.engine\n      AND c.market = i.market\n      AND c.board = i.board\n      AND c.secid = i.secid\n      AND c.interval_name = interval_map.interval_name\n) AS earliest ON TRUE\nWHERE i.active = TRUE\n  AND ($1::text = '' OR i.secid = $1::text)\n  AND ($2::text = '' OR interval_map.interval_name = $2::text)\nORDER BY COALESCE(backfill_wc.updated_at, TO_TIMESTAMP(0)) ASC, i.secid, interval_map.interval_code\nLIMIT CASE WHEN $3::int > 0 THEN $3::int ELSE 500 END;","options":{"queryBatching":"single","queryReplacement":"={{ [$json.target_secid || '', $json.target_interval || '', Number($json.max_requests || 0)] }}","largeNumbersOutput":"text"}},"id":"get-backfill-scope","name":"Get Backfill Scope","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,320],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VcFidTwTBvJldBxy","name":"Market Research Postgres RO"}}},{"parameters":{"jsCode":"const now = new Date();\nconst fmt = (value) => value.toISOString().slice(0, 10);\nconst parseDate = (value) => {\n  if (!value) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed;\n};\nconst requests = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const batchDays = Number(row.batch_days || 30);\n  const floorDays = Number(row.floor_days || 365);\n\n  const floorDate = new Date(now);\n  floorDate.setUTCDate(floorDate.getUTCDate() - floorDays);\n\n  const candidates = [\n    ['backfill_cursor', row.backfill_cursor_value],\n    ['first_loaded_candle', row.first_candle_time],\n    ['live_cursor', row.live_cursor_value],\n  ];\n\n  let anchorSource = 'now';\n  let anchorEnd = new Date(now);\n  for (const [label, value] of candidates) {\n    const parsed = parseDate(value);\n    if (parsed) {\n      anchorSource = label;\n      anchorEnd = parsed;\n      break;\n    }\n  }\n\n  if (anchorEnd <= floorDate) {\n    continue;\n  }\n\n  const tillDate = new Date(anchorEnd);\n  const fromDate = new Date(anchorEnd);\n  fromDate.setUTCDate(fromDate.getUTCDate() - batchDays);\n\n  if (fromDate < floorDate) {\n    fromDate.setTime(floorDate.getTime());\n  }\n\n  if (fromDate >= tillDate) {\n    continue;\n  }\n\n  const candleUrl = `https://iss.moex.com/iss/engines/${row.engine}/markets/${row.market}/boards/${row.board}/securities/${row.secid}/candles.json?interval=${row.interval_code}&from=${fmt(fromDate)}&till=${fmt(tillDate)}`;\n\n  requests.push({\n    json: {\n      ...row,\n      request_mode: row.backfill_cursor_value\n        ? 'continue_backfill'\n        : row.first_candle_time\n          ? 'extend_existing_history'\n          : row.live_cursor_value\n            ? 'bootstrap_from_live_cursor'\n            : 'bootstrap_from_now',\n      anchor_source: anchorSource,\n      anchor_end: anchorEnd.toISOString(),\n      floor_date: floorDate.toISOString(),\n      from_date: fmt(fromDate),\n      till_date: fmt(tillDate),\n      candle_url: candleUrl,\n    },\n  });\n}\n\nreturn requests;"},"id":"build-backfill-requests","name":"Build Backfill Requests","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"url":"={{ $json.candle_url }}","options":{"timeout":60000}},"id":"fetch-candles","name":"Fetch MOEX Candles","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1136,144],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"merge-meta-response","name":"Merge Meta and Response","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,320]},{"parameters":{"jsCode":"const toIso = (value) => {\n  if (!value) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n};\nconst toStartOfDayIso = (value) => {\n  if (!value) return null;\n  return toIso(`${value}T00:00:00.000Z`);\n};\nconst results = [];\n\nfor (const item of items) {\n  const payload = item.json;\n  if (payload.error || (payload.statusCode && Number(payload.statusCode) >= 400)) {\n    continue;\n  }\n\n  const candleBlock = payload.candles || {};\n  const columns = candleBlock.columns || [];\n  const rows = candleBlock.data || [];\n  const candles = rows.map((row) => {\n    const entry = {};\n    columns.forEach((column, index) => {\n      entry[column] = row[index];\n    });\n    return entry;\n  });\n\n  const normalizedCandles = candles\n    .map((entry) => {\n      const candleTime = entry.begin || entry.end || null;\n      return {\n        candle_time: toIso(candleTime),\n        begin_at: toIso(entry.begin),\n        end_at: toIso(entry.end),\n        open: entry.open ?? null,\n        high: entry.high ?? null,\n        low: entry.low ?? null,\n        close: entry.close ?? null,\n        volume: entry.volume ?? null,\n        value: entry.value ?? null,\n        payload: entry,\n      };\n    })\n    .filter((entry) => entry.candle_time)\n    .sort((left, right) => new Date(left.candle_time) - new Date(right.candle_time));\n\n  const fallbackCursor = toStartOfDayIso(payload.from_date) || toIso(payload.anchor_end) || new Date().toISOString();\n  const oldestCandleTime = normalizedCandles.length > 0 ? normalizedCandles[0].candle_time : fallbackCursor;\n  const newestCandleTime = normalizedCandles.length > 0 ? normalizedCandles[normalizedCandles.length - 1].candle_time : null;\n\n  const payloadObject = {\n    secid: payload.secid,\n    interval_name: payload.interval_name,\n    interval_code: payload.interval_code,\n    request_mode: payload.request_mode,\n    anchor_source: payload.anchor_source,\n    anchor_end: payload.anchor_end,\n    from_date: payload.from_date,\n    till_date: payload.till_date,\n    fetched_count: normalizedCandles.length,\n    had_data: normalizedCandles.length > 0,\n    oldest_candle_time: oldestCandleTime,\n    newest_candle_time: newestCandleTime,\n  };\n\n  results.push({\n    json: {\n      secid: payload.secid,\n      engine: payload.engine,\n      market: payload.market,\n      board: payload.board,\n      interval_code: payload.interval_code,\n      interval_name: payload.interval_name,\n      request_mode: payload.request_mode,\n      anchor_source: payload.anchor_source,\n      anchor_end: payload.anchor_end,\n      from_date: payload.from_date,\n      till_date: payload.till_date,\n      fetched_count: normalizedCandles.length,\n      had_data: normalizedCandles.length > 0,\n      oldest_candle_time: oldestCandleTime,\n      newest_candle_time: newestCandleTime,\n      cursor_next_value: oldestCandleTime,\n      backfill_cursor_key: payload.backfill_cursor_key,\n      payload_json: JSON.stringify(payloadObject),\n      candles_json: JSON.stringify(normalizedCandles),\n    },\n  });\n}\n\nreturn results;"},"id":"normalize-backfill-batch","name":"Normalize Backfill Batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,320]},{"parameters":{"operation":"executeQuery","query":"WITH incoming AS (\n    SELECT\n        $1::text AS engine,\n        $2::text AS market,\n        $3::text AS board,\n        $4::text AS secid,\n        $5::integer AS interval_code,\n        $6::text AS interval_name,\n        value AS candle\n    FROM jsonb_array_elements($7::jsonb) AS value\n), upserted AS (\n    INSERT INTO raw.candle (\n        engine,\n        market,\n        board,\n        secid,\n        interval_code,\n        interval_name,\n        candle_time,\n        open,\n        high,\n        low,\n        close,\n        volume,\n        value,\n        begin_at,\n        end_at,\n        payload,\n        collected_at\n    )\n    SELECT\n        engine,\n        market,\n        board,\n        secid,\n        interval_code,\n        interval_name,\n        NULLIF(candle->>'candle_time', '')::timestamptz,\n        NULLIF(candle->>'open', '')::numeric,\n        NULLIF(candle->>'high', '')::numeric,\n        NULLIF(candle->>'low', '')::numeric,\n        NULLIF(candle->>'close', '')::numeric,\n        NULLIF(candle->>'volume', '')::numeric,\n        NULLIF(candle->>'value', '')::numeric,\n        NULLIF(candle->>'begin_at', '')::timestamptz,\n        NULLIF(candle->>'end_at', '')::timestamptz,\n        candle,\n        NOW()\n    FROM incoming\n    WHERE NULLIF(candle->>'candle_time', '') IS NOT NULL\n    ON CONFLICT (engine, market, board, secid, interval_name, candle_time)\n    DO UPDATE SET\n        interval_code = EXCLUDED.interval_code,\n        open = EXCLUDED.open,\n        high = EXCLUDED.high,\n        low = EXCLUDED.low,\n        close = EXCLUDED.close,\n        volume = EXCLUDED.volume,\n        value = EXCLUDED.value,\n        begin_at = EXCLUDED.begin_at,\n        end_at = EXCLUDED.end_at,\n        payload = EXCLUDED.payload,\n        collected_at = NOW()\n    RETURNING 1\n)\nSELECT COUNT(*)::int AS upserted_rows FROM upserted;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.engine, $json.market, $json.board, $json.secid, Number($json.interval_code), $json.interval_name, $json.candles_json] }}","replaceEmptyStrings":true}},"id":"upsert-raw-candle-batch","name":"Upsert Raw Candle Batch","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO meta.workflow_cursor (\n    workflow_key,\n    cursor_value,\n    payload,\n    updated_at\n)\nVALUES (\n    $1,\n    $2,\n    $3::jsonb,\n    NOW()\n)\nON CONFLICT (workflow_key)\nDO UPDATE SET\n    cursor_value = EXCLUDED.cursor_value,\n    payload = EXCLUDED.payload,\n    updated_at = NOW()\nRETURNING workflow_key, cursor_value, updated_at;","options":{"queryBatching":"independently","queryReplacement":"={{ [ $('Normalize Backfill Batch').item.json.backfill_cursor_key, $('Normalize Backfill Batch').item.json.cursor_next_value, JSON.stringify({ secid: $('Normalize Backfill Batch').item.json.secid, interval_name: $('Normalize Backfill Batch').item.json.interval_name, request_mode: $('Normalize Backfill Batch').item.json.request_mode, anchor_source: $('Normalize Backfill Batch').item.json.anchor_source, from_date: $('Normalize Backfill Batch').item.json.from_date, till_date: $('Normalize Backfill Batch').item.json.till_date, fetched_count: $('Normalize Backfill Batch').item.json.fetched_count, had_data: $('Normalize Backfill Batch').item.json.had_data, oldest_candle_time: $('Normalize Backfill Batch').item.json.oldest_candle_time, newest_candle_time: $('Normalize Backfill Batch').item.json.newest_candle_time }) ] }}","replaceEmptyStrings":true}},"id":"update-backfill-cursor","name":"Update Backfill Cursor","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2032,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"HJifIbuLF5vUUVdd","name":"Market Research Postgres RW"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":3,"triggerAtMinute":7}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,144]},{"parameters":{"jsCode":"return [{\n  json: {\n    target_secid: '',\n    target_interval: '',\n    max_requests: 12,\n    requested_by: 'nightly_schedule',\n    run_started_at: new Date().toISOString(),\n  },\n}];"},"id":"scheduled-backfill-config","name":"Scheduled Backfill Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,144]},{"parameters":{"httpMethod":"POST","path":"moex-backfill-int-e95bf233","options":{"ipWhitelist":"127.0.0.1,::1"}},"id":"bc60367e-eebd-42df-aedc-ff0da47c2cb2","name":"Internal Cron Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,-64],"webhookId":"661d4a2b-522f-4044-8ba7-a967983db30e"}],"connections":{"Manual Trigger":{"main":[[{"node":"Manual Backfill Config","type":"main","index":0}]]},"Manual Backfill Config":{"main":[[{"node":"Get Backfill Scope","type":"main","index":0}]]},"Get Backfill Scope":{"main":[[{"node":"Build Backfill Requests","type":"main","index":0}]]},"Build Backfill Requests":{"main":[[{"node":"Fetch MOEX Candles","type":"main","index":0},{"node":"Merge Meta and Response","type":"main","index":0}]]},"Fetch MOEX Candles":{"main":[[{"node":"Merge Meta and Response","type":"main","index":1}]]},"Merge Meta and Response":{"main":[[{"node":"Normalize Backfill Batch","type":"main","index":0}]]},"Normalize Backfill Batch":{"main":[[{"node":"Upsert Raw Candle Batch","type":"main","index":0}]]},"Upsert Raw Candle Batch":{"main":[[{"node":"Update Backfill Cursor","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Scheduled Backfill Config","type":"main","index":0}]]},"Scheduled Backfill Config":{"main":[[{"node":"Get Backfill Scope","type":"main","index":0}]]},"Internal Cron Webhook":{"main":[[{"node":"Scheduled Backfill Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timezone":"Europe/Moscow","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"6270f336-ac35-44eb-b0e0-066d596009c6","activeVersionId":"8bcbe416-a2c9-43dd-8e7b-50cf8f50c606","versionCounter":25,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-18T04:02:43.055Z","createdAt":"2026-04-18T04:02:43.055Z","role":"workflow:owner","workflowId":"eGLrEdlnVD6ZbHUj","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
