workflows/My_workflow_2.json
[{"updatedAt":"2026-04-01T04:11:56.658Z","createdAt":"2026-04-01T03:15:43.481Z","id":"KebWQcS1WmNtgdgA","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,-16],"id":"3073f6a3-368d-43a5-9770-157f49974107","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"select * from document_arcs where id=10","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,-16],"id":"0f7da52f-d679-49a9-9ff7-1ceb924669d3","name":"Execute a SQL query","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"// Получаем входные данные (предположим, они лежат в $json)\nconst input = $input.first().json.summary;\nlet report = \"\";\n  \n// Форматирование для АРКИ\nreport = `### ТЕКУЩЕЕ СОСТОЯНИЕ АРКИ\\n`;\nreport += `${input.arc_summary_rolling}\\n\\n`;\nreport += `**Основной конфликт:** ${input.main_conflict}\\n`;\nreport += `**Цели героев:** ${input.goals.join(\"; \")}\\n`;\nreport += `**Ключевые изменения:** ${input.key_changes.join(\"; \")}\\n`;\nreport += `**Открытые вопросы:** ${input.open_threads.join(\"; \")}`;\nreturn { text: report };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-16],"id":"281d45c9-e10c-4d3f-a3d2-bbc7e0075587","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://lightrag.bigalexn8n.ru/documents/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"file_source","value":"=arc_{{ $('Execute a SQL query').item.json.job_id }}_{{ $('Execute a SQL query').item.json.arc_number }}"}]},"options":{}},"id":"67a51779-8b9f-450c-8928-8ef4d3e5b22b","name":"LightRAG insert arc","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[352,-16],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"LightRAG insert arc","type":"main","index":0}]]},"LightRAG insert arc":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07416b76-393a-4b9f-821c-f64d2a5ea67a","activeVersionId":null,"versionCounter":74,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-01T03:15:43.481Z","createdAt":"2026-04-01T03:15:43.481Z","role":"workflow:owner","workflowId":"KebWQcS1WmNtgdgA","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
