workflows/My_workflow.json
[{"updatedAt":"2026-03-27T18:03:38.689Z","createdAt":"2026-03-25T17:14:03.628Z","id":"WaZgko1NbVH5CU8a","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-webhook","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,-560],"id":"42e800ca-ebdb-477a-b76d-ca1fc41cfdc9","name":"Webhook","webhookId":"5d4133fb-6c66-47f0-9b96-844a18d5e6f5"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (message, chat, type, callback_data, date_time) VALUES ($1, $2, $3, $4, NOW()) RETURNING id;","options":{"queryReplacement":"={{ JSON.stringify($json.message) }}, {{ $json.message.chat.id ?? $json.callback_query.from.id }}, {{ $json.callback_query ? 'callback' : 'message' }}, {{ $json.callback_query.data }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-272],"id":"pg-001","name":"Save to DB","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id ?? $json.callback_query.from.id }}","text":"=✅ Сообщение получено!","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,-272],"id":"tg-001","name":"Send Response","webhookId":"15b92193-8d31-42f6-a766-159d9c4982bd","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,-272],"id":"ef4d462f-cee1-4750-96e9-bcf75bc0fdf6","name":"Telegram Trigger","webhookId":"970ab041-8b02-4bc4-85b1-ed665e7571f0","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (5 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-WaZg","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Webhook":{"main":[[]]},"Save to DB":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Save to DB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"global-error-handler-36id","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51297048-3650-4c33-bd18-ca1896cb806a","activeVersionId":null,"versionCounter":111,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:19.342Z","createdAt":"2026-03-28T21:15:19.342Z","role":"workflow:owner","workflowId":"WaZgko1NbVH5CU8a","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
