workflows/Select_From_List.json
[{"updatedAt":"2026-04-05T05:44:52.151Z","createdAt":"2026-03-09T16:52:37.679Z","id":"CJ7lDvgGlmoP8Ymbgqd0A","name":"Select From List","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"list","type":"array"},{"name":"chat"},{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,-80],"id":"42364b89-5a0e-45b7-ba98-446ebc24f230","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot8591497428:AAEbVnPaXYe2E-WI2ni2cCuSGnmgS5sckR0/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"cd67d6fc-bdb2-4eec-bb32-cee03c618b96","name":"TG | send","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-80],"executeOnce":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,-80],"id":"ba07fd6f-5bf5-40c3-ae61-1169502514e6","name":"Wait","webhookId":"d6f52829-9717-4ac3-b365-b4eeea4437e7"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('TG | send').first().json.result.chat.id }}","messageId":"={{ $('TG | send').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1184,-96],"id":"b3a1187e-af5a-45bf-b513-05abb6c3b986","name":"Delete a chat message","webhookId":"7c5c7cec-417b-4c0f-bfa0-b441e032de9c","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8e466ab9-228c-4122-89ea-10ff3c2b9feb","name":"selected_item","value":"={{ $('Получение данных о CALLBACK_DATA').first().json.data.json.callback_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,-96],"id":"e5523e6b-1eb8-48e0-9111-0869a1b39305","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"-- удалим запись о выбранной записи, чтобы не зааффектить\nDELETE FROM telegram_messages WHERE id={{ $('Получение данных о CALLBACK_DATA').first().json.data.json.id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[976,-96],"id":"03ece356-7f15-41c9-aad8-a7bf7ba29489","name":"Подчищаем бд за собой","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const list = $input.first().json.list.map(item => ([{text: item.text, callback_data: item.callback_data }]))\nlist.push([{text: \"Отмена\", callback_data: \"list_cancel\"}]);\nreturn {\n  text: $input.first().json.text,\n  chat_id: $input.first().json.chat,\n  parse_mode: \"HTML\",\n  reply_markup: { inline_keyboard: [ ...list ] }}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-80],"id":"bf757088-361a-4b1f-8c5c-947bf18adcca","name":"Готовим JSON для Telegram"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n  FROM\n    telegram_messages\n  WHERE date_time > '{{ $('TG | send').first().json.result.date.toDateTime('s') }}'\n  AND \n  callback_data != '';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-80],"id":"af4830bf-d866-41ff-ad12-c7336ab4ce2d","name":"Получение данных о сообщении","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const data = $input.all().find(item => {\n  return $('Готовим JSON для Telegram').first().json.reply_markup.inline_keyboard.find(btn => btn[0].callback_data === item.json.callback_data)\n}) || null;\nreturn { data }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-80],"id":"9838fe5c-5a7e-483c-8e45-a9a576eb736d","name":"Получение данных о CALLBACK_DATA","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"00a1b2fb-495a-4a2e-8ae7-907bcea7a12b","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,-80],"id":"062e027f-6fc2-4b75-9b12-5a7b89a64bf0","name":"CALLBACK_DATA из списка?"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Готовим JSON для Telegram","type":"main","index":0}]]},"TG | send":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Получение данных о сообщении","type":"main","index":0}]]},"Delete a chat message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Подчищаем бд за собой":{"main":[[{"node":"Delete a chat message","type":"main","index":0}]]},"Готовим JSON для Telegram":{"main":[[{"node":"TG | send","type":"main","index":0}]]},"Получение данных о сообщении":{"main":[[{"node":"Получение данных о CALLBACK_DATA","type":"main","index":0}]]},"Получение данных о CALLBACK_DATA":{"main":[[{"node":"CALLBACK_DATA из списка?","type":"main","index":0}]]},"CALLBACK_DATA из списка?":{"main":[[{"node":"Подчищаем бд за собой","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"list":[{"text":"партнер тест.docx","callback_data":"\"партнер тест.docx\"_426"},{"text":"Тест1.docx","callback_data":"\"Тест1.docx\"_693"}],"chat":"923741104","text":"Выберите файл для перевода"}},{"json":{"list":[{"text":"партнер тест.docx","callback_data":"\"партнер тест.docx\"_426"},{"text":"Тест1.docx","callback_data":"\"Тест1.docx\"_693"}],"chat":"923741104","text":"Выберите файл для перевода"}}]},"versionId":"27c8da02-ed92-42aa-9a96-b8210027ea66","activeVersionId":"27c8da02-ed92-42aa-9a96-b8210027ea66","versionCounter":210,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"CJ7lDvgGlmoP8Ymbgqd0A","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 27c8da02","description":""}}]
