workflows/Send_Message.json
[{"updatedAt":"2026-04-17T04:17:00.326Z","createdAt":"2026-03-25T16:56:42.241Z","id":"J62UViXZMD5o6qoU","name":"Send Message","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"telegram_send_message","mode":"list","cachedResultName":"telegram_send_message"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-784,1200],"id":"bb479960-b39d-49c9-913e-b6eb8a564f4f","name":"Postgres Trigger","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"create_job","operator":{"type":"string","operation":"equals"},"id":"0c9d6f18-3743-4b38-aa1c-1048c3250dbc"}],"combinator":"and"},"renameOutput":true,"outputKey":"CREATE JOB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"74658670-90d4-4f9a-80c6-3c67c2f71c4a","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"start_processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"START_PROCESSING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"183d6fca-f700-47ed-87c2-3f9f37385356","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"wait_processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WAIT_PROCESSING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2de1a4bb-258f-4c6d-9e05-c3a96fab0bee","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"97e38999-1f14-4fd5-bda6-4d3aca9a8899","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"error_processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR_PROCESSING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20a4b302-9de2-4d4d-9037-a19a20bea1d1","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"finish_processing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FINISH_PROCESSING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-64,1152],"id":"1b231e9e-19a0-4fcb-8fe6-ed89070e1ab5","name":"Switch"},{"parameters":{"jsCode":"const total = $input.all().find(item => item.json?.chunks_total)\nconst file = $input.first().json.file_name;\nreturn {\n  message: `\n▶️ <b>Обработка началась</b>\n\n📄 Документ: <b>${file}</b>\n🔄 Статус: <b>В процессе</b>\n📊 Прогресс:0 /4832 (0%)\n💰 Потрачено: $0.00\n⏳ Оценка времени: ~82 часа\n`,\n  type: 'create',\n  button: {}\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1168],"id":"6d02f68c-e70f-4d07-b315-a0c98972198f","name":"Сообщение Старт обработки"},{"parameters":{"workflowId":{"__rl":true,"value":"ScNLD3LbRTVAJOK4","mode":"list","cachedResultUrl":"/workflow/ScNLD3LbRTVAJOK4","cachedResultName":"[Send] create_job"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"create"},"matchingColumns":["type"],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[176,1136],"id":"07d9dcec-223e-4a28-a411-41f04eafb516","name":"[Send] create_job"},{"parameters":{"content":"## 📄 Суть сценария\nОркестратор уведомлений. Центральный узел, который решает, какое сообщение отправить в Telegram на основе статуса задачи в БД.\n\n🧪 **Оптимизация:** 💡 Можно добавить кеширование чат-ID, чтобы меньше дергать таблицу telegram_chats.\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-J62U","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,960]},{"parameters":{"workflowId":{"__rl":true,"value":"hoUl3ewz23AwAHlq","mode":"list","cachedResultUrl":"/workflow/hoUl3ewz23AwAHlq","cachedResultName":"[Send] finish"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["qwerty"],"schema":[{"id":"qwerty","displayName":"qwerty","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1168,1296],"id":"252c0610-a214-4e61-b57d-ec749d6c8034","name":"[Send] finish"},{"parameters":{"workflowId":{"__rl":true,"value":"2uhp8PCTjxiKj91n","mode":"list","cachedResultUrl":"/workflow/2uhp8PCTjxiKj91n","cachedResultName":"[Send] error"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["qwerty"],"schema":[{"id":"qwerty","displayName":"qwerty","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[976,1264],"id":"a839096c-3506-422b-89b4-48d9c4f1da14","name":"[Send] error"},{"parameters":{"workflowId":{"__rl":true,"value":"OWLYY2oiQ6YPBJ7M","mode":"list","cachedResultUrl":"/workflow/OWLYY2oiQ6YPBJ7M","cachedResultName":"[Send] wait"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["qwerty"],"schema":[{"id":"qwerty","displayName":"qwerty","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[560,1200],"id":"b157f748-b98d-41fe-ac06-7c2fcc207f00","name":"[Send] wait"},{"parameters":{"workflowId":{"__rl":true,"value":"9uUyj9OamISRPudJ","mode":"list","cachedResultUrl":"/workflow/9uUyj9OamISRPudJ","cachedResultName":"[Send] processing"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[752,1232],"id":"ffffa2da-76dc-4f97-af2e-bd0ce47a91ca","name":"[Send] processing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"296cf2db-1fa7-4281-9cf7-0d65db60d8a3","leftValue":"={{ $('Postgres Trigger').first().json.payload.template }}","rightValue":"create_job","operator":{"type":"string","operation":"notEquals"}},{"id":"5e610baf-1600-4b58-9b0d-309c0b588e3b","leftValue":"={{ $json.message_start || 0 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,1200],"id":"6fb2201f-ea0d-4779-8833-a185a6a33522","name":"If"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-608,1200],"id":"ec96be71-e32d-47ab-8679-2df6c302b74c","name":"Get row(s)"},{"parameters":{"workflowId":{"__rl":true,"value":"ScNLD3LbRTVAJOK4","mode":"list","cachedResultUrl":"/workflow/ScNLD3LbRTVAJOK4","cachedResultName":"[Send] create_job"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"delete"},"matchingColumns":["type"],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-256,1024],"id":"9329b5dd-5394-4153-8bfb-a1a152ac7a11","name":"delete msg create_job"}],"connections":{"Postgres Trigger":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Switch":{"main":[[{"node":"[Send] create_job","type":"main","index":0}],[{"node":"Сообщение Старт обработки","type":"main","index":0}],[{"node":"[Send] wait","type":"main","index":0}],[{"node":"[Send] processing","type":"main","index":0}],[{"node":"[Send] error","type":"main","index":0}],[{"node":"[Send] finish","type":"main","index":0}]]},"Сообщение Старт обработки":{"main":[[]]},"If":{"main":[[{"node":"delete msg create_job","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"delete msg create_job":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"all"},"staticData":null,"meta":null,"pinData":{"Postgres Trigger":[{"json":{"length":171,"processId":385,"channel":"n8n_channel_bb479960_b39d_49c9_913e_b6eb8a564f4f","payload":{"id":23,"template":"processing","params":null,"created_at":"2026-03-28T05:05:53.280599","sended_at":null},"name":"notification"}}]},"versionId":"ca060d5e-7ff9-4ee6-a194-fc6e4fc906d4","activeVersionId":"ca060d5e-7ff9-4ee6-a194-fc6e4fc906d4","versionCounter":264,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T19:25:17.950Z","createdAt":"2026-03-28T19:25:17.950Z","role":"workflow:owner","workflowId":"J62UViXZMD5o6qoU","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version ca060d5e","description":""}}]
