workflows/Start.json
[{"updatedAt":"2026-03-28T19:26:52.548Z","createdAt":"2026-02-25T09:31:36.106Z","id":"9cjeUNeTZX3YnO1W57YTP","name":"Start","description":"","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"Q5TRHGg-XRblnMRpH41Ee","mode":"list","cachedResultUrl":"/workflow/Q5TRHGg-XRblnMRpH41Ee","cachedResultName":"Translate Chunk"},"workflowInputs":{"mappingMode":"defineBelow","value":{"translate":"start"},"matchingColumns":["translate"],"schema":[{"id":"translate","displayName":"translate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-32,80],"id":"b58965e9-a8bf-4a4e-a107-f0ad88562bf8","name":"Выполнить задачу по переводу текста"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,32],"id":"a79beddc-2a99-43b5-9b1f-74dc997afad3","name":"Merge1"},{"parameters":{"url":"https://polza.ai/api/v1/balance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1632,80],"id":"80784bba-edf7-46b1-9c1b-06262d2f3d2b","name":"Billing Polza.ai","alwaysOutputData":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://neuroapi.host/v1/dashboard/billing/usage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-JPPv8NvhqimYVBabJvm6fB5mlv80WnLV673tfVzFm6IYq67V"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1456,80],"id":"ea7b5aea-1cff-4e86-86ac-bf38b4083656","name":"Billing Neuro","alwaysOutputData":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}","log":"=Start\n{{ JSON.stringify($('Start Workflow').first().json, null, 2) }}","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1808,80],"id":"70083ddb-7747-4e78-8c92-0f48c6bcf8d9","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"bC43bgf5ZtXoi_XDLDwHO","mode":"list","cachedResultUrl":"/workflow/bC43bgf5ZtXoi_XDLDwHO","cachedResultName":"Парсинг файла для перевода"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-976,-272],"id":"a0de6313-cdb8-4788-8383-9ab1fe5410e4","name":"Парсинг файла для перевода"},{"parameters":{"workflowId":{"__rl":true,"value":"lSuNRX0VILP9Lgit5VKlK","mode":"list","cachedResultUrl":"/workflow/lSuNRX0VILP9Lgit5VKlK","cachedResultName":"Предварительный анализ файла для перевода"},"workflowInputs":{"mappingMode":"defineBelow","value":{"glossary_make":"={{ $('Start Workflow').first().json.glossary_make }}","job_id":"={{ $('Настройка БД').first().json.job_id }}","text":"={{ $json.text }}"},"matchingColumns":[],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_make","displayName":"glossary_make","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-752,-272],"id":"a7ed81e2-0938-4ee9-8ef7-f99b4ca79a14","name":"Предварительный анализ файла для перевода"},{"parameters":{"workflowId":{"__rl":true,"value":"TVHpHR7HlCdrqEvAF3WNP","mode":"list","cachedResultUrl":"/workflow/TVHpHR7HlCdrqEvAF3WNP","cachedResultName":"Добавление Промта"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-752,240],"id":"729db515-4145-4ed2-b84b-636b63154909","name":"Добавление Промта"},{"parameters":{"workflowId":{"__rl":true,"value":"ZdsvkMfRDAU4yLbL3DPcK","mode":"list","cachedResultUrl":"/workflow/ZdsvkMfRDAU4yLbL3DPcK","cachedResultName":"Добавление Глоссария"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-752,-96],"id":"35c48821-0f68-4db6-be2c-4def4b1d11e5","name":"Добавление Глоссария"},{"parameters":{"workflowInputs":{"values":[{"name":"translate_file"},{"name":"glossary_file"},{"name":"book_prompt"},{"name":"chat_id"},{"name":"glossary_make","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2400,96],"id":"70670502-388d-415b-9e32-154b769d6713","name":"Start Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"UnqVdfxubclgfA7tafBwo","mode":"list","cachedResultUrl":"/workflow/UnqVdfxubclgfA7tafBwo","cachedResultName":"Настройка БД"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","translate_file":"={{ $json.translate_file }}","glossary_file":"={{ $json.glossary_file }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"translate_file","displayName":"translate_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary_file","displayName":"glossary_file","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1968,80],"id":"cd8adac4-cbd5-4305-9634-938d3f4b8d76","name":"Настройка БД"},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    document_jobs \n  SET \n    billing_neuro = '{{ $('Billing Neuro').item.json.total_usage }}', \n    billing_polza = '{{ $('Billing Polza.ai').item.json.amount }}'\n  WHERE\n    id = {{ $('Настройка БД').first().json.job_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1264,80],"id":"138737dd-0aa0-4f94-9469-cf512bda4143","name":"Сохраним данные от биллингов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c26764d-e8bf-4fcd-9f37-d0b9a00c932c","leftValue":"={{ $json.translate_file !=null && ($json.glossary_file != null || $json.glossary_make) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2176,96],"id":"e1c53940-0f92-428a-a4bc-8dfe0e570aca","name":"Есть все данные для начала перевода?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c26764d-e8bf-4fcd-9f37-d0b9a00c932c","leftValue":"={{ $('Start Workflow').first().json.glossary_file }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-976,-80],"id":"14129b7c-7980-46ce-ba81-b110bbba2b2e","name":"Есть Глоссарий?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c26764d-e8bf-4fcd-9f37-d0b9a00c932c","leftValue":"={{ $('Start Workflow').first().json.book_prompt }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-976,256],"id":"ffa405b4-1d21-43e6-89cd-2da24e1b1e7f","name":"Есть Промт?"},{"parameters":{"operation":"executeQuery","query":"-- Дополнительный промт удалим\n-- Если таблицы translate_prompts нет, то выйдем по ошибке\n-- Не возможно работать без промтов\nUPDATE \n    translate_prompts\n  SET\n    prompt = ''\n  WHERE\n    name like 'BP BL';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,432],"id":"73388e4a-c1af-4957-bef1-7f9784f38f37","name":"Без доп Промта","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"t8Dmavjx9KS5Ms3SB3Qdj","mode":"list","cachedResultUrl":"/workflow/t8Dmavjx9KS5Ms3SB3Qdj","cachedResultName":"Создание Глоссария"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}","chat_id":"={{ $('Start Workflow').first().json.chat_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-752,80],"id":"e1a08c48-33df-4dc0-b7e3-5256bc750ea3","name":"Создание Глоссария"},{"parameters":{"workflowId":{"__rl":true,"value":"ZdsvkMfRDAU4yLbL3DPcK","mode":"list","cachedResultUrl":"/workflow/ZdsvkMfRDAU4yLbL3DPcK","cachedResultName":"Добавление Глоссария"},"workflowInputs":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Настройка БД').first().json.job_id }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-560,80],"id":"6db2c2b9-db1a-4e8b-8f38-1447f49451e6","name":"Добавление Глоссария1"},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (19 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-9cje","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Merge1":{"main":[[{"node":"Выполнить задачу по переводу текста","type":"main","index":0}]]},"Billing Polza.ai":{"main":[[{"node":"Billing Neuro","type":"main","index":0}]]},"Billing Neuro":{"main":[[{"node":"Сохраним данные от биллингов","type":"main","index":0}]]},"to log":{"main":[[{"node":"Billing Polza.ai","type":"main","index":0}]]},"Парсинг файла для перевода":{"main":[[{"node":"Предварительный анализ файла для перевода","type":"main","index":0}]]},"Предварительный анализ файла для перевода":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Есть все данные для начала перевода?","type":"main","index":0}]]},"Добавление Глоссария":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Добавление Промта":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Настройка БД":{"main":[[{"node":"to log","type":"main","index":0}]]},"Сохраним данные от биллингов":{"main":[[{"node":"Парсинг файла для перевода","type":"main","index":0},{"node":"Есть Глоссарий?","type":"main","index":0},{"node":"Есть Промт?","type":"main","index":0}]]},"Есть все данные для начала перевода?":{"main":[[{"node":"Настройка БД","type":"main","index":0}]]},"Есть Глоссарий?":{"main":[[{"node":"Добавление Глоссария","type":"main","index":0}],[{"node":"Создание Глоссария","type":"main","index":0}]]},"Есть Промт?":{"main":[[{"node":"Добавление Промта","type":"main","index":0}],[{"node":"Без доп Промта","type":"main","index":0}]]},"Без доп Промта":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Создание Глоссария":{"main":[[{"node":"Добавление Глоссария1","type":"main","index":0}]]},"Добавление Глоссария1":{"main":[[{"node":"Merge1","type":"main","index":2}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":false,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"staticData":null,"meta":null,"pinData":{},"versionId":"bb41e503-e366-4841-8857-cf3f8af17736","activeVersionId":null,"versionCounter":165,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"9cjeUNeTZX3YnO1W57YTP","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 2e992527","description":""}}]
