workflows/sub_lightrag_api.json
[{"updatedAt":"2026-04-03T04:38:05.834Z","createdAt":"2026-03-31T18:57:14.347Z","id":"AW58nseQdLtJn5ZO","name":"sub_lightrag_api","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const action = $input.first().json.action;\nlet url = '';\nlet method = '';\nlet body = {};\n\nswitch (action) {\n  case 'clear':\n    method='DELETE';\n    url='https://lightrag.bigalexn8n.ru/documents';\n    break;\n  case 'insertText':\n    method='POST';\n    url='https://lightrag.bigalexn8n.ru/documents/text';\n    body.text = $input.first().json.text;\n    body.file_source = $input.first().json.meta_data;\n    break;\n  case 'deleteChunks':\n    method='DELETE';\n    url='https://lightrag.bigalexn8n.ru/documents/delete_document';\n    body.doc_ids = [];\n    body.delete_file = false;\n    body.delete_llm_cache = false;\n    break;\n  case 'insertTexts':\n    method='POST';\n    url='https://lightrag.bigalexn8n.ru/documents/texts';\n    body.texts = $input.first().json.texts;\n    body.file_sources = JSON.parse($input.first().json.meta_data);\n    break;\n  case 'query':\n    method='POST';\n    url='https://lightrag.bigalexn8n.ru/query';\n    body.query=`Проанализируй корейский текст ниже. Найди в базе знаний факты о персонажах, их поле, локациях и терминах.\n\n### ПРАВИЛА ОФОРМЛЕНИЯ СПРАВКИ:\n1. ВСЕ имена и названия должны быть ТОЛЬКО на русском языке. \n2. Если есть имя на корейском языке - транслитерируй его на русский язык самостоятельно (например, 이사영 -> И Саён). \n3. НЕ оставляй корейских символов в итоговом списке.\n4. Объединяй все факты об одном персонаже в один пункт.\n5. НЕ пиши фразы типа 'персонаж, к которому относится имя'. Пиши сразу суть.\n\n### ФОРМАТ ОТВЕТА (СПИСОК):\n - [Имя на русском]: [пол, краткая роль и характеристика]\n - [Связь]: [отношения между героями на русском]\n - [Факт]: [событие на русском]\n - [Локация на русском]: [описание локации]`;\n    body.mode = \"mix\";\n    body.top_k = 20;\n    body.max_total_tokens = 1500;\n    body.response_type = 'Single Paragraph';\n    body.user_prompt = `Текст:\n    ${$input.first().json.text}`\n  default:\n    break;\n}\nreturn {url, method, body}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-16],"id":"69a9e608-222c-48ab-a4d1-673cfd07fc92","name":"Code in JavaScript"},{"parameters":{"workflowInputs":{"values":[{"name":"action"},{"name":"text"},{"name":"texts","type":"array"},{"name":"meta_data"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,-16],"id":"ffd9ce3c-ff28-40dd-9e04-af1ba1b179d5","name":"Start Workflow"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"28a4e7ec-0243-4a6f-9e7d-a2486e771049","name":"LightRAG API without body","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,-160],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Code in JavaScript').first().json.body) }}","options":{}},"id":"70b1cd48-76c1-43f6-ae38-21ca034d5846","name":"LightRAG API with body","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,32],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"=GET","url":"=https://lightrag.bigalexn8n.ru/documents/track_status/{{ $json.track_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"3a32c9e4-e38f-4073-b2f1-0a2716c3f069","name":"LightRAG API get ID Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,128],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lightrag_docs \n  (doc_id, meta_data) \n  VALUES \n  ('{{ $json.documents[0].id }}', '{{ $('Start Workflow').first().json.meta_data }}')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,128],"id":"3d5e221c-fb9a-4c20-82f0-1f614c2544f3","name":"Insert ID Doc in db","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT doc_id FROM lightrag_docs where meta_data like 'chunk%'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-352],"id":"4ed879f6-e83f-4e35-b55f-558feb0deec8","name":"Execute a SQL query","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body) }}","options":{}},"id":"a62586f6-090c-43e4-9064-ee4fbf61a926","name":"LightRAG API deleteChunks","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,-352],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"jsCode":"const body = $('Code in JavaScript').first().json.body;\nbody.doc_ids = $input.all().map(item => item.json.doc_id);\n\nreturn { body }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-352],"id":"ae3fd215-a860-4cf1-af12-037b376a2149","name":"Code in JavaScript1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,112],"id":"facf970c-f304-4dea-8951-090ceb7f3023","name":"Wait","webhookId":"c73ae589-5b55-4541-85e3-8b36238fcc88"},{"parameters":{"method":"=GET","url":"=https://lightrag.bigalexn8n.ru/documents/track_status/{{ $('LightRAG API get ID Doc').first().json.documents[0].track_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"757fd7eb-de57-4e2c-bba5-17de3d3ab4ec","name":"LightRAG API get ID Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[960,128],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1eaff999-2816-4f67-96ab-4e65df9c1fb5","leftValue":"={{ $json.documents[0].status }}","rightValue":"processed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,128],"id":"14b3ffef-10f8-4347-8ab1-15f728f6624c","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"deleteChunks","operator":{"type":"string","operation":"equals"},"id":"733e9df5-d58e-4490-a97a-628a76305120"}],"combinator":"and"},"renameOutput":true,"outputKey":"deleteChunks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3acfceb-72e7-41c6-9810-bad66dbe0518","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"clear","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"clear"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67146ea5-a541-4779-be1f-f4bb9ad79ca4","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"insertText","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"insertText"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0692182d-f129-4502-907a-dcd68f7d739a","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"insertTexts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"insertTexts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c0c3754b-6a52-4d77-ad22-9a2a26aa5c80","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"query","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"query"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-112,-64],"id":"23345167-6ba7-4e71-84f4-6de3b9144633","name":"Switch"},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Code in JavaScript').first().json.body) }}","options":{}},"id":"5f51ff10-9b9d-4135-bd92-5e7c5a1867fd","name":"LightRAG API with body1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,224],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Code in JavaScript').first().json.body) }}","options":{}},"id":"04455840-533b-4409-af65-f236beccc6fe","name":"LightRAG API with body2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,400],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true}],"connections":{"Start Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"LightRAG API with body":{"main":[[{"node":"LightRAG API get ID Doc","type":"main","index":0}]]},"LightRAG API get ID Doc":{"main":[[{"node":"Insert ID Doc in db","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"LightRAG API deleteChunks":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"LightRAG API deleteChunks","type":"main","index":0}]]},"Insert ID Doc in db":{"main":[[{"node":"LightRAG API get ID Doc2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"LightRAG API get ID Doc2","type":"main","index":0}]]},"LightRAG API get ID Doc2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[]]},"Switch":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"LightRAG API without body","type":"main","index":0}],[{"node":"LightRAG API with body","type":"main","index":0}],[{"node":"LightRAG API with body1","type":"main","index":0}],[{"node":"LightRAG API with body2","type":"main","index":0}]]},"LightRAG API with body1":{"main":[[{"node":"LightRAG API get ID Doc","type":"main","index":0}]]},"LightRAG API with body2":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"action":"query","text":"배원우는 성실하고 듬직한 탱커였으나 기민한 지능만은 가지지 못했다. 그의 추론은 완전히 헛다리였지만, 다른 길드원들도 딱히 예상가는 바가 없었기에 배원우의 의견에 일단 맞장구를 쳤다.\n\n“아~ 길드장님, 어디 마트 다녀오셨구나?”\n\n“아니, 쟤가 마트 갔으면 진작 SNS에 올라왔겠지.”\n\n“그건 또 그래요.”\n\n“애초에 앞치마를 입고 다니는 것부터가 좀 이상한 사람 아닙니까?”\n\n“왜요, 식당에서 일하면 그럴 수도 있죠.”\n\n“길드장님이 식당 직원을 왜 찾죠?”\n\n“나야 모르지. 아니면 밥을 맛있게 먹었다가 깜빡하고 앞치마를 입은 채로 밖에 나온 거야.”\n\n“보통 계산할 때 사장님들이 앞치마 벗어놓고 가라고 하지 않아요?”\n\n“도움이 하나도 안 되네.”\n\n길드원들이 하나둘 내는 의견을 가만히 듣고 있던 이사영은 냉정한 평가를 내렸다.\n\n“아니, 입찰 얘기하다가 뜬금없이 앞치마 입은 남자 얘기한 게 누군데?”\n\n배원우가 단상을 퍽, 내리치며 억울함을 표시했다. 나무로 만든 단상이 그의 주먹 모양대로 움푹 파였다. 총무팀 팀장이 그 순간을 놓치지 않고 안경을 고쳐 쓰자 렌즈에 삥― 하고 빛이 번뜩였다.\n\n“부길드장님, 단상 교체 비용 청구서 올려보내겠습니다.”\n\n“아, 젠장. 한 번만 봐주시면 안 될까요?”\n\n순식간에 장내가 어수선해진 틈을 타 사영이 자리에서 일어났다. 어깨를 두어 번 돌린 그가 구겨진 명함을 주머니에 쏙 집어넣었다. 사영은 총무팀장에게 싹싹 빌고 있는 배원우를 보고도 손을 휘휘 내저으며 해산을 알렸다.\n\n“됐어. 회의 끝. 식사하러들 가세요.”\n\n“야 사영아! 너 또 밥 거르지 마라!”\n\n뒤통수에 애정 어린 잔소리가 따라붙었지만 이사영은 대답 없이 가장 먼저 회의실을 빠져나갔다. 그 뒷모습을 지켜보던 원우는 길게 한숨을 내쉬었다. 강지수가 어깨를 으쓱였다.\n\n“길짱이 밥 거르는 게 하루 이틀이에요? 그냥 밥이나 먹죠.”\n\n“에휴…. 그래, 해장국 먹으러 가자.”","texts":null,"meta_data":null}}]},"versionId":"f2c6ed7a-664d-4261-8e74-e02778fe6116","activeVersionId":"f2c6ed7a-664d-4261-8e74-e02778fe6116","versionCounter":577,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-31T18:57:14.347Z","createdAt":"2026-03-31T18:57:14.347Z","role":"workflow:owner","workflowId":"AW58nseQdLtJn5ZO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version f2c6ed7a","description":""}}]
