workflows/sub_lightrag_api.json
[{"updatedAt":"2026-03-31T19:08:28.396Z","createdAt":"2026-03-31T18:57:14.347Z","id":"AW58nseQdLtJn5ZO","name":"sub_lightrag_api","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.action }}","value2":"query"}]}},"id":"7bfe9f0f-e5b6-45a0-946b-d28132cf5a04","name":"Action Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[-48,-48]},{"parameters":{"method":"POST","url":"https://lightrag.bigalexn8n.ru/query","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $('When Executed by Another Workflow').first().json.text }}"},{"name":"mode","value":"hybrid"}]},"options":{}},"id":"86442667-6e53-4c19-8732-32357a760a51","name":"LightRAG Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[176,-144],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"POST","url":"https://lightrag.bigalexn8n.ru/documents/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $('When Executed by Another Workflow').first().json.text }}\",\n  \"description\": \"chunk_from_n8n\"\n}","options":{}},"id":"7bfc9713-4779-4200-926e-c2d86a49eefa","name":"LightRAG Index","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[176,64],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"action"},{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,-48],"id":"ffd9ce3c-ff28-40dd-9e04-af1ba1b179d5","name":"When Executed by Another Workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Action Switch","type":"main","index":0}]]},"Action Switch":{"main":[[{"node":"LightRAG Search","type":"main","index":0}],[{"node":"LightRAG Index","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"action":"query"}}]},"versionId":"a7c64015-4baf-4ba7-8a20-11830a5326f0","activeVersionId":null,"versionCounter":39,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-31T18:57:14.347Z","createdAt":"2026-03-31T18:57:14.347Z","role":"workflow:owner","workflowId":"AW58nseQdLtJn5ZO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
