workflows/sub_lightrag_api.json
[{"updatedAt":"2026-04-02T05:28:41.333Z","createdAt":"2026-03-31T18:57:14.347Z","id":"AW58nseQdLtJn5ZO","name":"sub_lightrag_api","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const action = $input.first().json.action;\nlet url = '';\nlet method = '';\nlet body = {};\n\nswitch (action) {\n  case 'clear':\n    method='DELETE';\n    url='https://lightrag.bigalexn8n.ru/documents';\n    break;\n  case 'insertText':\n    method='POST';\n    url='https://lightrag.bigalexn8n.ru/documents/text';\n    body.text = $input.first().json.text;\n    body.file_source = $input.first().json.meta_data;\n    break;\n  case 'deleteChunks':\n    method='DELETE';\n    url='https://lightrag.bigalexn8n.ru/documents/delete_document';\n    body.doc_ids = [];\n    body.delete_file = false;\n    body.delete_llm_cache = false;\n    break;\n  default:\n    break;\n}\nreturn {url, method, body}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,-48],"id":"69a9e608-222c-48ab-a4d1-673cfd07fc92","name":"Code in JavaScript"},{"parameters":{"workflowInputs":{"values":[{"name":"action"},{"name":"text"},{"name":"texts","type":"array"},{"name":"meta_data"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-432,-48],"id":"ffd9ce3c-ff28-40dd-9e04-af1ba1b179d5","name":"Start Workflow"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"28a4e7ec-0243-4a6f-9e7d-a2486e771049","name":"LightRAG API without body","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,-160],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Code in JavaScript').first().json.body) }}","options":{}},"id":"70b1cd48-76c1-43f6-ae38-21ca034d5846","name":"LightRAG API with body","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,32],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"method":"=GET","url":"=https://lightrag.bigalexn8n.ru/documents/track_status/{{ $json.track_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"3a32c9e4-e38f-4073-b2f1-0a2716c3f069","name":"LightRAG API get ID Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[528,32],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO lightrag_docs \n  (doc_id, meta_data) \n  VALUES \n  ('{{ $json.documents[0].id }}', '{{ $('Start Workflow').first().json.meta_data }}')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,32],"id":"3d5e221c-fb9a-4c20-82f0-1f614c2544f3","name":"Insert ID Doc in db","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT doc_id FROM lightrag_docs where meta_data like 'chunk%'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-352],"id":"4ed879f6-e83f-4e35-b55f-558feb0deec8","name":"Execute a SQL query","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"method":"={{ $('Code in JavaScript').first().json.method }}","url":"={{ $('Code in JavaScript').first().json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body) }}","options":{}},"id":"a62586f6-090c-43e4-9064-ee4fbf61a926","name":"LightRAG API deleteChunks","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,-352],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"jsCode":"const body = $('Code in JavaScript').first().json.body;\nbody.doc_ids = $input.all().map(item => item.json.doc_id);\n\nreturn { body }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-352],"id":"ae3fd215-a860-4cf1-af12-037b376a2149","name":"Code in JavaScript1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,16],"id":"facf970c-f304-4dea-8951-090ceb7f3023","name":"Wait","webhookId":"c73ae589-5b55-4541-85e3-8b36238fcc88"},{"parameters":{"method":"=GET","url":"=https://lightrag.bigalexn8n.ru/documents/track_status/{{ $('LightRAG API get ID Doc').first().json.documents[0].track_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"757fd7eb-de57-4e2c-bba5-17de3d3ab4ec","name":"LightRAG API get ID Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[912,32],"credentials":{"httpHeaderAuth":{"id":"04F0dXlIVNesjJse","name":"LightRag"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1eaff999-2816-4f67-96ab-4e65df9c1fb5","leftValue":"={{ $json.documents[0].status }}","rightValue":"processed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1088,32],"id":"14b3ffef-10f8-4347-8ab1-15f728f6624c","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"deleteChunks","operator":{"type":"string","operation":"equals"},"id":"733e9df5-d58e-4490-a97a-628a76305120"}],"combinator":"and"},"renameOutput":true,"outputKey":"deleteChunks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3acfceb-72e7-41c6-9810-bad66dbe0518","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"clear","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"clear"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67146ea5-a541-4779-be1f-f4bb9ad79ca4","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"insertText","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"insertText"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0692182d-f129-4502-907a-dcd68f7d739a","leftValue":"={{ $('Start Workflow').first().json.action }}","rightValue":"insertTexts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"insertTexts"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-96,-48],"id":"23345167-6ba7-4e71-84f4-6de3b9144633","name":"Switch"}],"connections":{"Start Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"LightRAG API with body":{"main":[[{"node":"LightRAG API get ID Doc","type":"main","index":0}]]},"LightRAG API get ID Doc":{"main":[[{"node":"Insert ID Doc in db","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"LightRAG API deleteChunks":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"LightRAG API deleteChunks","type":"main","index":0}]]},"Insert ID Doc in db":{"main":[[{"node":"LightRAG API get ID Doc2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"LightRAG API get ID Doc2","type":"main","index":0}]]},"LightRAG API get ID Doc2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[]]},"Switch":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"LightRAG API without body","type":"main","index":0}],[{"node":"LightRAG API with body","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start Workflow":[{"json":{"action":"insertText","text":"9 глава\n\nТем временем в узком переулке возле жилого дома стояли двое мужчин в одинаковых длинных пуховиках. Один из них, держа рацию, пробормотал:\n\n— Похоже, это дом цели? Но никакого особого движения нет.\n\n— Что за дела, Минги-чхи так сильно предупреждал… А по факту как-то пресно? Может, он просто спать пошёл?\n\nМужчина, сидевший на крышке мусорного бака и жевательно чавкавший жвачку, съёжился. Свет фонаря пролился ему на спину, и на задней стороне пуховика блеснула надпись белыми буквами «PADO».\n\n— Эй, холодно. Давай ещё минут тридцать подождём… Если и тогда движений не будет, вернёмся.\n\n— Понял.\n\n— И по дороге купим пуноппан.\n\n— Хорошо. Эх, и что за внеплановая сверхурочка.\n\n— Вот именно.\n\nПоследняя реплика прозвучала незнакомым голосом. Прежде чем двое мужчин успели среагировать в замешательстве, им на головы внезапно натянули какие-то пластиковые пакеты.\n\nБам! Что-то тяжёлое с силой ударило в живот. Мужчина с рацией, издав хриплый звук, рухнул. Удар был настолько сильным, что от одного пинка по телу ручьями потёк холодный пот. Чёрт… адски больно! Но из-за слишком сильной боли он даже не мог как следует сопротивляться. Незнакомый голос пробормотал:\n\n— Этого достаточно…\n\n— Кх, к-кто…  \n\n— А, извини.\n\nБац! На этот раз сильная боль обрушилась на затылок. В темнеющем, гаснущем сознании незнакомый голос прозвучал мягко:\n\n— Слишком слабо ударил.\n\n«Чёрт, сказали же, просто наблюдать…»\n\nГде это видано, чтобы, сказав, что ударил слабо, бить ещё раз. Такая забота мне не нужна. С этой мыслью мужчина закатил глаза и потерял сознание.\n\n— …Готово?\n\nЫйджэ проверил состояние двух упавших мужчин. Пульс… бьётся нормально. Дыхание… по тому, как поверхность пакета вздымается вверх и вниз, видно, что дышат нормально. Убедившись, что они действительно отключились, Ыйджэ снял с них пакеты с надписью «Baedalui Gajok», которые надел перед нападением.","texts":null,"meta_data":"chunk_2124"}}]},"versionId":"9d05e570-d72e-4a1a-aada-8e28174ac800","activeVersionId":"bece091a-18a6-4ee0-975c-572ce89f4cdc","versionCounter":406,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-31T18:57:14.347Z","createdAt":"2026-03-31T18:57:14.347Z","role":"workflow:owner","workflowId":"AW58nseQdLtJn5ZO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
