workflows/System_-_Proxy_Check.json
[{"updatedAt":"2026-03-29T16:28:15.672Z","createdAt":"2026-03-28T20:07:30.387Z","id":"tJg2AYCjlBnOb3eO","name":"System - Proxy Check","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e7b0d8c1-1234-4a5b-9c8d-1234567890ab","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[384,240]},{"parameters":{"url":"https://www.google.com","options":{"timeout":5000}},"id":"f8c1e9d2-2345-5b6c-ad9e-2345678901bc","name":"Check Connection","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[608,240],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error ? false : true }}","value2":true}]}},"id":"a1b2c3d4-3456-6c7d-be0f-3456789012cd","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[832,224]},{"parameters":{"options":{}},"id":"b2c3d4e5-4567-7d8e-cf10-4567890123de","name":"Status: OK","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1040,144]},{"parameters":{"chatId":"72a067d6-c26f-4653-90ff-323299f21ddd","text":"=🚨 <b>ВНИМАНИЕ: ПРОКСИ НЕ РАБОТАЕТ</b>\n\nn8n не может получить доступ к внешним API (Google/Telegram).\n\n<b>Ошибка:</b> {{ $('Check Connection').json.error.message }}\n<b>Адрес:</b> 127.0.0.1:10808","additionalFields":{"parse_mode":"HTML"}},"id":"c3d4e5f6-5678-8e9f-d011-5678901234ef","name":"Alert: Proxy Down","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,320],"webhookId":"a33fcdaa-ec7d-4825-b0d8-6cc672904017","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Суть сценария\nСистемный монитор. Проверяет доступность внешнего прокси 10808 для AI и Telegram узлов.\n\n🧪 **Оптимизация:** 💡 Можно настроить авто-перезапуск контейнера с прокси при сбое.\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-tJg2","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,-192]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Check Connection","type":"main","index":0}]]},"Check Connection":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[{"node":"Status: OK","type":"main","index":0}],[{"node":"Alert: Proxy Down","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"959bc7a2-8b0b-4260-b638-3fc34480b7c9","activeVersionId":null,"versionCounter":12,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:50.380Z","createdAt":"2026-03-28T21:15:50.380Z","role":"workflow:owner","workflowId":"tJg2AYCjlBnOb3eO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
