workflows/System_-_Stats_Dashboard.json
[{"updatedAt":"2026-03-28T20:40:22.189Z","createdAt":"2026-03-28T20:12:38.997Z","id":"pmfooV949S1weDwV","name":"System - Stats Dashboard","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"stats","options":{}},"id":"dash-1-webhook","name":"Webhook: /stats","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,240]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM public.v_novel_dashboard;","options":{},"database":"postgres"},"id":"dash-2-stats","name":"Get Global Stats","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,140],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT file_name, status, created_at FROM document_jobs WHERE status = 'processing' ORDER BY created_at DESC LIMIT 3;","options":{},"database":"postgres"},"id":"dash-3-active","name":"Get Active Jobs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,340],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const stats = .first().json;\nconst active = .all();\n\nlet text = '<b>📊 НОВЕЛЛЫ: ДАШБОРД ПЕРЕВОДА</b>\n\n';\ntext += '━━━━━━━━━━━━━━━\n';\ntext += '📑 <b>Всего заданий:</b> ' + (stats.total_jobs || 0) + '\n';\ntext += '✅ <b>Завершено:</b> ' + (stats.completed_jobs || 0) + '\n';\ntext += '⏳ <b>В процессе:</b> ' + (stats.active_jobs || 0) + '\n';\ntext += '━━━━━━━━━━━━━━━\n';\ntext += '🧩 <b>Чанков переведено:</b> ' + (stats.total_chunks_translated || 0) + '\n';\ntext += '💰 <b>Neuro billing:</b> $' + (stats.total_neuro || 0) + '\n';\ntext += '💰 <b>Polza billing:</b> $' + (stats.total_polza || 0) + '\n';\ntext += '━━━━━━━━━━━━━━━\n';\n\nif (active && active.length > 0) {\n  text += '\n🔥 <b>АКТИВНЫЕ ЗАДАЧИ:</b>\n';\n  active.forEach(job => {\n    text += '\n▶️ <code>' + job.json.file_name + '</code>\n';\n    const date = job.json.created_at ? new Date(job.json.created_at).toLocaleString('ru-RU') : 'неизвестно';\n    text += '   ↳ <i>Старт: ' + date + '</i>\n';\n  });\n} else {\n  text += '\n🛌 <i>Активных задач нет</i>\n';\n}\n\ntext += '\n🕒 <i>Обновлено: ' + new Date().toLocaleString('ru-RU') + '</i>';\n\nreturn { message: text };"},"id":"dash-4-format","name":"Format Dashboard","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,240]},{"parameters":{"chatId":"923741104","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"dash-5-send","name":"Send Dashboard","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,240],"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{},"id":"manual-trigger-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,40]}],"connections":{"Webhook: /stats":{"main":[[{"node":"Get Global Stats","type":"main","index":0},{"node":"Get Active Jobs","type":"main","index":0}]]},"Get Global Stats":{"main":[[{"node":"Format Dashboard","type":"main","index":0}]]},"Get Active Jobs":{"main":[[{"node":"Format Dashboard","type":"main","index":0}]]},"Format Dashboard":{"main":[[{"node":"Send Dashboard","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Global Stats","type":"main","index":0},{"node":"Get Active Jobs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"1e250139-3e16-4a67-9368-f3ccc81e55da","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T20:12:38.997Z","createdAt":"2026-03-28T20:12:38.997Z","role":"workflow:owner","workflowId":"pmfooV949S1weDwV","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
