workflows/System_-_Proxy_Check.json
[{"updatedAt":"2026-03-28T20:07:30.387Z","createdAt":"2026-03-28T20:07:30.387Z","id":"tJg2AYCjlBnOb3eO","name":"System - Proxy Check","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e7b0d8c1-1234-4a5b-9c8d-1234567890ab","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[380,240]},{"parameters":{"url":"https://www.google.com","options":{"timeout":5000}},"id":"f8c1e9d2-2345-5b6c-ad9e-2345678901bc","name":"Check Connection","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[600,240],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error ? false : true }}","value2":true}]}},"id":"a1b2c3d4-3456-6c7d-be0f-3456789012cd","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[820,240]},{"parameters":{"values":{"boolean":[{"name":"healthy","value":true}],"string":[{"name":"proxy","value":"127.0.0.1:10808"}]},"options":{}},"id":"b2c3d4e5-4567-7d8e-cf10-4567890123de","name":"Status: OK","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1040,140]},{"parameters":{"chatId":"72a067d6-c26f-4653-90ff-323299f21ddd","text":"=🚨 <b>ВНИМАНИЕ: ПРОКСИ НЕ РАБОТАЕТ</b>\n\nn8n не может получить доступ к внешним API (Google/Telegram).\n\n<b>Ошибка:</b> {{ $node[\"Check Connection\"].json.error.message }}\n<b>Адрес:</b> 127.0.0.1:10808","additionalFields":{"parse_mode":"HTML"}},"id":"c3d4e5f6-5678-8e9f-d011-5678901234ef","name":"Alert: Proxy Down","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,340],"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Описание: System - Proxy Check\n\n🚀 **Запуск:** n8n-nodes-base.executeWorkflowTrigger\n🛠 **Требования:** DB 'postgres', Proxy 10808\n🧪 **Тесты:** System - Novel Pipeline Test\n\n---\n*Gen by Gemini CLI*","height":300,"width":500,"color":6},"id":"doc-sticker-tJg2","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-300]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Check Connection","type":"main","index":0}]]},"Check Connection":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[{"node":"Status: OK","type":"main","index":0}],[{"node":"Alert: Proxy Down","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"1a08f822-8279-4975-a559-a4e852e81901","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:50.380Z","createdAt":"2026-03-28T21:15:50.380Z","role":"workflow:owner","workflowId":"tJg2AYCjlBnOb3eO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
