workflows/System_-_Novel_Pipeline_Test.json
[{"updatedAt":"2026-03-28T20:08:26.844Z","createdAt":"2026-03-28T20:08:26.844Z","id":"rKTWa4ZzlQ2xepEH","name":"System - Novel Pipeline Test","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"t1-trigger-uuid","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_jobs (file_name, status, billing_polza) VALUES ('TEST_FILE.txt', 'pending', 0) RETURNING id;","options":{}},"id":"t2-setup-db","name":"Setup: Create Test Job","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,200],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_send_message (job_id, type, template, chat_id) VALUES ({{ $json.id }}, 'create_job', 'new_job', '923741104');","options":{}},"id":"t3-trigger-main","name":"Trigger: Main Workflow","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,200],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"amount":15,"unit":"seconds"},"id":"t4-wait","name":"Wait for Processing","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[860,200]},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM document_jobs WHERE file_name = 'TEST_FILE.txt' ORDER BY id DESC LIMIT 1;","options":{}},"id":"t5-validate","name":"Validate Result","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1080,200],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"pending"}]}},"id":"t6-check","name":"Is Working?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,200]},{"parameters":{"chatId":"923741104","text":"=✅ <b>Pipeline Test: SUCCESS</b>\n\nВоркфлоу корректно реагируют на события в БД.\nТестовая запись обработана.","additionalFields":{"parse_mode":"HTML"}},"id":"t7-notify","name":"Report: Success","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,100],"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM document_jobs WHERE file_name = 'TEST_FILE.txt';","options":{}},"id":"t8-cleanup","name":"Cleanup","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1740,200],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"content":"## 📄 Суть сценария\nАвто-тест. Имитирует полный цикл обработки новеллы от создания записи до уведомления.\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-rKTW","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Manual Trigger":{"main":[[{"node":"Setup: Create Test Job","type":"main","index":0}]]},"Setup: Create Test Job":{"main":[[{"node":"Trigger: Main Workflow","type":"main","index":0}]]},"Trigger: Main Workflow":{"main":[[{"node":"Wait for Processing","type":"main","index":0}]]},"Wait for Processing":{"main":[[{"node":"Validate Result","type":"main","index":0}]]},"Validate Result":{"main":[[{"node":"Is Working?","type":"main","index":0}]]},"Is Working?":{"main":[[{"node":"Report: Success","type":"main","index":0}],[{"node":"Cleanup","type":"main","index":0}]]},"Report: Success":{"main":[[{"node":"Cleanup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"f6112155-9a59-4bcf-af23-21603a5bc2e0","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:48.254Z","createdAt":"2026-03-28T21:15:48.254Z","role":"workflow:owner","workflowId":"rKTWa4ZzlQ2xepEH","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
