workflows/System_-_Stats_Dashboard.json
[{"updatedAt":"2026-04-06T05:27:51.551Z","createdAt":"2026-03-28T20:12:38.997Z","id":"pmfooV949S1weDwV","name":"System - Stats Dashboard","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,128]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM public.v_novel_dashboard;","options":{}},"id":"dash-2-stats","name":"Get Global Stats","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,128],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT file_name, status, created_at FROM public.document_jobs WHERE status = 'processing' ORDER BY created_at DESC LIMIT 3;","options":{}},"id":"dash-3-active","name":"Get Active Jobs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,128],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let stats = {};\ntry {\n  stats = $('Get Global Stats').first().json;\n} catch (e) {\n  stats = { total_jobs: 0, completed_jobs: 0, active_jobs: 0 };\n}\n\nconst activeItems = $('Get Active Jobs').all();\n\nlet text = '<b>📊 НОВЕЛЛЫ: ДАШБОРД ПЕРЕВОДА</b>\\n\\n';\ntext += '━━━━━━━━━━━━━━━\\n';\ntext += '📑 <b>Всего заданий:</b> ' + (stats.total_jobs || 0) + '\\n';\ntext += '✅ <b>Завершено:</b> ' + (stats.completed_jobs || 0) + '\\n';\ntext += '⏳ <b>В процессе:</b> ' + (stats.active_jobs || 0) + '\\n';\ntext += '━━━━━━━━━━━━━━━\\n';\ntext += '🧩 <b>Чанков переведено:</b> ' + (stats.total_chunks_translated || 0) + '\\n';\ntext += '💰 <b>Neuro billing:</b>' + (stats.total_neuro/1000 * 79 || 0).toFixed(2) + '\\n';\ntext += '💰 <b>Polza billing:</b>' + ((stats.total_polza/1000 || 0)).toFixed(2) + '\\n';\ntext += '━━━━━━━━━━━━━━━\\n';\n\nif (activeItems && activeItems.length > 0 && activeItems[0].json.file_name) {\n  text += '\\n🔥 <b>АКТИВНЫЕ ЗАДАЧИ:</b>\\n';\n  activeItems.forEach(item => {\n    const job = item.json;\n    text += '\\n▶️ <code>' + (job.file_name || 'Без имени') + '</code>\\n';\n    const date = job.created_at ? new Date(job.created_at).toLocaleString('ru-RU') : '---';\n    text += '   ↳ <i>Старт: ' + date + '</i>\\n';\n  });\n} else {\n  text += '\\n🛌 <i>Активных задач нет</i>\\n';\n}\n\ntext += '\\n🕒 <i>Обновлено: ' + new Date().toLocaleString('ru-RU') + '</i>';\n\nreturn { message: text };"},"id":"dash-4-format","name":"Format Dashboard","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,128]},{"parameters":{"chatId":"923741104","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"dash-5-send","name":"Send Dashboard","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[752,128],"webhookId":"d1aadaea-b2c4-4230-a76b-cb4d75019ec0","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Суть сценария\nАналитический дашборд. Собирает сводную статистику по затратам (Neuro/Polza) и количеству переведенных чанков.\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-pmfo","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-160]}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Global Stats","type":"main","index":0}]]},"Get Global Stats":{"main":[[{"node":"Get Active Jobs","type":"main","index":0}]]},"Get Active Jobs":{"main":[[{"node":"Format Dashboard","type":"main","index":0}]]},"Format Dashboard":{"main":[[{"node":"Send Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"b36ae7d6-e510-4105-9f1d-05d56a081678","activeVersionId":null,"versionCounter":37,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:52.559Z","createdAt":"2026-03-28T21:15:52.559Z","role":"workflow:owner","workflowId":"pmfooV949S1weDwV","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
