workflows/Telegram_Trigger.json
[{"updatedAt":"2026-03-27T18:04:12.117Z","createdAt":"2026-02-15T03:33:34.731Z","id":"dVLM5uuoourJgfTi2rpdK","name":"Telegram Trigger","description":"","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message","edited_message","channel_post","edited_channel_post","callback_query"]},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-400,-272],"id":"tg-trigger-001","name":"Telegram Trigger","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (message, chat, type, callback_data, date_time) VALUES ($1, $2, $3, $4, NOW()) RETURNING id;","options":{"queryReplacement":"={{ JSON.stringify($json.message) }}, {{ $json.message.chat.id ?? $json.callback_query.from.id }}, {{ $json.callback_query ? 'callback' : 'message' }}, {{ $json.callback_query.data }}"},"executeOnce":true,"alwaysOutputData":true,"retryOnFail":true},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-272],"id":"pg-001","name":"Save to DB","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id ?? $json.callback_query.from.id }}","text":"=✅ Сообщение получено!","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,-272],"id":"tg-001","name":"Send Response","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (4 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-dVLM","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[]]}},"settings":{"errorWorkflow":"global-error-handler-36id","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"84774719-7d1d-42ec-80d9-8d3ceafc5d38","activeVersionId":null,"versionCounter":162,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:00.934Z","createdAt":"2026-03-28T21:16:00.934Z","role":"workflow:owner","workflowId":"dVLM5uuoourJgfTi2rpdK","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
