workflows/Telegram_Final.json
[{"updatedAt":"2026-03-27T18:03:34.505Z","createdAt":"2026-03-25T18:49:26.396Z","id":"1db683a7-a7b3-479b-9b4d-6d4d4f825c1b","name":"Telegram Final","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-final","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-272],"id":"webhook-final-001","name":"Webhook","webhookId":"46f82210-a2c5-4e34-b120-63e3de68297d"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (message, chat, type, callback_data, date_time) VALUES ($1, $2, $3, $4, NOW()) RETURNING id;","options":{"queryReplacement":"={{ JSON.stringify($json.message) }}, {{ $json.message.chat.id ?? $json.callback_query.from.id }}, {{ $json.callback_query ? 'callback' : 'message' }}, {{ $json.callback_query.data }}"},"executeOnce":true,"alwaysOutputData":true,"retryOnFail":true},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-272],"id":"pg-final-001","name":"Save to DB","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id ?? $json.callback_query.from.id }}","text":"=✅ Сообщение получено!","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,-272],"id":"tg-final-001","name":"Send Response","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Описание: Telegram Final\n\n🚀 **Запуск:** n8n-nodes-base.webhook\n🛠 **Требования:** DB 'postgres', Proxy 10808\n🧪 **Тесты:** System - Novel Pipeline Test\n\n---\n*Gen by Gemini CLI*","height":300,"width":500,"color":6},"id":"doc-sticker-1db6","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-300]}],"connections":{"Webhook":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[]]}},"settings":{"executionOrder":"v1","errorWorkflow":"global-error-handler-36id"},"staticData":{},"meta":{},"pinData":{},"versionId":"0d4ad4d3-c20c-4a26-94ac-247ba291aa3a","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:54.654Z","createdAt":"2026-03-28T21:15:54.654Z","role":"workflow:owner","workflowId":"1db683a7-a7b3-479b-9b4d-6d4d4f825c1b","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
