workflows/Telegram_Simple.json
[{"updatedAt":"2026-03-27T18:03:55.562Z","createdAt":"2026-03-25T19:05:47.266Z","id":"22f83af6-cfa7-4cd9-b32c-80b47a46585c","name":"Telegram Simple","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"tgwh","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-272],"id":"wh-001","name":"Webhook","webhookId":"tg-wh-001"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (message, chat, type, callback_data, date_time) VALUES ($1, $2, $3, $4, NOW()) RETURNING id;","options":{"queryReplacement":"={{ JSON.stringify($json.message) }}, {{ $json.message.chat.id ?? $json.callback_query.from.id }}, {{ $json.callback_query ? 'callback' : 'message' }}, {{ $json.callback_query.data }}"},"executeOnce":true,"alwaysOutputData":true,"retryOnFail":true},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-272],"id":"pg-001","name":"Save to DB","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id ?? $json.callback_query.from.id }}","text":"=✅ Сообщение получено!","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,-272],"id":"tg-001","name":"Send Response","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (4 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-22f8","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Webhook":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[]]}},"settings":{"executionOrder":"v1","errorWorkflow":"global-error-handler-36id"},"staticData":{},"meta":{},"pinData":{},"versionId":"ada982ca-b2eb-42c1-ad7a-b10b00b7344f","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:58.844Z","createdAt":"2026-03-28T21:15:58.844Z","role":"workflow:owner","workflowId":"22f83af6-cfa7-4cd9-b32c-80b47a46585c","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
