workflows/Telegram_Webhook_Handler.json
[{"updatedAt":"2026-03-27T18:03:29.980Z","createdAt":"2026-03-25T17:31:03.992Z","id":"7e05e583-dcee-4956-bf4f-0e0d526613d1","name":"Telegram Webhook Handler","description":null,"active":false,"isArchived":true,"nodes":[{"id":"webhook-1","name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,0],"webhookId":"telegram-webhook","parameters":{"path":"telegram-webhook","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"save-1","name":"Save to DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,0],"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (chat, message, type, date_time) VALUES ($1, $2::jsonb, $3, NOW())","options":{"queryReplacement":"={{ $json.message?.chat?.id ?? 'unknown' }}, {{ JSON.stringify($json.message) }}, 'webhook'"}},"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}},"retryOnFail":true,"alwaysOutputData":true},{"id":"respond-1","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,0],"parameters":{"respondWith":"text","responseBody":"=OK: {{ $json.message?.chat?.id ?? 'no chat' }}"}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (4 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-7e05","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Telegram Webhook":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"global-error-handler-36id"},"staticData":{},"meta":{},"pinData":{},"versionId":"cb3bfe3f-b034-4157-9c38-f639b3c5f5ba","activeVersionId":null,"versionCounter":52,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:03.081Z","createdAt":"2026-03-28T21:16:03.081Z","role":"workflow:owner","workflowId":"7e05e583-dcee-4956-bf4f-0e0d526613d1","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
