workflows/Анотация.json
[{"updatedAt":"2026-04-04T08:08:34.364Z","createdAt":"2026-04-04T05:32:29.369Z","id":"2kztTVutdATd1MDS","name":"Анотация","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,-16],"id":"26985294-d91c-4893-afc0-9d72aafdf505","name":"Start Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"summary"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-352,-16],"id":"a58b482a-0543-4972-b3cd-ae6f923ae42e","name":"Summary book"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-144,192],"id":"3e6ab845-3001-4969-8e0c-56b78ccc0312","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"promptType":"define","text":"=### ОПИСАНИЕ ИЗ БАЗЫ ЗНАНИЙ:\n{{ $json.response }}\n---------------------------------------\nСоставь на основе этих данных финальный промпт для Flux.\nСтиль обложки: manhwa\n---------------------------------------","options":{"systemMessage":"Ты — профессиональный арт-директор и эксперт по промпт-инжинирингу для современных нейросетей (Flux, Midjourney). \nТвоя задача: на основе предоставленного описания персонажей и сюжета из базы знаний составить один идеальный, детализированный промпт на АНГЛИЙСКОМ языке для генерации обложки новеллы.\n\nПРАВИЛА СОСТАВЛЕНИЯ:\n1. Выходной промпт должен быть только на английском языке.\n2. Обязательно опиши: \n  - Главного героя (внешность, одежда, поза).\n  - Его магию или ключевое оружие (из описания RAG).\n  - Задний план (ключевая локация).\n  - Атмосферу (эпичность, мрак, свет, мистика).\n3. Добавь технические теги для качества: \"professional digital illustration, manhwa style, highly detailed, cinematic lighting, masterpiece\".\n4. Формат ответа: выдай ТОЛЬКО текст промпта, без вводных фраз.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-144,-16],"id":"c211a2ea-d3d1-49e4-b74e-711c2bb0c644","name":"Генерация промта для картинки"},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,128],"id":"8984f002-2206-4f85-ad50-5e1048a01f9a","name":"HTTP Request"}],"connections":{"Start Workflow":{"main":[[{"node":"Summary book","type":"main","index":0}]]},"Summary book":{"main":[[{"node":"Генерация промта для картинки","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Генерация промта для картинки","type":"ai_languageModel","index":0}]]},"Генерация промта для картинки":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d136019-5d60-4366-b1c8-0bf465a54dee","activeVersionId":null,"versionCounter":119,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T05:32:29.369Z","createdAt":"2026-04-04T05:32:29.369Z","role":"workflow:owner","workflowId":"2kztTVutdATd1MDS","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
