workflows/Добавление_Промта.json
[{"updatedAt":"2026-03-29T04:06:37.623Z","createdAt":"2026-03-18T01:20:40.263Z","id":"TVHpHR7HlCdrqEvAF3WNP","name":"Добавление Промта","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Начало обработки дополнительного промта:\n{{ $('Start Workflow').item.json.book_prompt }}","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-16],"id":"ad6dd8db-36aa-4674-96ec-ed0b0238bb8f","name":"to log5","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    translate_prompts\n  SET\n    prompt = '{{ $('Merge').first().json.text.replaceAll(`''`, `''`).replaceAll('\\n\\n', '\\n') }}'\n  WHERE\n    name like 'BP BL'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,0],"id":"18f35be3-81f4-437b-bb38-ce4a3f5c3e9e","name":"Запись промта в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cd51350-e438-47da-a9a0-a7e280ddc1ae","leftValue":"={{ $('Чтение промта').first().json.json.mimeType }}","rightValue":"officedocument","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"docx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Чтение промта').first().json.json.mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"},"id":"c9a71881-28aa-4b27-9225-ac6a5c903649"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1040,-16],"id":"3337b729-5291-40e0-ab50-9e1d98965774","name":"Switch5"},{"parameters":{"inputBinaryField":"={{ $('Move Binary Data2').first().binary.data }}"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[1248,-96],"id":"60d8aa83-30fc-4158-b887-7347c5a2f562","name":"DOCX to Text1"},{"parameters":{"operation":"text","binaryPropertyName":"={{ $('Move Binary Data2').first().binary.data }}","destinationKey":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1248,80],"id":"b9cfd796-ab95-4270-a437-327bb5dc4f45","name":"Extract from text File1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,0],"id":"8cdbcfc7-3a81-4b6f-8ba1-4197ee69dcbd","name":"Merge"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Файл промта считан в память","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,0],"id":"4514c9be-323e-4911-98dd-eccbd20d8685","name":"to log6","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"options":{"dataIsBase64":true,"encoding":"utf8","fileName":"={{ $json.json.fileName }}","mimeType":"={{ $json.json.mimeType }}"}},"id":"059eb4f2-3c55-4a5a-b144-746971fdd114","name":"Move Binary Data2","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[864,-16]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  encode(prompt, 'base64') AS data,\n  prompt_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"456f1ff6-a721-43db-91bb-af57fe05654d","name":"Чтение промта","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[688,-16],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"},{"name":"book_prompt"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[336,-16],"id":"3e0b6385-648a-4484-9d06-cd4dfb7776d4","name":"Start Workflow"},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (11 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-TVHp","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"to log5":{"main":[[{"node":"Чтение промта","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"DOCX to Text1","type":"main","index":0}],[{"node":"Extract from text File1","type":"main","index":0}]]},"DOCX to Text1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extract from text File1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"to log6","type":"main","index":0}]]},"to log6":{"main":[[{"node":"Запись промта в БД","type":"main","index":0}]]},"Move Binary Data2":{"main":[[{"node":"Switch5","type":"main","index":0}]]},"Чтение промта":{"main":[[{"node":"Move Binary Data2","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log5","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":304}}]},"versionId":"81f1129c-5c20-4ca9-8235-4197e20d7908","activeVersionId":"81f1129c-5c20-4ca9-8235-4197e20d7908","versionCounter":121,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:16.045Z","createdAt":"2026-03-28T21:16:16.045Z","role":"workflow:owner","workflowId":"TVHpHR7HlCdrqEvAF3WNP","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Добавление Промта","description":""}}]
