workflows/Добавление_Глоссария.json
[{"updatedAt":"2026-03-28T19:26:48.501Z","createdAt":"2026-03-18T01:19:44.892Z","id":"ZdsvkMfRDAU4yLbL3DPcK","name":"Добавление Глоссария","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cd51350-e438-47da-a9a0-a7e280ddc1ae","leftValue":"={{ $('Чтение глоссария').first().json.json.mimeType }}","rightValue":"sheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[896,-112],"id":"5bba22d4-b0ab-4d07-a145-ff61c0b15b5e","name":"Switch"},{"parameters":{"operation":"xlsx","binaryPropertyName":"={{ $('Move Binary Data1').first().binary.data }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1088,-112],"id":"d4f5d842-5371-4ad7-89a4-ce51c1768aba","name":"Парсим файл с глоссарием"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_glossary (job_id, name, translate, gender)\nSELECT \n  {{ $('Start Workflow').first().json.job_id }},\n  t.json->>'KO'  as text,\n  t.json->>'RU' as text,\n  t.json->>'Пол' as text\n  FROM json_to_recordset($1) AS t(json json);","options":{"queryReplacement":"='{{ $input.all() }}'"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,-112],"id":"551f374e-f602-4ae2-8946-b635c47431b0","name":"Запись глоссаария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Начало обработки глоссария","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-112],"id":"95439dd3-8e3b-488b-9655-e3ff57bcfb64","name":"to log4","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"options":{"dataIsBase64":true,"encoding":"utf8","fileName":"={{ $json.json.fileName }}","mimeType":"={{ $json.json.mimeType }}"}},"id":"56d353fa-3afa-4ec6-842e-7b1bd2111804","name":"Move Binary Data1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[720,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  encode(glossary, 'base64') AS data,\n  glossary_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"2212746b-7f91-4613-8b38-9789b6cc5674","name":"Чтение глоссария","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[544,-112],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[176,-112],"id":"6962b907-fe60-468e-a92b-e2983f6ba7bd","name":"Start Workflow"},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (8 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-Zdsv","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Switch":{"main":[[{"node":"Парсим файл с глоссарием","type":"main","index":0}]]},"Парсим файл с глоссарием":{"main":[[{"node":"Запись глоссаария в БД","type":"main","index":0}]]},"to log4":{"main":[[{"node":"Чтение глоссария","type":"main","index":0}]]},"Move Binary Data1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Чтение глоссария":{"main":[[{"node":"Move Binary Data1","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log4","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":304}}]},"versionId":"17264179-0b55-40f1-8d9d-b0037c23f66e","activeVersionId":"17264179-0b55-40f1-8d9d-b0037c23f66e","versionCounter":165,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"ZdsvkMfRDAU4yLbL3DPcK","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Добавление Глоссария","description":""}}]
