workflows/Парсинг_файла_для_перевода.json
[{"updatedAt":"2026-03-29T09:59:56.014Z","createdAt":"2026-03-18T00:04:41.253Z","id":"bC43bgf5ZtXoi_XDLDwHO","name":"Парсинг файла для перевода","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"inputBinaryField":"={{ $('Move Binary Data').first().binary.data }}"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[64,-48],"id":"6e844a6e-cbd6-4d91-82e6-dea48ee03b0e","name":"DOCX to Text"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cd51350-e438-47da-a9a0-a7e280ddc1ae","leftValue":"={{ $('Чтение файла для перевода').first().json.json.mimeType }}","rightValue":"wordprocessingml","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"docx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Чтение файла для перевода').first().json.json.mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"},"id":"c9a71881-28aa-4b27-9225-ac6a5c903649"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-112,16],"id":"79ef8f10-069e-453d-bbad-7185ec71a9d5","name":"Switch4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,32],"id":"fc4c1b09-b69a-41e9-8aac-e4ecd5e3be8a","name":"Merge8"},{"parameters":{"operation":"text","binaryPropertyName":"={{ $('Move Binary Data').first().binary.data }}","destinationKey":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[64,96],"id":"44de2a86-918a-4f11-bf01-a20a48eac7c6","name":"Extract from text File"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Начало обработки файла для перевода","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-624,16],"id":"8619b950-04df-466d-b85b-c4ed4345bd92","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Файл для перевода считан из бд","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,32],"id":"2322244c-8c80-428f-8de4-f7b1694f2836","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"options":{"dataIsBase64":true,"encoding":"utf8","fileName":"={{ $json.json.fileName }}","mimeType":"={{ $json.json.mimeType }}"}},"id":"b5d27098-d300-46ae-8664-e114abcb4d7c","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-288,16]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  encode(translate_file, 'base64') AS data,\n  translate_file_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"588fcdd7-ca6a-4444-ba75-10ecacc50199","name":"Чтение файла для перевода","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[-448,16],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4446336d-1627-4b81-9693-1af0ba6a6b2d","name":"text","value":"={{ $('Merge8').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,32],"id":"2a0527bd-d87b-45cc-b1fb-41f46f9b9c2b","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,16],"id":"0fd5555d-9d27-4adb-b196-3612855bd618","name":"Start Workflow"}],"connections":{"DOCX to Text":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"DOCX to Text","type":"main","index":0}],[{"node":"Extract from text File","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"to log2","type":"main","index":0}]]},"Extract from text File":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"to log1":{"main":[[{"node":"Чтение файла для перевода","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Чтение файла для перевода":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"to log2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log1","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":302}}]},"versionId":"280a7786-b9a6-4a95-9a8d-b956ca8a972d","activeVersionId":"74c44ba9-e47d-4168-a312-b5c6fc9356b9","versionCounter":117,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:20.261Z","createdAt":"2026-03-28T21:16:20.261Z","role":"workflow:owner","workflowId":"bC43bgf5ZtXoi_XDLDwHO","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
