workflows/Получение_сообщения.json
[{"updatedAt":"2026-03-29T04:09:24.277Z","createdAt":"2026-03-27T04:17:47.350Z","id":"CHSGtgO88LgGVbV8","name":"Получение сообщения","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"timeout":1},"type":"n8n-nodes-telegram-polling-v7.telegramPollingTrigger","typeVersion":1,"position":[-896,176],"id":"c1254fa4-71b1-4940-87cd-4db15463ebe9","name":"Telegram Trigger","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"-- Если вдруг нет таблицы с сообщениями от бота, создаем ее\nCREATE TABLE IF NOT EXISTS telegram_messages (\n  id SERIAL PRIMARY KEY,\n  chat TEXT,\n  message JSON,\n  callback_data TEXT,\n  date_time TIMESTAMP WITH TIME ZONE DEFAULT now(),\n  type TEXT,\n  lang TEXT,\n  is_translate BOOLEAN DEFAULT FALSE\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,176],"id":"39223e8e-1d15-4333-9df6-7677d5793e12","name":"Обновление данных о сообщении в бд","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Loop Over Items').first().json.message.document.file_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3922df1f-e954-4c1a-9540-17a5552024a5"}],"combinator":"and"},"renameOutput":true,"outputKey":"FILE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4524f45-e475-4773-b93a-b72777f3192d","leftValue":"={{ $('Loop Over Items').first().json.message.text }}","rightValue":"/select_files","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SELECT FILES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"353888d8-c795-485d-b473-6e8fc7f61681","leftValue":"={{ $('Loop Over Items').first().json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CALLBACK DATA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-224,160],"id":"87c8c3be-8279-4040-a950-c7138ec42dfb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"sLo74sUgMdcJEmxJoRJQ-","mode":"list","cachedResultUrl":"/workflow/sLo74sUgMdcJEmxJoRJQ-","cachedResultName":"[GET] Document"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,0],"id":"4e4d2183-9147-44cc-9c47-f2f321726f47","name":"Document"},{"parameters":{"workflowId":{"__rl":true,"value":"MmfiOXrCt2lkZ4TxZMyWS","mode":"list","cachedResultUrl":"/workflow/MmfiOXrCt2lkZ4TxZMyWS","cachedResultName":"[GET] /select_files"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,176],"id":"f3c11bd2-f95b-41cf-8248-2d80ef7a4ab2","name":"Document1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,160],"id":"7f355ab9-2d87-4d54-b270-76a855a3a8f1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[544,368],"id":"7315e91c-2a92-469b-8283-547d0aa6bb18"},{"parameters":{"operation":"executeQuery","query":"-- Вставим запись о новом сообщении\nINSERT INTO \n    telegram_messages\n    (message, chat) \n  VALUES \n    ('{{ JSON.stringify($('Loop Over Items').first().json.message) }}',\n      {{ $('Loop Over Items').first().json.message.from.id }}\n    )\n  RETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"491c65a4-1aec-421d-bbef-7b5ea183fc8c","name":"Add message","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Вставим запись о новом сообщении\nINSERT INTO \n    telegram_messages  \n    (callback_data, chat) \n  VALUES \n    ('{{ $('Loop Over Items').first().json.callback_query.data }}',\n      {{ $('Loop Over Items').first().json.callback_query.from.id }}\n    )\n  RETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,368],"id":"7f177941-4722-4c1e-bdd3-a492104e91dd","name":"Add calback_query","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Вставим запись о новом сообщении\nINSERT INTO \n    telegram_messages\n    (message, chat) \n  VALUES \n    ('{{ JSON.stringify($('Loop Over Items').first().json.message) }}',\n      {{ $('Loop Over Items').first().json.message.from.id }}\n    )\n  RETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,176],"id":"ef12fb88-3f7d-45c7-a0d3-5ca4ecd03ddf","name":"Add command","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"deactivate","workflowId":{"__rl":true,"value":"8gULdPgp6Xb9XcBkJww2X","mode":"list","cachedResultName":"Получение сообщения (#8gULdPgp6Xb9XcBkJww2X)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-592,384],"id":"b5907961-67de-4f1d-84c6-df5bced7d65e","name":"Unpublish a workflow","disabled":true},{"parameters":{"operation":"deactivate","workflowId":{"__rl":true,"value":"8gULdPgp6Xb9XcBkJww2X","mode":"list","cachedResultName":"Получение сообщения (#8gULdPgp6Xb9XcBkJww2X)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-272,384],"id":"4752ff1c-8261-4057-a2d7-f35df0ab346e","name":"Unpublish a workflow1","disabled":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-432,384],"id":"c323e30c-9b66-48fb-883c-b9c84839bdeb","name":"Wait","webhookId":"ab1a6cd5-b16f-45d6-9d13-0940a76ff5ab"},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (14 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-CHSG","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Unpublish a workflow","type":"main","index":0}]]},"Обновление данных о сообщении в бд":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Add message","type":"main","index":0}],[{"node":"Add command","type":"main","index":0}],[{"node":"Add calback_query","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Обновление данных о сообщении в бд","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Document1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Document":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Add message":{"main":[[{"node":"Document","type":"main","index":0}]]},"Add calback_query":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Add command":{"main":[[{"node":"Document1","type":"main","index":0}]]},"Unpublish a workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Unpublish a workflow1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b111a331-ec17-407c-ada4-b535df2572cb","activeVersionId":"b111a331-ec17-407c-ada4-b535df2572cb","versionCounter":5010,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:16:33.716Z","createdAt":"2026-03-28T21:16:33.716Z","role":"workflow:owner","workflowId":"CHSGtgO88LgGVbV8","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 209d5c1b","description":""}}]
