workflows/Постредактура.json
[{"updatedAt":"2026-04-04T19:35:53.859Z","createdAt":"2026-04-04T18:08:57.765Z","id":"A8zKJVQgROH1cnkv","name":"Постредактура","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"ko_text"},{"name":"ru_text"},{"name":"glossary"},{"name":"rag"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-640,0],"id":"772d9b32-ddd1-4d7d-ac85-8800104dcce8","name":"Start Workflow"},{"parameters":{"jsCode":"let UserPrompt = '';\nlet SystemPrompt = '';\n\n// User prompt\nUserPrompt += `Ниже представлены два варианта текста для работы. Твоя цель — улучшить ЧЕРНОВОЙ ПЕРЕВОД, опираясь на ОРИГИНАЛ.\n\n### ОРИГИНАЛ (КОРЕЙСКИЙ):\n---\n${$('Start Workflow').first().json.ko_text}\n---\n\n### ЧЕРНОВОЙ ПЕРЕВОД (РУССКИЙ):\n---\n${$('Start Workflow').first().json.ru_text}\n---\n\n### ДОПОЛНИТЕЛЬНЫЕ УКАЗАНИЯ ДЛЯ ЭТОГО ОТРЕЗКА:\n1. Сверься с Глоссарием и RAG-справкой из системного промпта.\n2. Особое внимание удели передаче атмосферы и точности буддийских терминов.\n3. Проверь, чтобы все местоимения (он/она) соответствовали полу персонажей.\n\nПожалуйста, выдай финальный литературный текст.\n`;\n\n//System Prompt\nSystemPrompt += $('Чтение промтов').all().find(item => item.json.name === 'PP Default')?.json?.prompt || '';\n\nlet glossary_text = $('Start Workflow').first().json.glossary || '';\nSystemPrompt = SystemPrompt.replace('{{GLOSSARY}}', glossary_text)\n\nlet light_rag = '';\nif (!$('Start Workflow').first().json.rag.includes('[no-context]')) {\n  light_rag = $('Start Workflow').first().json.rag;\n}\nSystemPrompt = SystemPrompt.replace('{{LIGHT_RAG}}', light_rag)\n\nreturn { UserPrompt, SystemPrompt };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,0],"id":"ffb76207-f6b1-4414-830e-b84268dc96d0","name":"Формирование промтов для перевода"},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}\n","needsFallback":true,"options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-128,0],"id":"0c57125a-e633-4ce7-a24a-49c5d5b5b664","name":"Перевод чанка","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"translate_prompts","mode":"list","cachedResultName":"translate_prompts"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,0],"id":"cf2dd9b8-641e-4fb4-995d-7e15bad681c8","name":"Чтение промтов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.3-chat-latest","mode":"list","cachedResultName":"gpt-5.3-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-208,256],"id":"5eda1bf6-9552-4c96-b93c-e7c77f835dc0","name":"GPT-5.3 from Neuro","credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-5.3-chat","mode":"list","cachedResultName":"openai/gpt-5.3-chat"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-32,256],"id":"72c34264-d8ac-41f3-a001-665ce2beb717","name":"GPT 5.3 from Polza","credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}}],"connections":{"Start Workflow":{"main":[[{"node":"Чтение промтов","type":"main","index":0}]]},"Формирование промтов для перевода":{"main":[[{"node":"Перевод чанка","type":"main","index":0}]]},"Чтение промтов":{"main":[[{"node":"Формирование промтов для перевода","type":"main","index":0}]]},"GPT-5.3 from Neuro":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":0}]]},"GPT 5.3 from Polza":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"ko_text":"하늘이 잿빛인 어느 날 밤이었다.\n\n어두운 남철릭에 붉은 갓을 쓴 손상옥은 한 외진 굿당1)의 마당에서 입을 깨끗이 하는 정구신주(淨口神呪)를 속으로 외었다.\n\n피 흘리고 죽어 간 군웅신을 대접하기 위한 제단에는 상이 푸짐하게 차려져 있었다. 산처럼 쌓인 과일들과 꼬챙이에 걸린 북어들, 돼지머리, 뼈가 드러난 돼지 몸통, 피가 흥건한 돼지의 내장들이 놓였다. 그 위를 흰 천이 천막처럼 덮었다.\n\n이윽고 살(煞)을 대신하는 굿인 대살굿 의식이 시작됐다.\n\n늙은 무녀가 진혼용 무구인 무령(巫鈴)을 흔들며 맹렬하게 춤을 췄다. 쇠방울 소리에 더해진 화려한 악기 소리가 사방으로 퍼져 나갔다. 온갖 데 걸린 색색의 오방기가 바람이 불 때마다 나부껴 펄럭 흔들렸다.\n\n굿을 지켜보는 사람은 많지는 않았으나 모두 이 제의에 집중했다.\n\n악사들, 그리고 이교(異敎)의 축귀사들이었다.\n\n무녀는 계속 하늘을 향해 방방 뛰었다. 그 움직임을 따라 북과 장구의 소리가 거세어질 때쯤, 징과 꽹과리의 소리가 가세해 날카로운 분위기를 고조시켰다.\n\n쨍— 쨍— 쨍—\n\n신기가 오른 이 만신의 두 손이 신칼을 양손에 잡아들었다. 곧 그녀는 돼지의 몸뚱이를 찌르고 있는 대로 베어 댔다. 잘 벼려진 신칼의 날을 혀에 대어 보곤, 생고기를 한 움큼 뜯어 씹어 먹었다. 몇 번이고 고기를 베고, 돼지 피를 몸에 바르고, 날고기와 내장을 삼키고, 다시 혀끝에 날을 대며 사방을 뛰어다녔다.\n\n‘허이’ 하고 악사들의 추임새가 끊임없이 들려왔다. 이에 화답하듯 구성진 선율을 담은 태평소 연주가 요란하게 울려 퍼졌다. 그 소리를 타고 격렬하게 움직이는 무녀의 남철릭이 바람에 펄럭거렸다. 남색 겉옷에 가린 붉은색 치마가 함께 너풀댔다.\n\n머리에 쓴 붉은 갓이 흔들거릴 무렵, 신칼을 양손에 움킨 무녀가 어깨를 움찔 떨었다. 곧 신이 무당의 입을 빌려 말하는 공수를 풀기 시작했다.\n\n“나의 제자야! 네가 이 아이를 무엇으로부터 지키고자 하느냐! 사람이냐, 귀신이냐!”\n\n가녀린 노구의 몸에서 나왔다고는 상상하기 어려운 쩌렁쩌렁한 성음이었다. 노파의 목소리라기엔 지나치게 낮고 걸걸했다. 군웅신이 강신했음을 짐작한 악사들이 금세 압도되어선, 악기의 연주를 멈췄다.\n\n중앙의 멍석 위에 만삭인 임신부가 무릎 꿇었다. 여자는 당장 죽을 것처럼 심하게 몸을 떨며 고통스러워했다.\n\n휙, 매서운 눈초리로 사위를 둘러본 무녀는 서슴없이 걸음을 옮겼다.\n\n그녀의 두 발이 몸을 옹송그려 앉은 임신부의 앞에서 멈췄다.\n\n무녀는 거친 저음으로 공수를 내렸다.\n\n“오늘날에! 꽃 때에 가고 봄날에 가고 청춘에 갔던 영혼의 슬픔을 내 모르겠느냐? 꽃봉오리처럼 피기도 전에 스러진 영혼을 내 모르겠느냐?”\n\n임신부는 대꾸하지 않았다. 그저 불룩 튀어나온 배만 꼭 움켜 안을 따름이었다. 여자의 창백한 얼굴에는 별 표정이 없었다.\n\n무녀가 임신부의 옷자락을 확, 들추려 하자, 무감하던 여자의 얼굴이 그제야 표독스럽게 변했다. 임신부의 한쪽 뺨이 미친 듯이 꾸물거렸다.","ru_text":"Это была однажды ночью, когда небо было пепельно-серым.\n\nСон Сан Ок, одетый в тёмный намчхоллик и красный кат, во дворе уединённого гутдана читал про себя чонгусинджу, заклинание очищения уст.\n\nНа алтаре, приготовленном для угощения гунъунсина, истекавшего кровью и погибшего, стол был щедро уставлен. Горы сложенных фруктов, сушёные минтаи, нанизанные на шампуры, свиная голова, свиная туша с обнажившимися костями, свиные внутренности, залитые кровью, были разложены там. Сверху всё это было накрыто белой тканью, словно тентом.\n\nВскоре начался обряд тэ-сальгут, гут, заменяющий саль.\n\nСтарая му녀, размахивая мурён, шаманским колокольчиком для успокоения душ, яростно танцевала. К звону металлических колокольчиков добавился пышный звук музыкальных инструментов, распространяясь во все стороны. Разноцветные обанги, развешанные повсюду, каждый раз при порыве ветра трепетали и развевались.\n\nЛюдей, наблюдавших за гутом, было немного, но все были сосредоточены на этом обряде.\n\nМузыканты и заклинатели духов из иноверного учения.\n\nМу녀 продолжала подпрыгивать к небу. Когда вслед за её движениями звуки барабана и чангу стали нарастать, к ним присоединились гонг и ккэнгвари, усиливая резкую атмосферу.\n\nЧэн — чэн — чэн —\n\nРуки этой мансин, на которую снизошёл дух, схватили по синкалу в каждую руку. Вскоре она колола и рубила свиную тушу, как придётся. Поднеся остро отточенное лезвие синкала к языку, она вырвала горсть сырого мяса и стала жевать. Снова и снова она рубила мясо, мазала тело свиной кровью, глотала сырое мясо и внутренности, снова касалась кончиком языка лезвия и носилась во все стороны.\n\n— Хо-и! — без конца раздавались выкрики музыкантов. В ответ им громко зазвучала тхэпхёнсо, наполняя пространство звучной мелодией. Под этот звук намчхоллик му녀, двигавшейся яростно, развевался на ветру. Скрытая тёмно-синим верхним одеянием красная юбка тоже колыхалась.\n\nКогда красный кат на её голове закачался, му녀, сжимая в обеих руках синкалы, вздрогнула плечами. И вскоре начала изрекать консу, когда дух, воспользовавшись устами шаманки, заговорил.\n\n— О мой ученик! От чего ты желаешь защитить этого ребёнка! От человека ли, от призрака ли!\n\nЭто был гулкий голос, который трудно было вообразить исходящим из хрупкого старческого тела. Для голоса старухи он был слишком низким и хриплым. Музыканты, поняв, что снизошёл гунъунсин, мгновенно были подавлены и прекратили игру.\n\nНа соломенной циновке в центре на колени опустилась беременная женщина на последнем сроке. Женщина дрожала от боли так сильно, будто вот-вот умрёт.\n\nБыстро окинув всех вокруг суровым взглядом, му녀 без колебаний шагнула вперёд.\n\nЕё ноги остановились перед скорчившейся беременной женщиной.\n\nМу녀 низким, грубым голосом продолжила консу.\n\n— В этот день! Разве я не ведаю скорби души, что ушла во время цветения, ушла весенним днём, ушла в расцвете юности? Разве я не ведаю души, что увяла, не успев расцвести, словно бутон?\n\nБеременная не ответила. Она лишь крепко обнимала выпирающий живот. На бледном лице женщины не было никакого выражения.\n\nКогда му녀 резко попыталась приподнять подол одежды беременной, бесчувственное до того лицо женщины наконец исказилось злобой. Одна щека беременной безумно задёргалась.","glossary":null,"rag":"Sorry, I'm not able to provide an answer to that question.[no-context]"}}]},"versionId":"656baee4-c47f-4709-9319-b670617994d5","activeVersionId":"656baee4-c47f-4709-9319-b670617994d5","versionCounter":132,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T18:08:57.765Z","createdAt":"2026-04-04T18:08:57.765Z","role":"workflow:owner","workflowId":"A8zKJVQgROH1cnkv","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 656baee4","description":""}}]
