workflows/Предварительный_анализ_файла_для_перевода.json
[{"updatedAt":"2026-03-28T19:27:25.111Z","createdAt":"2026-03-18T00:18:11.430Z","id":"lSuNRX0VILP9Lgit5VKlK","name":"Предварительный анализ файла для перевода","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_chunks (job_id, chunk_index, chunk_text, prev_line, chapter)\nSELECT \n   {{ $('Start Workflow').first().json.job_id }},\n   CAST(t.json->>'index_chunk' as INTEGER),\n   t.json->>'chunk' as text,\n   t.json->>'prev_line' as text,\n   document_chapters.id\n  FROM \n    json_to_recordset($1) AS t(json json), document_chapters\n  WHERE \n    document_chapters.chapter_number = CAST(t.json->>'chapter' as integer) \n      AND \n    document_chapters.job_id = {{ $('Start Workflow').first().json.job_id }};\n\n","options":{"queryReplacement":"='{{ $('Подготовка к разбиению на чанки').all() }}'"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,-208],"id":"7fbc748c-bb4d-4182-9888-f1e73ab96e3d","name":"Добавим все чанки для перевода в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,-16],"id":"b4806bdc-8b6c-4fb1-b1ef-c6fb62b353d6","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2048,304],"id":"111dd4ec-32ff-4921-ab09-a0fc9bd68ef0"},{"parameters":{"jsCode":"/**\n * @method Цельный текст разбиваем по предложениям c группировкой по 200 предлжений\n * @description Предложения обычно отделены либо \\n, либо \\n\\n\n * @returns {index_chunk} - номер чанка\n *          {chank} - список предложенеий {} \n */\n\nlet lineCR = '\\n\\n';\nconst MAX_CHUNKS = 200;\nconst chunks = [];\nlet current_divider = 0;\nlet current_chunk = [];\nlet index_line = 1;\nif ($('Чтение файла для перевода').first().json.json.mimeType === 'text/plain') { lineCR = '\\n' };\nfor (const item of $('Start Workflow').first().json.text.split(lineCR)) {\n  if (!item.length) continue;\n  current_chunk.push({index_line, item});\n  index_line++;\n  if (index_line % MAX_CHUNKS === 0) {\n    chunks.push({ index_chunk: current_divider, chank: current_chunk });\n    current_chunk = [];\n    current_divider++;\n  }\n}\nif (current_chunk.length) {\n  chunks.push({ index_chunk: current_divider, chank: current_chunk });\n}\n\nreturn chunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-16],"id":"a88f61e6-96a6-4130-a561-2961dcb609ed","name":"Разбиваем текст для структурного анализа"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"temp_table","mode":"list","cachedResultName":"temp_table"},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["chapter"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-224,-208],"id":"69dfdbed-dafd-4a9e-a57f-aefe9f013b7e","name":"Список глав после структурного анализа","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const MAX_LINES_IN_CHUNK = 20;\nconst ret = [];\n\n// нормализация масива с границами глав\nconst arr_chapters = $('Подготовка глав к добавлению в БД').all().reduce((acc,item) => {\n  acc.push(item.json.chapter) \n  return acc.flat();\n}, [])\n\n// нормализация строк всего текста\nconst arr_lines = $('Разбиваем текст для структурного анализа').all().reduce((acc, item) => {\n  acc.push(item.json.chank)\n  return acc.flat()\n}, [])\n\nconst last_chapter_number = arr_chapters.reduce((acc, item) => acc > item.chapter_number ? acc : item.chapter_number, 0);\n// вставим доп запись, чтобы мы могли вставить текст от начала последней главы до конца текста\narr_chapters.push({\n  chapter_number: last_chapter_number + 1,\n  line: arr_lines.length + 1\n})\n\n// нарежем текст на фрагменты для перевода с учетом глав\nlet prev_index = -1;\nlet index = 0;\nlet chunk = '';\nlet prev_line = '';\nfor (const item of arr_chapters) {\n  if (prev_index === -1) {\n    prev_index = item.line;\n    continue\n  }\n\n  let current_index = 0;\n  chunk = '';\n  \n  for (let i=prev_index; i<item.line; i++) {\n    chunk = chunk + arr_lines[i-1].item;\n    current_index++;\n    if (current_index > MAX_LINES_IN_CHUNK) {\n      ret.push({chunk, prev_line, index_chunk: index, chapter: item.chapter_number - 1 });\n      chunk = '';\n      prev_line = arr_lines[i-2].item +'\\n\\n'+ arr_lines[i-1].item;\n      index++;\n      current_index = 0;\n    } else chunk = chunk + '\\n\\n';\n  }\n  if (chunk.length > 0) {\n    ret.push({chunk, prev_line, index_chunk: index, chapter: item.chapter_number - 1 });\n    index++;\n    const arr_chunk = chunk.split('\\n\\n').filter(item => item);\n    if (arr_chunk.length > 1) prev_line = arr_chunk[arr_chunk.length-2];\n    else prev_line = '';\n    prev_line += `\\n\\n${arr_chunk[arr_chunk.length-1]}`;\n  }\n  prev_index = item.line;\n};\nreturn ret;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-208],"id":"599f7c0e-5a27-44b9-bd07-43226e85f11d","name":"Подготовка к разбиению на чанки"},{"parameters":{"text":"={{ $json.chank.map(item => `${item.index_line}: ${item.item}`).join('\\n') }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"chapter_starts\":[\n    {\n      \"line\":12,\n      \"heading_line_exact\":\"제1화...\",\n      \"is_chapter_start\":true,\n      \"confidence\":1\n    }\n  ],\n  \"glossary\":[\n    {\n      \"KO\":\"소정서\",\n      \"RU\":\"Со Чонсо\",\n      \"Пол\":\"мужской\"\n    }\n  ]\n}","options":{"systemPromptTemplate":"={{ $('Промт для анализа').first().json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[416,0],"id":"89d308da-89e4-40ae-a155-4016a4d73245","name":"Information Extractor","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"deepseek/deepseek-r1-distill-llama-70b"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,176],"id":"9320bd7f-26c8-4365-9cbb-5d1db3951905","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"parameters":{"jsCode":"const list_chapters = $(\"Список глав после структурного анализа\").all();\nlet ret = [];\n\nlist_chapters.forEach(item => {\n  item.json.chapter?.length && ret.push(item.json.chapter)\n})\n\nret = ret\n  .flat()\n  .sort((a,b) => a.line - b.line)\n  .filter(item => item.confidence > 0.7)\n  .reduce((acc, item) => {\n    if (!acc.length) return [item];\n    if (item.line - (acc[acc.length - 1].line) > 5) acc.push(item);\n    return acc\n  }, [])\n\nif (ret.length && ret[0].line !==1) ret.unshift({chapter_number: 0, line: 1})\nret = ret.map((item, index) => ({...item, chapter_number: index + 1}));\n\nreturn {chapter: ret};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-208],"id":"b71b4535-930a-41f0-a12b-2fa888a88137","name":"Подготовка глав к добавлению в БД"},{"parameters":{"operation":"executeQuery","query":"-- Добавим первую арку\nINSERT INTO document_arcs (job_id, arc_number) VALUES ({{ $('Start Workflow').first().json.job_id }}, 1);\n\n-- Добавляем список всех глав\nINSERT INTO document_chapters (job_id, chapter_number)\nSELECT \n  {{ $('Start Workflow').first().json.job_id }},\n  (json->>'chapter_number')::integer\nFROM\n  json_array_elements('{{ JSON.stringify($json.chapter) }}') as json;\n\n\n-- Первая глава имеет первую арку \nUPDATE document_chapters SET arc_id = (SELECT id FROM document_arcs WHERE job_id = {{ $('Start Workflow').first().json.job_id }} AND arc_number=1 LIMIT 1)\nWHERE job_id = {{ $('Start Workflow').first().json.job_id }}\nAND chapter_number in (\nSELECT \n  (json->>'chapter_number'):: integer\nFROM\n  json_array_elements('{{ JSON.stringify($json.chapter) }}') as json order by json->>'chapter_number' LIMIT 1\n);\n\n-- Первая арка будет иметь началом первую главу\nUPDATE document_arcs SET start_chapter=(SELECT (json->>'chapter_number'):: integer FROM json_array_elements('{{ JSON.stringify($json.chapter) }}') as json order by json->>'chapter_number' LIMIT 1)\nWHERE job_id={{ $('Start Workflow').first().json.job_id }} AND arc_number=1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-208],"id":"a812c5fc-e191-44e4-8861-03ef9ed765db","name":"Добавление глав в БД","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"},{"name":"text"},{"name":"glossary_make","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,-16],"id":"cf07cf73-e7c5-49ba-8f17-87a9aa7fa32b","name":"Start Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  translate_file_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"b8664b53-2071-46b0-a45a-f5f0472d4588","name":"Чтение файла для перевода","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[-400,-16],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let prompt = `Вход: текст с номерами строк в формате \"000123: ...\".\n`;\n\nif ($('Start Workflow').first().json.glossary_make) {\n  prompt +=`\nУ тебя 2 задачи.\n\n---------------------------------\nЗадача 1: найти НАЧАЛА глав.\n---------------------------------\n\n`;\n} else {\n    prompt +=`\n---------------------------------\nТвоя задача: найти НАЧАЛА глав.\n---------------------------------\n`;\n}\n\nprompt += `\nПоле JSON: \"chapter_starts\"\n\nТы анализируешь структуру текста на корейском языке. Перевод не нужен.\n\nПравила:\n- Возвращай только те строки, которые являются заголовками глав (제N화/제N장/Chapter/Episode и т.п.) или явно помечают начало главы.\n- Не интерпретировать.\n- Если явных заголовков нет, определяй логические переходы между сценами, которые явно обозначают начало новой главы.\n- Не выдумывай новые главы.\n- Если не уверен — не добавляй границу.\n- (поле: confidence) Оцени уверенность: Присвой каждой границе главы оценку уверенности от 0 до 1. \n   Например: 1 — абсолютная уверенность (например, для явных обозначений глав),  0.5 — предположительно здесь должно быть разбиение.\n- Объем главы строго больше 5 строк\n`;\n\nif ($('Start Workflow').first().json.glossary_make) {\n  prompt += `\n---------------------------------\nЗадача 2: постепенно формировать и поддерживать единый глоссарий.\n---------------------------------\nПоле JSON: \"glossary\"\n\nТы — система ведения глоссария для корейского текста.  Перевод на русский язык обязателен.\n\nИзвлекай из текста:\n- имена персонажей\n- кланы / организации / фракции\n- титулы / ранги / должности\n- техники / способности / навыки\n- артефакты и предметы\n- названия мест\n- уникальные термины мира \n- часто встречающиеся понятия\n\nФормат ответа всегда выводи только таблицу: KO, RU, Пол \nЗначение колонок: \nKO — оригинальное написание на корейском из текста. \nRU — перевод или русская транскрипция. \nПол — только для персонажей. Возможные значения пола: мужской, женский, неизвестно. \nДля всех не-персонажей ставь: — \n\nПравила:\n1. Для корейских имён персонажей используй русскую транскрипцию, а не перевод.\n2. Для терминов и техник используй осмысленный перевод, а не буквальную транскрипцию.\n3. Добавляй только новые элементы, которые ещё не встречались в предыдущих ответах.\n4. Если персонаж был добавлен ранее с полом «неизвестно», и в новом отрывке можно определить пол: выведи эту строку ещё раз, но уже с обновлённым полом.\n5. Пол определяется строго по местоимениям, точному указанию мужчина/женщина, или обращениям хён/нуна/оппа/онни. При гендерно-нейтральном описании и речи запрещено придумывать самому, необходимо указывать: неизвестно.  \n`;\n} else {\n  prompt +=`\nВНИМАНИЕ! Поле \"glossary\" не заполнять!\n  `;\n}\n\nreturn { prompt };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-16],"id":"6988a8b0-33e4-4f45-8684-13829f6445ed","name":"Промт для анализа"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"temp_table","mode":"list","cachedResultName":"temp_table"},"columns":{"mappingMode":"defineBelow","value":{"chapter":"={{ $json.output.chapter_starts }}","glossary":"={{ $json.output.glossary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"chapter","displayName":"chapter","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,-16],"id":"1845b779-e895-452a-9e22-797da776faab","name":"Добавление аналитических данных","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Файл подготовлен к переводу\nСтрок: {{ $('Разбиваем текст для структурного анализа').all().reduce((acc, item) => {\n  acc.push(item.json.chank)\n  return acc.flat()\n}, []).length }}\nГлав: {{ $('Подготовка глав к добавлению в БД').first().json.chapter.length }}\nЧанков: {{ $('Подготовка к разбиению на чанки').all().length }}","type":"info","node":"Предварительный анализ файла для перевода"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,-208],"id":"e2f47c63-5556-46c0-85b1-ad808fdad52b","name":"to log3","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Текущая арка - первая\nUPDATE job_current SET current_arc = (SELECT id FROM document_arcs WHERE job_id={{ $('Start Workflow').first().json.job_id }} AND arc_number=1 LIMIT 1);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,-208],"id":"3e8a559c-115b-415a-bc32-45cf16e03285","name":"Текущая арка - первая","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-14b","mode":"list","cachedResultName":"qwen/qwen3-14b"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1024,288],"id":"cce73736-1150-4f94-b857-51be33e9be81","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dw2ygQ53RyVkCAva","name":"Polza"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"={{ $json.error }}","type":"error","node":"Предварительный анализ файла для перевода"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,96],"id":"a32786f7-8f51-4dbe-bc63-2e22657a3979","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Start","node":"Предварительный анализ файла для перевода","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-576,-16],"id":"b7e9bcb2-693b-43cd-9bbe-8f5b0623a90f","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"={{ $json.error }}","type":"error","node":"Предварительный анализ файла для перевода"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1392,176],"id":"9c8df17b-30b3-4f27-b24f-c247c076f5cb","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"text":"={{ $('Loop Over Items').first().json.chank.map(item => `${item.index_line}: ${item.item}`).join('\\n') }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"chapter_starts\":[\n    {\n      \"line\":12,\n      \"heading_line_exact\":\"제1화...\",\n      \"is_chapter_start\":true,\n      \"confidence\":1\n    }\n  ],\n  \"glossary\":[\n    {\n      \"KO\":\"소정서\",\n      \"RU\":\"Со Чонсо\",\n      \"Пол\":\"мужской\"\n    }\n  ]\n}","options":{"systemPromptTemplate":"={{ $('Промт для анализа').first().json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1024,96],"id":"6f3bff8d-fc2b-40ff-abb3-eb5612c6055b","name":"Резервный Information Extractor","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,272],"id":"aeb3762a-5d6f-41c8-9f17-774e2e7e17cf","name":"Wait","webhookId":"6528d7e1-3514-4071-ac30-ebb57910629c"},{"parameters":{"operation":"executeQuery","query":"UPDATE \n    job_current \n  SET \n    error_text = 'Что-то я запарился в разделении этого текста на главы...'\n  WHERE \n    job_id = {{ $('Start Workflow').first().json.job_id }};\n\n-- пошлем сообщение что ошибка при переводе очередной части чанков\nINSERT INTO telegram_send_message (template) VALUES ('error_processing');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1568,176],"id":"29edacaf-7c22-48ce-90e7-a8fc4e661a92","name":"Оповещение об ошибке","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=🔍 Начинаю разбиение на главы\n\n<b>{{ $json.translate_file.split('_')[0].replaceAll('\"','') }}</b>\n\n<i>Это займет некоторое время...</i>","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-720,-16],"id":"start-tg-node","name":"Уведомление: Старт","webhookId":"27c2338f-a5ec-446b-a11e-c86594b08856","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Get row(s)').first().json.chat_id }}","messageId":"={{ $('Уведомление: Старт').first().json.result.message_id }}","text":"=📊 Прогресс анализа: \n\n<b>{{ $('Get row(s)').first().json.translate_file.split('_')[0].replaceAll('\"','') }}</b>\n\nобработано {{ $('Loop Over Items').context.currentRunIndex }} из {{ $('Разбиваем текст для структурного анализа').all().length }} частей.\n","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1744,-16],"id":"progress-tg-node","name":"Уведомление: Прогресс","webhookId":"7924de06-57ce-4713-8ab8-250be115e7db","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-880,-16],"id":"5543b6ae-048e-471e-803d-d57e74051908","name":"Get row(s)"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $('Get row(s)').first().json.chat_id }}","messageId":"={{ $('Уведомление: Старт').first().json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,-208],"id":"20a62a24-6282-4b6d-85a4-19e6ad8df2ff","name":"Удаление: Прогресс","webhookId":"7924de06-57ce-4713-8ab8-250be115e7db","credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}}],"connections":{"Loop Over Items":{"main":[[{"node":"Список глав после структурного анализа","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Разбиваем текст для структурного анализа":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Список глав после структурного анализа":{"main":[[{"node":"Подготовка глав к добавлению в БД","type":"main","index":0}]]},"Подготовка к разбиению на чанки":{"main":[[{"node":"Добавим все чанки для перевода в БД","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Добавление аналитических данных","type":"main","index":0}],[{"node":"to log","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Подготовка глав к добавлению в БД":{"main":[[{"node":"Добавление глав в БД","type":"main","index":0}]]},"Добавление глав в БД":{"main":[[{"node":"Подготовка к разбиению на чанки","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Чтение файла для перевода":{"main":[[{"node":"Промт для анализа","type":"main","index":0}]]},"Промт для анализа":{"main":[[{"node":"Разбиваем текст для структурного анализа","type":"main","index":0}]]},"Добавление аналитических данных":{"main":[[{"node":"Уведомление: Прогресс","type":"main","index":0}]]},"Добавим все чанки для перевода в БД":{"main":[[{"node":"Текущая арка - первая","type":"main","index":0}]]},"Текущая арка - первая":{"main":[[{"node":"to log3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Резервный Information Extractor","type":"ai_languageModel","index":0}]]},"to log2":{"main":[[{"node":"Чтение файла для перевода","type":"main","index":0}]]},"to log":{"main":[[{"node":"Резервный Information Extractor","type":"main","index":0}]]},"Резервный Information Extractor":{"main":[[{"node":"Добавление аналитических данных","type":"main","index":0}],[{"node":"to log1","type":"main","index":0}]]},"to log1":{"main":[[{"node":"Оповещение об ошибке","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Оповещение об ошибке":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Уведомление: Старт":{"main":[[{"node":"to log2","type":"main","index":0}]]},"Уведомление: Прогресс":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Уведомление: Старт","type":"main","index":0}]]},"to log3":{"main":[[{"node":"Удаление: Прогресс","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":1,"text":"1화\n\n0. 프롤로그\n\n“감사합니다. 또 오세요!”\n\n경쾌한 직원의 목소리와 함께 마트의 자동문이 열렸다. 회색 후드를 눌러쓰고 온갖 식재료가 가득 담긴 딸기무늬 장바구니를 든 한 청년이 정류장 쪽으로 향했다.\n\n“현재 교차로에 게이트가 발생해 교통을 통제하고 있습니다. 협조해주십시오.”\n\n늘 가던 길에 벌어진 익숙하지 않은 풍경에 청년이 고개를 기웃거렸다. 정장 위에 형광 연두색 안전 조끼를 입고, 노란 안전모까지 챙겨 쓴 누군가가 빨갛게 빛나는 경광봉을 흔들며 통행로를 막고 있었다. 머리 너머로 푸른빛으로 일렁이는 게이트의 입구가 보였다.\n\n그리고 그 아래에서 헌터들이 그 틈을 비집고 기어 나온 몬스터와 필사적으로 싸우고 있었다.\n\n“캬야아악!”\n\n“크윽! 아직이야?”\n\n“조금만…!”\n\n자동차만 한 도마뱀이 기괴한 울음소리와 함께 매섭게 가시 달린 꼬리를 휘둘렀다. 방패를 든 헌터가 공격을 막아냈으나 도마뱀은 잔뜩 흥분해 주변 일대를 쓸어버릴 듯 꼬리를 허공에 대고 휘저어댔다. 쿵! 쿵! 쉴 새 없이 날아오는 공격을 겨우 방어한 헌터가 욕설을 뱉었다.\n\n“씨X, 죽어라! 파이어볼!”\n\n새빨간 불꽃이 도마뱀을 휘감았다. 잠시 주춤한 틈을 타 다른 쪽에서는 도마뱀에게 화살을 날렸다. 눈이 꿰뚫린 도마뱀이 괴성을 내지르며 몸을 비틀었다.\n\n“키이익!”\n\n“와, 지렸다...”\n\n“바리케이드에 접근하지 마세요!”\n\n“우튜브 쇼츠로 올리게 짧게 찍어봐.”\n\n“어어, 안 그래도 그러는 중.”\n\n사람들은 바리케이드에서 조금 떨어진 곳에서 동영상을 찍으며 구경하고 있었다. 청년은 그 소란에는 끼지 않은 채 바쁘게 걸음을 옮겼다. 손에 든 딸기무늬 장바구니가 달랑거리며 흔들렸다.\n\n인적 드문 골목에 막 발을 들인 순간, 그는 좁은 골목길을 가로막고 있는 거대한 형체와 조우했다. 웬 보랏빛 두꺼비가 쓰레기 더미를 헤집다가 인기척을 느끼고 홱 고개를 돌려 청년 쪽을 바라보았다. 초록색 기다란 혀가 입안에서 스윽 나오더니 빈 페트병을 입에 낼름 던져 넣었다. 균열에서 흘러나온 몬스터임이 분명했다.\n\n“아, 각관국 놈들. 일 똑바로 안 하나….”\n\n짜증스레 중얼거린 청년이 장바구니를 뒤적여 기다란 무언가를 칼 뽑듯 뽑아냈다. 부드러운 곡선의 끄트머리부터 곧게 뻗은 줄기, 그 밑에 자리 잡은 옹골찬 뿌리까지.\n\n그의 손에 들린 건… 싱싱한 대파 한 대였다.\n\n두꺼비가 꾸르륵, 울음소리를 내며 청년을 향해 몸을 돌렸다. 둔탁한 다리가 바닥을 디딜 때마다 골목 전체가 지진이라도 난 것처럼 뒤흔들렸다. 청년도 장바구니를 조심스레 내려놓고 대파를 능숙하게 한 바퀴 돌려 단단하게 고쳐 쥐었다. 그러고는,\n\n쓰레기통 뚜껑을 딛고 나비처럼 뛰어올라―\n\n대파로 두꺼비의 머리통을 후려갈겼다!\n\n빠악!!\n\n맑고 경쾌한 타격음이 골목을 요란하게 뒤흔들었다. 두꺼비는 단말마조차 내뱉지 못하고 눈을 까뒤집은 채 사지를 벌벌 떨었다. 애석하게도 머리통의 정중앙이 대파 모양으로 움푹 파인 채였다.\n\n청년은 후, 하고 숨을 가다듬으며 손을 탁탁 털었다. 반동으로 인해 후드가 벗겨지자 그 아래 가려져 있던 서늘한 얼굴이 드러났다.\n\n“대파 비싼데…. 아깝게.”\n\n청년은 두꺼비 앞에 쪼그려 앉아, 맨손으로 두꺼비의 입에 파의 잔해를 대충 쑤셔 넣으며 핸드폰을 들었다. 얼마간의 시간이 흐르고, 상대가 전화를 받았는지 청년이 입을 열었다.\n\n“저, 저기요…. 여기 골목에 죽은 몬스터가 있거든요? 어떤 헌터분이 잡고 그냥 가신 것 같은데….”\n\n청년의 목소리 끝이 달달 떨리고 있었다. 잔뜩 겁을 먹은 사람처럼 조금 울먹이기까지 했다. 그러나 툭 치면 기절이라도 할 것 같은 음성과는 달리 손길은 무심했다.\n\n“여기, 그, 두개로마트 가는 골목이거든요…. 몬스터요? 두꺼비같이 생겼는데, 너무, 너무 크고 징그러워서 자세히는 못 보겠어요. 이거 좀 어떻게 해주세요. 네, 따로 연락 주실 필요는 없고요… 아, 5분 안으로 오세요? 감사합니다, 아니에요. 네, 감사합니다….”\n\n청년은 코를 훌쩍이며 전화를 끊었다. 통화가 끝나고도 청년은 그 자리에 가만히 앉아 대파 쪼가리를 혀를 볼품없이 내놓고 있는 커다란 입에 밀어 넣었다. 몬스터가 징그러워 자세히 못 보겠다던 청년의 두 눈은 멀쩡히 두꺼비를 쳐다보고 있었다.\n\n헌터가 오기까지 5분이라.\n\n‘마주치면 곤란해지겠어.’\n\n청년은 자리에서 일어나 쓰레기통 뚜껑에 남은 제 발자국을 지웠다. 두꺼비는 머리 한가운데에 남은 대파 모양의 흉을 제외하면 다른 외상 없이 즉사한 듯했다. 이 정도면 남은 흔적으로 몬스터를 처리한 인물을 추적하는 건 무리일 것이다.\n\n증거 인멸도 끝났으니 이제 도망칠 시간이었다. 장바구니를 다시 주워 든 청년은 제자리에서 두어 번 가볍게 뛰며 방금 전의 통화를 복기했다.\n\n‘…신고할 때 좀 더 놀란 목소리를 냈어야 했나?’\n\n뭐, 지금 와서 후회해봤자 늦었지만. 청년은 제 키보다 큰 담벼락을 훌쩍 뛰어넘었다.\n\n* * *\n\n“이 골목 맞아?”\n\n“예, 맞습니다!”\n\n청년이 유유히 사라지고 몇 분이 흐른 뒤, 셔츠 위에 형광 조끼를 입은 남성과 여성 두 명이 현장에 도착했다. 그러나 둘의 얼굴 위로 만연했던 급한 기색은 두꺼비의 사체를 보자마자 눈 녹듯 사라져버렸다.\n\n먼저 골목에 들어선 여성, 균열관리청 소속 A급 헌터 양혜진은 혀를 빼문 채 죽어 있는 두꺼비를 보고 탄식을 뱉었다.\n\n“이야, 미쳤네.”\n\n“왜 그러십니까? 저도… 헉.”\n\n뒤따라온 신입은 화들짝 놀라며 제 사수에게 찰싹 붙은 뒤 작은 목소리로 속삭였다.\n\n“와…. 늪두꺼비를 이렇게 깔끔하게 처리하는 게 말이 됩니까, 선배님?”\n\n“말이 안 되지. 이거 딱 봐도 한 방에 잡은 거야. 이 새끼 조금만 타이밍이 늦어도 강한 산성 용액을 뿌려대거든. 건물이든 사람이든 다 녹여버려서 골치 아픈데….”\n\n“정말 엄청납니다.”\n\n다시 한번 감탄한 신입이 급하게 달려오느라 삐뚤어진 노란 안전모를 고쳐 썼다. 혜진은 날카로운 눈빛으로 주변을 살피면서 지시했다.\n\n“혹시라도 뭐 흔적 남은 거 있나 봐봐. 이 정도 솜씨면 보통 실력자가 아니야.”\n\n“알겠습니다!”\n\n신입은 쓰레기통과 그 근처에 쌓인 쓰레기들을 뒤적이며 말했다.\n\n“누구신진 모르겠지만… 너무 깔끔하게 잡아주셔서 뒤처리가 어렵진 않겠습니다.”\n\n“그러게. 너무 깨끗해서 이거 몬스터 연구팀에 기증해도 되겠다. 그런 실력자가 왜 사체 처리는 안 하고 그냥 갔나 몰라.”\n\n비꼬듯 말한 혜진은 흰 장갑을 끼고 두꺼비의 두툼한 입을 열어보았다. 두꺼비류 몬스터는 혀에 닿는 건 닥치는 대로 집어삼키고, 독이나 강한 산성이 있는 침을 사방팔방 뱉는 골치 아픈 족속들이었다. 헌 집 주면 새집 주는 착한 두꺼비는 동요 속에나 존재하는 유니콘이었다.\n\n아무튼 두꺼비가 게이트에서 뛰쳐나와 여기까지 오는 동안 사람을 삼켰을 수도 있으니 자세한 확인이 필요했다. 혜진은 허공에서 손전등을 꺼내 두꺼비의 입안을 구석구석 비췄다. 다행히도 인간 사체 대신 녹다 만 페트병 같은 것만 조금 보였다. 그녀는 확인을 마치고서야 안도의 한숨을 쉬었다.\n\n“사람은 안 삼킨 것 같네….”\n\n한편 레이더 달린 기계를 골목 이리저리 갖다 대던 신입이 울상을 지으며 혜진을 불렀다.\n\n“선배님, 두꺼비 잡은 사람 진짜 프로인가 봅니다. 뭐 남은 게 하나도 없습니다.”\n\n손을 탁탁 털며 몸을 일으킨 혜진이 고개를 갸웃거렸다.\n\n“능력은 사용했을 텐데? 능력 쓴 흔적도 없어? 잘 좀 봐봐.”\n\n“보고 있습니다! 그런데 능력은커녕 흔적 하나 탐지기에 전혀 안 잡힙니다. 진짜 아무것도 없습니다.”\n\n“뭐야, 이만한 걸 맨손으로 잡기라도 한 거야?”\n\n얼떨결에 진실과 가까운 추론을 해냈으나, 그 사실을 알 턱 없는 그녀는 이내 고개를 저었다.\n\n“어휴, 보나 마나 또 어떤 힘숨찐이 처리했겠지. 세상에 힘 숨기는 헌터들이 왜 이리 많은지. 만화니 소설이니 하여튼 쓸데없는 게 애들 다 망쳐놨어.”\n\n그녀가 손전등을 끄고 자리에서 일어서자 신입도 기계를 허공에 쏙 넣었다. 혜진이 길게 기지개를 켜며 피곤한 몸을 풀었다.\n\n“아무튼, 4급 몬스터가 밖에 나왔는데 사람 안 먹고 건물 안 부서졌으면 감사하다. 두꺼비 챙겨서 복귀하자. 오늘 보고서는 네가 작성해봐.”\n\n“네. 몬스터 처리자는 누구로 적습니까?”\n\n“신원 미상으로 적어야지, 뭐.”\n\n“알겠습니다. 그런데 선배님….”\n\n“응. 왜?”\n\n신입이 멋쩍은 얼굴로 물었다.\n\n“어디서 대파 냄새 나지 않습니까?”\n\n“…그러고 보니?”\n\n한참 킁킁대며 냄새를 맡던 혜진은 이내 어깨를 으쓱였다.\n\n“두꺼비가 바닥에 떨어진 대파라도 주워 먹었나 보지. 됐고, 이따 퇴근하고 저녁 같이 먹을 거지?”\n\n“알겠습니다. 맨날 가던 거기죠?”\n\n“응, 해장국집.”\n\n* * *\n\n그 시각, 몇십 년은 되어보이는 낡고 오래된 해장국집.\n\n―나는 이 결혼 반대다!\n\n―아버지! 어떻게 그러실 수가 있어요!\n\n―사실… 너희는 남매야!\n\n“저런….”\n\n낡은 브라운관 TV에 틀어진 케이블 채널에서는 『부부클리닉 사랑 혹은 전쟁』의 재방송이 나오는 중이었다. 화면이 잘 보이는 명당자리에 누군가가 앉아 눈을 그쪽으로 고정한 채 마늘을 까고 있었다.\n\n―아범아! 애들한테 뭐라 그러지 마라! 자네도 잘한 거 하나 없으니까!\n\n―장모님, 말리지 마십시오! 제 자식 결혼입니다!\n\n―자네에게 내 평생 비밀로 하려 했는데. 이렇게 된 이상 말할 수밖에 없겠어. 사실… 우리도 남매다!\n\n“장모랑 사위가 남매라고?”\n\n분주하던 손이 들고 있던 마늘을 툭 떨궜다. 다음 장면을 신경 쓸 새도 없이 정신을 차렸을 땐 이미 머리 벗겨진 변호사가 ‘4주 후에 뵙겠습니다’라며 조정 기간을 선언하고 있었다. 돌처럼 굳었던 손은 광고 몇 편이 지나가고 나서야 다시 바스락바스락 움직였다. 마늘 껍질이 어느 정도 쌓이자 자리에 앉아 있던 몸이 쑥 올라왔다.\n\n“쓰레기르을~ 버허리러허~”\n\n쓰레기통을 찾으며 콧노래를 부르는 목소리는 조금 낮은 듯 듣기 좋은 음성이었다. 평균을 훌쩍 넘는 키가 휘적휘적 홀을 가로질러 걸어갔으나 천장에 머리가 아슬아슬하게 닿지는 않아 움직이는 데 무리는 없었다.\n\n쓰레기통에 껍질을 훌훌 털어 버린 청년이 시계를 힐끔 바라보았다. 아직 저녁 타임 오픈까지는 조금 남은 시각. 가게 한구석으로 눈길을 옮겨 물끄러미 바라보던 그가 순간 인상을 찌푸렸다.\n\n“아, 다른 걸로 팰 걸 그랬나….”\n\n한숨과 함께 청년은 앉아 있던 주변을 정리한 뒤 문가로 향했다. 그러곤 미닫이문에 붙여놓은 브레이크타임 안내판을 떼어내 아까 전 시선이 향했던 곳에다 휙 던져두었다.\n\n‘2시부터 5시까지 재료 준비 시간입니다.’\n\n아무렇게나 널브러진 팻말 아래, 담긴 것 없이 쪼글쪼글한 딸기무늬 장바구니가 놓여 있었다.\n\n","glossary_make":false}}]},"versionId":"65816258-4d2d-4982-9944-c701fd9a44de","activeVersionId":"65816258-4d2d-4982-9944-c701fd9a44de","versionCounter":252,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"lSuNRX0VILP9Lgit5VKlK","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version da58d013","description":""}}]
