workflows/Финиш.json
[{"updatedAt":"2026-04-04T05:00:34.942Z","createdAt":"2026-04-04T04:38:41.849Z","id":"sv73wrV6anQE7cTv","name":"Финиш","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"UPDATE \n    telegram_messages\n  SET\n    is_translate = TRUE\n  WHERE \n  id = $1","options":{"queryReplacement":"={{ $json.translate_file.split('_')[1] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,-16],"id":"ff753ab9-fda3-4840-9f0c-168ea4999c6b","name":"Выставим флаг о завершении перевода","credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"select_files","mode":"name"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-336,-16],"id":"6b20ca18-75b1-49d9-a07b-95b3f68722f1","name":"Get row(s)","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let text = '';\nfor (const item of $('Чанки').all()) {\n  text += item.json.result_text + '\\n\\n';\n}\nconst path = $('Текущий перевод').first().json.file_name.replace(/\\.[^/.]+$/, \"\")\nreturn { text, path };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-16],"id":"11dc1ee0-c9dc-4ae4-abe1-44be9899ba16","name":"Собираем переведенные чанки в единый текст1"},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8","fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[256,-16],"id":"29179bf1-5dbf-4b96-80a9-aae30fc5426e","name":"Convert to File1","executeOnce":true},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Get row(s)').first().json.chat_id }}","binaryData":true,"additionalFields":{"fileName":"=translate_{{ $('Собираем переведенные чанки в единый текст1').first().json.path }}.txt","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,-16],"id":"e2664829-65da-446a-b652-b8721919dbd4","name":"Send a document","webhookId":"edd04996-850a-4287-9493-f929669bdee5","retryOnFail":true,"credentials":{"telegramApi":{"id":"V4jPr27PQcfRRHY9","name":"Telegram account"}}}],"connections":{"Выставим флаг о завершении перевода":{"main":[[{"node":"Собираем переведенные чанки в единый текст1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Выставим флаг о завершении перевода","type":"main","index":0}]]},"Собираем переведенные чанки в единый текст1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Send a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"74d07c87-9810-4252-bfe8-51de289853e2","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T04:38:41.849Z","createdAt":"2026-04-04T04:38:41.849Z","role":"workflow:owner","workflowId":"sv73wrV6anQE7cTv","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
