workflows/🔄_Telegram_Polling_(n8n).json
[{"updatedAt":"2026-03-28T19:38:00.216Z","createdAt":"2026-03-27T18:35:50.562Z","id":"telegram-n8n-polling","name":"🔄 Telegram Polling (n8n)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"schedule","name":"Every 5 Seconds","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(MAX(offset_value), 0) as offset FROM telegram_polling_offset","options":{}},"id":"getOffset","name":"Get Offset","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"url":"https://api.telegram.org/bot8591497428:AAEbVnPaXYe2E-WI2ni2cCuSGnmgS5sckR0/getUpdates","options":{"timeout":15000}},"id":"httpRequest","name":"Telegram getUpdates","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.result.length }}","rightValue":"0","operator":{"type":"number","operation":"larger"}}]},"options":{}},"id":"ifHasUpdates","name":"Has Messages?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,0]},{"parameters":{"functionCode":"const updates = $input.first().json.result || [];\nif (updates.length === 0) return { json: { hasUpdates: false } };\nconst maxId = Math.max(...updates.map(u => u.update_id));\nconst messages = updates.map(u => ({\n  update_id: u.update_id,\n  message: u.message || u.edited_message || (u.callback_query || {}).message,\n  type: u.callback_query ? 'callback' : (u.edited_message ? 'edited' : 'message'),\n  callback_query: (u.callback_query || {}).data || null,\n  maxUpdateId: maxId\n})).filter(m => m.message);\nreturn [{ json: { hasUpdates: true, messages, maxUpdateId } }];"},"id":"function","name":"Process Updates","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,112]},{"parameters":{"options":{}},"id":"loop","name":"Loop Messages","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1008,112]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_messages (chat, message, type, callback_data, date_time) VALUES ($1, $2::jsonb, $3, $4, NOW())","options":{"queryReplacement":"={{ $json.message.chat.id }}, {{ JSON.stringify($json.message) }}, {{ $json.type }}, {{ $json.callback_query }}"}},"id":"saveMessage","name":"Save to DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,0],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO telegram_polling_offset (id, offset_value, updated_at) VALUES (1, $1, NOW()) ON CONFLICT (id) DO UPDATE SET offset_value = $1, updated_at = NOW()","options":{"queryReplacement":"={{ $json.maxUpdateId }}"}},"id":"updateOffset","name":"Update Offset","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1408,208],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"content":"## 📄 Суть сценария\nВспомогательный воркфлоу для обработки данных в рамках проекта Novel Translation (9 узлов).\n\n---\n*Gen by Gemini CLI*","height":250,"width":500,"color":6},"id":"desc-sticker-tele","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-400]}],"connections":{"Every 5 Seconds":{"main":[[{"node":"Get Offset","type":"main","index":0}]]},"Get Offset":{"main":[[{"node":"Telegram getUpdates","type":"main","index":0}]]},"Telegram getUpdates":{"main":[[{"node":"Has Messages?","type":"main","index":0}]]},"Has Messages?":{"main":[[{"node":"Process Updates","type":"main","index":0}],[]]},"Process Updates":{"main":[[{"node":"Loop Messages","type":"main","index":0}]]},"Loop Messages":{"main":[[{"node":"Save to DB","type":"main","index":0}],[{"node":"Update Offset","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Loop Messages","type":"main","index":0}]]},"Update Offset":{"main":[[{"node":"Loop Messages","type":"main","index":0}]]}},"settings":{"binaryMode":"separate","executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{},"versionId":"10f0efaa-e438-4564-a8c7-b5aaf8a805dc","activeVersionId":null,"versionCounter":7,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T21:15:56.744Z","createdAt":"2026-03-28T21:15:56.744Z","role":"workflow:owner","workflowId":"telegram-n8n-polling","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]
